{% extends "qa/base.html" %}

{% block primary_content %}
  {% if c.organisation.packages and c.organisation.packages.items() %}
    <h1>{{ c.organisation.title }}</h1>
    <h4>Download this report.</h4>
    <ul>
      <li>{{ h.link_to('Report in CSV format', h.url_for(controller='ckanext.qa.controller:QAController', action='broken_resource_links_by_dataset_for_organisation', id=c.id, format='csv')) }}</li>
    </ul>
    <table class="qa-table">
      <tr>
          <th class="qa-table-name">Dataset</th>
          <th class="qa-table-resources">Resources</th>
      </tr>
      {% for package, resources in c.organisations.packages.items() %}
        <tr>
          <td>{{ h.link_to(package[0], h.url_for(controller='package', action='read', id=package[0])) }}</td>
            <td>
                <table>
                    <tr>
                        <th class="qa-table-name">URL</th>
                        <th class="qa-table-resources">Reason</th>
                    </tr>
                    {% for resource in resources %}
                    <tr class="bad_link">
                      <td><a href="{{ resource.url }}">{{ resource.url }}</a></td>
                      <td>{{ resource.get('openness_score_reason', '') }}</td>
                    </tr>
                    {% endfor %}
                </table>
             </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No results found for this organization.</p>
  {% endif %}
{% endblock %}
