@import "../../../src/scss/variables";

.avoindata-expander {
  background: $background-color__expander;
  border-radius: 2px;
  box-shadow: 0 2px 4px 1px $box-shadow-color__expander;
  border: 1px solid $border-color__expander;
  margin: 0;

  & + .avoindata-expander {
    margin-top: -1px;
  }
}

.avoindata-expander.open {
  background: $background-color__expander--open;

  .avoindata-expander-content,
  .avoindata-expander-content.collapse {
    display: block;
  }
}

.avoindata-expander-header {
  cursor: pointer;
}

.avoindata-expander-title {
  color: $new-layout-secondary-text-color;
  font-family: $font-family-sans-serif-semibold;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0 20px 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: inline-block;
  max-width: 90%;
}

.avoindata-expander-content {
  display: none;
  padding: 0 20px 15px;
  color: black;
  font-family: $font-family-sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;

  &.cke_widget_editable {
    display: block;
  }
}

.avoindata-expander-header .icon-wrapper {
  float: right;
  padding-right: 20px;
  padding-top: 24px;
}

.avoindata-expander-header .icon-wrapper i {
  color: $new-layout-secondary-text-color;
}

.avoindata-expander-group-toggler {
  text-decoration: none;
  color: $new-layout-secondary-text-color;
  cursor: pointer;
  margin-bottom: $padding-y--small;
}

.avoindata-note-header-image {
  height: 24px;
  width: 24px;
  margin-left: 20px;
  margin-top: auto;
}

.avoindata-note {
  background: rgb(247 247 248);
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avoindata-note-title {
  color: $new-layout-primary-text-color;
  font-family: $font-family-sans-serif-semibold;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 19px 0 13px 15px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: inline-block;

  > *:last-child {
    margin: 0;
  }
}

.avoindata-note-content {
  color: $new-layout-primary-text-color;
  font-family: $font-family-sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 0 20px 15px;
}

.avoindata-expander-content p:last-of-type,
.avoindata-note-content p:last-of-type,
.avoindata-hint-content p:last-of-type {
  margin-bottom: 0;
}

.avoindata-hint {
  margin: 20px 0;
}

.avoindata-hint-image {
  display: inline-block;
  vertical-align: top;
  height: 24px;
  width: 24px;
  margin-left: 20px;
}

.avoindata-hint-content {
  width: calc(100% - 45px);
  display: inline-block;
  color: $new-layout-primary-text-color;
  font-family: $font-family-sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 0 20px 15px 15px;
}

.avoindata-example {
  background: white;
  border-radius: 2px;
  border: 1.5px solid #2a6ebb;
  border-left: 4.5px solid #2a6ebb;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avoindata-example-title {
  color: $new-layout-primary-text-color;
  font-family: $font-family-sans-serif-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 20px 20px 6px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: inline-block;

  > *:last-child {
    margin: 0;
  }
}

.avoindata-example-content {
  color: $new-layout-primary-text-color;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  padding: 0 20px 20px;
}

a.external {
  svg {
    margin-bottom: -2px;
    margin-left: 4px;
    width: 16px;
    height: 16px;
    fill: $link-color;
  }
}

.avoindata-section {
  background-color: $background-color__content;
  box-shadow: $box-shadow__section;
  border-top: $border-width__section solid $opendata-brand-primary;
  border-radius: $border-radius__section;
  margin: $margin-y__section 0;
  padding: $padding-y__section $padding-x__section;

  &:first-of-type {
    margin-top: 0;
  }

  .avoindata-section__title {
    margin-top: 0;
    margin-bottom: $margin-bottom__section__title;
    font-size: $font-size__section-title;
  }
}

table {
  border-collapse: collapse;
  text-align: left;

  caption {
    color: $color--dark-black;
    font-weight: $font-weight-heavier;
    text-align: left;
    padding: $padding-y__table-caption $padding-x__table-caption;
  }

  th,
  td {
    padding: $padding-y__table-cell $padding-x__table-cell;
    border: 1px solid $table-border-color;
  }

  th {
    background-color: $table-bg-accent;
    color: $color--dark-black;
    font-weight: $font-weight-heavier;
  }

  td {
    color: $color--black;
  }
}
