// Restricted to guide page menu at least for now but likely will be expanded to cover other pages as well later
#guide-menu-column {
  border: $navbar-border;

  @media print {
    display: none;
  }

  @include media-breakpoint-up(md) {
    top: 0;
    position: sticky;
    z-index: 255;
    max-width: 350px;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .avoindata-guide-menu-toggle {
    align-self: end;
    margin: 10px;
  }

  @include media-breakpoint-up(md) {
    .avoindata-guide-menu-toggle {
      display: none;
    }

    .avoindata-guide-menu-content.collapse {
      display: block;
    }
  }

  > .opendata-card {
    display: flex;
    flex-direction: column;
    border-top: none;
    background: white;
    padding-top: 0;
    margin-right: 0;
    padding-bottom: 0;

    .opendata-card-content {
      margin-top: 0;
    }
  }

  .menu-header {
    margin: 0 25px;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid $suomi-depthSecondary;
    border-top: 1px solid $suomi-depthSecondary;

    @include media-breakpoint-up(md) {
      margin-top: 25px;
      border-top: none;
    }
  }

  .menu-heading {
    font-size: $font-size-base;
    font-weight: $font-weight-heavier;
    color: $opendata-brand-primary;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;

    &.active {
      background-color: $opendata-brand-primary;
      border-radius: $border-radius__active-menu-item;
      font-weight: $font-weight-heavier;

      a,
      &::before {
        color: $color--white;
      }
    }

    & + .navbar {
      max-height: calc(100vh - 54px);
      overflow: auto;
    }
  }

  .menu--counter .nav {
    counter-reset: guide-nav;

    > .nav__item::before {
      content: counter(guide-nav) ".";
      color: $opendata-brand-primary;
      position: absolute;
      top: $padding-y__nav__item__link--guide;
      left: -$padding-left__nav--guide + $padding-left__nav--guide-counter;
    }

    > .nav__item:nth-last-child(-n + 2)::before {
      content: none;
    }
  }

  .nav {
    list-style: none;
    padding: 0;
    padding-left: $padding-left__nav--guide;

    .nav__item {
      > .nav__item__link {
        display: block;
        padding: $padding__nav__item__link--guide;
        font-size: $font-size-base;
      }
    }

    > .nav__item {
      display: block;
      position: relative;
      counter-increment: guide-nav;
      margin: 5px 0;

      > .nav__item__link:not(.active):hover {
        background: none;
        text-decoration: underline;
      }

      > .nav__item__link.active {
        background-color: $opendata-brand-primary;
        color: $color--white;
        border-radius: $border-radius__active-menu-item;
        font-weight: $font-weight-heavier;
        position: relative;
      }

      &.open {
        &:not(:first-of-type),
        & + .nav__item {
          margin-top: 15px;
        }

        a {
          position: relative;

          &::after {
            position: absolute;
            margin: 0;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .subnav {
      list-style: none;
      background-color: $background-color__submenu;
      margin: 0;
      padding-left: $padding-left__subnav--guide;
      border-radius: $border-radius__subnav;

      .nav__item {
        padding: $padding__nav__item__link--guide;

        .nav__item__link {
          font-size: $font-size-slightly-smaller-base;
          padding: 0;

          &.active--subnav-link {
            font-weight: $font-weight-heavier;
            position: relative;

            &::before {
              content: ' ';
              position: absolute;
              top: 0;
              bottom: 0;
              left: -$padding-x__nav__item__link--guide - $padding-left__subnav--guide;
              width: 4px;
              background-color: $opendata-brand-primary;
            }
          }
        }
      }
    }
  }
}
