<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Quality Assurance</py:def>

  <py:def function="optional_head">
    <!--[if IE]><script language="javascript" type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js">//pointless jscript comment</script>
    <link type="text/css" rel="stylesheet" media="all" href="/ckanext/qa/style.css" />
  </py:def>

  <div py:match="content">
    <div class="qa-content">
    <h1>Quality Assurance</h1>
  
    <p>Packages with at least one broken resource, grouped by organisation.</p>

    <div py:for="organisation, packages in c.organisations.items()">
      <h3>${organisation[1]}</h3>
      <table class="qa-table">
        <tr>
            <th class="qa-table-name">Package</th>
            <th class="qa-table-resources">Resources</th>
        </tr>
        <tr py:for="package, resources in packages.items()">
            <td>${h.link_to(package[0], h.url_for(controller='package', action='read', id=package[1]))}</td>
            <td>
                <table>
                    <tr>
                        <th class="qa-table-name">URL</th>
                        <th class="qa-table-resources">Reason</th>
                    </tr>
                    <tr class="bad_link" py:for="resource in resources">
                        <td><a href="${resource.url}">${resource.url}</a></td>
                        <td>${resource.extras['openness_score_reason']}</td>
                    </tr>
                </table>
             </td>
        </tr>
      </table>
    </div>
  </div>
  <p>
    Page last updated:
     <?python 
        import datetime
     ?>
    ${datetime.datetime.now().strftime('%c')}
  </p>
  </div>
  <xi:include href="../../layout.html" />
</html>
