[
  {
    "role_name": "{{ drupal_editor_rolename }}",
    "permissions": [
      "create article content",
      "edit own article content",
      "edit any article content",
      "delete own article content",
      "delete any article content",
      "administer comments",
      "access comments",
      "post comments",
      "edit own comments",
      "view revisions",
      "revert revisions",
      "delete revisions",
      "create service_alert content",
      "edit own service_alert content",
      "edit any service_alert content",
      "delete own service_alert content",
      "delete any service_alert content",
      "translate interface",
      "translate user-defined strings",
      "translate content",
      "use text format filtered_html",
      "use text format full_html",
      "create page content",
      "edit own page content",
      "edit any page content",
      "delete own page content",
      "delete any page content",
      "administer nodes",
      "access content overview",
      "administer url aliases",
      "create url aliases",
      "access toolbar",
      "customize shortcut links",
      "view own unpublished content",
      "administer menu",
      "create tutorial content",
      "edit own tutorial content",
      "edit any tutorial content",
      "delete own tutorial content",
      "delete any tutorial content",
      "create event content",
      "edit own event content",
      "edit any event content",
      "delete own event content",
      "delete any event content",
      "search content"
    ]
  },
  {
    "role_name": "{{ drupal_publisher_rolename }}",
    "permissions": [
      "create article content",
      "edit own article content",
      "edit any article content",
      "delete own article content",
      "delete any article content",
      "administer comments",
      "access comments",
      "post comments",
      "edit own comments",
      "view revisions",
      "revert revisions",
      "delete revisions",
      "create service_alert content",
      "edit own service_alert content",
      "edit any service_alert content",
      "delete own service_alert content",
      "delete any service_alert content",
      "translate interface",
      "translate user-defined strings",
      "translate content",
      "use text format filtered_html",
      "use text format full_html",
      "create page content",
      "edit own page content",
      "edit any page content",
      "delete own page content",
      "delete any page content",
      "administer nodes",
      "access content overview",
      "administer url aliases",
      "create url aliases",
      "access toolbar",
      "customize shortcut links",
      "view own unpublished content",
      "administer menu",
      "create tutorial content",
      "edit own tutorial content",
      "edit any tutorial content",
      "delete own tutorial content",
      "delete any tutorial content",
      "create event content",
      "edit own event content",
      "edit any event content",
      "delete own event content",
      "delete any event content",
      "search content"
    ]
  },
  {
    "role_name": "anonymous user",
    "permissions": [
      "services menu retrieve menu",
      "search content"
    ]
  },
  {
    "role_name": "authenticated user",
    "permissions": [
      "search content"
      ]
  }
]