#! /bin/sh

# Installs Drupal if there is no existing content in the Drupal database
# Warning/TODO: if psql check fails then this will reinstall Drupal.
if [ ! `psql -h {{ database_host }} -tAc "SELECT 1 FROM pg_tables WHERE schemaname='public' AND tablename='node'" {{ drupal_database_name }} {{ drupal_database_username }}` ]; then

    # Download Drupal and copy default settings
    drush dl drupal --drupal-project-rename={{ drupal_name }} --destination={{ www_root }}
    mkdir -p {{ drupal_root }}/sites/default/files
    chown {{ www_user }}:{{ www_group }} {{ drupal_root }}/sites/default/files

    cp {{ drupal_root }}/sites/default/default.settings.php {{ drupal_root }}/sites/default/settings.php
    chown {{ www_user }}:{{ www_group }} {{ drupal_root }}/sites/default/settings.php

    # Install Drupal
    cd {{ drupal_root }}
    drush site-install -y standard --account-name={{ admin.username }} --account-pass={{ admin.password }} \
        --db-url=pgsql://{{ drupal_database_username }}:{{ drupal_database_password }}@{{ database_host }}/{{ drupal_database_name }} --site-name={{ drupal_site_name }}

    cd -
fi
