{% import 'macros/form.html' as form %}
{% set action = c.form_action or '' %}

{% resource 'ytp_service_js/ytp_service.js' %}

{# This provides a full page that renders a form for adding a dataset. It can
then itself be extended to add/remove blocks of functionality. #}

<form class="dataset-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form">
  {% block stages %}

  {% endblock %}
  <ul class="nav nav-tabs nav-justified" data-service-tabs="services">
      <li data-service-tab="basic_information" class="active" ><a href="javascript:void(0);">1. {{ _('Basic Information' ) }}</a></li>
      <li data-service-tab="producer"><a href="javascript:void(0);">2. {{ _('Production') }}</a></li>
      <li data-service-tab="services"><a href="javascript:void(0);">3. {{ _('Service Details') }}</a></li>
      <li data-service-tab="service_channels"><a href="javascript:void(0);">4. {{ _('Service Channels') }}</a></li>
  </ul>

  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />
  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  {% block basic_fields %}
   {% include "package/ytp/language_bar.html" %}
   <div class="translate-content" data-service-contents="services">
       <div data-service-content="basic_information">
           {% snippet 'package/ytp/service/package_basic_fields.html', data=data, errors=errors, licenses=h.dataset_licenses(), groups_available=c.groups_available %}
       </div>
       <div data-service-content="producer">
           {% snippet 'package/ytp/service/package_producer_fields.html', data=data, errors=errors, licenses=h.dataset_licenses(), groups_available=c.groups_available %}
       </div>
       <div data-service-content="services">
           {% snippet 'package/ytp/service/package_services_fields.html', data=data, errors=errors, licenses=h.dataset_licenses(), groups_available=c.groups_available %}
       </div>
       <div data-service-content="service_channels">
           {% snippet 'package/ytp/service/package_service_channels_fields.html', data=data, errors=errors, licenses=h.dataset_licenses(), groups_available=c.groups_available %}
       </div>
   </div>
    <div>
        {{ form.required_message() }}
    </div>
  {% endblock %}

  {% block metadata_fields %}
  {% endblock %}

  {% block form_actions %}
    <div class="form-actions">
      <button class="btn btn-primary service-previous-phase pull-left" name="previous">{{ _('Previous') }}</button>
      <button class="btn btn-primary service-next-phase" name="next">{{ _('Next') }}</button>

      {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
          <a class="btn btn-danger pull-left" href="{% url_for controller='package', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}

      <button class="btn btn-primary" type="submit" name="save" id="save-button">{% block save_button_text %}{{ _('Save') }}{% endblock %}</button>
    </div>
     {% block disclaimer %}
        <p class="action-info small">
          {%- trans -%}
          Important: By submitting content, you
          agree to release your contributions under the Open Database
          License.
          {%- endtrans -%}
        </p>
      {% endblock %}
  {% endblock %}

</form>
