/**
 * Icon styles.
 */
a {
  &.icon-before .glyphicon,
  & .glyphicon.icon-before {
    margin-right: 0.25em;
  }

  &.icon-after .glyphicon,
  & .glyphicon.icon-after {
    margin-left: 0.25em;
  }
}

.btn {
  &.icon-before .glyphicon,
  & .glyphicon.icon-before {
    margin-left: -0.25em;
    margin-right: 0.25em;
  }

  &.icon-after .glyphicon,
  & .glyphicon.icon-after {
    margin-left: 0.25em;
    margin-right: -0.25em;
  }
}
