{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": {{ cloudwatch_agent_logs_config | to_nice_json(indent=2) | indent(8) }}
      }
    }
  },
  "metrics": {
    "append_dimensions": {
      "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
      "ImageId": "${aws:ImageId}",
      "InstanceId": "${aws:InstanceId}",
      "InstanceType": "${aws:InstanceType}"
    },
    "metrics_collected": {
      {% if cloudwatch_agent_procstat_metrics_config is defined -%}
      "procstat": {{ cloudwatch_agent_procstat_metrics_config | to_nice_json(indent=2) | indent(6) }}
      {% endif -%}
      "mem": {
        "measurement": [
          "mem_used_percent"
        ],
        "metrics_collection_interval": 60
      },
      "swap": {
        "measurement": [
          "swap_used_percent"
        ],
        "metrics_collection_interval": 60
      }
    }
  }
}
