{% ckan_extends %}

{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}

{% block page_primary_action %}
{% endblock %}

{% block prelude %}
  <div class="d-flex justify-content-between align-items-end flex-wrap">
      <h1 class="mb-0">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
      {% snippet 'organization/snippets/organization_primary_actions.html' %}
  </div>
{% endblock %}

{% block primary_content_inner %}
  <div class="row">
    {% block organizations_search_form %}
        <form class="search-form list-head-search-form" method="get" data-module="select-switch">
          <div class="search-input control-group">
            <input data-organization-filter type="text" class="search form-control" name="q" value="{{ q }}" autocomplete="off" placeholder="{{ _('Search organizations...') }}">
            <button type="submit">
              <i class="fa fa-search"></i>
              <span>{{ _('Submit') }}</span>
            </button>
          </div>
            {% block search_title %}
            <div class="search-header">
              <span class="search-result-count">{% snippet 'snippets/search_result_text.html', query=q, count=page.item_count, type='organization',from='organizations' %}</span>
              <div class="form-select form-group control-order-by">
                <label for="field-order-by">{{ _('Order by') }}</label>
                <select id="field-order-by" name="sort" class="form-control">
                  {% for label, value in sorting %}
                    {% if label and value %}
                      <option value="{{ value }}"{% if sort_by_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                {% block search_sortby_button %}
                <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
                {% endblock %}
              </div>
            </div>
            {% endblock %}
        </form>
    {% endblock %}
  </div>

  {% block organizations_list %}
    {#{% if q and page.items %}
      <ul class="no-bullet">
       {% for organization in page.items %}
         {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index %}
       {% endfor %}
      </ul>
      {% block page_pagination %}
        {{ page.pager(q=q) }}
      {% endblock %}
    {% elif not q and page.items %}
      <div id="publisher-tree">
        {% snippet 'organization/snippets/organization_tree.html', top_nodes=h.group_tree(), show_dataset_count=true%}
      </div>
    {% endif %}#}


    <div class="row">
    {% if page.items %}
      <ul class="no-bullet organization-list">
       {% for organization in page.items %}
         {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index %}
       {% endfor %}
      </ul>
      {% block page_pagination %}
        {{ page.pager(q=q, with_datasets=with_datasets, sort=sort_by_selected) }}
      {% endblock %}
    {% else %}
      <ul class="no-bullet organization-list">
      </ul>
      <p>{% trans %}No organizations found{% endtrans %}</p>

    {% endif %}
    </div>

  {% endblock %}
{% endblock %}

{% block secondary_content %}
  <section class="module suomifi-filters">
    <h2 class="module-heading">{{ _('Filter list') }}</h2>
    <div class="module-content">
      <h3 class="module-subheading">
        {{ _('Datasets') }}
      </h3>
      <div class="module-section suomifi-filter-links">
        {% if with_datasets %}
        <a href="{{ h.url_for(controller='organization', action='index', q=q, sort=sort_by_selected) }}">
          {{ _('Show organizations without datasets') }}
        </a>
        {% else %}
        <a href="{{ h.url_for(controller='organization', action='index', q=q, sort=sort_by_selected, with_datasets=True) }}">
          {{ _('Show only organizations with datasets') }}
        </a>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
