{% ckan_extends %}

{# pylons controller / flask view compatibility #}
{% set group_dict = group_dict or c.group_dict %}

{# group_type may be unicode that is incompatible with pylons' url_for #}
{% set group_type = group_type.encode('ascii') %}

{% block form %}
<form class="dataset-form add-member-form" method='post'>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group control-medium">
        {% if not user %}
        <label class="control-label" for="username">
          {{ _('Existing User') }}
        </label>
        <p>
          {{ _('If you wish to add an existing user, search for their username below.') }}
        </p>
        {% endif %}
        <div class="controls">
          {% if user %}
          <input type="hidden" name="username" value="{{ user.name }}" />
          <input id="username" name="username" type="text" value="{{ user.name }}"
                 disabled="True" class="form-control">
          {% else %}
          <input id="username" type="text" name="username" placeholder="{{ _('Username') }}"
                 value="" class="control-medium" data-module="autocomplete"
                 data-module-source="/api/2/util/user/autocomplete?ignore_self=true&q=?">
          {% endif %}
        </div>
      </div>
    </div>

  </div>

  {% if user and user.name == c.user and c.user_role == 'admin' %}
    {% set format_attrs = {'data-module': 'autocomplete', 'disabled': 'disabled'} %}
    {{ form.select('role', label=_('Role'), options=c.roles, selected=c.user_role, error='', attrs=format_attrs) }}
    {{ form.hidden('role', value=c.user_role) }}
  {% else %}
    {% set format_attrs = {'data-module': 'autocomplete'} %}
    {{ form.select('role', label=_('Role'), options=c.roles, selected=c.user_role, error='', attrs=format_attrs) }}
  {% endif %}

  <div class="form-actions">
    {% if user %}
    <a href="{{ h.url_for(group_type + '.member_delete', id=group_dict.id, user=user_id) }}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this member?') }}">{{ _('Delete') }}</a>
    <button class="btn btn-primary" type="submit" name="submit" >
      {{ _('Update Member') }}
    </button>
    {% else %}
    <button class="btn btn-primary" type="submit" name="submit" >
      {{ _('Add Member') }}
    </button>
    {% endif %}
  </div>
</form>
{% endblock %}
