/**
 * Showcase
 */
$margin-y__showcase-item: $padding-y--common;
$margin-x__showcase-item: $padding-x--common;
$padding-y-showcase-item__content: 16px;
$padding-x-showcase-item__content: 21px;
$width__showcase-item: 230px;
$box-shadow__showcase-item: 0px 2px 4px 1px rgba(41, 41, 41, 0.1);
$box-shadow__showcase-item--hover: 0px 2px 4px 4px rgba(41, 41, 41, 0.1);
$border-radius__showcase-item: 4px;
$padding-y__showcase-package: $padding-y__text;
$padding-x__showcase-package: 15px;
