# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
#
#
# NOTE: Please make sure this file is using LF line-endings, windows CRLF breaks it!
#
*   1   *       *   *   cd /srv/app && ./cron/scripts/matomo-fetch.sh
*   3   */3     *   *   cd /srv/app && ./cron/scripts/archiver-update.sh
*/5 *   *       *   *   cd /srv/app && ./cron/scripts/harvester-run.sh
0   22  *       *   *   cd /srv/app && ./cron/scripts/ckan-refresh.sh
0   2   *       *   *   cd /srv/app && ./cron/scripts/qa-update.sh
0   5   *       *   *   cd /srv/app && ./cron/scripts/report-generate.sh
0   11  *       *   *   cd /srv/app && ./cron/scripts/harvest-status-emails.sh
0   11  *       *   *   cd /srv/app && ./cron/scripts/harvest-stuck-reports.sh
0   0   *       *   *   cd /srv/app && ./cron/scripts/prh-start.sh
0   5   *       *   *   cd /srv/app && ./cron/scripts/prh-stop.sh
0   22  28-31   *   *   cd /srv/app && ./cron/scripts/prh-clear.sh
