# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
#
# Redirecting the cron's commands output into the docker stdout and stderr
# which are located respectively in /proc/1/fd/1 and /proc/1/fd/2
#
* * * * * cd ${APP_DIR} && /opt/cron_scripts/matomo-fetch.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/archiver-update.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/harvester-run.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/tracking-update.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/qa-update.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/report-generate.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/reminder-send.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/archiver-notifications.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/reminder-notify-expiry.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/reminder-notify.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/ytp-dataset-update-package-deprecation.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/opendata-harvest-send-status-emails.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/opendata-harvest-send-stuck-runs-report.sh > /proc/1/fd/1 2> /proc/1/fd/2
* * * * * cd ${APP_DIR} && /opt/cron_scripts/send-email-notifications.sh > /proc/1/fd/1 2> /proc/1/fd/2
