# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
#
# Redirecting the cron's commands output into the docker stdout and stderr
# which are located respectively in /proc/1/fd/1 and /proc/1/fd/2
#
# NOTE: Please make sure this file is using LF line-endings, windows CRLF breaks it!
#
*   1   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/matomo-fetch.sh > /proc/1/fd/1 2> /proc/1/fd/2
*   3   */3     *   *   cd ${APP_DIR} && /opt/cron_scripts/archiver-update.sh > /proc/1/fd/1 2> /proc/1/fd/2
*/5 *   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/harvester-run.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   22  *       *   *   cd ${APP_DIR} && /opt/cron_scripts/tracking-update.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   2   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/qa-update.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   5   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/report-generate.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   9   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/reminder-send.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   10  1       *   *   cd ${APP_DIR} && /opt/cron_scripts/archiver-notifications.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   13  *       *   *   cd ${APP_DIR} && /opt/cron_scripts/reminder-notify-expiry.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   12  *       *   *   cd ${APP_DIR} && /opt/cron_scripts/reminder-notify.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   9   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/ytp-dataset-update-package-deprecation.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   11  *       *   *   cd ${APP_DIR} && /opt/cron_scripts/opendata-harvest-send-status-emails.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   11  *       *   *   cd ${APP_DIR} && /opt/cron_scripts/opendata-harvest-send-stuck-runs-report.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   8   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/send-email-notifications.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   0   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/start-prh-crawler.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   5   *       *   *   cd ${APP_DIR} && /opt/cron_scripts/stop-prh-crawler.sh > /proc/1/fd/1 2> /proc/1/fd/2
0   22  28-31   *   *   cd ${APP_DIR} && /opt/cron_scripts/clear-prh-data.sh > /proc/1/fd/1 2> /proc/1/fd/2
