{#
/**
 * @file
 * Div with toolbar class is added so that it is similar to
 * the Ckan implementation
 * TODO: This doesn't still create links for some reason
**/
#}
<div class="toolbar">
  {{ content }}
</div>