{#
Embeds a organization within the sidebar of a page.

organization    - The organization dict.
truncate - A max length for the organization description. If not provided the description
           will be full length.
has_context_title - Boolean for whether to display a module-heading for when
                    this snippet appears within a non-organization template
                    (e.g. dataset page sidebar)

Example:

    {% snippet 'snippets/organization, organization=c.group_dict %}

#}

{% with truncate=truncate or 0, url=h.url_for(controller='organization', action='read', id=organization.name) %}
  {% block info %}
  <div class="module module-narrow module-shallow context-info">
    {% if has_context_title %}
      <h2 class="module-heading"><i class="icon-building"></i> {{ _('Organization') }}</h2>
    {% endif %}
    <section class="module-content">
      {% block inner %}
      {% endblock %}

      {% set last_harvested = h.get_last_harvested_date(organization.name) %}
      {% if last_harvested %}
        <div class="harvesting-information">
          {{_('Last Harvested') }}: {{ h.render_datetime(last_harvested.date, with_hours=True)}}
          {% set url = h.url_for('harvest_read', id=last_harvested.source.name) %}
          {{ h.link_to(h.truncate(last_harvested.source.title or last_harvested.source.name), url) }}
        </div>
      {% endif %}
    </section>
  </div>
  {% endblock %}
{% endwith %}
