{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 400)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 220 %}
{% set truncate_title = truncate_title or 120 %}
{% set title = h.extra_translation(package, 'title', fallback=package.name) %}
{% set notes = h.markdown_extract(h.extra_translation(package, 'notes', markdown=False), extract_length=truncate) %}

<li class="{{ item_class or 'dataset-item' }}">
    {% block package_item_content %}
        <div class="dataset-content">
            <h3 class="dataset-heading">
                {% if package.private %}
                    <i class="fa fa-lock icon-private" title="{{ _('Private') }}"></i>
                {% endif %}
                {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', controller='package', action='read', id=package.name)) }}
                {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            </h3>

            <div class="organization byline-dataset dataset-item-organization">
                {% if package.organization -%}
                    <a href="/data/{{ h.lang() }}/organization/{{package.organization.get('name')}}">
                        {{ package.organization.get('title') }}
                    </a>
                    &nbsp;/&nbsp;
                {%- endif -%}
                {{- h.render_datetime(package.get('metadata_modified'), "%d.%m.%Y") -}}
            </div>

            {% if banner %}
                <span class="banner">{{ _('Popular') }}</span>
            {% endif %}
            {% if notes %}
                <p class="dataset-item-notes pb-2 pr-4">
                    {{ notes | urlize }}
                </p>
            {% endif %}

            <div>
                {% if package.get('state', '').startswith('draft') %}
                    <span class="collection-type draft label label-info">
                        {{_('Draft')}}
                    </span>
                {% elif package.get('state', '').startswith('deleted') %}
                    <span class="collection-type deleted label label-important">
                        {{_('Deleted')}}
                    </span>
                {% endif %}
            </div>

            <div class="d-flex justify-content-between flex-wrap mt-2">
                {% if package.organization.producer_type | length != 0 and h.get_label_for_producer(package.organization.producer_type) | length != 0%}
                    <span
                        class="producer-type"
                        data-producer-type="{{ package.organization.producer_type }}"
                    >
                        {{ _(h.get_label_for_producer(package.organization.producer_type)) }}
                    </span>
                {% endif %}
                <div class="d-flex flex-1 justify-content-end flex-wrap">
                    {%- if package.get('resources') -%}
                        {% set formats = h.unique_formats(package.get('resources')) %}
                        {%- for format in formats -%}
                            <span class="format file-tag format--{{ format | lower }}">
                                {{ _(format) }}
                            </span>
                        {%- endfor -%}
                    {%- endif -%}
                </div>
            </div>
        </div>
    {% endblock %}
</li>
