{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 400)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 400 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = h.extra_translation(package, 'title', fallback=package.name) %}
{% set notes = h.markdown_extract(h.extra_translation(package, 'notes', markdown=False), extract_length=truncate) %}

<li class="{{ item_class or "dataset-item" }}">
  {% block package_item_content %}
    <div class="dataset-content">
      <h3 class="dataset-heading">
        {% if package.private %}
        <i class="fa fa-lock icon-private" title="{{ _('Private') }}"></i>
        {% endif %}
        {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
        {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
      </h3>
      {% if banner %}
        <span class="banner">{{ _('Popular') }}</span>
      {% endif %}
      {% if notes %}
        <div class="dataset-item-notes">{{ notes|urlize }}</div>
      {% endif %}
      <div class="dataset-item-meta">
        {% if package.get('state', '').startswith('draft') %}
          <span class="collection-type draft label label-info">{{ _('Draft') }}</span>
        {% elif package.get('state', '').startswith('deleted') %}
          <span class="collection-type deleted label label-important">{{ _('Deleted') }}</span>
        {% endif %}
        {%- if package.get('resources') -%}
          {% set formats = h.unique_formats(package.get('resources')) %}
            {%- for format in formats -%}
              <span class="format pull-right file-tag">{{_(format)}}</span>
            {%- endfor -%}
        {%- endif -%}
        <span class="organization byline-dataset organization-line">
          {{- h.render_datetime(package.get('metadata_modified'), "%d.%m.%Y") -}}
          {% if package.organization -%}
            <a href="/data/{{ h.lang() }}/organization/{{package.organization.get('name') }}">
            {{ package.organization.get('title') }}</a>
          {%- endif -%}
        </span>
      </div>
    </div>
  {% endblock %}

</li>
