{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 400)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 220 %}
{% set truncate_title = truncate_title or 120 %}
{% set title = h.extra_translation(package, 'title', fallback=package.name) %}
{% set notes = h.markdown_extract(h.extra_translation(package, 'notes', markdown=False), extract_length=truncate) %}

<div class="{{ item_class or 'dataset-item' }}">
    {% block package_item_content %}
        <div class="dataset-content">
          <div class="d-flex align-items-center">
            <h3 class="dataset-heading dataset-title">
                {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', id=package.name)) }}
                {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            </h3>
            {% if package.get('state', '').startswith('deleted') %}
              <span class="collection-type deleted">
                {{ _('Deleted') }}
              </span>
            {% elif package.get('state', '').startswith('draft') %}
              <span class="collection-type draft">
                {{_('Draft')}}
              </span>
            {% elif package.private %}
              <span class="collection-type private">
                {{_('Private')}}
              </span>
            {% endif %}
          </div>

            {% if banner %}
                <span class="banner">{{ _('Popular') }}</span>
            {% endif %}
            {% if notes %}
                <p class="dataset-item-notes">
                    {{ notes | urlize }}
                </p>
            {% endif %}

            <div>
                {% if package.get('state', '').startswith('draft') %}
                    <span class="collection-type draft label label-info">
                        {{_('Draft')}}
                    </span>
                {% elif package.get('state', '').startswith('deleted') %}
                    <span class="collection-type deleted label label-important">
                        {{_('Deleted')}}
                    </span>
                {% endif %}
            </div>

            <div class="d-flex justify-content-between flex-wrap mt-2">
                {% if package.organization.producer_type | length != 0 and h.get_label_for_producer(package.organization.producer_type) | length != 0%}
                    <div class="search-item-tag search-item-tag-organization">
                      <span
                          class=""
                          data-producer-type="{{ package.organization.producer_type }}">
                          {{ _(h.get_label_for_producer(package.organization.producer_type)) }}
                      </span>
                    </div>
                {% endif %}
                <div class="d-flex flex-1 justify-content-end flex-wrap">
                    {%- if package.get('resources') -%}
                        {% set formats = h.unique_formats(package.get('resources')) %}
                        {%- for format in formats -%}
                            <div class="search-item-tag search-item-tag-type">
                              <span class="">
                                  {{ _(format) }}
                              </span>
                            </div>
                        {%- endfor -%}
                    {%- endif -%}
                </div>
            </div>
        </div>
    {% endblock %}
</div>
