
{% set search_class = search_class if search_class else 'search-giant' %}

<form class="search-form{% if no_bottom_border %} no-bottom-border{% endif %} form_{{ search_class }}" method="get" data-module="select-switch">
  <div class="search-input control-group {{ search_class }}">
  <input type="text" class="search form-control" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
  {% for param in query_params %}
    {% for value in query_params[param] %}
      <input type="hidden" name="{{ param }}" value="{{value}}">
    {% endfor %}
  {% endfor %}

   <input type="hidden" name="sort" value="{{ sorting }}">

  <button type="submit" value="search">
    <i class="fa fa-search"></i>
    <span>{{ _('Submit') }}</span>
  </button>
</div>
</form>

