{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}

<form class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch">

    {% block search_facets %}
        {% if facets %}
            <div class="d-flex align-items-center mb-3">
                <h5>{{ _('Filters') }}</h5>
                <div class="filter-list">
                    {% for field in facets.fields %}
                        {% set search_facets_items = facets.search.get(field)['items'] if facets.search and field in facets.search else [] %}
                        {% for value in facets.fields[field] %}
                            <span class="filtered pill">
                                {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                                    {{ facets.translated_fields[(field,value)] }}
                                {%- else -%}
                                    {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
                                {%- endif %}
                                <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fal fa-times pill__icon"></i></a>
                            </span>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block search_input %}
        <div class="search-input control-group {{ search_class }} m-0">
            <input type="text" class="search search-dataset form-control" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
            {% for param in query_params %}
                {% for value in query_params[param] %}
                    <input type="hidden" name="{{ param }}" value="{{value}}">
                {% endfor %}
            {% endfor %}
            <button type="submit" value="search">
                <i class="fal fa-search"></i>
                <span>{{ _('Submit') }}</span>
            </button>
        </div>
    {% endblock %}

    {% block search_search_fields %}
        {% if fields -%}
            <span>{{ form.hidden_from_list(fields=fields) }}</span>
        {%- endif %}
    {% endblock %}

    {# Allow disabling of sorting by passing an empty list. Due to CKAN's implementation, not defining sorting equals to default sorting #}
    {% if sorting %}
        {% if sorting != 'disabled' %}
            {% set disableable_sorting = sorting %}
        {% endif %}
    {% else %}
        {% set disableable_sorting = [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
    {% endif %}

    {% if show_advanced_search  %}
      <div class="mb-2 d-flex justify-content-end">
          <a href="{{ h.url_for('advanced_search_blueprint.search') }}" class="btn-avoindata-header">
            {{ _(' Use advanced search ') }}
          </a>
      </div>
    {% endif %}
    <div class="d-flex flex-wrap justify-content-between align-items-center search-form__result-summary">
        {% block search_title %}
            {% if not no_title %}
                <h3 class="m-0 search-form__result-text">
                    {% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}
                </h3>
            {% endif %}
        {% endblock %}

        {% block search_sortby %}
            {% if disableable_sorting %}
                <div class="form-select control-group control-order-by m-0">
                    <div id="field-order-by-container" class="field-order-by-container">
                        <label for="field-order-by">{{ _('Sorting') }}</label>
                        <select id="field-order-by" class="form-control" name="sort">
                            <!-- Default empty option -->
                            <option disable selected value="auto" {% if not request.params['sort'] or request.params['sort'] == 'auto' %} selected="selected"{% endif %} style="display:none;"></option>
                            {% for label, value in disableable_sorting %}
                                {% if label and value %}
                                    <option value="{{ value }}"{% if request.params['sort'] == value  %} selected="selected"{% endif %}>{{ label }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
                </div>
            {% endif %}
        {% endblock %}

        {% if type == "dataset" %}
            {% asset 'ytp_resources/search_filtering_js' %}
            <button type="button" class="btn" id="search-filter-show-button"><i class="far fa-filter"></i> {{ _('Filter search') }}</button>
            <button type="button" class="btn" id="search-filter-lower-hide-button">
                <span class="fa-stack">
                    <i class="far fa-filter fa-stack-1x"></i>
                    <i class="far fa-times fa-stack-1x hide-filters-cross-icon"></i>
                </span>
                {{ _('Hide search filters') }}
            </button>
        {% endif %}
    </div>
</form>

{% if show_empty and count == 0 %}
    <p class="extra">
        {% trans %}
            Please try another search or change search facets.
        {% endtrans %}
    </p>
{% endif %}

{% if error %}
    <p>
        {% trans %}
            <strong>There was an error while searching.</strong> Please try again.
        {% endtrans %}
    </p>
{% endif %}
