[submodule "modules/ckanext-report"]
	path = modules/ckanext-report
	url = https://github.com/6aika/ckanext-report.git
[submodule "modules/ckanext-harvest"]
	path = modules/ckanext-harvest
	url = https://github.com/ckan/ckanext-harvest.git
[submodule "modules/ckanext-dcat"]
	path = modules/ckanext-dcat
	url = https://github.com/ckan/ckanext-dcat.git
[submodule "modules/ckanext-hierarchy"]
	path = modules/ckanext-hierarchy
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-hierarchy.git
