[submodule "modules/ckanext-report"]
	path = modules/ckanext-report
	url = https://github.com/vrk-kpa/ckanext-report.git
[submodule "modules/ckanext-harvest"]
	path = modules/ckanext-harvest
	url = https://github.com/vrk-kpa/ckanext-harvest.git
[submodule "modules/ckanext-dcat"]
	path = modules/ckanext-dcat
	url = https://github.com/vrk-kpa/ckanext-dcat.git
[submodule "modules/ckanext-hierarchy"]
	path = modules/ckanext-hierarchy
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-hierarchy.git
[submodule "modules/ckanext-spatial"]
	path = modules/ckanext-spatial
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-spatial.git
	branch = ytp
[submodule "modules/ckanext-cloudstorage"]
	path = modules/ckanext-cloudstorage
	url = https://github.com/vrk-kpa/ckanext-cloudstorage.git
[submodule "modules/ckanext-scheming"]
	path = modules/ckanext-scheming
	url = https://github.com/vrk-kpa/ckanext-scheming.git
[submodule "modules/ckanext-fluent"]
	path = modules/ckanext-fluent
	url = https://github.com/ckan/ckanext-fluent.git
[submodule "modules/ckanext-qa"]
	path = modules/ckanext-qa
	url = https://github.com/vrk-kpa/ckanext-qa.git
[submodule "modules/ckanext-archiver"]
	path = modules/ckanext-archiver
	url = https://github.com/vrk-kpa/ckanext-archiver.git
[submodule "modules/ckanext-showcase"]
	path = modules/ckanext-showcase
	url = https://github.com/vrk-kpa/ckanext-showcase.git
[submodule "modules/ckanext-geoview"]
	path = modules/ckanext-geoview
	url = https://github.com/ckan/ckanext-geoview.git
[submodule "modules/ckanext-pdfview"]
	path = modules/ckanext-pdfview
	url = https://github.com/ckan/ckanext-pdfview.git
[submodule "modules/ckanext-drupal8"]
	path = modules/ckanext-drupal8
	url = https://github.com/vrk-kpa/ckanext-drupal8.git
[submodule "modules/ckanext-disqus"]
	path = modules/ckanext-disqus
	url = https://github.com/vrk-kpa/ckanext-disqus.git
[submodule "modules/ckanext-reminder"]
	path = modules/ckanext-reminder
	url = https://github.com/6aika/ckanext-reminder.git
[submodule "modules/ckanext-googleanalytics"]
	path = modules/ckanext-googleanalytics
	url = https://github.com/vrk-kpa/ckanext-googleanalytics.git
[submodule "modules/ckanext-sixodp_showcasesubmit"]
	path = modules/ckanext-sixodp_showcasesubmit
	url = https://github.com/vrk-kpa/ckanext-sixodp_showcasesubmit.git
[submodule "modules/ckanext-datarequests"]
	path = modules/ckanext-datarequests
	url = https://github.com/vrk-kpa/ckanext-datarequests.git
