*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*~

.settings

modules/*.tgz
modules/*.tar

modules/ytp-drupal-features/*.tgz
modules/ytp-drupal-features/*.tar


vars/ytp-secrets/

.idea/
.vagrant
ansible/vars/private

*.sublime-project
*.sublime-workspace

.vscode

token.dat

# Ansible related
*.retry
*.out

# extra certs
server.crt
server.key
/cypress/videos/
/cypress/screenshots/
/node_modules/

# MacOS related
.DS_Store

# Docker related
docker/.env
docker/docker-compose.override.yml

# Ignore cypress local env-overrides
cypress.env.json

# Symlink allowing local tests
ckan/ckanext/ckan
