[submodule "modules/ckanext-ytp-theme"]
	path = modules/ckanext-ytp-theme
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-theme.git
[submodule "modules/ytp-assets-common"]
	path = modules/ytp-assets-common
	url = https://github.com/yhteentoimivuuspalvelut/ytp-assets-common.git
[submodule "modules/ytp-theme-drupal"]
	path = modules/ytp-theme-drupal
	url = https://github.com/yhteentoimivuuspalvelut/ytp-theme-drupal.git
[submodule "modules/ckanext-ytp-drupal"]
	path = modules/ckanext-ytp-drupal
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-drupal.git
[submodule "modules/ckanext-ytp-organizations"]
	path = modules/ckanext-ytp-organizations
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-organizations.git
[submodule "modules/ckanext-drupal7"]
	path = modules/ckanext-drupal7
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-drupal7.git
[submodule "modules/ytp-tools"]
	path = modules/ytp-tools
	url = https://github.com/yhteentoimivuuspalvelut/ytp-tools.git
[submodule "modules/ckanext-ytp-tasks"]
	path = modules/ckanext-ytp-tasks
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-tasks.git
[submodule "modules/ytp-drupal-wysiwyg"]
	path = modules/ytp-drupal-wysiwyg
	url = https://github.com/yhteentoimivuuspalvelut/ytp-drupal-wysiwyg.git
[submodule "modules/ckanext-ytp-dataset"]
	path = modules/ckanext-ytp-dataset
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-dataset.git
[submodule "modules/ckanext-ytp-request"]
	path = modules/ckanext-ytp-request
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-request.git
[submodule "modules/ckanext-googleanalytics"]
	path = modules/ckanext-googleanalytics
	url = https://github.com/yhteentoimivuuspalvelut/ckanext-googleanalytics.git
