<div class="modal-data-viewer-embed-dialog modal fade in" id="{{ modal_id }}">
    <div class="modal-header">
        <a class="close" id="{{ modal_id }}_dismiss" href="javascript:void(0);">×</a>
        <h3>{{ header }}</h3>
    </div>
    <div class="modal-body">
        <div>
            <p>{{ body }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger pull-left" id="{{ modal_id }}_cancel" href="javascript:void(0);">{{ _('Cancel') }}</a>
        <a class="btn btn-danger pull-right" id="{{ modal_id }}_ok" href="javascript:void(0);">{{ _('OK') }}</a>
    </div>
</div>