{% extends "package/base_form_page.html" %}

{% block secondary %}
{% endblock  %}

{% block subtitle %}{{ _('Create Dataset') }}{% endblock %}

{% block primary_content %}
    <h1 class="content-heading">{{ _("Create Dataset") }}</h1>
    {{ super() }}
{% endblock %}

{% block primary_content_inner %}

{# Dataset buttons or login/registration links #}
<a class="btn btn-primary" href="{{ h.url_for(controller='package', action='new', collection_type='Open Data', group=c.preselected_group or "") }}"><i class="icon-file-text"></i>{{ _('Publish Open Data') }}</a>
<a class="btn btn-primary" href="{{ h.url_for(controller='package', action='new', collection_type='Interoperability Tools', group=c.preselected_group or "") }}"><i class="icon-wrench"></i>{{ _('Publish Interoperability Tools')}}</a>
{% if h.check_access('can_create_service') and h.service_database_enabled() %}
    <a class="btn btn-primary" href="{{ h.url_for('service_new') }}"><i class="icon-ambulance"></i>{{ _('Publish Service')}}</a>
{% endif %}

{# Not implemented yet:
    <a class="info-link" href="{{ new_url }}?collection_type=Not+Implemented">Julkaise sovellus</a>
#}

{# Help text as Drupal content #}
<div>
    {% set publish_content = h.fetch_drupal_content('new-dataset-selection') %}
    {% if publish_content %}
    {% if c.userobj.sysadmin %}
        <a class="right-action" href="{{ publish_content.edit }}">{{ _('Edit content') }}</a>
    {% endif %}
    {{ publish_content.body }}
    {% endif %}
</div>

{% endblock %}
