{#
Displays a tree of organzations

orgs    - List of organizations

Example:

  {% snippet "organization/snippets/organization_tree.html", top_nodes=h.group_tree(type='organization') %}

#}
<ul>
  {% for node in top_nodes recursive %}
    <li id="node_{{ node.group.name }}">
      {% link_for node.group.title, controller=node.group.type, action='read', id=node.group.name %}

      {% if node.children %}
        <ul> {{ loop(node.children) }} </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
