// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

// FontAwesome
@import "fontawesome/fontawesome";
@import "fontawesome/fa-solid.less";
@import "fontawesome/fa-regular.less";
@import "fontawesome/fa-brands.less";
@fa-font-path:  "../fonts";

// Avoindata common variables
@import "../../ytp-assets-common/src/less/variables";

#logo-img {
  width: 150px;
}

//Valikon linkit TODO: Nyt vaikuttaa vain lisälinkkeihin
#navbar-collapse a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

//Valikon linkkien hover
#navbar-collapse a:hover {
  color: hsla(0, 0%, 100%, .65);
  background-color: #011734;
  text-decoration: underline;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: @font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: @gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.first-navbar {
  margin-bottom: 0px;
}

.header-icon {
  color: black;
}

.second-navbar {
  background-color: @navbar-background;
  height: @navbar-height;
  color: @navbar-color-text;
  .navbar-nav {
    color: @navbar-color-darker;
  }
  .navbar-nav:hover {
    color: @navbar-color-text;
  }

}

.navbar {
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  img {
    height: 20px;
  }
}

// Footer

.footer {
  border-top: 0px;
  background-color: @opendata-brand-dark;
  color: @block-color-light;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  .footer-logo {
    width: 20%;
    padding-bottom: 13px;
    border-bottom: 6px solid @bottom-highlight-color;
    margin-bottom: 27px;
  }
  .footer-follow {
    color: @bottom-highlight-color;
    text-transform: uppercase;
    .footer-follow-message {
      margin-bottom: 10px;
    }
    .footer-socicons {
      font-size: 34px;
      margin: 0px;
      padding: 0px;
    }
  }
}

.main-container {
  margin: 0px;
  padding: 0px;
}

.avoindata-hero {
  background-image: @background-hero-image;
  padding-top: 142px;
  padding-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
  color: @popularTextColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .avoindata-hero-logo {
    height: 56px;
  }
  .avoindata-hero-subheading {
    margin-bottom: 20px;
  }
  .avoindata-hero-boxes {
    margin-bottom: 20px;
  }
  .avoindata-hero-box {
    border-bottom: 6px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .14) -1%, rgba(0, 0, 0, .39) 0%, rgba(0, 0, 0, .24) 100%, transparent);
    background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .14) -1%, rgba(0, 0, 0, .39) 0%, rgba(0, 0, 0, .24) 100%, transparent);
    opacity: 1;
    color: #fff;
    text-align: center;
    h2 {
      font-size: 40px;
      font-weight: 500;
      margin-top: 15px;
    }
  }

  .avoindata-hero-input-col {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    box-shadow: 0px 10px rgba(0, 0, 0, .17), inset  0 -10px rgba(0, 0, 0, .17);
    .btn-hero-dropdown {
      height: 50px;
      background-color: #3898ec;
      border-style: none;
      border-width: 1px;
      border-color: hsla(0, 0%, 100%, .58);
      border-radius: 4px 0px 0px 4px;
      color: @popularTextColor;
    }
    .btn-hero-search {
      width: 50px;
      height: 50px;
      background-color: #ec2727;
      margin-left: 10px;
      text-align: center;
      font-size: 24px;
      border-color: hsla(0, 0%, 100%, .36);
      color: @popularTextColor;
    }
    .input-hero-search {
      height: 50px;
    }
  }
  
  h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
  }
  p {
    font-size: 14px;
    line-height: 23px;
  }
  a {
    color: @popularTextColor;
  }
}

.heading-search-container {
  max-width: 1140px;
}
