<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Quality Assurance</py:def>

  <py:def function="body_class">hide-sidebar</py:def>

  <py:def function="optional_head">
    <script type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js">//pointless jscript comment</script>
    <link type="text/css" rel="stylesheet" media="all" href="/css/ckanext-qa.css" />
  </py:def>

  <div py:match="content">
    <div class="qa-content">
    <py:if test='c.organisation.packages'>
    <h1>${c.organisation.title}</h1>
    <h4>Download this report.</h4>
    <ul>
        <li>${h.link_to('Report in CSV format', h.url_for(controller='ckanext.qa.controller:QAController', action='broken_resource_links_by_dataset_for_organisation', id=c.id, format='csv'))}</li>
    </ul>
    <table class="qa-table">
      <tr>
          <th class="qa-table-name">Dataset</th>
          <th class="qa-table-resources">Resources</th>
      </tr>
      <tr py:for="package, resources in c.organisation.packages.items()">
          <td>${h.link_to(package[0], h.url_for(controller='package', action='read', id=package[0]))}</td>
          <td>
              <table>
                  <tr>
                      <th class="qa-table-name">URL</th>
                      <th class="qa-table-resources">Reason</th>
                  </tr>
                  <tr class="bad_link" py:for="resource in resources">
                      <td><a href="${resource.url}">${resource.url}</a></td>
                      <td>${resource.get('openness_score_reason', '')}</td>
                  </tr>
              </table>
           </td>
      </tr>
    </table>

    </py:if>
    <py:if test="not (c.organisation.packages and c.organisation.packages.items())">
    <p>No results found for this organization.</p>
    </py:if>

    </div>
  </div>
  <xi:include href="../layout.html" />
</html>

