<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Quality Assurance</py:def>

  <py:def function="body_class">hide-sidebar</py:def>

  <py:def function="optional_head">
  <script type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js">
  </script>
    <link type="text/css" rel="stylesheet" media="all" href="/css/ckanext-qa.css" />
  </py:def>

  <div py:match="content" class="qa-content">
    <div class="qa-content">
    <h1>Quality Assurance</h1>
  
    <h3>Organizations who have published datasets with broken resource links.</h3>
    <ul>
        <li>${h.link_to('Report of all broken links by organisation in CSV format', h.url_for(controller='ckanext.qa.controller:QAController', action='organisations_with_broken_resource_links', format='csv', id='all'))}</li>
    </ul>
    <table class="qa-table">
      <tr>
          <th class="qa-table-name">Organization name</th>
      </tr>
      <tr py:for="organisation_title, organisation_id in c.organisations">
        <td>${h.link_to(organisation_title, h.url_for(controller='ckanext.qa.controller:QAController', action='broken_resource_links', id=organisation_id))}</td>
      </tr>
    </table>

    <py:if test="not c.organisations">
    <p>No organizations that have published datasets with broken resource links found.</p>
    </py:if>

  </div>
  </div>
  <xi:include href="../layout.html" />
</html>
