local all postgres peer
local all all peer
host all all 127.0.0.1/32 md5
host all all ::1/128 md5
host {{ postgres.databases.ckan.name }} {{ postgres.users.ckan.username }} {{ postgres.server.trusted_ip_range }} md5
host {{ postgres.databases.ckan_datastore.name }} {{ postgres.users.ckan.username }} {{ postgres.server.trusted_ip_range }} md5
host {{ postgres.databases.ckan_datastore.name }} {{ postgres.users.ckan_datastore.username }} {{ postgres.server.trusted_ip_range }} md5
host {{ postgres.databases.drupal.name }} {{ postgres.users.drupal.username }} {{ postgres.server.trusted_ip_range }} md5
