{% ckan_extends %}

{% block links %}
  {{ super() }}
  {% block googleanalytics_header %}
    {{ h.googleanalytics_header() }}
  {% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% block googleanalytics_event_tracking %}
    {% resource 'ckanext-googleanalytics/googleanalytics_event_tracking.js' %}
    <div class="js-hide" data-module="google-analytics"
      data-module-googleanalytics_resource_prefix="{{ g.googleanalytics_resource_prefix }}">
    </div>
  {% endblock %}
{% endblock %}
