    {% set current_url = request.environ.CKAN_CURRENT_URL %}
    {% set lang = h.lang() %}

    {% macro build_nav_bar(use_active_hilight) %}
        <li><a href="/{{ lang }}">{{ _('Home') }}</a></li>
        <li {% if current_url.startswith("/dataset") and not current_url.startswith("/dataset/new") and use_active_hilight == true %}class="active"{% endif %}><a href="/data/{{ lang }}/dataset">{{ _('Datasets') }}</a></li>
        <li {% if current_url.startswith("/organization") and use_active_hilight == true %}class="active"{% endif %}><a href="/data/{{ lang }}/organization">{{ _('Organizations') }}</a></li>
        <li><a href="/{{ lang }}/publish">{{ _('Publish Datasets') }}</a></li>
        <li><a href="/{{ lang }}/training">{{ _('Training') }}</a></li>
        <li><a href="/{{ lang }}/about">{{ _('About us') }}</a></li>
        <li><a href="/{{ lang }}/feedback">{{ _('Feedback') }}</a></li>
    {% endmacro %}

    <!--
      Main menu navbar
    -->
    <div class="container-fluid hidden-xs hidden-sm main-navigation-outer">
      <nav class="navbar navbar-main" role="main-navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs visible-sm" href="#">Päävalikko</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="main-navigation-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="main-navigation-links">
            {{ build_nav_bar(true) }}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div><!-- /.container -->
