    {% set current_url = request.environ.CKAN_CURRENT_URL %}
    {% set lang = h.lang() %}

    {% macro build_nav_bar(use_active_hilight) %}
        <li><a href="/{{ lang }}">{{ _('Home') }}</a></li>
        <li {% if current_url.startswith("/dataset") and not current_url.startswith("/dataset/new") and use_active_hilight == true %}class="active"{% endif %}><a href="/data/{{ lang }}/dataset">{{ _('Data Repositories') }}</a></li>
        <li {% if current_url.startswith("/organization") and use_active_hilight == true %}class="active"{% endif %}><a href="/data/{{ lang }}/organization">{{ _('Data Producers') }}</a></li>
        {# Link to different pages depending on if the user is logged in or not #}
        {% if c.userobj %}
            <li><a href="/data/{{ lang }}/dataset/new">{{ _('Publish Data') }}</a></li>
        {% else %}
            <li><a href="/{{ lang }}/publish">{{ _('Publish Data') }}</a></li>
        {% endif %}
        <li><a href="/{{ lang }}/news">{{ _('News') }}</a></li>
        <li><a href="/{{ lang }}/about">{{ _('About us') }}</a></li>
        <li><a href="/{{ lang }}/feedback">{{ _('Feedback') }}</a></li>
    {% endmacro %}

    <!--
        Top navbar
    -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/{{ lang }}">
            {{ h.site_logo(request.environ.HTTP_HOST, 'avoindata.fi') }}
          </a>
        </div>
        <div id="navbar-top-collapse" class="collapse navbar-collapse">
          <div class="visible-xs visible-sm">
            <ul class="nav navbar-nav user-nav navbar-right">
                {{ build_nav_bar(false) }}
                {% if c.userobj %}
                    <li><a href="/data/{{ lang }}/user/{{ c.userobj.name }}"> {{ _('User Info') }}</a></li>
                {% endif %}
                <ul class="nav navbar-nav lang-select">
                    <li class="list-item-class first"><a href="{% url_for current_url, locale='fi' %}">Suomeksi</a></li>
                    <li class="list-item-class"><a href="{% url_for current_url, locale='en' %}">In English</a></li>
                    <li class="list-item-class"><a href="{% url_for current_url, locale='sv' %}">På Svenska</a></li>
                </ul>
            </ul>
          </div>
          <div class="hidden-xs hidden-sm">
          <ul class="nav navbar-nav lang-select">
            <li></li>
            <li><a href="{% url_for current_url, locale='fi' %}">Suomeksi</a></li>
            <li><a href="{% url_for current_url, locale='en' %}">In English</a></li>
            <li><a href="{% url_for current_url, locale='sv' %}">På Svenska</a></li>
          </ul>
          <ul class="nav navbar-nav user-nav navbar-right user-nav-large">

                {% if not c.userobj %}
                <li>
                    <a href="/{{ lang }}/user/login" class="login">{{ _('Log in') }} &gt;</a>
                </li>
                {% else %}
                <li>
                    {{h.linked_user(c.userobj.name, 0, 0)}}
                </li>
                <li>
                    <a href="/{{ lang }}/user/logout" class="login">{{ _('Log out') }} &gt;</a>
                </li>
                {% endif %}

            <!-- <li><a href="#"><span class="icon icon-cart-navbar"></span> {{ _('Own checklist') }} (0)</a></li> -->
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!--
      Main menu navbar
    -->
    <div class="container hidden-xs hidden-sm">
      <nav class="navbar navbar-main" role="main-navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs visible-sm" href="#">Päävalikko</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="main-navigation-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="main-navigation-links">


            {{ build_nav_bar(true) }}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div><!-- /.container -->
