{% resource "ytp_resources/styles/ckan.css" %}
{% resource "ytp_resources/vendor/bootstrap/dist/css/bootstrap.css" %}
{% resource "ytp_resources/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" %}
{% resource "ytp_resources/vendor/jstree/dist/themes/default/style.css" %}
{% resource "ytp_resources/vendor/select2-bootstrap-css/select2-bootstrap.css" %}
{% resource "ytp_resources/vendor/@fortawesome/fontawesome/css/all.css" %}
{% resource "ytp_resources/vendor/@fortawesome/fontawesome/css/v4-shims.css" %}
