{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div class="container opendata-footer" {{ attributes.addClass(classes) }}>
    <div class="row">
      <div class="col-md-12">
        <img class="footer-logo" src="/resources/images/logo/avoindata_white.png"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>Keskitetty avoimen datan jakelualusta suomalaisten yksityishenkilöiden, yritysten sekä julkisen hallinnon organisaatioiden avoimille tietoaineistoille.</p>
        <p>Palvelusta vastaa Väestörekisterikeskus</p>
      </div>
      <div class="col-md-4">
        {{ content }}
      </div>
      <div class="footer-follow col-md-3">
        <div class="footer-follow-message row">
            <p>Seuraa meitä</p>
        </div>
        <div class="row">
          <div class="footer-socicons col-sm-3">
            <a href=""><span class="fab fa-twitter"></span></a>
          </div>
          <div class="footer-socicons col-sm-3">
            <a href=""><span class="fab fa-facebook-square"></span></a>
          </div>
          <div class="footer-socicons col-sm-3">
            <a href=""><span class="fab fa-github"></span></a>
          </div>
          <div class="footer-socicons col-sm-3">
            <a href=""><span class="fab fa-trello"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
