#!/bin/bash

EMAIL="{{ admin_email }}"
LOG=/var/log/clamav/scan.log
HOST=`hostname`
TEMPORARY_FILE=`mktemp /tmp/virus-alert.XXXXX`
LOG_ROTATED="$LOG-`date --rfc-3339=date`"
mv $LOG $LOG_ROTATED
gzip $LOG_ROTATED

clamscan --recursive --suppress-ok-results --infected --exclude-dir=/dev --exclude-dir=/proc --log=$LOG / > $TEMPORARY_FILE

if [ `grep Infected $TEMPORARY_FILE | grep -v 0 | wc -l` != 0 ]; then
    cat $TEMPORARY_FILE | mail -s "System virus detected at $HOST!" $EMAIL
fi

rm $TEMPORARY_FILE
