{% set dataset_type = package_type or 'dataset' %}

<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <i class="fa icon fa-sitemap"></i>

  <p>
    {% if package_type == 'apiset' %}
      {{ _('{actor} updated the api {dataset}').format(actor=ah.actor(activity), dataset=ah.apiset(activity))|safe }}
    {% else %}
      {{ _('{actor} updated the dataset {dataset}').format(actor=ah.actor(activity), dataset=ah.dataset(activity))|safe }}
    {% endif %}
    <br />
    <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
      {{ h.time_ago_from_timestamp(activity.timestamp) }}
      {% if can_show_activity_detail %}
        &nbsp;|&nbsp;
        <a href="{{ h.url_for(dataset_type ~ '.read', id=activity.object_id, activity_id=activity.id) }}">
          {{ _('View this version') }}
        </a>
        &nbsp;|&nbsp;
        <a href="{{ h.url_for(dataset_type ~ '.changes', id=activity.id) }}">
          {{ _('Changes') }}
        </a>
      {% endif %}
    </span>
  </p>
</li>