{% asset 'ytp_resources/ab_datepicker_js' %}

<div class="form-group control-full has-datepicker datepicker-inline datepicker-icon">

    <label for="{{'field-' + field.field_name}}">{{h.scheming_language_text(field.label)}}</label>
    <div class="controls form-group">
        <input class="date form-control ytp-input-element datepicker-inline" id="{{'field-' + field.field_name}}" type="{{ 'date' }}" name="{{ field.field_name }}" value="{{ data.get(field.field_name, '').split()[0] }}" placeholder="{{ h.scheming_language_text(field.form_placeholder) }}"  />
    </div>

    {% if field.description and field.description.strip() %}
    <div class="field-assistive-text">
        {{ _(field.description) }}
    </div>
    {% endif %}


</div>
