body{
	margin: 0;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	background: url('../../images/avoindata_page_not_found.jpg') no-repeat;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
	padding-top: 64px;
}

#heading{
	background-color: #333333;
	position: fixed;
	top: 0;
	min-height: 40px;
	width: 100%;
	padding: 0;
}

#heading > div {
	padding-left: 50px;
	margin-left: auto;
	margin-right: auto
}

#heading > div > a{
	padding: 10px;
	color: #ffffff;
	margin-right: 40%;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	float: left;
}

.container{
    max-width: 800px;
    min-width: 480px;
    width: 90%;
    height: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.container a{
  color: white;
  font-weight: 800;
}

.container p {
  font-weight: 700;
  margin-bottom: 0;
}

#content{
  background: linear-gradient(to right, rgba(56, 86, 128, 0.4), rgba(56, 86, 128, 0.0));
  border-radius: 5px;
  padding: 50px;
}

#content > h1 {
	font-weight: 700;
	line-height: 1.1;
	color: inherit;
  margin-top: 0;
  font-size: 48px;
}

#content > div {
	width: 400px;
	background-color: #cbe7ff;
	padding: 20px;
    border-radius: 20px;
}
