.page-not-found-header {
  background-color: rgb(255, 255, 255);;
  min-height: 67px;
  box-shadow: 0px 1px 0px 0px rgb(200, 205, 208);
  border-radius: 0px;
}

.page-not-found-header-link {
  height: 41px;
  float: left;
  font-size: 26px;
  font-weight: bold;
  line-height: 48px;
  padding: 10px;
  margin-left: 9%;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}


.container-page-not-found {
  margin-left: 10%;
  border-radius: 20px;
  display: block;
}

.page-not-found-content-title {
  color: rgb(34, 34, 34);
  font-family:"Source Sans Pro Light", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 40px;
  font-weight: 300;
  height:48px;
  margin-top: 65px;
}
.page-not-found-title {
  color: rgb(34, 34, 34);
  font-family: "Source Sans Pro SemiBold", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 28px;
  font-weight: 600;
}
.page-not-found-subtitle {
  color: rgb(41, 41, 41);
  font-family: "Source Sans Pro SemiBold", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 18px;
  font-weight: normal;
}
.page-not-found-link {
  color: rgb(42, 110, 187);
  font-family: "Source Sans Pro SemiBold", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 18px; font-weight: normal;
  text-decoration: none;
  display:block;
  padding-top: 10px;
}
.language-content{
  margin-top: 35px;
  display: block;
}
