flask==0.12 # https://github.com/ckan/datapusher/issues/165
flask-login==0.3.0 # https://github.com/ckan/datapusher/issues/165
simplejson==3.16.0 # https://github.com/ckan/ckan/issues/4299#issuecomment-399597263
