[Unit]
Description=Runs PRH api crawler

[Service]
ExecStart=/usr/lib/ckan/default/bin/paster --plugin=ckanext-prh prh-tools fetch-data ~/prh --package_id=testi --config=/etc/ckan/default/production.ini
RuntimeMaxSec=30
