<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        CKAN Organizations are used to create, manage and publish collections
        of datasets. 
      {% endtrans %}
      </p><p>
      {% trans %}        
        Users can have different roles within an Organization,
        depending on their level of authorisation to create, edit and publish.
      {% endtrans %}
      </p><p>
      {% trans %}            
        Some of the organizations listed here are automatically created. To
        create a public administration organization, please contact avoindata@vrk.fi.
      {% endtrans %}
      </p><p>
      {% trans %}           
        The number next to each organization depicts the total amount of datasets per organization and includes suborganizations.
      {% endtrans %}
      </p><p>
      {% trans %}
        If organization or its suborganizations do not have datasets, the organization branch is not shown in the tree, but it can be found with the search.
      {% endtrans %}
    </p>
  </div>
</div>