{% ckan_extends %}

{# Customizations for organization form #}

{% block basic_fields %}
    {{ super() }}

    {# Parent organization selector (from ckanext-hierarchy) #}
    <div class="control-group">
        <label class="control-label" for="field-parent">{{ _("Parent") }}</label>
        <div class="controls">
            <select id="field-parent" name="groups__0__name" data-module="autocomplete">
                {% set selected_parent = (data.get('groups') or [{'name': ''}])[0]['name'] %} {{ selected_parent }}
                <option value="" {% if not selected_parent %} selected="selected" {% endif %}>{{ _('None - top level') }}</option>
                {% for group in h.get_authorized_parents() %}
                    <option value="{{ group.name }}" {% if group.name == selected_parent %}selected="selected"{% endif %}>{{ group.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
  
    {# Producer type selector #}
    {{ form.select('producer_type', id='field-producer_type', label=_('Producer type'), options=h.get_dropdown_menu_contents('ytp_organization_types'), selected=data.get('producer_type'), error=errors.producer_type) }}
  
{% endblock %}

{# Hide custom fields #}
{% block custom_fields %}

{{ form.input('business_id', label=_('Business ID'), placeholder=_('Business ID'), value=data.business_id, error=errors.business_id, classes=['control-full']) }}
{{ form.input('oid', label=_('OID'), placeholder=_('OID'), value=data.oid, error=errors.oid, classes=['control-full']) }}
{{ form.input('alternative_name', label=_('Alternative name'), placeholder=_('Alternative name'), value=data.alternative_name, error=errors.alternative_name, classes=['control-full']) }}
{% call form.input_block("validity", _('Period of validity'), errors.validity, [], extra_html="") %}
    <div class="row">
    <div class="col-sm-5">
        <input class="form-control" id="valid_from" type="date" name="valid_from" value="{{ data.valid_from | empty_and_escape }}" placeholder="{%- trans -%}YYYY-MM-DD{%- endtrans -%}" />

    </div>
        <div class="col-sm-1">
        -
        </div>
    <div class="col-sm-5">
    <input class="form-control" id="valid_till" type="date" name="valid_till" value="{{ data.valid_till | empty_and_escape }}" placeholder="{%- trans -%}YYYY-MM-DD{%- endtrans -%}" />
    </div>
    </div>
{% endcall %}

{# Address info #}
    <h2 class="organization-subheading">{{_('Contact info')}}</h2>
{% call form.input_block("address", _('Address'), errors.address, [], extra_html="") %}
        <div class="control-full">
        <label>{{_('Street')}}, {{_('House number')}}, {{_('Staircase')}}, {{_('Apartment number')}}</label>
        <input class="form-control" name ="street_address" id="street_address" type="text" value="{{data.street_address}}" placeholder="{{_('Example street 1 apartment 5')}}"/>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>{{_('P.O. box')}}</label><br/>
                <input class="form-control" id="street_address_pobox" name="street_address_pobox" type="text" value="{{data.street_address_pobox}}" placeholder="{{ _('P.O. Box 123') }}">
            </div>
            <div class="col-sm-6">
                <label>{{_('Zip code')}}</label><br/>
                <input class="form-control" id="street_address_zip_code" type="text" name="street_address_zip_code" value="{{data.street_address_zip_code}}" placeholder="{{ _('12345') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>{{_('Place of Business')}}</label><br/>
                <input class="form-control" id="street_address_place_of_business" type="text" name="street_address_place_of_business" value="{{data.street_address_place_of_business}}" placeholder="{{ _('Example City') }}">
            </div>
            <div class="col-sm-6">
                <label>{{_('Country')}}</label><br/>
                <input class="form-control" id="street_address_country" type="text" name="street_address_country" value="{{data.street_address_country}}" placeholder="{{ _('Example country') }}">
            </div>
        </div>
{% endcall %}
{% call form.input_block("addressSpecifier", _('Address specifier'), errors.addressSpecifier, [], extra_html="") %}
<div class="control-full">
    <label>{{_('Unofficial name of the building')}}</label>
    <input class="form-control" id="street_address_unofficial_name" type="text" name="street_address_unofficial_name" value="{{data.street_address_unofficial_name}}" placeholder="{{ _('Example name') }}"/>
    <label>{{_('Building ID')}}</label>
    <input class="form-control" id="street_address_building_id" type="text" name="street_address_building_id" value="{{data.street_address_building_id}}" placeholder="{{ _('Example Id') }}"/>
</div>
{% endcall %}

{% call form.input_block("arrivalInstructions", _('Arrival instructions'), errors.arrivalInstructions, [], extra_html="") %}
<div class="control-full">
    <label>{{_('Getting there')}}</label>
    <textarea class="form-control" name="street_address_getting_there" id="street_address_getting_there" placeholder="{{ _('Example instructions') }}" >{{data.street_address_getting_there}}</textarea>
    <label>{{_('Parking')}}</label>
    <textarea class="form-control" name="street_address_parking" id="street_address_parking" placeholder="{{ _('Example parking instructions') }}">{{data.street_address_parking}}</textarea>
    <label>{{_('Arrival by public transport')}}</label>
    <input class="form-control" id="street_address_public_transport"  name="street_address_public_transport" value="{{data.street_address_public_transport}}" placeholder="{{ _('Example instructions arrival by public transport') }}"/>
    <label>{{_('URL for public transport')}}</label>
    <input class="form-control" id="street_address_url_public_transport"  name="street_address_url_public_transport" value="{{data.street_address_url_public_transport}}" placeholder="{{ _('http://publictransport.example.com/') }}"/>
</div>
{% endcall %}


{# Homepage functionality #}
    <script type="text/javascript">

        function CreateButtonString(editButton){

            if (editButton == true){
                var buttons = "<a class='homepage button' onclick=\"Edit($(this).parents('.homepage').attr('id'))\">{{_('Edit')}}</a><a class='homepage button' onclick=\"Delete($(this).parents('.homepage').attr('id'))\">{{_('Delete')}}</a>";
            }
            else{
                var buttons = "<a class='homepage button btn btn-primary' onclick=\"Save($(this).parents('.homepage').attr('id'))\">{{_('Save')}}</a><a class='homepage button btn btn-danger' onclick=\"Delete($(this).parents('.homepage').attr('id'))\">{{_('Delete')}}</a>";
            }

            return buttons;
        }

        function AddHomepage(){
            var homepageCount = $(".homepage").length;
            var homepage = document.createElement('div');
            homepage.id = "Homepage_" + ++homepageCount;
            var homepageElements = $('#HiddenFormTemplate').clone();
            homepageElements.removeAttr('id');
            homepageElements.children().removeClass('hiddenFormTemplate');
            homepageElements.removeAttr("disabled").find('*').removeAttr("disabled");

            var buttons = $('<div class="save-container">' + CreateButtonString(false) + '</div>');

            $(homepage).addClass('homepage single').append(homepageElements).append(buttons);
            var homepages = $("#homepages");
            homepages.append(homepage);
        }

        function Save(formId){
            var homepage = $("#" + formId);

            //Get values from form
            var title = homepage.find("#homepage_titles_element").val();
            var url = homepage.find("#homepage_urls_element").val();
            var description = homepage.find("#homepage_descriptions_element").val();
            var wcag = homepage.find("#homepage_wcags_element").val();
            var accessibility = homepage.find("#homepage_accessibilities_element").val();
            var plainlanguage = homepage.find("#homepage_plain_language_availabilities").val();

            //validate mandatory values
            if (title == '' || url == '' ){
                if ( title == '' ){
                    homepage.find("#homepage_titles_element").after('<span class="error-block">{{_("Missing value")}}</span>');
                }
                if ( url == ''){
                    homepage.find("#homepage_urls_element").after('<span class="error-block">{{_("Missing value")}}</span>');
                }
                return;
            }
            homepage.children().hide();

            homepage.find("#homepage_titles").val(title).removeAttr('disabled');
            homepage.find("#homepage_urls").val(url).removeAttr('disabled');
            homepage.find("#homepage_descriptions").val(description).removeAttr('disabled');
            homepage.find("#homepage_wcags").val(wcag).removeAttr('disabled');
            homepage.find("#homepage_accessibilities").val(accessibility).removeAttr('disabled');
            var plainlanguageAvailable = "{{ _('Plain language translation available') }}"
            var plainlanguageNotAvailable = "{{ _('Plain language translation not available') }}"
            plainlanguage = plainlanguage == "0" ? plainlanguageNotAvailable : plainlanguageAvailable;

            var template = "<h3>" + title + "</h3>" +
                '<a href="' + url + '">' + url + '</a>' +
                '<p>' + description + '</p>' +
                '<p>' + accessibility + '</p>' +
                '<p>' + wcag + '</p>' +
                '<p>' + plainlanguage + '</p>';

            var content = $("<div class='link-container'>" + CreateButtonString(true) + "</div>" + "<div class='homepage static'>" + template + '</div>');
            homepage.append(content);
        }

        function Delete(formId){
            console.log(formId);
            $("#" + formId).remove();
        }

        function Edit(formId){
            var form = $("#" + formId);

            //move values form hidden elements for edits
            form.find("#homepage_titles_element").val(form.find('#homepage_titles').val());
            form.find("#homepage_urls_element").val(form.find('#homepage_urls').val());
            form.find("#homepage_descriptions_element").val(form.find('#homepage_descriptions').val());
            form.find("#homepage_wcags_element").val(form.find('#homepage_wcags').val());
            form.find("#homepage_accessibilities_element").val(form.find('#homepage_accessibilities').val());

            form.find('.homepage.button, .homepage.static').remove();
            form.children().children().removeClass('hiddenFormTemplate');
            form.find('.homepage').show().parent().append($('<div class="save-container">' + CreateButtonString(false) + '</div>'));

        }

        function ToggleCheckbox(formId){
            var hiddenInput = $(formId).parents("div[id^=Homepage]").find('#homepage_plain_language_availabilities:hidden');
            var currentValue = hiddenInput.val();
            var newValue = currentValue == "0" ? "1" : "0";
            hiddenInput.val(newValue);
        }

    </script>
    <h2 class="organization-subheading">{{_('Homepages')}}</h2>
    <div id="homepages">
    <a onclick=AddHomepage() >{{_('Add Homepage')}}</a>
    {% set page_list = data.get('homepage_urls') %}
    {% set desc_list = data.get('homepage_descriptions') %}
    {% set title_list = data.get('homepage_titles') %}
    {% set accessibility_list = data.get('homepage_accessibilities') %}
    {% set wcag_list = data.get('homepage_wcags') %}
    {% set plainlanguage_list = data.get('homepage_plain_language_availabilities') %}

    {% if page_list %}
        {% for page in page_list %}
            <div id="Homepage_{{ loop.index }}" class="homepage single">
                <div class="link-container">
                    <a class='homepage button' onclick="Edit($(this).parents('.homepage').attr('id'))">{{_('Edit')}}</a><a class='homepage button' onclick="Delete($(this).parents('.homepage').attr('id'))">{{_('Delete')}}</a>
                </div>
                <div class="homepage static">
                    <h3>{{title_list[loop.index0]}}</h3>
                    <a href="{{page}}">{{page}}</a>
                    <p>{{desc_list[loop.index0]}}</p>
                    <p>{{accessibility_list[loop.index0]}}</p>
                    <p>{{wcag_list[loop.index0]}}</p>
                    <p>
                        {% if plainlanguage_list[loop.index0] == "1" %}
                            {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)", 'checked': 'checked' } %}
                            {{ _('Plain language translation available') }}
                        {% else %}
                            {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)"} %}
                            {{ _('Plain language translation not available') }}
                        {% endif %}
                    </p>
                </div>
                <div class="homepage editpage hiddenFormTemplate">
                    <input type="hidden" id="homepage_titles" name="homepage_titles" value="{{title_list[loop.index0]}}" class="hiddenFormTemplate"/>
                    {{ form.input('homepage_titles_element', label=_('Title'), placeholder=_('Title'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate']) }}
                    <input type="hidden" id="homepage_urls" name="homepage_urls" value="{{page}}" class="hiddenFormTemplate"/>
                    {{ form.input('homepage_urls_element', label=_('URL'), placeholder=_('http://example.com/'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate']) }}
                    <input type="hidden" id="homepage_descriptions" name="homepage_descriptions" value="{{desc_list[loop.index0]}}" class="hiddenFormTemplate"/>
                    {{ form.markdown('homepage_descriptions_element', label=_('Description'), placeholder=_('A little information about the item...'), value="", error=errors.description, classes=['hiddenFormTemplate']) }}
                    <input type="hidden" id="homepage_accessibilities" name="homepage_accessibilities" value="{{accessibility_list[loop.index0]}}" class="hiddenFormTemplate" />
                    {{ form.markdown('homepage_accessibilities_element', label=_('Accessibility'), placeholder=_('Accessibility'), value="", error=errors.description, classes=['hiddenFormTemplate']) }}
                    <input type="hidden" id="homepage_wcags" name="homepage_wcags" value="{{wcag_list[loop.index0]}}" class="hiddenFormTemplate" />
                    {{ form.input('homepage_wcags_element', label=_('WCAG'), placeholder=_('WCAG'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate']) }}
                    <input type="hidden" id="homepage_plain_language_availabilities" name="homepage_plain_language_availabilities" value="{{plainlanguage_list[loop.index0]}}" class="hiddenFormTemplate"/>
                    {{ form.checkbox('ToggleCheckboxValue', label=_('Plain language translation available'), error=errors.description, classes=['hiddenFormTemplate'], attrs=plainlanguageCheckbox) }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    </div>

    <div id="HiddenFormTemplate" class="homepage">
        <input type="hidden" id="homepage_titles" name="homepage_titles" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ form.input('homepage_titles_element', label=_('Title'), placeholder=_('Title'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate'], attrs={"disabled": "disabled"}) }}
        <input type="hidden" id="homepage_urls" name="homepage_urls" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ form.input('homepage_urls_element', label=_('URL'), placeholder=_('http://example.com/'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate'], attrs={"disabled": "disabled"}) }}
        <input type="hidden" id="homepage_descriptions" name="homepage_descriptions" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ form.markdown('homepage_descriptions_element', label=_('Description'), placeholder=_('A little information about the item...'), value="", error=errors.description, classes=['hiddenFormTemplate'], attrs={"disabled": "disabled"}) }}
        <input type="hidden" id="homepage_accessibilities" name="homepage_accessibilities" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ form.markdown('homepage_accessibilities_element', label=_('Accessibility'), placeholder=_('Accessibility'), value="", error=errors.description, classes=['hiddenFormTemplate'], attrs={"disabled": "disabled"}) }}
        <input type="hidden" id="homepage_wcags" name="homepage_wcags" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ form.input('homepage_wcags_element', label=_('WCAG'), placeholder=_('WGAC'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate'], attrs={"disabled": "disabled"}) }}
        <input type="hidden" id="homepage_plain_language_availabilities" name="homepage_plain_language_availabilities" value="0" class="hiddenFormTemplate" disabled="disabled"/>
        {{ form.checkbox('ToggleCheckboxValue', label=_('Plain language translation available'), error=errors.description, classes=['hiddenFormTemplate'], attrs={"disabled": "disabled", "onclick": "ToggleCheckbox(this)"}) }}
    </div>
{% endblock %}
