{#
Displays a tree of organzations
#}

{% set url_prefix = h.url_for(controller='organization', action='read', id='') %}

<ul class="no-bullet organization-tree">
  {% for node in top_nodes recursive %}
    <li id="node_{{ node.name }}">
      {% if node.highlighted %}
        <strong>
      {% endif %}
      <a href="{{ url_prefix }}/{{ node.name }}">{{ h.extra_translation(node, 'title') or node.name }}</a>
      {% if node.highlighted %}
        </strong>
      {% endif %}

      {% if node.children %}
        <ul class="no-bullet organization-subtree"> {{ loop(node.children) }} </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
