{#
/**
 * @file
 * Avoindata App Feed Block
 *
 * @ingroup themeable
 */
#}
<div class="avoindata-appfeed">
  <div class="avoindata-appfeed-container">
    <div class="avoindata-appfeed-appcontainer col-lg-7 col-md-7 col-sm-12">
      <div class="avoindata-appfeed-appcontainer-header">
        <h3>
          {% trans %}
          Most recent applications
          {% endtrans %}
        </h3> 
      </div>
      <div class="avoindata-appfeed-appcontainer-applist">
        {{  applications  }}
        <a href="/data/{{ language }}/showcase">
          <span class="avoindata-appfeed-link-bullet">
          >
          </span>
          {% trans %}
          Show all applications
          {% endtrans %}
        </a>
      </div>
    </div>
    <div class="avoindata-appfeed-twittercontainer col-lg-5 col-md-5 col-sm-12">
      {% if language == 'fi' %}
        <a class="twitter-timeline" data-lang="fi" data-height="605" data-dnt="true" csp=on href="https://twitter.com/avoindatafi">Tweetit k채ytt채j채lt채 avoindatafi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      {% elseif language == 'sv' %}
        <a class="twitter-timeline" data-lang="sv" data-height="605" data-dnt="true" csp=on  href="https://twitter.com/avoindatafi">Tweets av avoindatafi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      {% elseif language == 'en' %}
        <a class="twitter-timeline" data-lang="en" data-height="605" data-dnt="true" csp=on href="https://twitter.com/avoindatafi">Tweets by avoindatafi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      {% endif %}
    </div>
  </div>
</div>
