-e git+https://github.com/okfn/ckanext-harvest.git@stable#egg=ckanext-harvest
git+https://github.com/yhteentoimivuuspalvelut/ckanext-drupal7.git
git+https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-groups.git
git+https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-drupal.git
git+https://github.com/yhteentoimivuuspalvelut/ckanext-ytp-theme.git
redis
Babel
lingua
pika==0.9.8
