deb {{ apt_source_url }}/ubuntu/ precise main restricted
deb-src {{ apt_source_url }}/ubuntu/ precise main restricted
deb {{ apt_source_url }}/ubuntu/ precise-updates main restricted
deb-src {{ apt_source_url }}/ubuntu/ precise-updates main restricted
deb {{ apt_source_url }}/ubuntu/ precise universe
deb-src {{ apt_source_url }}/ubuntu/ precise universe
deb {{ apt_source_url }}/ubuntu/ precise-updates universe
deb-src {{ apt_source_url }}/ubuntu/ precise-updates universe
deb {{ apt_source_url }}/ubuntu/ precise multiverse
deb-src {{ apt_source_url }}/ubuntu/ precise multiverse
deb {{ apt_source_url }}/ubuntu/ precise-updates multiverse
deb-src {{ apt_source_url }}/ubuntu/ precise-updates multiverse
deb {{ apt_source_url }}/ubuntu/ precise-backports main restricted universe multiverse
deb-src {{ apt_source_url }}/ubuntu/ precise-backports main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu precise-security main restricted
deb-src http://security.ubuntu.com/ubuntu precise-security main restricted
deb http://security.ubuntu.com/ubuntu precise-security universe
deb-src http://security.ubuntu.com/ubuntu precise-security universe
deb http://security.ubuntu.com/ubuntu precise-security multiverse
deb-src http://security.ubuntu.com/ubuntu precise-security multiverse
