{% extends 'page.html' %}
{#% ckan_extends %#}

{% block primary_content_inner %}
<div>
  {% asset 'ckanext-dcat/yasgui_js' %}
  {% asset 'ckanext-dcat/yasgui_css' %}

  {# Hide endpoint input #}
  <style>
    .yasgui .autocompleteWrapper {
      display: none !important;
    }
  </style>

  <section class="page-description">
    <p>
    {% trans %}You can use the SPARQL search to find datasets and their metadata by using SPARQL query language. Datasets on opendata.fi are published as RDF triples and they follow the DCAT-AP specification. You can find information on <a href="https://www.avoindata.fi/ns/">opendata.fi’s DCAT AP extension here</a>.{% endtrans %}
    </p>

    <p>
    {% trans %}<a href="https://www.w3.org/TR/rdf-sparql-query/">Read more about SPARQL.</a>{% endtrans %}
    </p>

    <p>
    {% trans %}Data.europa.eu provides <a href="https://data.europa.eu/en/about/sparql">examples on how to use SPARQL queries</a>.{% endtrans %}
    </p>
  </section>
  <div data-module="yasgui" data-module-endpoint="{{ h.url_for('sparql.sparql_query') }}"></div>
</div>
{% endblock %}
