#guide-search-form {
  margin-top: 12px;
  padding-right: 0;
  padding-left: 0;
}

#guide-search-field {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: white;
  border: 1px solid #ccc;
}

#guide-search-button {
  height: 40px;
  padding-right: 19px;
  padding-left: 19px;
  border-radius: 3px;
  background-color: @btn-dark-bg;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#guide-header {
  margin: 0;
  color: rgb(40, 40, 40);
  font-family: "Source Sans Pro Light";
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  margin-bottom: 12px;
}
