.avoindata-guide-container .secondary {
  padding-top: 15px;
}

#guide-search-form {
  margin-top: 12px;
  padding-left: 14px;
  padding-right: 22px;
}

#guide-search-field {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: white;
  border: 1px solid #ccc;
}

#guide-search-button {
  height: 40px;
  padding-right: 19px;
  padding-left: 19px;
  border-radius: 3px;
  background-color: @btn-dark-bg;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#guide-page {
  background-color: #fafafa;
}

#guide-page > .avoindata-guide-container {
  background-color: #fff;
  border: 1px solid #ced2d5;
  padding-top: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

#guide-header {
  margin: 0 0 24px 0;
  color: @new-layout-primary-text-color;
  font-family: @font-family-sans-serif;
  font-size: 40px;
  font-weight: @font-weight-light;
  line-height: 48px;
}

.guide-content {
  color: @new-layout-primary-text-color;
  font-family: @font-family-sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
}

.guide-content p {
  margin-bottom: 27px;
}

.guide-content p:last-child {
  margin-bottom: 17px;
}
