{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
<footer class="footer {{ container }}" role="contentinfo">
  <div class="footer__top">
    <div class="footer-row">
      <div class="footer-col footer-col--left footer__brand-box">
        <div class="footer__logo">
          <img id="footer-logo" src="/themes/avoindata/images/logo.png" alt="{{ 'Home'|t }}" />
        </div>
        <div class="footer__logo-text">
          <div>
            <span>Verkkopalvelun kehittämisestä vastaa</span>
            <span>Digi- ja väestötietovirasto.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-row">
      <div class="footer-col footer-col--left footer-nav">
        {{ drupal_region('footer_content') }}
      </div>
    </div>
  </div>
  <div class="footer__bottom" {{ attributes.addClass(classes) }}>
    <div class="footer-row">
      <div class="footer-col footer-col--right">
        <div class="footer-socicons">
          <a href="https://twitter.com/avoindatafi"><span class="fab fa-twitter"></span> @avoindatafi</a>
        </div>
        <div class="footer-socicons">
          <a href="https://www.facebook.com/groups/fi.okfn"><span class="fab fa-facebook-square"></span> @fi.okfn</a>
        </div>
      </div>
    </div>
  </div>
</footer>
