{% import 'macros/form.html' as form %}

{% macro input_multiple(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false) %}
    {% resource 'ytp_dataset_js/form.js' %}
    {% do classes.append('control-medium') %}
    {%- set extra_html = caller() if caller -%}
    {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="multiple-values">
        {% if value %}
        {% set values = value if value.append else [value] %}
        {% for value_item in values %}
        {% if value_item %}
        <div class="multiple-value-group">
            <input id="{{ id or name }}-{{ loop.index }}" type="{{ type }}" name="{{ name }}" value="{{ value_item | empty_and_escape }}" placeholder="{{ placeholder }}" class="multiple-value form-control" {{ form.attributes(attrs) }} />
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="multiple-value-group">
            <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="" placeholder="{{ placeholder }}" class="multiple-value form-control" {{ form.attributes(attrs) }} />
        </div>
    </div>
    {% endcall %}
{% endmacro %}

{# Added is_required support for image_upload to show that nice red asterisk when file upload fields are set as required #}
{% macro image_upload(data, errors, field_url='image_url', field_upload='image_upload', field_clear='clear_upload',
                      is_url=false, is_upload=false, is_upload_enabled=false, placeholder=false,
                      url_label='', upload_label='', field_name='image_url', is_required=false)  %}
  {% set placeholder = placeholder if placeholder else _('http://example.com/my-image.jpg') %}
  {% set url_label = url_label or _('Image URL')  %}
  {% set upload_label = upload_label or _('Image')  %}

  {% if is_upload_enabled %}
  <div class="image-upload" data-module="image-upload" data-module-is_url="{{ 'true' if is_url else 'false' }}" data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
       data-module-field_url="{{ field_url }}" data-module-field_upload="{{ field_upload }}" data-module-field_clear="{{ field_clear }}" data-module-upload_label="{{ upload_label }}" data-module-field_name="{{ field_name }}", data-module-is_required="{{ is_required }}">
  {% endif %}

  {{ form.input(field_url, label=url_label, id='field-image-url', type='url', placeholder=placeholder, value=data.get(field_url), error=errors.get(field_url), classes=['control-full'], is_required=is_required) }}

  {% if is_upload_enabled %}
    {{ form.input(field_upload, label=upload_label, id='field-image-upload', type='file', placeholder='', value='', error='', classes=['control-full'], is_required=is_required) }}
    {% if is_upload %}
      {{ form.checkbox(field_clear, label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
    {% endif %}
  {% endif %}

  {% if is_upload_enabled %}</div>{% endif %}

{% endmacro %}
