{% extends "page.html" %}

{% block page_primary_action %}
{% endblock %}

{% block primary_content %}
  <div class="row">
    <h1 class="pull-left">{% block page_heading %}{{ _('Advanced search') }}{% endblock %}</h1>
  </div>
  <div class="row">
    {% block advanced_search_form %}
      <div class="search-container control-group p-4">
        <form class="advanced-search-form" method="get">
            <div class="d-flex mb-4">
                <div class="flex-1 mr-5">
                    {% snippet 'advanced_search/snippets/search-bar.html', label="Hakusanat", placeholder="Kirjoita mitä olet etsimässä" %}
                </div>
                {% snippet 'advanced_search/snippets/radio-select.html', label="Haun kohdistuminen" %}
            </div>
          <div>
            <div>
              <h2>Ominaisuudet</h2>
            </div>
            <div class="d-flex">
                {% snippet 'advanced_search/snippets/multiselect.html', label="Kategoria", options=options, allow_select_all=true %}
                {% snippet 'advanced_search/snippets/multiselect.html', label="Julkaisja", options=options, allow_select_all=true %}
                {% snippet 'advanced_search/snippets/multiselect.html', label="Lisenssi", options=options, allow_select_all=true %}
                {% snippet 'advanced_search/snippets/multiselect.html', label="Formatti", options=options, allow_select_all=true %}
            </div>
          </div>
          <div class="d-flex mb-4">
              <!-- TODO: Separate into different module -->
              <div class="mr-4">
                  <h2>Julkaisu päivä</h2>
                  <div class="d-flex">
                    {% snippet 'advanced_search/snippets/datepicker.html', label="Julkaistu ennen"  %}
                    {% snippet 'advanced_search/snippets/datepicker.html', label="Julkaistu jälkeen"  %}
                  </div>
              </div>
              <div>
                  <h2>Päivitys päivä</h2>
                  <div class="d-flex">
                    {% snippet 'advanced_search/snippets/datepicker.html', label="Päivitetty ennen"  %}
                    {% snippet 'advanced_search/snippets/datepicker.html', label="Päivitetty jälkeen"  %}
                </div>
              </div>
          </div>
          <div>
            <button type="submit" class="suomi-button suomi-button-primary mr-3">
                Hae
            </button>
            <button name="clear" class="suomi-button suomi-button-secondary">
                Tyhjennä rajaukset
            </button>
          </div>
        </form>
      </div>
    {% endblock %}
  </div>

  {# Show a hierarchical tree of organizations if no search parameters are given. Otherwise show a flat list of results. #}
  {% block advanced_result_list %}
    <ul class="result-list">
        <li class="result-item">Item 1</li>
        <li class="result-item">Item 2</li>
        <li class="result-item">Item 3</li>
        <li class="result-item">Item 4</li>
        <li class="result-item">Item 5</li>
    </ul>
  {% endblock %}
{% endblock %}
