{#
    Displays a single of dataset.
    
    package        - A package to display.
    item_class     - The class name to use on the list item.
    hide_resources - If true hides the resources (default: false).
    banner         - If true displays a popular banner (default: false).
    truncate       - The length to trucate the description to (default: 400)
    truncate_title - The length to truncate the title to (default: 80).
    
    Example:
    
      {% snippet 'snippets/package_item.html', package=c.datasets[0] %}
    
    #}
    {% set truncate = truncate or 220 %}
    {% set truncate_title = truncate_title or 120 %}
    {% set title = h.extra_translation(package, 'title', fallback=package.name) %}
    {% set notes = h.markdown_extract(h.extra_translation(package, 'notes', markdown=False), extract_length=truncate) %}
    {% set organization_notes = h.markdown_extract(h.extra_translation(package, 'description_translated', markdown=False), extract_length=truncate)  %}
    
    {# The term showcase is not used in this module, but we need it's translation because 
    of the package type that gets used in the template
    #}
    {% set showcase_translation_placeholder = _('showcase')%}

    <div class="{{ item_class or 'general-search-item' }}">
        {% block package_item_content %}
            <div class="dataset-content">

              <div class="d-flex align-items-center justify-content-between">
                <h3 class="dataset-heading dataset-title">
                    {% if package.type == 'organization' %}
                    <a class="organization-title" href="{{ h.url_for('organization.read', id=package.id) }}">
                        {{ package.title }}
                      </a>
                    {% else %}
                        {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', id=package.name)) }}
                        {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
                    {% endif %}
                </h3>

                <p class="dataset-heading dataset-type"> {{_(package.type) | capitalize}} </p>
              </div>

                {% if package.type == 'organization' %}
                    <p class="general-search-item-notes">
                       
                        {{ organization_notes}}
                    </p>
                {% else %}
                    {% if notes %}
                        <p class="general-search-item-notes">
                            {{ notes | urlize }}
                        </p>
                    {% endif %}
                {% endif %}
                <div class="d-flex justify-content-between flex-wrap mt-2">
                    <div id="dataset-info">
                        <!-- After producers get added, add an if check here for different content for them -->
                        {% if package.type == 'showcase' %}
                        <!-- showcases do not have an organization so skip, maybe add the publisher?-->
                        {% else %}
                            {% if package.organization %}
                            <small>{{ h.get_translated(package.organization, 'title') or package.organization.name}}</small>
                            {% endif %}
                        {% endif %}
                    </div>    
                </div>
            </div>
        {% endblock %}
    </div>
    