{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "YTP auto-deployed smoke-test",

  "Parameters" : {
    "KeyName": {
      "Description" : "Name of an existing EC2 KeyPair to enable SSH access to the instance",
      "Type": "String",
      "MinLength": "1",
      "MaxLength": "255",
      "AllowedPattern" : "[\\x20-\\x7E]*",
      "ConstraintDescription" : "can contain only ASCII characters."
    },
    "DeploymentId": {
      "Description" : "ID of the deployment",
      "Type": "String",
      "MinLength": "1",
      "MaxLength": "255",
      "AllowedPattern" : "[\\x20-\\x7E]*",
      "ConstraintDescription" : "can contain only ASCII characters."
    }
  },

  "Mappings" : {
    "RegionMap" : {
      "eu-west-1": { "AMI" : "ami-04d12673" }
    }
  },

  "Resources" : {
    "YtpWebServer" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "KeyName" : { "Ref" : "KeyName" },
        "InstanceType" : "m3.medium",
        "SecurityGroups" : ["ytp-autodeploy"],
        "ImageId" : { "Fn::FindInMap" : [ "RegionMap", { "Ref" : "AWS::Region" }, "AMI" ]},
        "Tags": [{ "Key" : "Name", "Value" : {"Fn::Join" : [ "-", [ { "Ref" : "DeploymentId" }, "web" ] ]} },{ "Key" : "DeploymentRole", "Value" : "webserver" }]
      }
    },
    "YtpDbServer" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "KeyName" : { "Ref" : "KeyName" },
        "InstanceType" : "m3.medium",
        "SecurityGroups" : ["ytp-autodeploy"],
        "ImageId" : { "Fn::FindInMap" : [ "RegionMap", { "Ref" : "AWS::Region" }, "AMI" ]},
        "Tags": [{ "Key" : "Name", "Value" : {"Fn::Join" : [ "-", [ { "Ref" : "DeploymentId" }, "db" ] ]} },{ "Key" : "DeploymentRole", "Value" : "dbserver" }]

      }
    }
  },

  "Outputs" : {
    "InstanceIdWeb" : {
      "Description" : "InstanceId of the newly created EC2 instance",
      "Value" : { "Ref" : "YtpWebServer" }
    },
    "PublicDNSWeb" : {
      "Description" : "Public DNSName of the newly created EC2 instance",
      "Value" : { "Fn::GetAtt" : [ "YtpWebServer", "PublicDnsName" ] }
    },
    "InstanceIdDb" : {
      "Description" : "InstanceId of the newly created EC2 instance",
      "Value" : { "Ref" : "YtpDbServer" }
    },
    "PublicDNSDb" : {
      "Description" : "Public DNSName of the newly created EC2 instance",
      "Value" : { "Fn::GetAtt" : [ "YtpDbServer", "PublicDnsName" ] }
    }
  }
}
