@import "../variables.less";

.dataset-header-row {
  .content_action {
    font-weight: 600;
    font-size: 16px;

    .opendata-content-action {
      color: @active-tab-color;

      a {
        color: @active-tab-color;
      }
    }
  }

  .high-value-dataset {
    .fa-stack {
      color: @opendata-brand-complementary;
      font-size: 1rem;
      line-height: 2;
    }
  }
}

.icon-private {
  color: @opendata-brand-danger;
  vertical-align: middle;
  height: 1.3em;
}

.private-or-draft-dataset {
  background: #00347a;
  height: 80px;
}

.private-or-draft-dataset div {
  float: left;
  padding-top: 10px;
}

.private-or-draft-dataset img {
  height: 20px;
  width: 20px;
}

.private-or-draft-dataset span {
  color: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  width: 740px;
  display: inline-block;
  vertical-align: middle;
}

.private-or-draft-dataset a {
  float: right;
  color: #fff;
  height: 40px;
  font-size: 14px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 10px 15px 0 15px;
  text-decoration: none;
}

.deleted-dataset {
  background: #c33932;
}
