// Additional info resource list
.resource-list {
  margin: 0;

  .resource-item:last-child {
    border-bottom: 1px solid rgb(200, 205, 208);
  }

  .resource-item {
    border-top: 1px solid @color--extra-light-grey;
    border-radius: 0;
    padding: @padding__resource-list-item;
    display: flex;
    align-items: center;

    &:first-child {
      border-top: 1px solid @color--extra-light-grey;
    }

    &:hover {
      background: transparent;
    }

    .resource-item__icon {
      position: static;
      margin-right: @padding-x--common;
      align-self: center;
    }

    .resource-item__info__description {
      margin-bottom: 0;
    }

    .resource-item__actions {
      text-transform: uppercase;
      line-height: 35px;
      font-weight: 600;
      margin-left: auto;

      a {
        margin: @margin__action-buttons;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .resource-item__info__title {
      color: @opendata-brand-primary;
      transition: color @transition-duration--short @transition-timing-function--default;
      font-size: @font-size__module-title;
      font-weight: @font-weight-normal;
      line-height: 24px;
      font-family: @font-family-sans-serif;
    }

    a {
      color: @opendata-brand-primary;
      transition: color @transition-duration--short @transition-timing-function--default;
      font-size: @font-size__module-title;
      font-weight: @font-weight-heavier;
      line-height: 24px;
      font-family: @font-family-sans-serif;

      &:hover {
        color: @opendata-brand-primary--highlight;
      }
    }
  }
}

.resource-list-apiset {
  .resource-item {
    padding: @padding__resource-list-item !important;
  }

  .resource-item__info {
    margin-top: 4px;
  }

  .resource-item__actions {
    margin-top: 4px;
  }
}
