// Additional info resource list
.resource-list {
  margin: 0;

  .resource-item:last-child {
     border-bottom: 1px solid rgb(200, 205, 208);
  }

  .resource-item {
    border-top: 1px solid @color--extra-light-grey;
    border-radius: 0;
    padding: @padding__resource-list-item;
    display: flex;

    &:hover {
      background: transparent;
    }


    .resource-item__icon {
      position: static;
      margin-right: @margin-x__common;
      align-self: center;
    }

    .resource-item__info__description {
      margin-bottom: 0;
    }

    .resource-item__actions {
      text-transform: uppercase;
      line-height: 14px;
      font-weight: 600;
      margin-left: auto;

    }
    .resource-item__info__title {
      color: @opendata-brand-primary;
      transition: color @transition-duration--short @transition-timing-function--default;
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      font-family: SourceSansPro-Regular;
    }
    a {
      color: @opendata-brand-primary;
      transition: color @transition-duration--short @transition-timing-function--default;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      font-family: SourceSansPro-Semibold;


      &:hover {
        color: @opendata-brand-primary--highlight;
      }
    }
  }
}

.resource-list-apiset {

  .resource-item {
    padding: 11px 10px 11px 15px!important;
  }

  .resource-item__info {
    margin-top: 4px;
  }
  .resource-item__actions {
    margin-top: 4px;
  }
}
