@import "../variables.less";

.dataset-list {
  padding: 0;
  background-color: @background-color__content;
}

.dataset-item {
  position: relative;
  border: 1px solid @opendata-brand-border-gray;
  border-bottom: none;
  margin-bottom: 0;
  padding: @padding__content;

  &:last-of-type {
    border-bottom: 1px solid @opendata-brand-border-gray;
  }

  .dataset-content {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6e6e6e;
    font-size: 14px;
    font-family: @font-family-sans-serif-semibold;
  }

  .dataset-heading {
    font-family: @font-family-sans-serif-semibold;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    color: @new-layout-secondary-text-color;
    margin-top: 0;
    margin-bottom: 9px;
    word-break: break-word;
    max-height: 56px;
    overflow: hidden;

    a {
      color: @new-layout-secondary-text-color;

      &:hover,
      &:active {
        color: @new-layout-secondary-text-color;
      }
    }
  }

  .dataset-item-notes {
    font-family: @font-family-sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    color: @new-layout-primary-text-color;
  }

  .dataset-item-organization {
    margin-bottom: 12px;
    color: @new-layout-nonimportant-text-color;
    font-family: @font-family-sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;

    a,
    a:hover,
    a:active {
      color: @new-layout-nonimportant-text-color;
    }
  }
}

.dataset-title {
  float: left;
}

.private,
.draft,
.deleted {
  float: right;
  color: @suomi-whiteBase;
  text-transform: uppercase;
  font-size: @font-size-smaller-base;
  font-family: @font-family-sans-serif-semibold;
  font-weight: @font-weight-heavier;
  text-align: center;
  background: @opendata-brand-blue;
  border: 1px solid @opendata-brand-blue;
  height: 28px;
  padding: 3px 7px;
  line-height: 18px;
}

.deleted {
  background: @suomi-alertBase;
  border: 1px solid @suomi-alertBase;
}
