.navbar-header .navbar-toggle {
  margin-right: 25px;
}

// Override "sidebar" arrow
@media (min-width: @screen-sm-min) {
  .nav-item.active > a::before,
  .nav-aside li.active a::before {
    content: none;
  }
}

.nav-aside > li,
.nav-simple > li {
  a {
    color: @facet-link-text-color;
    text-decoration: none;
    margin: 0;

    &:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }

  &:hover {
    background-color: @background-color--highlight;
  }

  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: @padding-y__navigation;
  padding-bottom: @padding-y__navigation;
  padding-left: @padding-x__navigation;
  padding-right: 0;
  border-style: none none none solid;
  border-left: none;
  font-size: 13px;

  &.active {
    a {
      background-color: transparent;
      color: @facet-link-text-color;
      font-weight: @font-weight-heavier;

      &:hover {
        background-color: transparent;
        color: @facet-link-text-color;
      }
    }

    color: #219ad3;
    border-left: 4px solid @sidebar-block-color-header;
    padding-left: @padding-x__navigation - @border-width__navigation;
    background-color: @background-color--highlight;
  }
}

//In the resources view, the current resource is active and
//it shouldn't be blue
.resources .nav-simple > li.active {
  color: @facet-link-text-color;
}

.module-narrow .nav-aside li a,
.module-narrow .nav-item > a {
  padding: 0;
}

.navbar-default {
  background-color: @navbar-background;
}
