@import '../variables.less';

.tertiary .control-order-by label {
  font-weight: 700;
}

.secondary,
aside.tertiary {
  padding-left: 0;

  .module,
  .opendata-card {
    padding: 0;
    color: @color--black;
    margin-bottom: @margin__module;
    overflow: hidden;

    .module-content {
      padding: 0 (@padding__module / 2);

      .nav > li > a {
        margin-left: -15px;
        padding: 10px 15px;
        color: @sidebar-block-color-text;
        border-left: 8px solid @sidebar-block-color-background;

        &:hover {
          border-left: 8px solid @sidebar-block-color-header;
        }
      }
    }

    .module-heading {
      .flex-display(flex);
      .align-items(center);

      margin: 0;
      margin-bottom: (@padding__module / 2);
      padding: 0 (@padding__module / 2);
      background-color: transparent;
      border: none;
      font-size: @font-size__module-title;
      line-height: @line-height__module-title;
      font-weight: bold;
    }

    .module-footer {
      border: none;
    }

    nav > ul > li.nav-item.active {
      font-weight: 700;
    }
  }
}

.module.suomifi-filters {
  padding: 0;
  border: none;

  .module-heading {
    margin: 0;
    color: white;
    background-color: @suomi-highlightBase;
    font-size: 18px;
    padding: 27px 20px 26px 20px;
    text-transform: uppercase;
  }

  .module-subheading {
    color: @suomi-blackBase;
    font-size: 16px;
    margin-top: 0;
  }

  .module-content {
    margin: 0;
    padding: 30px 20px;
    border: 1px solid @suomi-depthLight13;
    background-color: white;

    .module-section {
      padding-bottom: 30px;
      margin-bottom: 20px;
      border-bottom: 1px solid @suomi-depthLight13;
    }
  }

  .suomifi-filter-links {
    font-size: 16px;
  }
}

.module-narrow > .btn,
.module-narrow > a {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.module-narrow {
  .list-unstyled {
    padding-left: 0;
  }
}
