@import "../variables.less";

.file-tag {
  border: 1px solid @opendata-brand-border-gray;
  padding: 3px 15px 3px 15px;
  background-color: transparent;
  color: @suomi-depthDark27;
  text-transform: uppercase;
  font: @font-family-sans-serif-semibold;
  font-weight: @font-weight-heavier;
  line-height: @line-height-larger-base;
  text-align: center;

  &.format {
    &--json,
    &--xml,
    &--html {
      background-color: @opendata-brand-success; // green
      color: @btn-dark-text-color;
    }

    &--pc-axis,
    &--pxweb {
      background-color: @opendata-brand-warning; // light-orange
      color: @btn-dark-text-color;
    }

    // excel related
    &--xlsx,
    &--xls,
    &--csv {
      background-color: @opendata-brand-danger; // light-red
      color: @btn-dark-text-color;
    }

    // images
    &--png,
    &--jpeg,
    &--jpg,
    &--tiff,
    &--pdf {
      background-color: @opendata-brand-info; // light-blue
      color: @btn-dark-text-color;
    }

    // geo or shape or map related
    &--shp,
    &--wms,
    &--wfs,
    &--tab,
    &--geotiff,
    &--kml,
    &--gml,
    &--geojson,
    &--ecw {
      background-color: @opendata-ckan-list-item-header; // dark-blue
      color: @btn-dark-text-color;
    }

    // 3D program files
    &--dwg,
    &--obj,
    &--skp {
      background-color: @opendata-brand-priority; // dark-red
      color: @btn-dark-text-color;
    }
  }
}
