{# todo: add comment list #}
{# TODO: add if for add comment button #}

<form class="form" action="" method="POST">
    <div class="form-controls">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" name="subject"/>

        <label for="comment">Comment</label>
        <textarea name="comment" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save"/>
        <input type="reset" class="btn" value="Reset"/>
    </div>
</form>