version: 2
jobs:
  flake8:
    docker:
      - image: circleci/python:2.7.15

    working_directory: ~/repo

    steps:
      - checkout
      - run: git submodule update --init --recursive

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "codestyle-requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install codestyle requirements
          command: |
            mkdir -p ./venv
            virtualenv ./venv
            . venv/bin/activate
            pip install -r codestyle-requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "codestyle-requirements.txt" }}

      - run:
          name: run linting
          command: |
            . venv/bin/activate
            flake8 modules --count --max-line-length=127 --statistics

  code-sniffer:
    docker:
      - image: circleci/php:7.1

    steps:
      - checkout

      - run: sudo apt update && sudo apt install zlib1g-dev libsqlite3-dev libpng-dev
      - run: sudo docker-php-ext-install zip
      - run: sudo docker-php-ext-install gd

      # composer cache
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "~/project/ansible/roles/drupal/files/drupal8/composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          command: composer install -n --prefer-dist
          working_directory: ~/project/ansible/roles/drupal/files/drupal8/

      - run:
          name: Ignore warnings on exit code
          command: ./vendor/bin/phpcs --config-set ignore_warnings_on_exit 1
          working_directory: ~/project/ansible/roles/drupal/files/drupal8/

      - run:
          name: Run codesniffer for drupal standard
          command: ./vendor/bin/phpcs --standard=Drupal  ~/project/modules --ignore=ckanext*,ytp-assets-common
          working_directory: ~/project/ansible/roles/drupal/files/drupal8/

      - run:
          name: Run codesniffer for drupal practice
          command: ./vendor/bin/phpcs --standard=DrupalPractice  ~/project/modules --ignore=ckanext*,ytp-assets-common
          working_directory: ~/project/ansible/roles/drupal/files/drupal8/

      - save_cache:
          key: composer-v1-{{ checksum "~/project/ansible/roles/drupal/files/drupal8/composer.json" }}
          paths:
            - vendor

  ansible-lint:
    docker:
      - image: circleci/python

    steps:
      - checkout

      - run: sudo pip install ansible-lint

      - run:
          name: Run ansible-lint for single-server.yml
          command: ansible-lint single-server.yml
          working_directory: ~/project/ansible/

  packer-web:
    docker:
      - image: circleci/python

    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo apt-get update && sudo apt-get install rsync

      - run: |
          mkdir -p /tmp/logs
          mkdir -p /tmp/workspace

      - run:
          name: Install packer
          command: wget https://releases.hashicorp.com/packer/1.3.5/packer_1.3.5_linux_amd64.zip -O /tmp/packer.zip && sudo unzip /tmp/packer.zip -d /usr/local/bin/

      - run:
          name: Validate packer file
          command: packer validate ../packer/packer-web.json
          working_directory: ~/project/ansible

      - run:
          name: Build ami
          command: "packer build ../packer/packer-web.json >> /tmp/logs/packer_build.log 2>&1"
          no_output_timeout: 60m
          working_directory: ~/project/ansible

      - persist_to_workspace:
          name: Save packer-web manifest
          root: /tmp/workspace
          paths:
            - manifest-web.json

      - run:
          name: Save ami id to file
          command: cat manifest-web.json | jq -r .builds[0].artifact_id |  cut -d':' -f2 > /tmp/workspace/ami_id
          working_directory: ~/project/ansible

      - store_artifacts:
          path: packer_build.log

      - store_artifacts:
          path: /tmp/workspace/ami_id

      - persist_to_workspace:
          name: ami_id
          root: /tmp/workspace
          paths:
            - ami_id

  ansible-web:
    docker:
      - image: circleci/python

    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo apt-get update && sudo apt-get install rsync
      - run: sudo pip install boto awscli

      - run:
          name: Copy private key for ec2 usage
          command: aws s3 cp --quiet s3://$AWS_PRIVATE_KEY_S3_PATH ~/.ssh/id_rsa
          working_directory: ~/project/

      - run: |
          mkdir -p /tmp/logs
          mkdir -p /tmp/workspace

      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Set ami id
          command: |
            echo 'export AWS_EC2_IMAGE=$(cat /tmp/workspace/ami_id)' >> $BASH_ENV

      - run:
          name: Run build test playbook
          command: "ansible-playbook --skip-tags 'dependency_role' --tags 'configure' circleci_build_test.yml >> /tmp/logs/ansible-web_test.log 2>&1"
          no_output_timeout: 60m
          working_directory: ~/project/ansible

      - store_artifacts:
          path: /tmp/logs

  cypress-web:
    docker:
      - image: circleci/python

      steps:
        - checkout
        - run: git submodule update --init --recursive

      - restore_cache:
          keys:
            - v1-deps-{{ .Branch }}-{{ checksum "package.json" }}
            - v1-deps-{{ .Branch }}
            - v1-deps

      - run: |
          mkdir -p /tmp/logs
          mkdir -p /tmp/workspace

      - attach_workspace:
          at: /tmp/workspace

      - run: sudo apt-get install xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2

      - run: curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -

      - run: sudo apt-get install -y nodejs

      - run:
          name: Install Dependencies
          command: npm ci
          working_directory: ~/project/

      - save_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - ~/.npm
            - ~/.cache

      - run:
          name: Set instance public for Cypress
          command: |
            echo 'export CYPRESS_BASE_URL=http://$(cat /tmp/workspace/instance_public_ip)' >> $BASH_ENV
            echo 'export CYPRESS_resetDB=false' >> $BASH_ENV
            echo 'export CYPRESS_cloudStorageEnabled=true' >> $BASH_ENV


      - run: $(npm bin)/cypress run --record --key $CYPRESS_KEY


        # If there is a syntax error or some other issue in the actual build test
        # playbook the cleanup part might not get executed. Therefore additional
        # cleanup task to ensure that created instances will be terminated.
      - run:
          name: Additional cleanup for EC2 instances
          command: "ansible-playbook ansible/circleci_cleanup.yml"
          working_directory: ~/project/
          when: always

  packer-scheduled:
    docker:
      - image: circleci/python

    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo apt-get update && sudo apt-get install rsync
      - run: sudo pip install boto awscli
      - run: sudo pip install ansible

      - run: |
          mkdir -p /tmp/logs
          mkdir -p /tmp/workspace

      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Install packer
          command: wget https://releases.hashicorp.com/packer/1.3.5/packer_1.3.5_linux_amd64.zip -O /tmp/packer.zip && sudo unzip /tmp/packer.zip -d /usr/local/bin/

      - run:
          name: Validate packer file
          command: packer validate ../packer/packer-scheduled.json
          working_directory: ~/project/ansible

      - run:
          name: Build ami
          command: "packer build ../packer/packer-scheduled.json >> /tmp/logs/packer_build.log 2>&1"
          no_output_timeout: 60m
          working_directory: ~/project/ansible

      - persist_to_workspace:
          name: Save packer-scheduled manifest
          root: /tmp/workspace
          paths:
            - manifest-scheduled.json

      - run:
          name: Save ami id to file
          command: cat manifest-scheduled.json | jq -r .builds[0].artifact_id |  cut -d':' -f2 > /tmp/workspace/ami_id
          working_directory: ~/project/ansible

      - store_artifacts:
          path: /tmp/logs

      - persist_to_workspace:
          name: Save ami_id
          root: /tmp/workspace
          paths:
            - ami_id

      - run:
          name: Additional cleanup for EC2 instances
          command: "ansible-playbook ansible/circleci_cleanup.yml"
          working_directory: ~/project/
          when: always

  stylelint:
    docker:
      - image: circleci/node

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-deps-{{ .Branch }}-{{ checksum "modules/ytp-assets-common/package.json" }}
            - v1-deps-{{ .Branch }}
            - v1-deps

      - run:
          name: Install Dependencies
          command: npm install --only=dev
          working_directory: ~/project/modules/ytp-assets-common

      - save_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "modules/ytp-assets-common/package.json" }}
          paths:
            - ~/.npm
            - ~/.cache
            - ~/project/modules/ytp-assets-common/node_modules

      - run:
          name: run stylelint
          command: $(npm bin)/stylelint "src/less"
          working_directory: ~/project/modules/ytp-assets-common

  copy-web-ami:
    docker:
      - image: circleci/python

    steps:
      - checkout

      - run: sudo pip install boto awscli

      - run: |
          mkdir -p /tmp/logs
          mkdir -p /tmp/workspace

      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Copy AMI to production account
          command: |
            ./copy_ami.sh /tmp/workspace/manifest-web.json | tail -1 | cut -d'"' -f2 > /tmp/workspace/web_image_ami_copy
          no_output_timeout: 10m
          working_directory: ~/project/amicopy

      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - web_image_ami_copy

  copy-scheduled-ami:
    docker:
      - image: circleci/python

    steps:
      - checkout

      - run: |
          mkdir -p /tmp/logs
          mkdir -p /tmp/workspace

      - attach_workspace:
          at: /tmp/workspace

      - run: sudo pip install boto awscli

      - run:
          name: Copy AMI to production account
          command: |
            ./copy_ami.sh /tmp/workspace/manifest-scheduled.json | tail -1 | cut -d'"' -f2 > /tmp/workspace/scheduled_image_ami_copy
          no_output_timeout: 10m
          working_directory: ~/project/amicopy

      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - scheduled_image_ami_copy

  beta-deploy:
    docker:
      - image: circleci/python

    steps:

      - checkout

      - run: sudo pip install boto awscli

      - run: |
          mkdir -p /tmp/logs
          mkdir -p /tmp/workspace

      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: Check current stack update status
          command: |
            source ~/project/deploy/assume_role.sh > /dev/null 2>&1
            until aws cloudformation describe-stacks --stack-name "beta-asg-lt" --query 'Stacks[0].StackStatus' | egrep -q 'COMPLETE"$'; do sleep 5 ; done
          no_output_timeout: 15m

      - run:
          name: Update AMI ids in parameter store
          command: |
            source ~/project/deploy/assume_role.sh > /dev/null 2>&1
            aws ssm put-parameter --name /beta/web/amiid --type String --overwrite --allowed-pattern "^ami-[a-z0-9]{17}$" --value $(cat /tmp/workspace/web_image_ami_copy) && \
            aws ssm put-parameter --name /beta/scheduled/amiid --type String --overwrite --allowed-pattern "^ami-[a-z0-9]{17}$" --value $(cat /tmp/workspace/scheduled_image_ami_copy)

      - run:
          name: Update stack
          command: |
            source ~/project/deploy/assume_role.sh > /dev/null 2>&1
            aws cloudformation update-stack \
            --stack-name "beta-asg-lt" \
            --template-body file://../cloudformation/launchtemplate.yml \
            --parameters ParameterKey=WebTargetGroupArn,ParameterValue=/beta/web/public_alb_tg_arn \
              ParameterKey=WebInstanceType,ParameterValue=/beta/web/instance_type \
              ParameterKey=WebHealthCheckGracePeriod,ParameterValue=/beta/web/albgraceperiod \
              ParameterKey=WebAmiImageId,ParameterValue=/beta/web/amiid \
              ParameterKey=SolrTargetGroupArn,ParameterValue=/beta/web/private_alb_tg_arn \
              ParameterKey=ScheduledInstanceType,ParameterValue=/beta/scheduled/instance_type \
              ParameterKey=ScheduledAmiImageId,ParameterValue=/beta/scheduled/amiid \
              ParameterKey=HookTimeout,ParameterValue=/beta/web/lifecycle_hook_timeout \
              ParameterKey=EnvironmentName,ParameterValue=/beta/web/environment_name \
              ParameterKey=EFSFileSystem,ParameterValue=/beta/web/efs_file_system \
              ParameterKey=AsgDesiredSize,ParameterValue=/beta/web/asgdesiredsize \
              ParameterKey=AsgMinSize,ParameterValue=/beta/web/asgminsize \
              ParameterKey=AsgMaxSize,ParameterValue=/beta/web/asgmaxsize > /tmp/logs/beta_stack_update.log 2>&1
            aws cloudformation wait stack-update-complete --stack-name "beta-asg-lt"
          working_directory: ~/project/deploy
          no_output_timeout: 30m

      - store_artifacts:
          path: /tmp/logs

  prod-deploy:
    docker:
      - image: circleci/python

    steps:

      - checkout

      - run: |
          mkdir -p /tmp/logs

      - run: sudo pip install boto awscli

      - run:
          name: Check current stack update status
          command: |
            source ~/project/deploy/assume_role.sh > /dev/null 2>&1
            until aws cloudformation describe-stacks --stack-name "prod-asg-lt" --query 'Stacks[0].StackStatus' | egrep -q 'COMPLETE"$'; do sleep 5 ; done
          no_output_timeout: 20m

      - run:
          name: Check AMI copy completion
          command: |
            source ~/project/deploy/assume_role.sh > /dev/null 2>&1
            until aws ec2 describe-images \
            --filters \
              "Name=tag:Commit,Values=${CIRCLE_SHA1}" \
              "Name=name,Values=opendata-web*" \
            --query 'Images[0].State' |grep -q "\"available\""; do sleep 5 ; done && \
            until aws ec2 describe-images \
            --filters \
              "Name=tag:Commit,Values=${CIRCLE_SHA1}" \
              "Name=name,Values=opendata-scheduled*" \
            --query 'Images[0].State' |grep -q "\"available\""; do sleep 5 ; done
          no_output_timeout: 30m

      - run:
          name: Update AMI id parameter in parameter store
          command: |
            source ~/project/deploy/assume_role.sh > /dev/null 2>&1
            export web_ami_id=$(aws ec2 describe-images \
              --filters \
                "Name=tag:Commit,Values=${CIRCLE_SHA1}" \
                "Name=name,Values=opendata-web*" \
              --query "Images[0].ImageId" | sed 's/"//g')
            export scheduled_ami_id=$(aws ec2 describe-images \
              --filters \
                "Name=tag:Commit,Values=${CIRCLE_SHA1}" \
                "Name=name,Values=opendata-scheduled*" \
              --query "Images[0].ImageId" | sed 's/"//g')
            aws ssm put-parameter --name /prod/web/amiid --type String --overwrite --allowed-pattern "^ami-[a-z0-9]{17}$" --value $web_ami_id
            aws ssm put-parameter --name /prod/scheduled/amiid --type String --overwrite --allowed-pattern "^ami-[a-z0-9]{17}$" --value $scheduled_ami_id

      - run:
          name: Update Cloudformation stack
          command: |
            source ~/project/deploy/assume_role.sh > /dev/null 2>&1
            aws cloudformation update-stack \
            --stack-name "prod-asg-lt" \
            --template-body file://../cloudformation/launchtemplate.yml \
            --parameters ParameterKey=WebTargetGroupArn,ParameterValue=/prod/web/public_alb_tg_arn \
              ParameterKey=WebInstanceType,ParameterValue=/prod/web/instance_type \
              ParameterKey=WebHealthCheckGracePeriod,ParameterValue=/prod/web/albgraceperiod \
              ParameterKey=WebAmiImageId,ParameterValue=/prod/web/amiid \
              ParameterKey=SolrTargetGroupArn,ParameterValue=/prod/web/private_alb_tg_arn \
              ParameterKey=ScheduledInstanceType,ParameterValue=/prod/scheduled/instance_type \
              ParameterKey=ScheduledAmiImageId,ParameterValue=/prod/scheduled/amiid \
              ParameterKey=HookTimeout,ParameterValue=/prod/web/lifecycle_hook_timeout \
              ParameterKey=EnvironmentName,ParameterValue=/prod/web/environment_name \
              ParameterKey=EFSFileSystem,ParameterValue=/prod/web/efs_file_system \
              ParameterKey=AsgDesiredSize,ParameterValue=/prod/web/asgdesiredsize \
              ParameterKey=AsgMinSize,ParameterValue=/prod/web/asgminsize \
              ParameterKey=AsgMaxSize,ParameterValue=/prod/web/asgmaxsize > /tmp/logs/prod_stack_update.log 2>&1
            aws cloudformation wait stack-update-complete --stack-name "prod-asg-lt"
          working_directory: ~/project/deploy
          no_output_timeout: 30m

      - store_artifacts:
          path: /tmp/logs

workflows:
  version: 2
  lint_build_test:
    jobs:
      - flake8
      - code-sniffer
      - ansible-lint
      - stylelint
      - packer-web:
          requires:
            - flake8
            - code-sniffer
            - ansible-lint
            - stylelint
      - ansible-web:
          requires:
            - packer-web
      - cypress-web:
          requires:
            - ansible-web
      - packer-scheduled:
          requires:
            - flake8
            - code-sniffer
            - ansible-lint
            - stylelint
      - copy-web-ami:
          requires:
            - cypress-web
          filters:
            branches:
              only: master
      - copy-scheduled-ami:
          requires:
            - packer-scheduled
            - cypress-web
          filters:
            branches:
              only: master
      - beta-deploy:
          requires:
            - copy-web-ami
            - copy-scheduled-ami
          filters:
            branches:
              only: master
  # prod_deploy:
  #   jobs:
  #     - prod-deploy:
  #         filters:
  #           tags:
  #             only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
  #           branches:
  #             ignore: /.*/
