{#
Displays whether the resource is cached

Variable passed-in include:

"resource": {}

and all the Archival.as_dict() info from the package_show's resource['archiver'] e.g.

"status_id": 0,
"status": "Archived successfully",
"is_broken": false,
"is_broken_printable": "Downloaded OK",
"reason": "",
"url_redirected_to": null,

# Details of last successful archival
"cache_filepath": "/tmp/archive/ad/ad30c8f3-b3c7-4d5c-928f-df89f2cd7855/hospitals",
"cache_url": "http://localhost:4050/ad/ad30c8f3-b3c7-4d5c-928f-df89f2cd7855/hospitals",
"size": "7695"
"mimetype": "text/html",
"hash": "5466f7a55a2fc24fab4466c84fcde73d6d31c82a",

# History
"first_failure": null,
"last_success": "2015-11-17T10:28:00.018577",
"failure_count": 0,

"created": "2015-11-16T18:15:14.391913",
"updated": "2015-11-17T10:28:00.018577",

"resource_timestamp": "2015-10-29T11:09:07.258784",

#}
<div class="archiver {% if cache_url %}link-cached{% else %}link-not-cached{% endif %}">
  {%- if cache_url -%}
    <a href="{{ cache_url }}">
      <span class="icon icon-download-alt"></span>
      Download cached copy
    </a><br>
    Size: {{ size|filesizeformat }} <br>
    Cached on: {{ h.render_datetime(last_success) }}
    {% if is_broken %}
      (before it was broken)
    {% endif %}<br>
  {% else %}
    No cached copy available<br>
  {% endif %}
</div>


