{
  "extends": "stylelint-config-standard-less",
  "rules": {
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "less/no-duplicate-variables": null,
    "media-feature-range-notation": null
  }
}
