{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}
{% if q is not defined %}{% set q = c.q %}{% endif %}
{% if fields_grouped is not defined %}{% set fields_grouped = c.fields_grouped %}{% endif %}
{% if sort_by_selected is not defined %}{% set sort_by_selected = c.sort_by_selected %}{% endif %}
{% if page is not defined %}{% set page = c.page %}{% endif %}
{% if facet_titles is not defined %}{% set facet_titles = c.facet_titles %}{% endif %}

{% block subtitle %}{{ _("Showcases") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Showcases'), named_route='sixodp_showcase.search', highlight_actions = 'new index') }}</li>
{% endblock %}


{% block pre_primary %}
  {% set featured_showcases = h.get_featured_showcases() %}
  {#
  {% if featured_showcases %}
    <div class="page-highlight">
      {{ h.snippet('snippets/horizontal_accordion.html', items=featured_showcases, image_identifier="featured_image_display_url", meta_identifier="category", controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController') }}
    </div>
  {% endif %}
  #}
{% endblock %}

{% block page_primary_action %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        {{ h.snippet('sixodp_showcase/snippets/showcase_greeting.html') }}
    </div>
  </div>

  <div class="search-form-container search-form-container-borderless row">
    <div>
      {{ h.snippet('sixodp_showcase/snippets/showcase_search_input.html', query=q, placeholder=_('Search applications...'), query_params=fields_grouped, sort_by_selected=sort_by_selected, page=page) }}
    </div>
  </div>
{% endblock %}

{% block form %}
{% endblock %}

{% block package_search_results_list %}
  <div>
    {{ h.snippet('sixodp_showcase/snippets/showcase_list.html', packages=page.items) }}
  </div>
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}
{# {{ h.snippet('showcase/snippets/helper.html') }} #}
<div class="filters">
  <div>
    {% for facet in facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <!--<a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>-->
</div>
{% endblock %}
