{# {% extends "scheming/package/snippets/additional_info.html" %} #}
{% ckan_extends %}

{% block package_additional_info %}
  {%- set exclude_fields = [
    'id',
    'title',
    'title_translated',
    'name',
    'notes',
    'notes_translated',
    'tag_string',
    'license_id',
    'owner_org',
    'content_type',
    'keywords',
    'private',
    'deprecated',
    'copyright_notice_translated',
    'collection_type',
    'international_benchmarks',
    'state',
    'maintainer',
    ] -%}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none -%}
      <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Last modified") }}</th>
    <td class="dataset-details">
      {{ h.render_datetime(pkg_dict.get('metadata_modified'), "%d.%m.%Y") }}<br />
      <a href="/data/{{ h.lang() }}/dataset/activity/{{pkg_dict.get('name')}}">{{_('Show change log')}}</a>
    </td>
  </tr>
  <tr>
    <th scope="row" class="dataset-label">{{ _("Created on") }}</th>
    <td class="dataset-details">{{ h.render_datetime(pkg_dict.get('metadata_created'), "%d.%m.%Y") }}</td>
  </tr>
  {# Deprecated layout
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
  #}
{% endblock %}
