---

# On servers, copy the sources to final path
- name: "Copy extension {{ item }} from server path"
  copy:
    src: "{{ ckan_source_server_path }}/modules/{{ item }}"
    dest: "{{ ckan_extension_sync_path }}/"
    owner: root
    group: root
    mode: "0755"
    remote_src: yes
  when: ckan_deployment_environment_id != "vagrant"

# On Vagrant, symlink sources from host so that they can be edited live
- block:
    - name: "Remove existing extension {{ item }} (Vagrant)"
      file:
        path: "{{ ckan_extension_sync_path }}/{{ item }}"
        state: absent

    - name: "Symlink extension {{ item }} sources from host machine (Vagrant)"
      file:
        src: "/vagrant/modules/{{ item }}"
        path: "{{ ckan_extension_sync_path }}/{{ item }}"
        state: link

  when: ckan_deployment_environment_id == "vagrant"

# Install dependencies for the extension. Depending on the extension, deps
# are listed either in requirements.txt or pip-requirements.txt. Both are covered here.

- name: Register extension requirements.txt
  stat:
    path: "{{ ckan_extension_sync_path }}/{{ item }}/requirements.txt"
    follow: true
  register: requirements

- name: Register extension pip-requirements.txt
  stat:
    path: "{{ ckan_extension_sync_path }}/{{ item }}/pip-requirements.txt"
    follow: true
  register: piprequirements

- name: Install extension requirements
  pip:
    requirements: "{{ ckan_extension_sync_path }}/{{ item }}/requirements.txt"
    virtualenv: "{{ ckan_virtual_environment }}"
  when: requirements.stat.exists

- name: Install extension piprequirements
  pip:
    requirements: "{{ ckan_extension_sync_path }}/{{ item }}/pip-requirements.txt"
    virtualenv: "{{ ckan_virtual_environment }}"
  when: piprequirements.stat.exists

- name: Install extension {{ item }}
  pip:
    name: "{{ ckan_extension_sync_path }}/{{ item }}"
    virtualenv: "{{ ckan_virtual_environment }}"
    extra_args: "-e"
    state: latest
  tags:
    - skip_ansible_lint
