{#
/**
 * @file
 * Avoindata Infobox Block  
 *
 * @ingroup themeable
 */
#}
<div class="avoindata-infoboxes">
    <div class="avoindata-infobox-container">
        <div class="row">
            <div class="avoindata-infobox-wrapper col-xs-12 col-sm-4 col-md-4">
                <div class="avoindata-infobox avoindata-infobox-color-1">
                    <div class="row avoindata-infobox-header">
                        <div class="col-xs-8">
                            <h4>
                                {% trans %}
                                Utilize data sets
                                {% endtrans %}
                            </h4>
                        </div>
                        <div class="avoindata-infobox-header-icon col-xs-4">
                            <i class="fas fa-wrench pull-right"></i>
                        </div>
                    </div>
                    <div class="row avoindata-infobox-content">
                        <div class="col-xs-12">
                            <p>
                                {% trans %}
                                Avoindata.fi service offers over 1000 interesting data sets available for everyone to download, inspect and use freely.
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                    <div class="row avoindata-infobox-button-container">
                        <div class="col-xs-12">
                            <a href="/data/{{ language }}/dataset" class="btn btn-primary">
                                {% trans %}
                                Browse data sets
                                {% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avoindata-infobox-wrapper col-xs-12 col-sm-4 col-md-4">
                <div class="avoindata-infobox avoindata-infobox-color-2">
                    <div class="row avoindata-infobox-header">
                        <div class="col-xs-8">
                            <h4>
                                {% trans %}
                                Offer data for use
                                {% endtrans %}
                            </h4>
                        </div>
                        <div class="avoindata-infobox-header-icon col-xs-4">
                            <i class="fas fa-cloud-upload-alt pull-right"></i>
                        </div>
                    </div>
                    <div class="row avoindata-infobox-content">
                        <div class="col-xs-12">
                            <p>
                                {% trans %}
                                Does your organization generate data, which could be useful or interesting for other users? We offer guidance and a way to distribute your data sets.
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                    <div class="row avoindata-infobox-button-container">
                        <div class="col-xs-12">
                            <a href="/data/{{ language }}/dataset" class="btn btn-primary">
                                {% trans %}
                                Begin data distribution
                                {% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avoindata-infobox-wrapper col-xs-12 col-sm-4 col-md-4">
                <div class="avoindata-infobox avoindata-infobox-color-3">
                    <div class="row avoindata-infobox-header">
                        <div class="col-xs-8">
                            <h4>
                                {% trans %}
                                Find and examine applications
                                {% endtrans %}
                            </h4>
                        </div>
                        <div class="avoindata-infobox-header-icon col-xs-4">
                            <i class="fas fa-mobile-alt avoindata-rotate-45 pull-right"></i>
                        </div>
                    </div>
                    <div class="row avoindata-infobox-content">
                        <div class="col-xs-12">
                            <p>
                                {% trans %}
                                Different ways of applying data bring it alive in a concrete way. You can find a collection of applications and visualizations that use open data from our gallery.
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                    <div class="row avoindata-infobox-button-container">
                        <div class="col-xs-12">
                            <a href="/data/{{ language }}/showcase" class="btn btn-primary">
                                {% trans %}
                                Application gallery
                                {% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
