{#
/**
 * @file
 * Avoindata Infobox Block  
 *
 * @ingroup themeable
 */
#}
<div class="avoindata-infoboxes">
    <div class="avoindata-infobox-container">
        <div class="row equal-height-row">
            <div class="avoindata-infobox-wrapper col-xm-12 col-sm-4">
                <div class="avoindata-infobox avoindata-infobox-color-1">
                    <div class="avoindata-infobox-header">
                        <div class="avoindata-infobox-header-text">
                          <h4>
                            {% trans %}
                            Utilize data sets
                            {% endtrans %}
                          </h4>
                        </div>
                        <div class="avoindata-infobox-header-icon">
                          <i class="fas fa-wrench pull-right"></i>
                        </div>
                    </div>
                    <div class="avoindata-infobox-content">
                      <p>
                        {% trans %}
                        Avoindata.fi service offers over 1000 interesting data sets available for everyone to download, inspect and use freely.
                        {% endtrans %}
                      </p>
                    </div>
                    <div class="avoindata-infobox-button-container">
                      <a href="/data/{{ language }}/dataset" class="btn btn-primary">
                        {% trans %}
                        Browse data sets
                        {% endtrans %}
                      </a>
                    </div>
                </div>
            </div>
            <div class="avoindata-infobox-wrapper col-xm-12 col-sm-4">
                <div class="avoindata-infobox avoindata-infobox-color-2">
                    <div class="avoindata-infobox-header">
                        <div class="avoindata-infobox-header-text">
                          <h4>
                            {% trans %}
                            Offer data for use
                            {% endtrans %}
                          </h4>
                        </div>
                        <div class="avoindata-infobox-header-icon">
                            <i class="fas fa-cloud-upload-alt pull-right"></i>
                        </div>
                    </div>
                    <div class="avoindata-infobox-content">
                      <p>
                        {% trans %}
                        Does your organization generate data, which could be useful or interesting for other users? We offer guidance and a way to distribute your data sets.
                        {% endtrans %}
                      </p>
                    </div>
                    <div class="avoindata-infobox-button-container">
                      <a href="/data/{{ language }}/dataset" class="btn btn-primary">
                          {% trans %}
                          Begin data distribution
                          {% endtrans %}
                      </a>
                    </div>
                </div>
            </div>
            <div class="avoindata-infobox-wrapper col-xm-12 col-sm-4">
                <div class="avoindata-infobox avoindata-infobox-color-3">
                    <div class="avoindata-infobox-header">
                        <div class="avoindata-infobox-header-text">
                          <h4>
                            {% trans %}
                            Find and examine applications
                            {% endtrans %}
                          </h4>
                        </div>
                        <div class="avoindata-infobox-header-icon">
                            <i class="fas fa-mobile-alt avoindata-rotate-45 pull-right"></i>
                        </div>
                    </div>
                    <div class="avoindata-infobox-content">
                      <p>
                        {% trans %}
                        Different ways of applying data bring it alive in a concrete way. You can find a collection of applications and visualizations that use open data from our gallery.
                        {% endtrans %}
                      </p>
                    </div>
                    <div class="avoindata-infobox-button-container">
                      <a href="/data/{{ language }}/showcase" class="btn btn-primary">
                          {% trans %}
                          Application gallery
                          {% endtrans %}
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
