<section class="module module-narrow module-shallow">
  <div class="info-box">
  <h2 class="module-heading">{{ _('As a registered user, you can browse users.') }}</h2>
  <form class="search-form no-bottom-border user-search-form" action="{% url_for controller='user', action='index' %}" method="get">
    <div class="search-input control-group user-search">
      <!-- <label for="field-user-search">{{ _('Search Users') }}</label> -->
      <input id="field-user-search"  style="height: 2em;"  class="field" name="q" placeholder="{{ _('Search Users') }}" value="{{ query }}" />
      <!-- <button class="btn-search" type="submit">{{ _('Search') }}</button> -->
      <button value="search" type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>

    <div class="user-search-actions">
      <select class="submit-on-change" name="order_by">
          <option value="name" {% if order_by == 'name' -%}selected="selected"{%- endif -%}>{{ _('Order by name') }}</option>
          <option value="created" {% if order_by == 'created' -%}selected="selected"{%- endif -%}>{{ _('Order by register date') }}</option>
      </select>
      <a href="{% url_for controller='user', action='index' %}">
        <i class="icon-large icon-remove-sign" title="{{ _("Clear search") }}"></i>
      </a>
    </div>
  </form>
  </div>
</section>
