{% ckan_extends %}

{% import 'macros/ytp_layout.html' as ytp_layout %}

{% block organization_description %}
    {% if c.group_dict.description %}
      {{ h.render_markdown(h.extra_translation(c.group_dict, 'description')) }}
    {% endif %}

    {# Display extra organization information #}

    <div id="OrgExtraInfo">
        <dl class="dl-horizontal">

            {% if c.group_dict.valid_from or c.group_dict.valid_till %}
                {% set validity = [c.group_dict.valid_from, c.group_dict.valid_till]|join(' - ') %}
            {% endif %}

            {% set info_list = [(_('Business ID'), c.group_dict.business_id),
                                (_('OID'), c.group_dict.oid),
                                (_('Alternative name'), h.extra_translation(c.group_dict, 'alternative_name')),
                                (_('Period of validity'), validity)
                                ] %}

            {% for info in info_list %}
                {{ ytp_layout.value_list_item(info.0, info.1) }}
            {% endfor %}
        </dl>
    </div>

    {# Display address information #}

    <div id="addressInfo">
        <h2>{{_('Contact info')}}</h2>        
        <dl class="dl-horizontal">

            {% set url = h.extra_translation(c.group_dict, 'street_address_url_public_transport') %}
            {% set address_info = [([_('Street'), _('House number'), _('Staircase'), _('Apartment number')]|join(', '), c.group_dict.street_address),
                                   (_('P.O. box'), c.group_dict.street_address_pobox),
                                   (_('Zip code'), c.group_dict.street_address_zip_code),
                                   (_('Place of Business'), c.group_dict.street_address_place_of_business),
                                   (_('Country'), c.group_dict.street_address_country),
                                   (_('Unofficial name of the building'), h.extra_translation(c.group_dict, 'street_address_unofficial_name')),
                                   (_('Building ID'), h.extra_translation(c.group_dict, 'street_address_building_id')),
                                   (_('Getting there'), h.extra_translation(c.group_dict, 'street_address_getting_there', markdown=True)),
                                   (_('Parking'), h.extra_translation(c.group_dict, 'street_address_parking', markdown=True)),
                                   (_('Arrival by public transport'), h.extra_translation(c.group_dict, 'street_address_public_transport')),
                                   (_('URL for public transport'), url|urlize)
                                   ] %}

            {% for info in address_info %}
                {{ ytp_layout.value_list_item(info.0, info.1) }}
            {% endfor %}
        </dl>
    </div>

    {# Display homepages #}

    {% set homepages = c.group_dict.get('homepages') %}

    {% if homepages %}
        <div id="homepages">
        {% for page in homepages %}
            <div id="Homepage_{{ loop.index }}" class="homepage single">
                <div class="homepage static">
                  {% set locale = h.lang() %}
                  {% set original_language = c.group_dict.get('original_language') %}
                  {% if original_language != locale %}
                    {% if page['translations'][locale] %}
                      {% set translated_page = page['translations'][locale] %}
                    {% endif %}
                  {% else %}
                    {% set translated_page = page %}
                  {% endif %}

                  <h3>{{translated_page['title']}}</h3>
                    <a href="{{translated_page['url']}}">{{translated_page['url']}}</a>
                    <p>{{translated_page['description']}}</p>
                    <p>{{translated_page['accessibility']}}</p>
                    <p>{{page['wcag']}}</p>
                    <p>
                        {% if page['plainlanguage'] == 1 %}
                        {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)", 'checked': 'checked' } %}
                        {{ _('Plain language translation available') }}
                        {% else %}
                        {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)"} %}
                        {{ _('Plain language translation not available') }}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {# Display organization hierarchy #}
    {# TODO: Add JSTree #}

    <h2>{{_('Organization hierarchy')}}</h2>
    <div id="publisher-tree">
        {% snippet 'organization/snippets/organization_tree.html', top_nodes=[h.get_action('group_tree_section', {'id': c.group_dict.id, 'type': c.group_dict.type})] %}
    </div>
{% endblock %}
