{% ckan_extends %}

{% block organization_description %}
    {{ super() }}


    {# display extra org info #}

        <div id="OrgExtraInfo">
            <p>{{c.group_dict.business_id}}</p>
            <p>{{c.group_dict.oid}}</p>
            <p>{{c.group_dict.alternative_name}}</p>
            {% if c.group_dict.valid_from or c.group_dict.valid_till %}
            <p>{{c.group_dict.valid_from}} - {{c.group_dict.valid_till}}</p>
            {% endif %}
        </div>

    {# display address info #}

        <div id="addressInfo">
            <h2 class="organization-subheading">{{_('Contact info')}}</h2>
            <p>{{c.group_dict.street_address}}</p>
            <p>{{c.group_dict.street_address_pobox}}</p>
            <p>{{c.group_dict.street_address_zip_code}}</p>
            <p>{{c.group_dict.street_address_place_of_business}}</p>
            <p>{{c.group_dict.street_address_country}}</p>
            <p>{{c.group_dict.street_address_unofficial_name}}</p>
            <p>{{c.group_dict.street_address_building_id}}</p>
            <p>{{c.group_dict.street_address_getting_there}}</p>
            <p>{{c.group_dict.street_address_parking}}</p>
            <p>{{c.group_dict.street_address_public_transport}}</p>
            <p><a href="{{c.group_dict.street_address_url_public_transport}}">{{c.group_dict.street_address_url_public_transport}}</a></p>

        </div>

    {# display homepages #}
    {% set page_list = c.group_dict.get('homepage_urls') %}
    {% set desc_list = c.group_dict.get('homepage_descriptions') %}
    {% set title_list = c.group_dict.get('homepage_titles') %}
    {% set accessibility_list = c.group_dict.get('homepage_accessibilities') %}
    {% set wcag_list = c.group_dict.get('homepage_wcags') %}
    {% set plainlanguage_list = c.group_dict.get('homepage_plain_language_availabilities') %}


    {% if page_list %}
        <div id="homepages">
        {% for page in page_list %}
            <div id="Homepage_{{ loop.index }}" class="homepage single">
                <div class="homepage static">
                    <h3>{{title_list[loop.index0]}}</h3>
                    <a href="{{page}}">{{page}}</a>
                    <p>{{desc_list[loop.index0]}}</p>
                    <p>{{accessibility_list[loop.index0]}}</p>
                    <p>{{wcag_list[loop.index0]}}</p>
                    <p>
                        {% if plainlanguage_list[loop.index0] == "1" %}
                        {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)", 'checked': 'checked' } %}
                        {{ _('Plain language translation available') }}
                        {% else %}
                        {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)"} %}
                        {{ _('Plain language translation not available') }}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}


    {# TODO: Add JSTree #}

  <div id="publisher-tree">
     {% snippet 'organization/snippets/organization_tree.html', top_nodes=[h.get_action('group_tree_section', {'id': c.group_dict.id, 'type': c.group_dict.type})] %}
  </div>
{% endblock %}
