{% ckan_extends %}

{% block organization_description %}
    {{ super() }}


    {# display extra org info #}

        <div id="OrgExtraInfo">
            <p>{{c.group_dict.BusinessID}}</p>
            <p>{{c.group_dict.OID}}</p>
            <p>{{c.group_dict.AlternativeName}}</p>
            {% if c.group_dict.valid_from or c.group_dict.valid_till %}
            <p>{{c.group_dict.valid_from}} - {{c.group_dict.valid_till}}</p>
            {% endif %}
        </div>

    {# display address info #}

        <div id="addressInfo">
            <h2 class="organization-subheading">{{_('Contact info')}}</h2>
            <p>{{c.group_dict.streetAddress}}</p>
            <p>{{c.group_dict.POBox}}</p>
            <p>{{c.group_dict.zipCode}}</p>
            <p>{{c.group_dict.PlaceOfBusiness}}</p>
            <p>{{c.group_dict.country}}</p>
            <p>{{c.group_dict.unofficialName}}</p>
            <p>{{c.group_dict.buildingId}}</p>
            <p>{{c.group_dict.gettingThere}}</p>
            <p>{{c.group_dict.parking}}</p>
            <p>{{c.group_dict.publicTransport}}</p>
            <p><a href="{{c.group_dict.UrlPublicTransport}}">{{c.group_dict.UrlPublicTransport}}</a></p>

        </div>

    {# display homepages #}
    {% set page_list = c.group_dict.get('HomePageUrls') %}
    {% set desc_list = c.group_dict.get('HomePageDescriptions') %}
    {% set title_list = c.group_dict.get('HomePageTitles') %}
    {% set accessibility_list = c.group_dict.get('HomePageAccessibilities') %}
    {% set wcag_list = c.group_dict.get('HomePageWCAGs') %}
    {% set plainlanguage_list = c.group_dict.get('HomePagePlainLanguageAvailabilities') %}


    {% if page_list %}
        <div id="homepages">
        {% for page in page_list %}
            <div id="Homepage_{{ loop.index }}" class="homepage single">
                <div class="homepage static">
                    <h3>{{title_list[loop.index0]}}</h3>
                    <a href="{{page}}">{{page}}</a>
                    <p>{{desc_list[loop.index0]}}</p>
                    <p>{{accessibility_list[loop.index0]}}</p>
                    <p>{{wcag_list[loop.index0]}}</p>
                    <p>
                        {% if plainlanguage_list[loop.index0] == "1" %}
                        {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)", 'checked': 'checked' } %}
                        {{ _('Plain language translation available') }}
                        {% else %}
                        {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)"} %}
                        {{ _('Plain language translation not available') }}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}


    {# TODO: Add JSTree #}

  <div id="publisher-tree">
     {% snippet 'organization/snippets/organization_tree.html', top_nodes=[h.get_action('group_tree_section', {'id': c.group_dict.id, 'type': c.group_dict.type})] %}
  </div>
{% endblock %}
