{% ckan_extends %}

{% block page_primary_action %}

    {% set orgs =  h.organizations_available() %}
    {% if orgs | count != 0 %}
        <div class="btn-group">
            <a href="/data/{{ h.lang() }}/member-request/list" class="btn btn-primary">{{ _('Membership Requests') }}</a>
        </div>
    {% endif %}
    {% if not h.is_sysadmin() and h.is_loggedinuser() %}
        <div class="btn-group">
           <a href="/data/{{ h.lang() }}/member-request/mylist" class="btn btn-primary">{{ _('My membership requests') }}</a>
        </div>
    {% endif %}
    {% if h.is_sysadmin() %}
        <div class="btn-group">
            <a href="/data/{{ h.lang() }}/user_list" class="btn btn-primary">{{ _('Users') }}</a>
        </div>
    {% endif %}

    {{ super() }}
{% endblock %}
