{% ckan_extends %}

<!-- JSTree is included, but so far does nothing. Need to encapsulate it in a 'javascript module' -->
{% block scripts %}
  {{ super() }}
  {% resource 'jstree/jquery.jstree.js' %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
  
  {% block organizations_search_form %}
    {% snippet 'snippets/search_form.html', type='organization', query=c.q, sorting='disabled', count=c.page.item_count, placeholder=_('Search data producers...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
  {% endblock %}
  
  {# Show a hierarchical tree of organizations if no search parameters are given. Otherwise show a flat list of results. #}
  {% block organizations_list %}
    {% if c.q and c.page.items %}
      {# Organizations found with query params, we should show a flatlist #}
      <ul class="no-bullet">
       {% for organization in c.page.items %}
         {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index %}
       {% endfor %}
      </ul>
      {% block page_pagination %}
        {{ c.page.pager(q=c.q) }}
      {% endblock %}
    {% elif not c.q and c.page.items %}
      {# Organizations found but no query params were given, we should show a tree #}
      <div id="publisher-tree">
        {% snippet 'organization/snippets/organization_tree.html', top_nodes=h.get_action('group_tree', {'type': 'organization'}) %}
      </div>
    {% endif %}
  {% endblock %}

 
{% endblock %}
