<div class="d-flex align-items-center flex-wrap gap-3">
  {% set orgs =  h.organizations_available() %}
  {% if orgs | count != 0 %}
      {% link_for _('Membership Requests'), named_route='member_request.member_requests_list', class_='btn btn-avoindata-header pr-0' %}
  {% endif %}
  {% if not h.is_sysadmin() and h.is_loggedinuser() %}
      {% link_for _('My membership Requests'), named_route='member_request.mylist', class_='btn btn-avoindata-header pr-0' %}
  {% endif %}
  {% if h.is_sysadmin() %}
      {% link_for _('Users'), named_route='ytp_organization_extra.user_list', class_='btn btn-avoindata-header pr-0', icon="user-circle" %}
  {% endif %}

  {% if h.check_access('organization_create') %}
      {% link_for _('Add Organization'), named_route='organization.new', class_='btn btn-avoindata-header pr-0', icon="plus" %}
  {% endif %}
</div>
