{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">Kiitos</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
        <h1 class="page-heading">
          {% block page_heading %}Ajan varauksesi on tehty{% endblock %}
        </h1>
        {{ c.form | safe }}
      {% endblock %}
    </div>
    <div class="module-content">
      Kiitos. Ajanvaraustietosi on nyt tallennettu
    </div>
  </article>

{% endblock %}
