# docker
REGISTRY=""
REPOSITORY=""

# opendata images
CKAN_IMAGE_TAG="903de64f28b4a30e831138054be1dcea66ede856"
DRUPAL_IMAGE_TAG="d777d72328f7cfab4495c8a138000479dd61cb96"
SOLR_IMAGE_TAG="acedaa3c1d35875178b6d104fe413bef0bbdd155"
NGINX_IMAGE_TAG="239e3fa712006ef1cf2ccf6940098f50c9614702"
DATAPUSHER_IMAGE_TAG="37245d2426ed6218a7352115d4147139defc9d8e"

# 3rd party images
REDIS_IMAGE_TAG="6.0.7"
FUSEKI_IMAGE_TAG="jena4"

#
# common variables
#

DOMAIN_NAME=localhost
SECONDARY_DOMAIN_NAME="nginx"
BASE_DOMAIN_NAME="localhost.not-exists"
SECONDARY_BASE_DOMAIN_NAME="nginx.not-exists"
NAMESERVER=127.0.0.11
SITE_PROTOCOL=http
SITE_NAME=avoindata.fi
SYSADMIN_USER=admin
SYSADMIN_PASS=administrator
SYSADMIN_EMAIL=admin@localhost
SYSADMIN_ROLES="ckan_admin"
SMTP_HOST=mailhog
SMTP_USERNAME=test
SMTP_PASS=test
SMTP_FROM=no-reply@localhost
SMTP_TO=no-reply@localhost
SMTP_FROM_ERROR=error@localhost
SMTP_TO_ERROR=error@localhost
SMTP_PROTOCOL=standard
SMTP_PORT=1025
MATOMO_ENABLED=true
MATOMO_SITE_ID="19"
MATOMO_DOMAIN="suomi.matomo.cloud"
MATOMO_SCRIPT_DOMAIN="//cdn.matomo.cloud/suomi.matomo.cloud/"
MATOMO_TOKEN=""
CAPTCHA_ENABLED=false
RECAPTCHA_PUBLIC_KEY="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
RECAPTCHA_PRIVATE_KEY="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"
SENTRY_DSN=""
SENTRY_ENV="local"

# drupal + ckan roles
ROLES_CKAN_ADMIN=ckan_admin
ROLES_EDITOR=editor
ROLES_PUBLISHER=publisher

# initial users
USERS_0_USER=test-editor
USERS_0_PASS=test-editor
USERS_0_EMAIL=editor@localhost
USERS_0_ROLES="ckan_admin editor"
USERS_1_USER=test-publisher
USERS_1_PASS=test-publisher
USERS_1_EMAIL=publisher@localhost
USERS_1_ROLES="publisher"
USERS_2_USER=test-user
USERS_2_PASS=test-user
USERS_2_EMAIL=user@localhost

# postgres
DB_CKAN_HOST=postgres
DB_CKAN=ckan
DB_CKAN_USER=ckan
DB_CKAN_PASS=ckan_pass
DB_DATASTORE_HOST=postgres
DB_DATASTORE=datastore
DB_DATASTORE_ADMIN=ckan
DB_DATASTORE_ADMIN_PASS=ckan_pass
DB_DATASTORE_USER=datastore_user
DB_DATASTORE_PASS=datastore_pass
DB_DATASTORE_READONLY_USER=datastore_ro_user
DB_DATASTORE_READONLY_PASS=datastore_ro_pass
DB_DRUPAL_HOST=postgres
DB_DRUPAL=drupal
DB_DRUPAL_USER=drupal
DB_DRUPAL_PASS=drupal_pass
DB_DATAPUSHER_JOBS_HOST=postgres
DB_DATAPUSHER_JOBS=datapusher_jobs
DB_DATAPUSHER_JOBS_USER=datapusher_jobs
DB_DATAPUSHER_JOBS_PASS=datapusher_jobs_pass

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# solr
SOLR_HOST=solr
SOLR_PORT=8983
SOLR_PATH=solr/ckan

# ckan
CKAN_HOST=ckan
CKAN_PORT=5000

# datapusher
DATAPUSHER_HOST=datapusher
DATAPUSHER_PORT=8800

# drupal
DRUPAL_HOST=drupal
DRUPAL_PORT=80

# nginx
NGINX_HOST=nginx
NGINX_PORT=80

# fuseki+jena
FUSEKI_HOST=fuseki
FUSEKI_PORT=3030
FUSEKI_ADMIN_USER=admin
FUSEKI_ADMIN_PASS=fuseki_pass
FUSEKI_OPENDATA_DATASET=opendata
