{% extends 'package/snippets/package_basic_fields.html' %}

{% import 'macros/ytp_form.html' as ytp_form %}

{% block package_basic_fields_title %}
    <div class="control-group">
      <label for="field-organizations" class="control-label">{{ _('Collection Type') }}</label>
      <div class="controls">
          <p>{{ _('Public Service') }}</p>
      </div>
    </div>

    {{ form.hidden('collection_type', 'Public Service') }}

    {{ ytp_form.input('title', id='field-title', label=_('Title'), placeholder=_('e.g., a descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], locales=h.get_available_locales(), data=data, slug=true) }}

    {{ ytp_form.input('alternative_title', id='field-alternative_title', label=_('Alternative Title'), placeholder=_('e.g., a descriptive title'), value=data.alternative_title, error=errors.alternative_title, locales=h.get_available_locales(), data=data) }}

{% endblock %}

{% block package_basic_fields_url %}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('e.g., my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
{% endblock %}

{% block package_basic_fields_description %}
  {{ ytp_form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('e.g., some useful notes about the data'), value=data.notes, error=errors.notes, locales=h.get_available_locales(), data=data) }}
{% endblock %}

{# Hide the tags from the UI #}
{% block package_basic_fields_tags %}
{% endblock %}

{% block package_basic_fields_license %}
{% endblock %}

{% block package_basic_fields_org %}

    {# ### Taken from CKAN. Modified to show organization and visibility selector always. ### #}

    {# if we have a default group then this wants remembering #}
    {% if data.group_id %}
      <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
    {% endif %}

    {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
    {% set dataset_has_organization = data.owner_org or data.group_id %}
    {% set organizations_available = h.service_organization() %}
    {% set user_is_sysadmin = h.check_access('sysadmin') %}
    {% set show_visibility_selector = dataset_has_organization or organizations_available %}

    {# hide visibility selector #}
    {% set show_visibility_selector = False %}
    {% if show_visibility_selector %}
      <div data-module="dataset-visibility">
    {% endif %}

    {% if show_visibility_selector %}
      {% block package_metadata_fields_visibility %}
        <div class="control-group">
          <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
          <div class="controls">
            <select id="field-private" name="private">
              {% for option in [('False', _('Public')), ('True', _('Private'))] %}
                <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endblock %}
    {% endif %}

    {% if show_visibility_selector %}
      </div>
    {% endif %}

  <div class="control-group">
    <label for="field-state" class="control-label">{{ _('State') }}</label>
    <div class="controls">
      <select id="field-state" name="state">
        <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="draft" {% if data.get('state', 'none') == 'draft' %} selected="selected" {% endif %}>{{ _('Draft') }}</option>
        <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>

    {% set service_region_options = ((_('National'), "national"), ( _('Regional or local'), "regional_local")) %}
    {{ ytp_form.radio(service_region_options, "national", "service_region", label=_('Service provision'), value=data.service_region, error=errors.service_region) }}

    {{ ytp_form.modal('municipalities',
                      label=_('Municipalities, where service is provided'),
                      treedata=h.get_dict_tree_from_json('municipalities_options_url'),
                      modalAttrs = {'nodesToSelect': 'all', 'targetElementId': 'municipalities' },
                      inputAttrs = {'data-module': 'autocomplete', 'data-module-tags': 'municipalities', 'readonly': true,
                            'data-ytp-visible-element': 'service_region', 'data-ytp-visible-data': 'regional_local'},
                      treeAttrs='{"plugins":["checkbox"]}',
                      value=data.municipalities
                      )}}

    {{ ytp_form.modal('life_situations',
                      label=_('Life situation'),
                      treedata=h.get_dict_tree_from_json('life_situation_options_url'),
                      modalAttrs = {'nodesToSelect': 'all', 'targetElementId': 'life_situations' },
                      inputAttrs = {'data-module': 'autocomplete', 'data-module-tags': 'life_situations', 'readonly': true},
                      treeAttrs='{"plugins":["checkbox"]}',
                      value=data.life_situations
                      )}}

    {{ ytp_form.modal('target_groups',
                      label=_('Target groups'),
                      treedata=h.get_dict_tree_from_json('target_group_options_url'),
                      modalAttrs = {'nodesToSelect': 'all', 'targetElementId': 'target_groups' },
                      inputAttrs = {'data-module': 'autocomplete', 'data-module-tags': 'target_groups', 'readonly': true},
                      treeAttrs='{"plugins":["checkbox"]}',
                      value=data.target_groups,
                      is_required=True
                      )}}

    {{ ytp_form.markdown('usage_requirements', id='field-usage_requirements', label=_('Requirements for using the service'), placeholder='', value=data.usage_requirements, error=errors.usage_requirements, locales=h.get_available_locales(), data=data) }}

    {{ form.hidden("ytp", "true") }}

{% endblock %}
