{% extends 'package/snippets/package_basic_fields.html' %}

{% import 'macros/ytp_form.html' as ytp_form %}

{% block package_basic_fields_title %}
    <div class="control-group">
      <label for="field-organizations" class="control-label">{{ _('Collection Type') }}</label>
      <div class="controls">
          <p>{{ _('Public Service') }}</p>
      </div>
    </div>

    {{ form.hidden('collection_type', 'Public Service') }}

    {{ ytp_form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], locales=h.get_available_locales(), data=data, slug=true) }}

    {{ ytp_form.input('alternative_title', id='field-alternative_title', label=_('Alternative Title'), placeholder=_('eg. A descriptive title'), value=data.alternative_title, error=errors.alternative_title, locales=h.get_available_locales(), data=data) }}

{% endblock %}

{% block package_basic_fields_url %}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
{% endblock %}

{% block package_basic_fields_description %}
  {{ ytp_form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes, locales=h.get_available_locales(), data=data) }}
{% endblock %}

{% block package_basic_fields_license %}
{% endblock %}

{% block package_basic_fields_org %}

    {# ### Taken from CKAN. Modified to show organization and visibility selector always. ### #}

    {# if we have a default group then this wants remembering #}
    {% if data.group_id %}
      <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
    {% endif %}

    {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
    {% set dataset_has_organization = data.owner_org or data.group_id %}
    {% set organizations_available = h.service_organization() %}
    {% set user_is_sysadmin = h.check_access('sysadmin') %}
    {% set show_organizations_selector = organizations_available %}
    {% set show_visibility_selector = dataset_has_organization or organizations_available %}

    {% if show_organizations_selector and show_visibility_selector %}
      <div data-module="dataset-visibility">
    {% endif %}

    {% if dataset_has_organization %}
        {% set selected_org = dataset_has_organization %}
        {% set existing_org = dataset_has_organization %}
    {% endif %}

    {% if show_organizations_selector %}
    <div class="control-group">
      <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('Select an organization...') }}</option>
          {% for organization in organizations_available %}
            {# get out first org from users list only if there is not an existing org #}
            {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
            <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}

    {% if show_visibility_selector %}
      {% block package_metadata_fields_visibility %}
        <div class="control-group">
          <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
          <div class="controls">
            <select id="field-private" name="private">
              {% for option in [('False', _('Public')), ('True', _('Private'))] %}
                <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endblock %}
    {% endif %}

    {% if show_organizations_selector and show_visibility_selector %}
      </div>
    {% endif %}

    {% set service_cluster_options = ({'value': '', 'text': ''}, {'value': 'group-1', 'text': 'Group 1'}, {'value': 'group-2', 'text': 'Group 2'}) %}
    {{ form.select('service_cluster', label=_('Service cluster'), options=service_cluster_options, selected=data.service_cluster, error=errors.service_cluster) }}

    {{ ytp_form.modal('municipalities',
                      label=_('Municipalities, where service is provided'),
                      treedata=h.get_dict_tree_from_json('municipalities_options_url'),
                      modalAttrs = {'nodesToSelect': 'all', 'targetElementId': 'municipalities' },
                      inputAttrs = {'data-module': 'autocomplete', 'data-module-tags': 'municipalities', 'readonly': true},
                      value=data.municipalities)}}

    {% set target_groups_attrs = {'data-module': 'autocomplete', 'data-module-tags': 'target_groups', 'data-module-source': '/ytp-api/1/util/tag/autocomplete?vocabulary_id=target_groups&incomplete=?'} %}
    {{ form.input('target_groups', label=_('Target groups'), placeholder='', value=data.target_groups, error=errors.target_groups, classes=['control-full'], attrs=target_groups_attrs) }}

    {{ ytp_form.markdown('usage_requirements', id='field-usage_requirements', label=_('Requirements for using the service'), placeholder='', value=data.usage_requirements, error=errors.usage_requirements, locales=h.get_available_locales(), data=data) }}

    {{ form.hidden("ytp", "true") }}

{% endblock %}
