{% import 'macros/form.html' as form %}
{% import 'macros/ytp_form.html' as ytp_form %}
{% import 'package/ytp/service/macros/service_form.html' as service_form %}


{% macro service_electronic_service(id_suffix, name_prefix='', data={}) %}
    {{ form.hidden(name_prefix + 'service_channel_type', 'electronic_service') }}
    {{ form.hidden(name_prefix + 'url', 'http://www.avoindata.fi/') }}
    {{ ytp_form.input(name_prefix + 'electronic_service_name', id='electronic_service_name_' + id_suffix, label=_('Electronic service name'), value=data.electronic_service_name, placeholder='', error=errors.electronic_service_name, locales=h.get_available_locales(), data=data) }}
    {{ ytp_form.input(name_prefix + 'electronic_service_alternative_name', id='electronic_service_alternative_name_' + id_suffix, label=_('Electronic service alternative name'), value=data.electronic_service_alternative_name, placeholder='', error=errors.electronic_service_alternative_name, locales=h.get_available_locales(), data=data) }}
    {{ ytp_form.markdown(name_prefix + 'electronic_service_description', id='electronic_service_description_' + id_suffix, label=_('Service description'), placeholder='', value=data.electronic_service_description, error=errors.electronic_service_description, locales=h.get_available_locales(), data=data) }}
    {{ form.input(name_prefix + 'electronic_service_email', id='electronic_service_email_' + id_suffix, label=_('Email address'), value=data.electronic_service_email, placeholder='', error=errors.electronic_service_email) }}
    {{ form.input(name_prefix + 'electronic_service_telephone_number', id='electronic_service_telephone_number_' + id_suffix, label=_('Telephone number'), value=data.electronic_service_telephone_number, placeholder='', error=errors.electronic_service_telephone_number) }}
{% endmacro %}

{% macro service_office_or_service_point(id_suffix, name_prefix='', data={}) %}
    {{ form.hidden(name_prefix + 'service_channel_type', 'office_or_service_point') }}
    {{ form.hidden(name_prefix + 'url', 'http://www.avoindata.fi/') }}
    {{ ytp_form.input(name_prefix + 'office_name', id='office_name' + id_suffix, label=_('Name'), value=data.office_name, placeholder='', error=errors.office_name, locales=h.get_available_locales(), data=data) }}
    {{ ytp_form.input(name_prefix + 'office_alternative_name', id='office_alternative_name' + id_suffix, label=_('Alternative name'), value=data.office_alternative_name, placeholder='', error=errors.office_alternative_name, locales=h.get_available_locales(), data=data) }}
    {{ ytp_form.markdown(name_prefix + 'office_description', id='office_description' + id_suffix, label=_('Service description'), placeholder='', value=data.office_description, error=errors.office_description, locales=h.get_available_locales(), data=data) }}
    {{ form.input(name_prefix + 'office_email', id='office_email' + id_suffix, label=_('Email address'), value=data.office_email, placeholder='', error=errors.office_email) }}
    {{ form.input(name_prefix + 'office_telephone_number', id='office_telephone_number' + id_suffix, label=_('Telephone number'), value=data.office_telephone_number, placeholder='', error=errors.office_telephone_number) }}

    {% call form.input_block("opening_hours", _('Opening hours'), errors.opening_hours, [], extra_html="") %}
        <table class="service-opening-hours">
            <tbody>
                    <tr>
                        <td>{{ _("Mo") }}</td>
                        <td><input type="text" name="{{ name_prefix }}open_monday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="open_monday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Tu") }}</td>
                        <td><input type="text" name="{{ name_prefix }}open_tuesday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}open_tuesday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("We") }}</td>
                        <td><input type="text" name="{{ name_prefix }}open_wednesday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}open_wednesday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Th") }}</td>
                        <td><input type="text" name="{{ name_prefix }}open_thursday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}open_thursday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Fr") }}</td>
                        <td><input type="text" name="{{ name_prefix }}open_friday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}open_friday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Sa") }}</td>
                        <td><input type="text" name="{{ name_prefix }}open_saturday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}open_saturday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Su") }}</td>
                        <td><input type="text" name="{{ name_prefix }}open_sunday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}open_sunday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
            </tbody>
        </table>
    {% endcall %}
{% endmacro %}

{% macro service_postal_address(id_suffix, name_prefix='', data={}) %}
    {{ form.hidden(name_prefix + 'service_channel_type', 'postal_address') }}
    {{ form.hidden(name_prefix + 'url', 'http://www.avoindata.fi/') }}
    {{ form.input(name_prefix + 'postal_address', id='postal_address' + id_suffix, label=_('Postall address'), value=data.postal_address, placeholder='', error=errors.postal_address) }}
    {{ form.input(name_prefix + 'postal_address_floor_and_room_number', id='postal_address_floor_and_room_number' + id_suffix, label=_('Floor and room number'), value=data.postal_address_floor_and_room_number, placeholder='', error=errors.postal_address_floor_and_room_number) }}
    {{ form.input(name_prefix + 'postal_address_postal_box', id='postal_address_postal_box' + id_suffix, label=_('Postal Box'), value=data.postal_address_postal_box, placeholder='', error=errors.postal_address_postal_box) }}
    {{ form.input(name_prefix + 'postal_address_postal_number', id='postal_address_postal_number' + id_suffix, label=_('Postal Number'), value=data.postal_address_postal_number, placeholder='', error=errors.postal_address_postal_number) }}
    {{ form.input(name_prefix + 'postal_address_post_office', id='postal_address_post_office' + id_suffix, label=_('Post office'), value=data.postal_address_post_office, placeholder='', error=errors.postal_address_post_office) }}
    {{ form.input(name_prefix + 'postal_address_country', id='postal_address_country' + id_suffix, label=_('Contry'), value=data.postal_address_country, placeholder='', error=errors.postal_address_country) }}
{% endmacro %}

{% macro service_telephone_service(id_suffix, name_prefix='', data={}) %}
    {{ form.hidden(name_prefix + 'service_channel_type', 'telephone_service') }}
    {{ form.hidden(name_prefix + 'url', 'http://www.avoindata.fi/') }}

    {{ ytp_form.input(name_prefix + 'telephone_service_name', id='telephone_service_name' + id_suffix, label=_('Name'), value=data.telephone_service_name, placeholder='', error=errors.telephone_service_name, locales=h.get_available_locales(), data=data) }}
    {{ ytp_form.input(name_prefix + 'telephone_service_alternative_name', id='telephone_service_alternative_name' + id_suffix, label=_('Alternative name'), value=data.telephone_service_alternative_name, placeholder='', error=errors.telephone_service_alternative_name, locales=h.get_available_locales(), data=data) }}
    {{ ytp_form.markdown(name_prefix + 'telephone_service_description', id='telephone_service_description' + id_suffix, label=_('Service description'), placeholder='', value=data.telephone_service_description, error=errors.telephone_service_description, locales=h.get_available_locales(), data=data) }}

    {{ form.input(name_prefix + 'telephone_service_telephone_number', id='telephone_service_telephone_number' + id_suffix, label=_('Telephone number'), value=data.telephone_service_telephone_number, placeholder='', error=errors.telephone_service_telephone_number, is_required=true) }}
    {{ form.input(name_prefix + 'telephone_service_sms_service', id='telephone_service_sms_service' + id_suffix, label=_('SMS service'), value=data.telephone_service_sms_service, placeholder='', error=errors.telephone_service_sms_service) }}
    {{ form.input(name_prefix + 'telephone_service_fax_service', id='telephone_service_fax_service' + id_suffix, label=_('Fax service'), value=data.telephone_service_fax_service, placeholder='', error=errors.telephone_service_fax_service) }}
    {{ form.input(name_prefix + 'telephone_service_email', id='telephone_service_email' + id_suffix, label=_('Email address'), value=data.telephone_service_email, placeholder='', error=errors.telephone_service_email) }}

    {% call form.input_block("telephone_service_opening_hours", _('Opening hours'), errors.opening_hours, [], extra_html="") %}
        <table class="service-opening-hours">
            <tbody>
                    <tr>
                        <td>{{ _("Mo") }}</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_monday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_monday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Tu") }}</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_tuesday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_tuesday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("We") }}</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_wednesday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_wednesday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Th") }}</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_thursday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_thursday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Fr") }}</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_friday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_friday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Sa") }}</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_saturday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_saturday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ _("Su") }}</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_sunday_from" value="" placeholder="{{ _('08:00') }}" /></td>
                        <td class="service-opening-hours-separate">-</td>
                        <td><input type="text" name="{{ name_prefix }}telephone_service_open_sunday_till" value="" placeholder="{{ _('16:00') }}" /></td>
                    </tr>
            </tbody>
        </table>
    {% endcall %}
{% endmacro %}

<p class="info-box">{{ _('Add service related service channel') }}</p>

<h3>{{ _("Service Channels") }}</h3>
<ul id="service-channels-list" data-service-channels-package="{{ data.id }}">

<a style="float: right; display: none;" href="javascript:void(0);" id="service-channel-remove-template" data-confirm-message="{{ _('Are you sure you want to remove selected resource?') }}"><i class="icon-remove-sign"></i> {{ _('Remove' ) }}</a>

{% for resource in data.resources %}
    <li class="service-channels-item" id="resource_original_{{ loop.index0 }}">

    {% if resource.service_channel_type == 'electronic_service' %}
        <a href="javascript:void(0);" onclick="$('#electronic_service_resource_{{ loop.index0 }}').toggle();"><i class="icon-plus"></i> {{ _('Electronic Service' ) }}</a>
        <a style="float: right;" href="javascript:void(0);" onclick="if (confirm('{{ _('Are you sure you want to remove selected resource?') }}')) $('#resource_original_{{ loop.index0 }}').remove();"><i class="icon-remove-sign"></i> {{ _('Remove' ) }}</a>
        <div id="electronic_service_resource_{{ loop.index0 }}" style="display: none;">
            {{ service_electronic_service(loop.index0 ~ "", "resources__" ~ loop.index0 ~ "__", resource) }}
        </div>
    {% elif resource.service_channel_type == 'office_or_service_point' %}
        <a href="javascript:void(0);" onclick="$('#office_or_service_point_{{ loop.index0 }}').toggle();"><i class="icon-plus"></i> {{ _('Office or Service Point' ) }}</a>
        <a style="float: right;" href="javascript:void(0);" onclick="if (confirm('{{ _('Are you sure you want to remove selected resource?') }}')) $('#resource_original_{{ loop.index0 }}').remove();"><i class="icon-remove-sign"></i> {{ _('Remove' ) }}</a>

        <div id="office_or_service_point_{{ loop.index0 }}" style="display: none;">
            {{ service_office_or_service_point(loop.index0 ~ "", "resources__" ~ loop.index0 ~ "__", resource) }}
        </div>
    {% elif resource.service_channel_type == 'postal_address' %}
        <a href="javascript:void(0);" onclick="$('#postal_address_{{ loop.index0 }}').toggle();"><i class="icon-plus"></i> {{ _('Postal Address' ) }}</a>
        <a style="float: right;" href="javascript:void(0);" onclick="if (confirm('{{ _('Are you sure you want to remove selected resource?') }}')) $('#resource_original_{{ loop.index0 }}').remove();"><i class="icon-remove-sign"></i> {{ _('Remove' ) }}</a>

        <div id="postal_address_{{ loop.index0 }}" style="display: none;">
            {{ service_postal_address(loop.index0 ~ "", "resources__" ~ loop.index0 ~ "__", resource) }}
        </div>
    {% elif resource.service_channel_type == 'telephone_service' %}
        <a href="javascript:void(0);" onclick="$('#telephone_service_{{ loop.index0 }}').toggle();"><i class="icon-plus"></i> {{ _('Telephone Service' ) }}</a>
        <a style="float: right;" href="javascript:void(0);" onclick="if (confirm('{{ _('Are you sure you want to remove selected resource?') }}')) $('#resource_original_{{ loop.index0 }}').remove();"><i class="icon-remove-sign"></i> {{ _('Remove' ) }}</a>

        <div id="telephone_service_{{ loop.index0 }}" style="display: none;">
            {{ service_telephone_service(loop.index0 ~ "", "resources__" ~ loop.index0 ~ "__", resource) }}
        </div>
    {% endif -%}

    {%- if loop.last %}
        <input type="hidden" name="free_resource_index" id="free_resource_index" value="{{ loop.index }}" />
    {% endif %}
    </li>
{% endfor %}
</ul>

<ul class="nav nav-tabs nav-justified" data-service-tabs="service_channels">
    <li data-service-tab="electronic_service" class="active"><a href="javascript:void(0);"><i class="icon-plus"></i> {{ _('Electronic Service' ) }}</a></li>
    <li data-service-tab="office_or_service_point"><a href="javascript:void(0);"><i class="icon-plus"></i> {{ _('Office or Service Point') }}</a></li>
    <li data-service-tab="postal_address"><a href="javascript:void(0);"><i class="icon-plus"></i> {{ _('Postal Address') }}</a></li>
    <li data-service-tab="telephone_service"><a href="javascript:void(0);"><i class="icon-plus"></i> {{ _('Telephone Service') }}</a></li>
</ul>


<div data-service-contents="service_channels">
    <div data-service-content="electronic_service">
        {{ service_electronic_service("original") }}
        {{ service_form.add_service_channel('electronic_service') }}
    </div>
    <div data-service-content="office_or_service_point">
        {{ service_office_or_service_point("original") }}
        {{ service_form.add_service_channel('office_or_service_point') }}
    </div>
    <div data-service-content="postal_address">
        {{ service_postal_address("original") }}
        {{ service_form.add_service_channel('postal_address') }}
    </div>
    <div data-service-content="telephone_service">
        {{ service_telephone_service("original") }}
        {{ service_form.add_service_channel('telephone_service') }}
    </div>
</div>
