.qa-table tr.bad_link td {
    background-color: pink;
}

.qa-table tr.good_link td {
    background-color: lightgreen;
}

#content td.cached-resource {
    padding-bottom: 2em;
}

.bad_link td:first-child {
  max-width: 600px;
  width: 600px;
  word-wrap: break-word;
}

.qa-table-resources {
  width: 200px;
  max-width: 200px;
}

.search-result .star-rating {
  display: block;
  padding-top: 5px;
  text-align: right;
}
.search-result .no-stars {
  color: #aaa;
  font-size: 11px;
}

// New styles for QA

.module-ratings .rating-info li {
  line-height: 18px;
}

.module-ratings .rating-info li span {
  font-size: 12px;
  margin-right: 2px;
}

.module-ratings .rating-info .fail {
  color: #afafaf;
}

.module-ratings .rating-info-toggle {
  padding-top: 6px;
  padding-bottom: 6px;
}
