[data-module="show-more-block"] {
  &.show-less {
    position: relative;
    overflow: hidden;
  }
}

.show-more-block__btn {
  position: relative;
  z-index: 11;
  padding: $padding-y__button $padding-x__button;

  // To match buttons left side with content when not focused
  margin-left: -$padding-x__button;
  transition: color $transition-duration--short $transition-timing-function--default;
  color: $opendata-brand-primary;

  &:hover {
    color: $opendata-brand-primary--highlight;
    text-decoration: none;

    i {
      border-color: $opendata-brand-primary--highlight;
      color: $opendata-brand-primary--highlight;
    }
  }

  i {
    transition: all $transition-duration--short $transition-timing-function--default;
    transition-property: color, border-color;
    font-size: $font-size-small;
    width: $font-size-slightly-smaller-base;

    // $NOTE: Make font-awesome icon centered in bordered square
    height: $font-size-slightly-smaller-base + 1;
    line-height: $font-size-slightly-smaller-base;
    border: 1px solid $opendata-brand-primary;
    color: $opendata-brand-primary;
    margin-right: $padding-x--small;
  }
}
