{% ckan_extends %}

{% block maintag %}<div role="main" class="container-page-wrapper">{% endblock %}

{% block prelude %}
<div class="d-flex justify-content-between align-items-end flex-wrap">
    <h1 class="page-heading">{% block page_heading %}{{ _("Create new dataset") }}{% endblock %}</h1>
</div>
{% endblock %}

{% block secondary %}
    {% block stages %}
    <aside class="sidebar col-sm-4 pull-left">
        <h4>{{_("Stages")}}</h4>
        <div class="ytp-group-divider"></div>
        {{ h.snippet('package/snippets/stages.html', stages=form_vars.stage, pkg_name=form_vars.data.name) }}
    </aside>
    {% endblock %}
{% endblock  %}

{% block primary %}
    <div class="primary col-sm-8">
        {% block primary_content %}
            {{ super() }}
        {% endblock %}
    </div>
{% endblock %}
