{% ckan_extends %}

{% block metadata_fields %}
  {{ super() }}
{% endblock %}

{% block package_metadata_author %}
{% endblock %}

{% block save_button_text %}
  {% if form_style != 'edit' %}
    {{ _('Next') }} <i class="fal fa-long-arrow-right"></i>
  {% else %}
      {{ _('Update') }}
  {% endif %}
{% endblock %}

{% set form_style = form_style or action %}
{{ form_style }}
{% block disclaimer %}
{% if form_style != 'edit' and (not pkg_dict or not pkg_dict.id) %}
    {{ super() }}
{% endif %}
{% endblock %}

{% block delete_button %}
    {% if pkg_dict and (form_style == 'edit' or pkg_dict.id) and h.check_access('package_delete', {'id': pkg_dict.id}) %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
            {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
            <a class="btn suomifi-button-secondary pull-left" href="{% url_for controller='ytp_dataset_blueprint', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}<i class="far fa-trash"></i>{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
    {% endif %}
    <a class="btn suomifi-button-secondary-noborder" href="{% url_for controller='ytp_dataset_blueprint', action='search' %}">{{_("Abort")}}</a>
{% endblock %}
