{% ckan_extends %}

{% block metadata_fields %}
  {{ super() }}
{% endblock %}

{% block package_metadata_author %}
{% endblock %}

{% block save_button_text %}
  {% if form_style != 'edit' %}
    {{ _('Next') }} <i class="fal fa-long-arrow-right"></i>
  {% else %}
      {{ _('Update') }}
  {% endif %}
{% endblock %}

{% set form_style = c.form_style or c.action %}
{% block disclaimer %}
{% if form_style != 'edit' and not ('pkg_dict' in c and c.pkg_dict.id) %}
    {{ super() }}
{% endif %}
{% endblock %}

{% block delete_button %}
    {% if form_style == 'edit' and pkg_dict.id and h.check_access('package_delete', {'id': pkg_dict.id}) %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
            {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
            <a class="btn suomifi-button-secondary pull-left" href="{% url_for 'dataset.delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}<i class="far fa-trash"></i>{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
    {% endif %}
    <a class="btn suomifi-button-secondary-noborder" href="{% url_for 'dataset.search' %}">{{_("Abort")}}</a>
{% endblock %}
