{% ckan_extends %}

{% block primary %}
    <div class="dataset-header-row row">
      <div class="dataset-title-column col-md-8 col-xs-12">
        <h1 class="dataset-title">
        {% block page_heading %}
        {% if pkg.private %}
        <i class="fa fa-xs fa-lock icon-private" title="{{ _('Private') }}"></i>
        {% endif %}
        {{ h.get_translated(pkg, 'title') or pkg.name }}
        {% endblock %}
        </h1>
      </div>
      <div class="content_action col-md-4 col-xs-12">
        {% block content_action %}
          {% link_for _('Groups'), controller='package', action='groups', id=pkg.name, class_='opendata-content-action pull-right', icon='users'%}
           {% if h.check_access('package_update', {'id':pkg.id }) %}
               {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='opendata-content-action pull-right', icon='wrench' %}
           {% endif %}
        {% endblock %}
      </div>
    </div>

    {% snippet "package/snippets/subtitle_byline.html", pkg=pkg %}
    <div id="dataset-primary" class="row">
    {% block primary_content %}
      <section class="dataset-primary-content col-lg-8">
        {% block primary_content_inner %}
        {% block package_description %}
            {% block package_notes %}
                {% set notes_formatted = h.extra_translation(pkg, 'notes', markdown=True) %}
                {% if notes_formatted %}
                <div class="notes embedded-content">
                    {{ notes_formatted }}
                </div>
              {% endif %}
            {% endblock %}
        {% endblock %}

        {% block package_tags %}
        {% endblock %}
        {% block package_resources %}
           {% snippet "package/snippets/resources_list2.html", pkg=pkg, resources=pkg.resources %}
        {% endblock %}

        {% block package_additional_info %}
            {% snippet "package/snippets/ytp_additional_info.html", pkg_dict=pkg %}
        {% endblock %}

        {% endblock %}


        {{h.disqus_comments()}}
      </section>

    {% endblock %}

    {% block package_info %}
        {% snippet 'package/snippets/dataset_info.html', pkg=pkg%}
    {% endblock %}

    {% block secondary_content %}

      {% block secondary_help_content %}{% endblock %}

      {% block package_social %}{% endblock %}

      {% block package_license %}{% endblock %}

      {% block package_organization %}{% endblock %}

    {% endblock %}
</div>
{% endblock %}
