{% ckan_extends %}

{% block primary %}

    {% snippet "package/snippets/dataset_state_banner.html", pkg=pkg %}

  <div class="dataset-container">
    <div class="dataset-header-row d-flex align-items-end justify-content-between flex-wrap">
      <div>
        <h1 class="dataset-title m-0">
          {% block page_heading %}
            {{ h.get_translated(pkg, 'title') or pkg.name }}
          {% endblock %}
        </h1>
      </div>
      <div class="content_action">
        {% block content_action %}
        {% endblock %}
      </div>
    </div>

    <div id="dataset-primary" class="row">
    {% block primary_content %}
      <section class="dataset-primary-content col-lg-8">
        {% block primary_content_inner %}
          {% block package_description %}
              {% block package_notes %}
                  {% set notes_formatted = h.extra_translation(pkg, 'notes', markdown=True) %}
                  {% if notes_formatted %}
                  <div class="notes embedded-content">
                      {{ notes_formatted }}
                  </div>
                {% endif %}
              {% endblock %}
          {% endblock %}

          {% block package_tags %}
          {% endblock %}

          {% block package_resources %}
              {% snippet "package/snippets/resources_list2.html", pkg=pkg, resources=pkg.resources %}
          {% endblock %}

          {% block package_additional_info %}
          {% endblock %}
        {% endblock %}

        {{h.disqus_comments()}}
      </section>

    {% endblock %}

    {% block package_info %}
        {% snippet 'package/snippets/dataset_info.html', pkg=pkg%}
    {% endblock %}

    {% block secondary_content %}

      {% block secondary_help_content %}{% endblock %}

      {% block package_social %}{% endblock %}

      {% block package_license %}{% endblock %}

      {% block package_organization %}{% endblock %}

    {% endblock %}
    </div>
  </div>
{% endblock %}
