{% extends "package/base.html" %}

{% set res = c.resource %}
{% set visits =  h.get_visits_for_resource(res.id) %}
{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(res.description, extract_length=200) if res.description else h.markdown_extract(c.package.notes, extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock -%}

{% block subtitle %}{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="">{{ h.resource_display_name(res)| truncate(30) }}</a></li>
{% endblock %}

{% block primary_content %}
  {% block resource %}
    <section class="module module-resource col-xs-12">
      <div class="module-content">
        <div class="actions">
          {% block resource_actions %}
            <ul>
              {% block resource_actions_inner %}
                {% if h.check_access('package_update', {'id':pkg.id }) %}
                  <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
                {% endif %}
                {% if res.url %}
                  <li>
                    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                      {% if res.resource_type in ('listing', 'service') %}
                        <i class="icon-eye-open"></i> {{ _('View') }}
                      {% elif  res.resource_type == 'api' %}
                        <i class="icon-key"></i> {{ _('API Endpoint') }}
                      {% elif not res.can_be_previewed %}
                        <i class="icon-external-link"></i> {{ _('Open') }}
                      {% else %}
                        <i class="icon-download"></i> {{ _('Download') }}
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
                {% if 'datastore' in g.plugins %}
                  <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
                {% endif %}
              {% endblock %}
            </ul>
          {% endblock %}
        </div>
        {% block resource_content %}
          {% block resource_read_title %}
            <h1 class="page-heading">{{ h.extra_translation(res, 'name', fallback=h.resource_display_name) }}</h1>
          {% endblock %}
          {% block resource_read_url %}
            {% if res.url %}
              <p class="muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics resource-type-"{{ res.resource_type }} href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
            {% endif %}
          {% endblock %}
          <div class="prose notes" property="rdfs:label">
          {% set description = h.extra_translation(res, 'description', markdown=True) %}
          {% if description %}
            {{ description }}
          {% else %}
            {% set notes = h.extra_translation(c.package, 'notes', markdown=True) %}
            {% if notes %}
              <h3>{{ _('From the dataset abstract') }}</h3>
              <blockquote>{{ notes }}</blockquote>
              <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
            {% endif %}
          {% endif %}
        {% endblock %}
        </div>
      </div>
      {% block data_preview %}
      {% block resource_view %}
        {% block resource_view_nav %}
          {% set resource_preview = h.resource_preview(c.resource, c.package) %}
          {% snippet "package/snippets/resource_views_list.html",
             views=resource_views,
             pkg=pkg,
             is_edit=false,
             view_id=current_resource_view['id'],
             resource_preview=resource_preview,
             resource=c.resource,
             extra_class="nav-tabs-plain"
           %}
        {% endblock %}
          {% block resource_view_content %}
            <div class="resource-view">
              {% set resource_preview = h.resource_preview(c.resource, c.package) %}
              {% set views_created = res.has_views or resource_preview %}
              {% if views_created %}
                {% if resource_preview and not current_resource_view %}
                  {{ h.resource_preview(c.resource, c.package) }}
                {% else %}
                  {% for resource_view in resource_views %}
                    {% if resource_view == current_resource_view %}
                      {% snippet 'package/snippets/resource_view.html',
                         resource_view=resource_view,
                         resource=c.resource,
                         package=c.package
                       %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% else %}
                {# Views not created #}
                <div class="data-viewer-info">
                  <p>{{ _("There are no views created for this resource yet.") }}</p>
                  {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
                    <p class="text-muted">
                      <i class="fa fa-info-circle"></i>
                      {{ _("Not seeing the views you were expecting?")}}
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                        {{ _('Click here for more information.') }}</a>
                    </p>
                    <div id="data-view-info" class="collapse">
                      <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                      <ul>
                        <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                        <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                        <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                      </ul>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endblock %}
        </div>
      {% endblock %}
      {% endblock %}
    </section>
  {% endblock %}
  {% block resource_additional_information %}
    {% if res %}
      <section class="module">
        <div class="module-content">
          <h2>{{ _('Extra information') }}</h2>

          <dl class="dl-horizontal">

            <dt>{{ _('Last updated') }}</dt>
            <dd>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</dd>

            <dt>{{ _('Created') }}</dt>
            <dd>{{ h.render_datetime(res.created) or _('unknown') }}</dd>

            <dt>{{ _('Format') }}</dt>
            <dd>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</dd>

            <dt>{{ _('License') }}</dt>
            <dd>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</dd>
            {% set extra_dict = h.format_extras(res) %}

            {% if extra_dict.temporal_granularity %}
              <dt>{{ _('Temporal Granularity')}}</dt>
              <dd>{{ extra_dict.temporal_granularity }}</dd>
            {% endif %}

            {% if extra_dict.update_frequency %}
              <dt>{{ _('Update Frequency') }}</dt>
              <dd>{{ extra_dict.update_frequency }}</dd>
            {% endif %}

            {% if extra_dict.temporal_coverage_from or extra_dict.temporal_coverage_to %}
              <dt>{{ _('Temporal Coverage') }}</dt>
              <dd>
                {% if extra_dict.temporal_coverage_from %}{{ h.render_date(h.date_str_to_datetime(extra_dict.temporal_coverage_from)) }}{% endif %} -
                {% if extra_dict.temporal_coverage_to %}{{ h.render_date(h.date_str_to_datetime(extra_dict.temporal_coverage_to))}}{% endif %}
              </dd>
            {% endif %}
          </dl>


          {% set extra_dict = h.clean_extras_resources(extra_dict) %}

          <h3 class="collapsible
           collapsed" data-toggle="collapse" data-target="#extra-extra">
            {{_('Technical extra information')}}
          </h3>
          <dl id="extra-extra" class="collapse dl-horizontal">
            {% for key in extra_dict.keys() %}
              <dt>{{ _(key) }}</dt>
              <dd>{{ extra_dict.get(key) }}</dd>
            {% endfor %}
          </dl>

        </div>
      </section>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block secondary_content %}

  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
  {% endblock %}

  {% block resource_license %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

  <h2 class="module-heading">{{ _('Stats') }}</h2>
  <span>{{ _('Last 30 days, updated daily') }}</span>
  <div id="chart_div"></div>

  <span>{{ _('All time downloads:' ) }} {{ visits.count }}</span>

  <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
              'modules':[{
                'name':'visualization',
                'version':'1',
                'packages':['corechart']
              }]
            }"></script>

  <script type="text/javascript">
        google.setOnLoadCallback(drawChart);

        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ["{{ _('Year') }}", "{{ _('Downloads') }}"],
            {% for v in visits.downloads %}
              [new Date({{ v.year }}, {{ v.month - 1 }}, {{ v.day }}), {{ v.visits }}],
            {% endfor %}
          ]);

          var options = {
            hAxis: {
              textPosition: 'none',
              format: 'dd.MM.yyyy',
              gridlines: {
                count : 4
              }
            },
            vAxis: {
              minValue: 4
            },
            legend: { position: 'bottom' }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

          chart.draw(data, options);
        }
      </script>

{% endblock %}

