{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block meta %}
{{ super() }}
<meta name="robots" content="noindex, follow" />
{% endblock %}

{% block subtitle %}{{ _("Datasets") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {% if h.check_access('package_create') %}
        <div class="row">
          <div class="page_primary_action pull-right">
            {% link_for _('My Datasets'), named_route='dashboard.datasets', class_='btn btn-avoindata-header', icon='star-empty' %}

            <!-- Begin Add Dataset split button -->
            {% resource 'ytp_common_js/ytp_form.js' %}
            <div class="btn-group">
              {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-avoindata-header no-right-padding', icon='plus-sign' %}
              <a class="btn btn-avoindata-header dropdown-toggle" data-toggle="dropdown">
                <span class="fas fa-plus"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{{ h.url_for(controller='package', action='new', collection_type='Open Data', group=c.preselected_group or "") }}">{{ _('Add open data') }}</a>
                </li>
                <li>
                  <a href="{{ h.url_for(controller='package', action='new', collection_type='Interoperability Tools', group=c.preselected_group or "") }}">{{ _('Add interoperability tools')}}</a>
                </li>
                <li>
                  {% if h.check_access('can_create_service') and h.service_database_enabled() %}
                    <a href="{{ h.url_for('service_new') }}">{{ _('Add public service')}} (beta)</a>
                  {% endif %}
                </li>
              </ul>
            </div>
            <!-- End Add Dataset split button -->
          </div>
          </div>
        {% endif %}
      {% endblock %}
      {% block form %}
      <div class="row">
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Source'), 'source asc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, query_params=c.fields_grouped %}
      </div>
      {% endblock %}
      <div class="row">
        {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
        {% endblock %}
      </div>
    </div>

    {% block page_pagination %}
      {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
  <section class="module">
    <div class="module-content api-help">
      <small>
        {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
        {% set api_doc_link = h.link_to(_('API Docs'), 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version)) %}
        {% if g.dumps_url -%}
          {% set dump_link = h.link_to(_('full {format} dump').format(format=g.dumps_format), g.dumps_url) %}
          {% trans %}
            You can also access this registry using the {{ api_link }} (see {{ api_doc_link }}) or download a {{ dump_link }}.
          {% endtrans %}
        {% else %}
          {% trans %}
            You can also access this registry using the {{ api_link }} (see {{ api_doc_link}}).
          {% endtrans %}
        {%- endif %}
      </small>
    </div>
  </section>
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
  {% endfor %}
{% endblock %}
