@import "variables.less";

.translate-content {
    background-color: @background-hilight;
    padding-right: 25px;
    padding-bottom: 15px;
}

.translate-bar {
    background-color: @background-hilight;
    position: relative;
    padding: 3px 14px;

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: inline;
    }
    li {
        display: inline-block;
        font-size: medium;
        min-width: 2em;
    }

    a:active {
        background-color: @background-hilight;
    }

    a:hover {
        text-decoration: none;
        background-color: @background-hilight;
    }

    a:focus {
       text-decoration: none;
       background-color: @background-hilight;
    }

    a, span {
        margin-right: 1em;
        padding: 0.2em;
        border-radius: 5px;
        margin-bottom: 1em;
        display: block;
    }
    th, td {
        min-width: 10em;
    }

    .language {
        display: none;
    }

    .original_language {
       font-weight: bold;
    }
}

// A general translate-bar without the background
.user-form .translate-bar {
    background-color: transparent;
    padding-left: 0;

    a:active {
        background-color: transparent;
    }

    a:hover {
        background-color: transparent;
    }

    a:focus {
        background-color: transparent;
    }

    span {
        padding-left: 0;
    }
}

.translate-language-select {
    display: none;
    table {
        padding: 8px 0;
    }
}

input.translation-input {
    display: inline-block;
}

.translation-input-container {
    display: inline-block;
}

.translation-input-language {
    text-transform: uppercase;
    padding: 6px 6px;
}

.translation-container {
    display: inline-block;
}

.translation-list {
    position: relative
}
