@import (reference) "upstream_bootstrap/mixins";
@import "variables.less";

body {
  background: url("../images/stamen_background.jpg?timestamp=<%= timestamp %>") 50% 50% fixed no-repeat;
  background-size: cover;
  padding-top: 54px;
}
@media(max-width: @screen-lg) {
  body {
    padding-top: 50px;
  }
}

a {
    color: @link-color;
}

h1, h2, h3 {
    margin-top: 0;
}

h4 {
    font-size: 18px;
}

.input-block-level {
      display: block;
      width: 100%;
}

.add-to-cart {
    float: right;
}

.icon-cart-navbar, .nav li .icon-cart-navbar {
    display: block;
    width: 21px;
    height: 25px;
    background-image: url('../images/sprite.png?timestamp=<%= timestamp %>');
    background-repeat: no-repeat;
    background-position: -56px -24px;
    float: left;
    margin-right: 8px;
}

.icon-cart-link {
    float: left;
    width: 21px;
    height: 24px;
    background-image: url('../images/sprite.png?timestamp=<%= timestamp %>');
    background-repeat: no-repeat;
    background-position: -56px 0px;
    margin-right: 8px;
}

.node {
    margin-bottom: 12px;
    .field.field-name-field-tags {
      color: @nonimportant-text-color;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .links {
      margin-left: 0;
    }

    .submitted {
      margin-top: 4px;
      margin-bottom: 6px;
    }

    .meta {
        font-size: 12px;

        &.nodetype {
            display: inline;
            color: @main-hilight-color;
            background-color: @background-hilight;
            font-variant: small-caps;
            padding: 3px;
        }

        &.submitted {
            color: @node-meta-submitted;
            padding: 2px;
        }

        &.download-url {
            display: inline;
        }

        &.tags {
            margin: 0;
            padding: 0;
            list-stype-type: none;
            display: inline;

            li {
                display: inline;
                color: @main-hilight-color;
                padding: 0px 4px 0px 4px;
                border-right: 1px solid @main-hilight-color;
            }
            li:last-child {
                border-right: 0px;
            }
        }
    }
}

#responsive-login-panel, #responsive-browse-panel {
  font-size: 1.5em;
  padding: 15px;
}

#footer {
    margin-top: 8px;
    padding-top: 16px;
    border-top: 1px solid @footer-border;
    background-color: @footer-color;
    font-size: 50px;
    padding-bottom: 64px;
}

.carousel {
  margin-top: 4px;
  .carousel-inner {
    .item {
      img {
        width: 200px;
        height: 160px;
      }
    }
    .carousel-caption {
      left: 220px;
      height: 160px;
      top: 0;
      text-align: left;
      font-size: 18px;
      line-height: 25px;
      overflow: hidden;
      h3 {
        border-bottom: none;
        margin-bottom: 0;
        margin-top: 0px;
        font-size: 24px;
      }
      a {
        color: @block-color;
      }
    }
    background-color: #4D4D4D; //@block-color-background;
    height: 160px;
    border-radius: 10px;
  }
  .carousel-control {
    background: none;
    width: 4%;
    opacity: 0.2;
    .icon-next, .icon-prev {
      top: 35%;
      font-size: 62px;
    }
  }
  .carousel-indicators {
    bottom: 2px;
    margin-bottom: 0;
  }
}

#infobox {
  background-color: @block-color-background;
  color: @block-color;
  height: 160px;
  border-radius: 5px;
  padding-top: 10px;
  font-size: 18px;
  overflow: hidden;
  line-height: 25px;
  .content {
    height: 120px;
    overflow: hidden;
  }
  .readmore {
    a {
      color: @block-color;
      text-decoration: underline;

      &:after {
        content: ">";
      }
    }
  }
}

#page-header {
  margin-top: 5px;
  .region-header {
    margin-bottom: 2px;
    padding-bottom: 10px;
  }
}
.page-header {
  border-bottom-width: 0px;
  margin-bottom: 8px;
}

.region-sidebar-second {
  section {
    background-color: @background-hilight;
    padding: 18px;
    margin: 10px 0;
    border-radius: 5px;
    .views-field-title {
      margin-bottom: 4px;
      .field-content {
        color: rgb(51, 51, 51);
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .tutorial-register {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: @block-color;
    border-radius: 5px;
    a {
      color: @block-color;
    }
    background-color: @block-color-hilight;
    &:after {
      content: " >";
    }
  }
  .tutorial-signin {
    margin-top: 10px;
    a:after {
      content: " >"
    }
  }
}

.region-content {
  margin-top: 21px;
}

.control-full.error-block {
  width: auto;
}


.form-inline .form-control{
  width: 100%;
}

.form-horizontal{
  .radio-inline, .checkbox-inline{
    padding-top: 0;
  }
}

label.radio-inline:after, label.checkbox-inline:after{
  content: ""
}

// Drupal article tags
.field-type-taxonomy-term-reference {
  margin: 14px 0;
  a {
    color: @nonimportant-text-color;
  }
  .field-item {
    display: inline;
    margin-right: 10px;
  }
}
.indented {
  margin-left: 18px;
}

.comment-wrapper {
  background-color: @background-hilight;
  border-radius: 4px;
  padding: 10px;

  .links {
    margin: 16px 0 10px 0;
  }

  h3 {
    display: inline-block; 
  }

  .submitted {
    float: right;
    margin: 4px 0;
  }
}

.comment {
  border-bottom: 1px solid @content-border;
  margin: 12px 0;
}

.sharethis-buttons {
  margin-top: 16px;
  margin-bottom: 16px;
}