@import (reference) "upstream_bootstrap/mixins";
@import "variables.less";

body {
  background: url("../images/stamen_background.jpg?timestamp=<%= timestamp %>") 50% 50% fixed no-repeat;
  background-size: cover;
  padding-top: 64px;
}


a {
	color: @main-hilight-color;
}

h1, h2, h3 {
	margin-top: 0;
}

h3 {
	border-bottom: 1px solid @header-text-border;
	margin-bottom: 16px;
}

h4 {
	font-size: 18px;
}

.input-block-level {
  	display: block;
  	width: 100%;
}

.add-to-cart {
	float: right;
}

.icon-cart-navbar, .nav li .icon-cart-navbar {
	display: block;
	width: 21px;
	height: 25px;
	background-image: url('../images/sprite.png?timestamp=<%= timestamp %>');
	background-repeat: no-repeat;
	background-position: -56px -24px;
	float: left;
	margin-right: 8px;
}

.icon-cart-link {
	float: left;
	width: 21px;
	height: 24px;
	background-image: url('../images/sprite.png?timestamp=<%= timestamp %>');
	background-repeat: no-repeat;
	background-position: -56px 0px;
	margin-right: 8px;
}

.node {
	margin-bottom: 20px;

	h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 4px;		
	}

	.meta {
		font-size: 12px;

		&.nodetype {
			display: inline;
			color: @main-hilight-color;
			background-color: @background-hilight;
			font-variant: small-caps;
			padding: 3px;			
		}

		&.submitted {
			color: #727272;
			padding: 2px;
		}

		&.download-url {
			display: inline;
		}

		&.tags {
			margin: 0;
			padding: 0;
			list-stype-type: none;
			display: inline;

			li {
				display: inline;
				color: @main-hilight-color;
				padding: 0px 4px 0px 4px;
				border-right: 1px solid @main-hilight-color;
			}
			li:last-child {
				border-right: 0px;
			}
		}
	}
}

#responsive-login-panel, #responsive-browse-panel{
  font-size: 1.5em;
  padding: 15px;
}

#footer {
	margin-top: 8px;
	padding-top: 16px;
	border-top: 1px solid #ebebeb;
	background-color: @footer-color;
	font-size: 16px;
	padding-bottom: 64px;
}

.carousel{
  .carousel-inner{
    .item {
      img {
        width: 200px;
        height: 160px;
      }
    }
    .carousel-caption{
      left: 220px;
      height: 160px;
      text-align: left;
      font-size: 18px;
      line-height: 25px;
      overflow: hidden;
      h3{
        border-bottom: none;
        margin-bottom: 0;
        font-size: 24px;
      }
      a{
        color: @block-color;
      }
    }
    background-color: @block-color-background;
    height: 160px;
    border-radius: 5px;
  }
  .carousel-control{
    .icon-next, .icon-prev{
      top: 35%;
      font-size: 62px;
    }
  }

  .carousel-indicators{
    bottom: 5px;
    margin-bottom: 0;
  }
}

#infobox{
  background-color: @block-color-background;
  color: @block-color;
  height: 160px;
  border-radius: 5px;
  padding-top: 10px;
  font-size: 18px;
  overflow: hidden;
  line-height: 25px;
  .content{
    height: 120px;
    overflow: hidden;
  }
  .readmore {
    a {
      color: @block-color;
      text-decoration: underline;

      &:after{
        content: ">";
      }
    }
  }
}

#page-header > .row{
  padding-bottom: 20px;
}

.row{
  margin-right: 0;
}

.region-sidebar-second{
  section{
    background-color: @block-secondary-color-background;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    .views-field-title{
      margin-bottom: 15px;
      .field-content{
        font-size: 16px;

      }
    }
  }
  .tutorial-register{
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: @block-color;
    border-radius: 5px;
    a{
      color: @block-color;
    }
    background-color: @block-color-hilight;
    &:after{
      content: " >";
    }
  }
  .tutorial-signin{
    margin-top: 10px;
    a:after{
      content: " >"
    }
  }
}

.control-full.error-block{
  width: auto;
}