@import "variables";
.btn-lg {
    font-size: 22px;
}

.btn-default.btn-lg {
    color: @button-inverse-text-color;
    background: url("../images/button-lg-gradient.png?timestamp=<%= timestamp %>") repeat-x;
    height: 63px;
}
.add-member-or {
  margin-top: 0px;
}
div.add-member-or {
  padding-top: 30px;
  height: 70px
}

span.add-member-or {
  display: inline-block;
  vertical-align: middle;
}

.simple-input .field .btn-search {
  right: 26px;
}

.form-subheading {
  color: @ytp-brand-gray;
  border-bottom: solid @ytp-brand-gray 1px;
}

.ytp-modal-form {
  .select2-container {
    vertical-align: middle;
  }
}

.form-actions {
  border: 0;
  margin-left: 0;
}

.comment-form-container .form-actions {
  border: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.ytp-multiple-values > div {
  overflow: hidden;
  margin-bottom: 15px;

  input {
    float: left;
  }

  a {
    margin-top: 3px;
    margin-left: 3px;
    float: left;
  }

  a:hover, a:focus {
    text-decoration: none;
  }
}

.ytp-multiple-values > div:last-child {
  margin-bottom: 0;
}

textarea {
  resize: vertical;
}

.form-horizontal .form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-control.date {
  width: 210px;
}

.form-inline .hyphen {
  padding-left: 3px;
  padding-right: 3px;
}

.control-full .select2-container {
  // Important is bad but select2 incorrectly calculates the width and
  // sets it on the element.
  width: 440px !important;
}

.js .image-upload {
  .btn-remove-url {
    top: 6px;
  }
  span + .btn{
    margin-left: 10px;
  }
}

.control-group .help-block {
  margin-bottom: 0;
}

.outer-form{
  &.form-group{
    margin-top: 10px;
  }
  &.pull-right{
    margin-right: 40px;
  }
  &.pull-left{
    margin-left: 40px;
  }
}

.radio-select-label{
  margin-left: 20px;
}



