@import "variables";
.btn-lg {
	font-size: 22px;
}

.btn-default.btn-lg {
	color: #fff;
	background: url("../images/button-lg-gradient.png?timestamp=<%= timestamp %>") repeat-x;
	height: 63px;
}
.add-member-or{
  margin-top: 0px; 
}
div.add-member-or{
  padding-top: 30px; 
  height: 70px
}
span.add-member-or{
  display: inline-block;
  vertical-align: middle;
}

.simple-input .field .btn-search {
  right: 26px;
}

.form-subheading {
  color: @form-subheading-color;
  border-bottom: solid @form-subheading-color 1px;
}
