@import "upstream_bootstrap/variables";
@import "variables.less";

.navbar-fixed-top {
  background-color: @navbar-color-background;
  min-height: @navbar-height;
  a.navbar-brand {
    padding-right: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar-brand, .lang-select > li > a {
      color: @navbar-color-text;
    }

  .navbar-brand, .navbar-nav > li > a {
    padding: 10px;
  }

  .navbar-toggle {
    padding-left: 4px;
    padding-right: 0px;
  }

  .navbar-nav li {
    font-size: 13px;
  }
    .collapse {
      .navbar-nav.lang-select, .navbar-nav.user-nav {
        a {
          margin: 10px 0px 10px 16px;
          padding: 0px;
      }

      li a {
        padding-left: 0px;
        display: inline-block;
      }
      li a:after {
        padding-left: 16px;
        color: @navbar-color-text;
        content: '|';
      }
      li:last-child a {
        border-right: medium none;
        padding-right: 0;
      }
      li:last-child a:after {
        display: none;
      }
    }
  }
  .collapsing, .in {
    overflow-y: visible;
    .navbar-nav.lang-select, .navbar-nav.user-nav {

      a {
        margin: 10px 0px 10px 10px;
        padding: 0px;
      }
      li {
        text-align: center;
        border-bottom: 1px solid @navbar-color-text;
      }
      li a {
        padding-bottom: 0px;
        padding-top: 0px;
        display: inline-block;
        font-size: 1.5em;
        color: @navbar-color-text;
      }
      li:last-child {
        border-bottom: medium none;
        padding-top: 0px;
      }

      ul {
        text-align: center;
        li.list-item-class {
          display: inline;
          border-right: 1px solid @navbar-color-text;
          border-bottom: none;
          padding-right: 10px;
        }
        li.list-item-class:last-child {
          padding-right: 0px;
          border-right: none;

        }
      }
    }
  }

  .navbar-collapse.in {
      overflow-y: visible;
    }
}


.navbar-nav.user-nav {
  span, a {
    color: @navbar-color-darker;
  }
  .login {
    color: @navbar-color-text;
  }
}

.navbar.navbar-main {
  border: none;
  border-top-right-radius: @pagewrapper-border-radius;
  border-top-left-radius: @pagewrapper-border-radius;
  background-color: @menu-link-background;
  background-repeat: repeat-x;
  min-height: 40px;
  margin: 0 -15px;
  .navbar-brand {
    padding: 10px;
  }
  .navbar-toggle {
    padding: 0px;
  }

  .navbar-header {
    margin: 0;
    padding: 0;
    button {
      padding-top: 6px;
    }
    .icon-bar {
      background: @navbar-responsive-toggle-background;
    }

    .navbar-brand {
      color: @navbar-color-background;
    }
  }

  .navbar-nav {
    li {
      &:first-child > a {
        border-top-left-radius: @pagewrapper-border-radius;
      }
    }
    li > a {
      font-size: 18px;
      letter-spacing: 0.5px;
      color: @menu-link-color;
      padding: 10px 20px 10px 20px;
    }
    .active {
      a, a:hover, a:focus {
        color: @navbar-color-text;
        background-color: @menu-active-color;
        background-image: none;
      }
    }
      a:hover {
      background-color: @menu-hover-color;
    }
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar.navbar-search {
  background-color: @body-color-background;
  background-image: none;
  border: 2px solid @block-color-hilight;
  border-radius: @button-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: @navbar-search-color;
  padding: 2px;
  height: 54px;
  margin-top: 10px;

  form {
    margin: 0;
    padding: 0;

    input.search-term {
      float: left;
      border: 0px;
      padding: 10px 14px 9px 18px;
      color: #333;
      background-color: @body-color-background;
      font-size: 18px;
      width: 90%;
      &:focus {
        outline: none;
      }
    }
    button.search-submit {
      border: none;
      margin-right: 2px;
      width: 60px;
      height: 44px;
      float: right;
      background: @block-color-hilight;
      color: @block-color;
      border-radius: 10px;
      position: absolute;
      right: 1px;
      top: 3px;
      i.icon-search {
        font-size: 28px;
        width: 25px;
      }
      span {
        display: none;
      }
    }
  }
}

.region-top-navigation {
  .item-list {
    .navbar-nav {
      margin-left: 25%;
    }
  }
}


/* The ytp-menulink class is only applied to list items inside menu blocks in Drupal. */
ul.menu.nav {
  margin-left: 0px !important;
}

li.ytp-menulink {
  margin-left: 0px;
  font-size: 16px;

  li {
    margin-left: 14px;
  }

  a {
    color: @menu-link-color;
    font-weight: 300;
    background: @menu-link-background;
    padding: 6px 20px 6px 20px;
    border: 1px solid @section-border-color;
  }

  a:focus, a.selected {
    color: @navbar-color-text;
    background-color: @menu-active-color;
    border: 1px solid @menu-active-color;
  }

  a:hover {
    color: @menu-link-color;
    background-color: @menu-hover-color;
  }

  &.collapsed > a:after {
    content: "\f105";
    float: right;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

  &.expanded > a:after {
    content: "\f107";
    float: right;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }
}

li.ytp-menulink.active-trail > a.active-trail {
  border-left: 6px solid @menu-active-color;
}

li.ytp-menulink.active > a.active {
  color: @navbar-color-text;
  background-color: @menu-active-color;
  border: 1px solid @menu-active-color;
}
.menu-name-main-menu {
  margin-left: 0px;
}

.navbar-nav.navbar-right.user-nav-large {
  padding-right: 10px;
}