@import "upstream_bootstrap/variables";
@import "variables.less";
@import "mixins/mixins.less";

.navbar-inverse {
  background-color: @navbar-color-background;
  border-color: @navbar-color-background;
  border-radius: 0px;
}

.site-logo {
  height: 20px;
}
