@import (reference) "upstream_bootstrap/variables";

// Common color palette. These are the only colors that should be used!
@ytp-brand-primary:	   #266ab9; // Primary navigation/interaction/focus color
@ytp-brand-decorative: #ee7544; // Decorative secondary color, for non-important elements
@ytp-brand-gray:       #888888; // Neutral grayish elements
@ytp-brand-success:    #5cb85c; // Interaction color, successful positive color
@ytp-brand-info:       #5bc0de; // Notification color, important but not critical
@ytp-brand-warning:    #f0ad4e; // Slightly dangerous and important element
@ytp-brand-danger:     #d9534f; // Very dangerous, error information and destructive interaction
@brand-primary: @ytp-brand-primary;
@brand-info: @ytp-brand-decorative;

// Decorative options:
// #24C57C green
// #1ac075 green
// #ee7544 orange

// For very 'extra' information, meant for small text on white/light backgrounds
@nonimportant-text-color: lighten(@ytp-brand-gray, 0%);

// Light background to emphasize a subarea in main content, gives a "post-it note" feeling
@background-hilight: lighten(@ytp-brand-gray, 40%);

// Light border lines that separate UI areas
@section-border-color: lighten(@ytp-brand-gray, 35%);

// Borders for content: input fields, comments etc. on areas with gray background
@content-border: lighten(@ytp-brand-gray, 25%);

// Text color that is on a colored background (labels, buttons, carousel)
@button-inverse-text-color: white;

// Search box, carousel etc.
@block-color-background: @ytp-brand-primary;
@block-color: @button-inverse-text-color;
@block-color-hilight: lighten(@ytp-brand-primary, 10%);

// Tweak Bootstrap brand colors (label, button etc.)
@label-default-bg: @ytp-brand-gray;
@label-primary-bg: lighten(@ytp-brand-primary, 4%);

@link-color: @ytp-brand-primary;
@link-hilight: darken(@ytp-brand-primary, 10%);

// Name label for input fields and for showing the key/value-pairs
@field-label-color: darken(@ytp-brand-gray, 30%);

// Help text inside input fields
@input-color-placeholder: @nonimportant-text-color;

// Vertical side menu and horizontal main menu
@menu-active-color: @ytp-brand-primary;
@menu-link-color: #333;
@menu-link-background: lighten(@background-hilight, 4%);
@menu-link-hover-color: #fff;
@menu-hover-color: @ytp-brand-decorative;

@body-color-background: white;


// Drupal article tags
// TODO where is this used
@node-meta-submitted: #cccccc;

@select-border-color: #cccccc;
@select-background: white;


// Rest of the variables

@navbar-color-background: #333333;
@navbar-color-text: #ffffff;
@navbar-color-darker: #999999;
@navbar-height: 40px;
@navbar-responsive-toggle-background: #000;
@navbar-search-color: #555555;

@infowell-color-dark: #175971;
@infowell-color-medium: #258bb1;
@infowell-color-light: #27b0dc;

@main-hilight-color: #1f7994;

// Breadcrumbs: TODO these colors do not seem to affect the whole breadcrumb
@breadcrumbTextColor: darken(@ytp-brand-gray, 17%);
@breadcrumb-color: darken(@ytp-brand-gray, 17%);

// TODO workaround for having buttons with both 'a' and 'button' tags
@button-background: #999999;
@button-hilight: #747474;
@button-primary-background: @ytp-brand-primary;
@button-primary-hilight: #0f54a2;
@button-primary-border: @button-primary-background; //#84b7c7;
@button-border: #9a9d9e;

// TODO remove me after switching custom service alert to Bootstrap alerts
@service-alert-color: #CBE7FF;
@service-alert-link-color: #842534;
@service-alert-border: #ADADAD;

// TODO remove if there is no footer
@footer-color: @nonimportant-text-color;
@footer-border: @section-border-color;

// TODO not really in use?
@form-subheading-color: @ytp-brand-gray;


// Responsive layout widths
@secondary-width: 280px;
@container-horizontal-padding: 40px;
@grid-float-breakpoint: @screen-md-min;

@pagewrapper-border-radius: 8px;
@button-border-radius: 8px;

