@import (reference) "upstream_bootstrap/variables";

@body-color-background: #fff;
@navbar-color-background: #333;
@navbar-color-text: #fff;
@navbar-color-darker: #999;
@navbar-height: 40px;
@infowell-color-dark: #175971;
@infowell-color-medium: #258BB1;
@infowell-color-light: #27B0DC;
@footer-color: #f0f0f0;
@menu-link-color: #141414;
@menu-link-background: #fcfcfc;
@menu-border-color: #c2c2c2;
@menu-active-color: #276ebf;
@menu-hover-color: #A2CDFD;
@service-alert-color: #FCF8E3;
@nonimportant-text-color: #666;
@background-hilight: #e9f6fa;
@form-background:  #e9f6fa;
@main-hilight-color: #1f7994;
@form-subheading-color: #9AA0A1;
@header-text-border: #999999;
@breadcrumbTextColor: #1F7994;
@neutral-color: #cccccc;

@button-background: #999999;
@button-hilight: #747474;
@button-primary-background: #276ebf;
@button-primary-hilight: #0F54A2;

@block-color-background: #4D4D4D;
@block-color: #fff;
@block-secondary-color-background: #F2F2F2;

@block-color-hilight: #266AB9;

@input-color-placeholder: #999999;


@secondary-width: 280px;
@grid-float-breakpoint: @screen-lg-min;
