{# {% extends "scheming/package/snippets/additional_info.html" %} #}
{% ckan_extends %}

{% block package_additional_info %}
  {%- set ordered_dataset_fields = [
      'maintainer_email',
      'maintainer_website',
      'api_provider',
      'api_provider_email',
      'external_urls',
      'geographical_coverage',
      'update_frequency',
      'valid_from',
      'valid_till',
      'terms_of_service',
      'access_rights',
    ] -%}

    {% set guid = h.get_value_from_extras_by_key(pkg_dict, 'guid') %}
    {% set original_url = h.get_value_from_extras_by_key(pkg_dict, 'original_url') %}
    {% if guid %}
        {% set material_link = h.get_geonetwork_link(guid, pkg_dict.organization.name)%}
    {% elif original_url %}
        {% set material_link = original_url %}
    {% endif %}
    {% if pkg_dict.collection_type %}
    <tr>
      <th>{{ _('Collection') }}</th>
      <td>{{ _(pkg_dict.get('collection_type', '-')) }}</td>
    </tr>
    {% endif %}
    {% if material_link %}
      <tr>
        <th>{{ _('Original dataset') }}</th>
        <td>
          <a href="{{ material_link }}">{{ _('Link to harvested dataset') }}</a>
        </td>
      </tr>
    {% endif %}
    {% if pkg_dict.organization %}
    <tr>
      <th>{{ _('Maintainer') }}</th>
      <td>
        <a href="/data/{{ h.lang() }}/organization/{{ pkg_dict.organization.get('name') }}">{{ pkg_dict.organization.get('name') }}</a>
      </td>
    </tr>
    {% endif %}

  {%- for field_key in ordered_dataset_fields -%}
    {%- set field = schema.dataset_fields | selectattr('field_name', 'equalto', field_key) | list -%}
      {% if field[0] %}
        <tr>
          <th scope="row" class="dataset-label">{{ h.scheming_language_text(field[0].label) }}</th>
          <td class="dataset-details"{% if field[0].display_property %} property="{{ field[0].display_property }}" {% endif %}>
          {%- snippet 'scheming/snippets/display_field.html', field=field[0], data=pkg_dict, schema=schema -%}</td>
        </tr>
      {% endif %}
  {%- endfor -%}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Last modified") }}</th>
    <td class="dataset-details">
      {{ h.render_datetime(pkg_dict.get('metadata_modified'), "%d.%m.%Y") }}<br />
      <a href="/data/{{ h.lang() }}/dataset/activity/{{pkg_dict.get('name')}}">{{_('Show change log')}}</a>
    </td>
  </tr>
  <tr>
    <th scope="row" class="dataset-label">{{ _("Created on") }}</th>
    <td class="dataset-details">{{ h.render_datetime(pkg_dict.get('metadata_created'), "%d.%m.%Y") }}</td>
  </tr>
{% endblock %}
