<html>
  <style>
    html {
      font-family: Arial, Helvetica, sans-serif;
    }
    .main-text {
      line-height: 1.5em;
      margin-bottom: 2em;
    }
    .signature p {
      line-height: 0.4em;
    }
    hr {
      margin: 2em 0;
    }
  </style>
  <body>
    <h1>Hei,</h1>
    <div class="main-text">
      <p>
        Avoindata.fi-palvelussa on uusi organisaatio, joka odottaa ylläpidon hyväksyntää.
      </p>
      <p>
        Tarkista pyynnön oikeellisuus ja hyväksy organisaatio <a href="{{ ckan_admin_url }}">Ylläpitonäkymässä</a>.
      </p>
    </div>
    <div class="signature">
      <p>Terveisin,</p>
      <p>Avoindata.fi</p>
    </div>
  </body>
</html>
