<html>
  <style>
    html {
      font-family: Arial, Helvetica, sans-serif;
    }
    .main-text {
      line-height: 1.5em;
      margin-bottom: 2em;
    }
    .signature p {
      line-height: 0.4em;
    }
    hr {
      margin: 2em 0;
    }
  </style>
  <body>
    <h1>Hei</h1>
    <p class="main-text">
      Olet luonut Avoindata.fi-palveluun uuden organisaation. Olemme
      tarkastaneet ja julkaisseet organisaatiosi palveluun. Sinut on lisätty
      organisaation ylläpitäjäksi. Voit päivittää organisaation tietoja, lisätä
      avaamaanne dataa ja antaa toisille käyttäjille oikeuksia muokata
      organisaationne tietosisältöä. Ohjeita löydät palvelun <a href="{{ url_guide }}">käyttöohjeista</a>. Tutustu myös
      <a href="{{ url_user_guide }}">datan avaajan oppaaseemme</a>!
    </p>
    <div class="signature">
      <p>Terveisin,</p>
      <p>Avoindata.fi</p>
    </div>
    <hr>
    <h1>Hello</h1>
    <p class="main-text">
      You have requested a new organization to be added in the Finnish open data
      portal Avoindata.fi. Your organization has been reviewed and published. You
      can now proceed to update your organization's description, publish the data
      you have made open, and invite additional administrators and editors to edit
      your content. You'll find further instructions in our <a href="{{ url_guide }}">user's guide</a>.
      You may also want to check out our <a href="{{ url_user_guide }}">data publisher's guide</a>!
    </p>
    <div class="signature">
      <p>With best regards,</p>
      <p>Avoindata.fi</p>
    </div>
  </body>
</html>