h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 4px;
}

textarea {
  max-width: 100%;
}

h1, h2{
  font-family: "Gotham XNarrow A", "Gotham XNarrow B", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand{
  font-family: 'Mercury SSm A','Mercury SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}


a {
  color: #187794;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #0d4252;
    text-decoration: underline;
  }
}
.toolbar .breadcrumb .active a,
.toolbar .breadcrumb a.active {
  font-weight: normal;
  font-weight: initial;
  color: #000;
}
.toolbar .breadcrumb li{
  color: #000;
}

.toolbar .breadcrumb li.last {
  color: #000;
}

//Fix drupal bootstrap tabs in page editor as test-editor
.js .tab-content{
  display: block;
}

.modal-header{
  background-color: white;
}
.modal-body{
  background-color: white;
}
.modal-footer{
  background-color: white;
}

