/**
 * Bootstrap
 */
@grid-gutter-width: 40px;

/**
 * Common spacings
 */
@padding-y--common: @grid-gutter-width / 2;
@padding-x--common: @grid-gutter-width / 2;
@padding-y--small: @grid-gutter-width / 4;
@padding-x--small: @grid-gutter-width / 4;
@padding-y__text: 16px;
@padding-y__input: 8px;
@padding-x__input: 10px;
@padding-y__pagination__item: 6px;
@padding-x__pagination__item: 12px;
@margin-bottom-h3: 8px;

/**
 * Common spacings
 */
@margin__module: 60px;
@margin__module--large: 80px;
@padding__module: 30px;
@padding__content: @padding-y--common @padding-x--common;
@padding__breadcrumb-item: @padding-y__text 0;

/**
 * Pills
 */
@padding__pill: 2px 16px;
@padding-x--common: 20px;
@padding-y--common: 20px;
@padding-x--small: 10px;
@padding-y--small: 10px;
@padding-y__text: 16px;

/**
 * Modules
 */
@margin__module: 60px;
@margin__module--large: 80px;
@padding__module: 30px;
@padding__content: @padding-y--common @padding-x--common;
@padding__breadcrumb-item: @padding-y__text 0;

/**
 * Tags
 */
@margin__tag: 10px;
@padding__tag: 5px 10px;

/**
 * Resource list
 */
@padding__resource-list-item: 16px 20px;
@margin__action-buttons: 0 5px;

/**
 * Navigation
 */
@border-width__navigation: 5px;
@padding-x__navigation: @padding-x--common;
@padding-y__navigation: 10px;

/**
 * Showcase
 */
@margin-y__showcase-item: @padding-y--common;
@margin-x__showcase-item: @padding-x--common;
@width__showcase-item: 230px;

/**
 * Custom drupal elements
 */
@border-width__section: 4px;
@border-radius__section: 4px 4px 0 0;
@box-shadow__section: 0 2px 4px 1px rgba(41, 41, 41, 0.2);
@margin-y__section: 45px;
@padding-y__section: 35px;
@padding-x__section: 30px;
