deb {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }} main restricted
deb-src {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }} main restricted
deb {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }}-updates main restricted
deb-src {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }}-updates main restricted
deb {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }} universe
deb-src {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }} universe
deb {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }}-updates universe
deb-src {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }}-updates universe
deb {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }} multiverse
deb-src {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }} multiverse
deb {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }}-updates multiverse
deb-src {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }}-updates multiverse
deb {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb-src {{ common_apt_source_url }}/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted
deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
