{#
/**
 * @file
 * Avoindata App Feed Block
 *
 * @ingroup themeable
 */
#}
<div class="avoindata-appfeed">
  <div class="avoindata-appfeed-container">
    <div class="row avoindata-appfeed-header-row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>
          {% trans %}
            Applications
          {% endtrans %}
        </h1>
      </div>
    </div>
    <div class="avoindata-appfeed-appcontainer-applist">
      <div class="avoindata-appfeed-applist-wrapper row">
        {{  applications  }}
      </div>
      <div class="avoindata-appfeed-link">
        <a class="pull-right" href="/data/{{ language }}/showcase">
          {% trans %}Show all applications{% endtrans %} <i class="far fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
