.active-sidebar-menu-item {
  color: $menu-link-active-color;
  background-color: $menu-active-color;
  border-color: $menu-link-active-color;
}

@mixin placeholder($color){
  &::-webkit-input-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
}

// Flex mixins for less from https://gist.github.com/jayj/4012969
@mixin flex-display($display: flex){
  display: unquote("-webkit-#{$display}");
  display: unquote("-ms-#{$display}box"); // IE10 uses -ms-flexbox
  display: unquote("-ms-#{$display}"); // IE11
  display: $display;
}

@mixin flex($columns: initial){
  -webkit-flex: $columns;
  -ms-flex: $columns;
  flex: $columns;
}

@mixin flex-direction($direction: row){
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap: nowrap){
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin flex-flow($flow){
  -webkit-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

@mixin flex-order($order: 0){
  -webkit-order: $order;
  -ms-order: $order;
  order: $order;
}

@mixin flex-grow($grow: 0){
  -webkit-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

@mixin flex-shrink($shrink: 1){
  -webkit-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

@mixin flex-basis($width: auto){
  -webkit-flex-basis: $width;
  -ms-flex-basis: $width;
  flex-basis: $width;
}

@mixin justify-content($justify: flex-start){
  -webkit-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
}

@mixin align-content($align: stretch){
  -webkit-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

@mixin align-items($align: stretch){
  -webkit-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin align-self($align: auto){
  -webkit-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}
