{% ckan_extends %}

{% import 'macros/ytp_form.html' as ytp_form %}



{% block fields %}
    {% resource "ytp_dataset_js/related.js" %}
    {% set collection_type = c.pkg_dict.get('collection_type', None) %}
    {% if collection_type == 'Interoperability Tools' %}
    {% set format_attrs = {'data-module': 'autocomplete', 'data-module-interval': '50', 'data-module-source': '/api/util/dataset/autocomplete_by_collection_type?collection_type=' + collection_type + '&incomplete=?', 'data-module-allowempty': 'true', 'data-module-callback': 'SelectByName(e)', 'data-module-key': "name", 'data-module-label': "title"} %}
    {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('My Related Component'), value=data.title, error=errors.title, classes=['control-full'], attrs=format_attrs) }}
    {% else %}
        {{ ytp_form.input('title', label=_('Title'), id='field-title', placeholder=_('My Related Component'), value=data.title, error=errors.title, classes=['control-full']) }}
    {% endif %}

    {{ ytp_form.input('url', label=_('URL'), id='field-url', placeholder=_('http://example.com/'), value=data.url, error=errors.url, classes=['control-full']) }}
    {{ ytp_form.input('image_url', label=_('Image URL'), id='field-image-url', placeholder=_('http://example.com/image.png'), value=data.image_url, error=errors.image_url, classes=['control-full']) }}
    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about the item...'), value=data.description, error=errors.description) }}

    {% if collection_type == 'Interoperability Tools' %}
        {{ form.select('type', label=_('Related by'), id='field-types', selected=data.type, options=[{'value': "", 'text': _('Choose')}, {'value': 'relates-to-this', 'text': _('Relates to this')}, {'value': 'based-on-this', 'text': _('Based on this')}, {"value": 'modification-of-this', 'text': _("Modification of this")}, {'value': 'supplements-this', 'text': _('Supplements this')}, {'value': 'included-in', 'text': _('Included in')}, {'value': 'includes-this', 'text': _('Includes this')}], error=errors.type) }}
    {% else %}
        {{ form.select('type', label=_('Type'), id='field-types', selected=data.type, options=c.types, error=errors.type) }}
    {% endif %}


{% endblock %}

{% block delete_button %}
    {% if h.check_access('related_delete', {'id': data.id})  %}
        {% set locale = h.dump_json({'content': _('Are you sure you want to delete this related component?')}) %}
        <a class="btn btn-danger pull-left" href="{% url_for controller='related', action='delete', related_id=data.id, id=c.pkg_id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% endif %}
{% endblock %}