{% macro radio_row(title, languages, locales, original_language, translations) %}
  <div class="row">
    <div class="col-sm-2">
      {{ title }}
    </div>
    <div class="col-sm-6">

        {% for language in languages %}
          <label class="radio-inline">
            <input type="radio" name="original_language" value="{{ locales[loop.index0] }}" class="translation-select-original" {% if original_language == locales[loop.index0] %} checked="checked"{% endif %} > {{ language }}
        </label>
      {% endfor %}

    </div>
  </div>
{% endmacro %}

{% macro checkbox_row(title, languages, locales, original_language, translations) %}
  <div class="row">
    <div class="col-sm-2">
      {{ title }}
    </div>
    <div class="col-sm-6">

        {% for language in languages %}
          <label class="checkbox-inline">
            <input type="checkbox" class="translation-select" value="{{ locales[loop.index0] }}" id="translation_select_{{ locales[loop.index0] }}" name="translations" {% if locales[loop.index0] in translations %} checked="checked"{% endif %} > {{ language }}
          </label>
        {% endfor %}

    </div>
  </div>
{% endmacro %}

{% resource "ytp_common_js/ytp_form.js" %}

{% snippet 'package/ytp/modal.html', modal_id="modal_confirm_original", header=_('Confirm'), body=_("Are you sure you want to change the original language? This will remove the target language translations.") %}
{% snippet 'package/ytp/modal.html', modal_id="modal_confirm_translation", header=_('Confirm'), body=_("Are you sure you want to remove the language? The language's translations will be removed.") %}

<div class="translate-bar">
    <ul class="list-inline">
        <li><span>{{ _('Languages versions') }}:</span></li>
        <li><a href="javascript:void(0)" class="translate translate-language-show translate-original-language" id="translate_original" data-toggle="collapse" data-target="#translate-language-select">{{ _("Original language") }} ({{ _("Not set") }}) </a></li><!--
     --><li class="language" id="translate_fi"><span>{{ _("Finnish") }}</span></li><!--
     --><li class="language" id="translate_en"><span>{{ _("English") }}</span></li><!--
     --><li class="language" id="translate_sv"><span>{{ _("Swedish") }}</span></li><!--
     --><li><a href="javascript:void(0)" class="translate translate-language-show" id="translate_extra" data-toggle="collapse" data-target="#translate-language-select"><i class="icon-plus-sign"></i> {{ _("Translate") }}</a></li>
    </ul>
</div>

<div id="translate-language-select" class="collapse translate-bar translate-language-select">
  {{ radio_row(_('Original language'), [_("Finnish"), _("English"), _("Swedish")], ['fi', 'en', 'sv'], data.original_language, data.translations) }}
  {{ checkbox_row(_('Translate'), [_("Finnish"), _("English"), _("Swedish")], ['fi', 'en', 'sv'], data.original_language, data.translations) }}


</div>
