{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link href="{{ h.url_for('/', locale='default', qualified=true) }}vendor/photoswipe.css" rel="stylesheet" />
  <link href="{{ h.url_for('/', locale='default', qualified=true) }}vendor/default-skin/default-skin.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'sixodp_showcase/sixodp_showcase' %}
  <script src="{{ h.url_for('/', locale='default', qualified=true) }}vendor/photoswipe.min.js"></script>
  <script src="{{ h.url_for('/', locale='default', qualified=true) }}vendor/photoswipe-ui-default.min.js"></script>
{% endblock %}