<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Quality Assurance</py:def>

  <py:def function="optional_head">
    <link type="text/css" rel="stylesheet" media="all" href="/ckanext/qa/style.css" />
  </py:def>
  
<div py:match="content">
  <div class="qa-content">
  <h1>Quality Assurance</h1>

  <h3>${h.link_to("Package openness score list.", h.url_for(controller='qa', action='package_openness_scores'))}</h3>
  <h3>${h.link_to("Packages with minimum one (1) broken resource link.", h.url_for(controller='qa', action='packages_with_broken_resource_links'))}</h3>
  </div>
  <p>
    Page last updated:
     <?python 
        import datetime
     ?>
    ${datetime.datetime.now().strftime('%c')}
  </p>
</div>
<xi:include href="../../layout.html" />
</html>