<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Quality Assurance</py:def>

  <py:def function="optional_head">
    <!--[if IE]><script language="javascript" type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js">//pointless jscript comment</script>
    <link type="text/css" rel="stylesheet" media="all" href="/ckanext/qa/style.css" />
  </py:def>

  <div py:match="content">
    <div class="qa-content">
    <h1>Quality Assurance</h1>
  
    <h3>Packages with minimum one (1) broken resource.</h3>
    <table class="qa-table">
      <tr>
          <th class="qa-table-name">Package name</th>
          <th class="qa-table-resources">Resources</th>
          <th class="qa-table-checked">Last checked</th>
      </tr>
      <tr py:for="package in c.packages">
        <td>${h.link_to(package.get('title') or package.get('name'), h.url_for(controller='package', action='read', id=package.get('name')))}</td>
        <td>
            <table>
                <tr>
                    <th>URL</th>
                    <th>Format</th>
                    <th>Result</th>
                </tr>
                <py:for each="resource in package.get('resources')">
                <?python
                    score = resource.get('openness_score')
                    is_bad_link = resource.get('is_bad_link')
                    is_good_link = bool(not is_bad_link)
                ?>
                <tr class="${h.css_classes([('bad_link', is_bad_link), ('good_link', is_good_link)])}">
                    <td><a href="${resource.get('url')}" title="${resource.get('url')}">${h.truncate(resource.get('description'), 30)}</a></td>
                    <td>${resource.get('format')}</td>
                    <td title="${resource.get('openness_score_reason')}">
                        <py:choose test="">
                            <py:when test="is_bad_link">broken link</py:when>
                            <py:otherwise>resource found</py:otherwise>
                        </py:choose>
                    </td>
                </tr>
                </py:for>
            </table>
        </td>
        <?python
            from datetime import datetime
            timestr = package.get('openness_score_last_checked')
            if timestr:
                timestamp = datetime.strptime(timestr,'%Y-%m-%dT%H:%M:%S.%f')
            else:
                timestamp = None
        ?>
        <td>${timestamp.strftime('%c') if timestamp else 'Never'}</td>
      </tr>
    </table>
  </div>
  <p>
    Page last updated:
     <?python 
        import datetime
     ?>
    ${datetime.datetime.now().strftime('%c')}
  </p>
  </div>
  <xi:include href="../../layout.html" />
</html>
