{#
Renders a set of stars for the current dataset or if it has none a string
explaining the reason.

stars  - The number of stars assigned to the dataset.
reason - A reason why the dataset doesn't have a rating.

    {% snippet "qa/stars.html", stars=4 %}

#}
<span class="star-rating{% if stars == 0 %} no-stars{% endif %}">
  {%- if stars == None -%}
    {{ reason }}
  {%- else -%}
    <span class="star-rating-stars">
      {%- for index in range(stars) -%}
        <span class="icon icon-star"></span>
      {%- endfor -%}
      {%- for index in range(5-stars) -%}
        <span class="icon icon-star-empty"></span>
      {%- endfor -%}
      {%- if stars == 0 -%}
        {# 0 stars looks awfully like 5 stars, so be explicit #}
        (0 out of 5)
      {%- endif -%}
    </span>
  {%- endif -%}
</span>

