.advanced-search-container {
  background-color: #fafafa;
  font-size: 16px;
  margin-bottom: -20px;
}

.advanced-search-wrapper {
  padding: 0 15px !important;
}

#advanced-search-title {
  margin-bottom: 50px;
}

#search-options-header {
  color: $color--white;
  background-color: $new-layout-secondary-text-color;
  margin: 0 -$padding-x__navigation;
  margin-bottom: $padding-y__navigation;
  padding: $padding-y--common $padding-x--common;

  h3 {
    margin: 0;
  }
}

#search-options-content {
  background-color: white;
  border-radius: 0;

  hr {
    margin: $padding-y__navigation 0;
    border-top: 1px solid $color--extra-light-grey;
  }
}

.more-options-link {
  font-family: $font-family-sans-serif-semibold;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: $new-layout-secondary-text-color;
  text-decoration: none;
  cursor: pointer;
}

.more-options-link:hover {
  color: $new-layout-secondary-text-color;
  text-decoration: none;
}

.more-options-link:focus {
  color: $new-layout-secondary-text-color;
  text-decoration: none;
}

#search-options-extras {
  margin-top: 35px;
}

#search-results-header {
  color: $new-layout-primary-text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-h3-alt;
  line-height: $line-height-h3-alt;
  background-color: $background-color__content;
  padding: $padding-y--common $padding-x--common;
  margin: 0;
  border: 1px solid $opendata-brand-border-gray;
  border-bottom: none;

  label,
  input {
    font-size: 16px;
  }

  label::after {
    content: "";
  }
}

.ytp-input-label {
  font-family: $font-family-sans-serif-semibold;
  font-size: $font-size-slightly-smaller-base;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ytp-input-label-light {
  color: $color--black;
  font-family: $font-family-sans-serif;
  font-size: $font-size-slightly-smaller-base;
  font-weight: $font-weight-normal;
}

.ytp-input-label-light::after {
  content: "";
}

.ytp-datepicker:not(:last-of-type) {
  padding: 0 15px 0 0;
  margin: 0;
}

.ytp-datepicker:last-of-type {
  padding: 0 0 0 15px;
}

.ytp-datepicker input {
  width: 100%;
}

.ytp-input-with-icon > i {
  font-size: $font-size-base;
  pointer-events: none;
  margin-left: -30px;
}

.filter-bar {
  margin: 0 15px 8px 15px;
  vertical-align: top;
  font-family: $font-family-sans-serif-semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: $new-layout-primary-text-color;

  span.avoindata-pill:last-of-type {
    margin-right: 10px;
  }
}

#filter-bar-title {
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-bottom;
}

.avoindata-filter-group-title {
  color: $new-layout-nonimportant-text-color;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: super;
}

.avoindata-filter-group-and {
  color: $new-layout-primary-text-color;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  display: inline-block;
  margin-right: 10px;
  margin-left: -10px;
  vertical-align: super;
}

.avoindata-filter-group-or {
  color: $new-layout-primary-text-color;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  display: inline-block;
  margin: auto 4px;
  vertical-align: super;
}

.avoindata-pill {
  font-family: $font-family-sans-serif-semibold;
  font-size: $font-size-slightly-smaller-base;
  font-weight: $font-weight-heavier;
  line-height: 28px;
  background-color: $suomi-highlightBase;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 14px;
  height: 28px;
  max-width: 290px;

  .truncate-text {
    max-width: 255px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  i {
    opacity: 0.8;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 2px;
    line-height: 28px;
    cursor: pointer;
    vertical-align: top;
  }
}

.avoindata-pill.badge {
  padding: 0 10px;
}

.placeholder,
.ytp-input-element::placeholder {
  color: #949494;
  font-style: italic;
}

.avoindata-vertical-divider {
  display: inline-block;
  border-left: 1px solid rgb(148, 148, 148);
  height: 28px;
  width: 1px;
  margin: 0 20px;
}

.avoindata-vertical-divider:first-of-type {
  border-left: 1.3px solid rgb(148, 148, 148);
}

#clear-all-link {
  cursor: pointer;
  text-decoration: none;
  vertical-align: super;
  color: $new-layout-secondary-text-color;
  white-space: nowrap;

  &:hover {
    color: $new-layout-secondary-text-color;
  }
}

select.avoindata-order-by {
  padding-right: 25px;
  height: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

.select-wrapper {
  display: inline-block;
  position: relative;

  &::after {
    position: absolute;
    font-size: 16px;
    font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    top: 50%;
    right: 0;
    margin-top: -0.5em;
    padding-right: 0.5em;
    content: "\f0d7";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
}
