
.dropzone {
  background-color: $background-color__dropzone;
  border: 1px dashed $opendata-brand-primary;
  padding: 20px;

  &#{&}--hover {
    background-color: $background-color__dropzone--hover;
  }
}
