@use "../variables/suomifidesign" as tokens;

.dropzone {
  background-color: $background-color__dropzone;
  border: 1px dashed tokens.$fi-color-highlight-base;
  padding: 20px;

  &#{&}--hover {
    background-color: $background-color__dropzone--hover;
  }
}
