@import "../variables";
@import "../variables/fonts";

// ------------------
// Main layout styles
// ------------------

body {
  @include flex-display(flex);
  @include flex-direction(column);

  min-height: 100vh;
  background: $background-color__body;

  a {
    word-break: break-word;
  }
}

[role="main"] {
  background: transparent;
  padding-top: 0;
}

.page_wrapper {
  max-width: none;
}

#page_wrapper #content {
  width: inherit;
  padding: 0;
  background: #fafafa;
}

#content > .wrapper {
  box-shadow: none;
  margin: 0 auto;
  max-width: $opendata-container-max-width;
  padding: 0 15px;
  border: none;
  border-radius: none;
}

#page_wrapper #content .wrapper {
  border: none;
  background: #fafafa;
}

.container-fluid .wrapper {
  @media (max-width: $screen-sm-min) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.wrapper {
  &::before {
    content: none;
  }

  @media (min-width: $screen-sm-min) {
    &::before {
      border-right: transparent;
    }
  }
}

// Report grid
@media (width <=  768px) {
  .dataset > .row.equal {
    @include flex-display(flex);
    @include flex-wrap(wrap);
  }
}

// Blue bar that divides elements
.spacer {
  width: 7%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 6px solid $sidebar-block-color-header;
}

// Streches content to be 100% of view width, even though it would be inside a wrapping container
// NOTE: works only for centered content
.fullwidth-container {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.align-items-end {
  align-items: end;
}

.container-page-wrapper {
  background-color: #fafafa;

  .container > h1 {
    margin-top: 0;
  }
}

.page-container {
  background-color: #fff;
  border: 1px solid $suomi-depthLight1;
  padding: 20px 20px 60px;
  margin-top: 15px;
  margin-bottom: 15px;

  span.control-required {
    float: right;
    color: black;
    padding-left: 3px;

    &.float-none {
      float: none;
    }
  }

  .select2-container .select2-choices .select2-search-field input,
  input,
  select {
    border-radius: 0;
    border-color: $suomi-depthLight1;
    padding: 6px 10px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
  }

  .select2-container .select2-choice,
  .select2-container .select2-choices {
    border-radius: 0;
  }

  .input-prepend input,
  .controls input {
    border: 1px solid $suomi-depthLight1;
  }
}

%suomifi-button-text {
  font-family: $font-family-sans-serif-semibold;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 20px;
}

.suomifi-button-primary {
  @extend %suomifi-button-text;

  box-shadow: 0 1px 1px 0 rgb(0 52 122 / 50%);
  height: 40px;
  background:
    linear-gradient(
      0deg,
      rgb(35 90 154) 0%,
      rgb(42 110 187) 100%
    );
  border: 1px solid $suomi-highlightBase;
  border-radius: 2px;
  display: inline-flex;
  color: white;
  padding: 10px 30px;

  i {
    margin-left: 12px;
    font-size: 16px;
    margin-top: 2px;
  }
}

%suomifi-button-secondary {
  @extend %suomifi-button-text;

  height: 40px;
  display: inline-flex;
  color: $suomi-highlightBase;
  appearance: none;
  border: 1px solid $suomi-highlightBase;
  padding: 10px 20px;

  @media (min-width: $screen-md-min) {
    padding: 10px 30px;
  }

  background: white;
  border-radius: 2px;

  i {
    min-width: 16px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 16px;
    margin-top: 1px;
  }
}

.suomifi-button-secondary-black-text {
  @extend %suomifi-button-secondary;

  font-family: $font-family-sans-serif;
  color: rgb(41 41 41);
  border: solid 1px #c8cdd0;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;

  span {
    margin-right: 30px;
  }

  i {
    margin-left: 8px;
  }
}

.suomifi-button-secondary-noborder {
  @extend %suomifi-button-secondary;

  height: 40px;
  padding: 10px 15px;
  border: none;
}

.table-bordered > tbody > tr > td {
  padding: 10px;
  border-color: $suomi-depthLight1;
}

.flex-form {
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding: 15px 20px;
  background-color: white;
  border: 1px solid $suomi-depthLight1;
  z-index: 2;

  h4 {
    margin: 0;
  }

  .ytp-group-divider {
    margin: 15px 0;
  }

  .stages {
    margin-bottom: 30px;

    li {
      float: none;
      background-color: transparent;
      color: $new-layout-primary-text-color;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      padding: 10px 0;

      .highlight {
        color: $new-layout-primary-text-color;
        font-weight: normal;
      }

      a.highlight {
        color: $suomi-highlightBase;

        &:hover {
          text-decoration: underline;
        }
      }

      &::before {
        background-color: transparent;
        color: $new-layout-primary-text-color;
        border: 1px solid $new-layout-primary-text-color;
      }

      &:not(:first-of-type)::after {
        left: 12px;
        top: -5px;
        content: " ";
        height: 10px;
        width: 1px;
        position: absolute;
        border: none;
        margin: 0;
        border-left: 1px solid $suomi-depthLight1;
        pointer-events: none;
      }

      &.active {
        .highlight {
          color: inherit;
          background: unset;
          font-family: $font-family-sans-serif-semibold;
        }

        &::before {
          color: white;
          background: $suomi-successBase;
          border-color: $suomi-successBase;
        }
      }

      &.complete {
        .highlight {
          background: transparent;
        }

        &::before {
          color: white;
          background: $suomi-successBase;
          border-color: $suomi-successBase;
        }
      }
    }
  }
}

.module-content {
  padding: 0 15px;
}

.prelude {
  .admin-banner {
    margin-top: 20px;

    a {
      margin: 0;
    }

    a + a {
      margin-left: 10px;
    }
  }

  .nav.nav-tabs {
    li {
      a {
        font-family: $font-family-sans-serif;
        font-weight: normal;
        font-size: 18px;
      }

      &.active,
      &:hover {
        a {
          border: none;
          background-color: inherit;
          border-bottom: 5px solid $border-bottom-color__main-nav--active;
        }
      }
    }
  }
}

.primary {
  &.primary--no-padding-x {
    padding-left: 0;
    padding-right: 0;
  }
}

// SPARQL query page
.page-description + div[data-module="yasgui"] {
  margin-top: 50px;
}
