@use "../variables/suomifidesign" as tokens;
@import "../variables";

.organization-list {
  li {
    padding: tokens.$fi-spacing-s tokens.$fi-spacing-m;
  }
}

.organization-filters {
  font-size: $font-size-slightly-smaller-base;

  a {
    margin-bottom: tokens.$fi-spacing-m;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .organization-filter-active {
    font-weight: $font-weight-heavier;
  }
}
