@use "../variables/suomifidesign" as tokens;
@import '../variables';

.pagination-wrapper {
  border: none;
}

.pagination {
  display: flex;
  justify-content: center;
  border-radius: 0;
  border: none;

  > li.page-item,
  > li.disabled {
    position: relative;
    border: 1px solid tokens.$fi-color-depth-light1;
    border-radius: 0;

    a,
    button {
      background-color: $background-color__content;
      color: tokens.$fi-color-highlight-base;
      display: block;
      float: none;
      margin: 0;
      border: none;
      padding: $padding-y__pagination__item $padding-x__pagination__item;
    }

    &:hover {
      a,
      button {
        background-color: tokens.$fi-color-depth-light3;
      }
    }

    &.active {
      border-color: tokens.$fi-color-highlight-base;
      z-index: 2;

      a,
      button {
        color: tokens.$fi-color-white-base;
        background-color: tokens.$fi-color-highlight-base;

        &:hover {
          background-color: tokens.$fi-color-highlight-light1;
        }

        &:focus {
          background-color: tokens.$fi-color-highlight-base;
          box-shadow: 0 0 10px tokens.$fi-color-accent-base;
        }
      }
    }

    &:first-child,
    &:last-child {
      a {
        border-radius: 0;
      }
    }
  }

  li.disabled {
    a {
      color: tokens.$fi-color-highlight-base;
      background-color: $background-color__content;
      border-color: tokens.$fi-color-depth-light1;
      pointer-events: none;
      margin-left: -1px;
    }
  }
}
