@use "../variables/suomifidesign" as tokens;

.toolbar-secondary-wrapper {
  padding-bottom: tokens.$fi-spacing-xs;
}

.toolbar-resource-secondary {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 tokens.$fi-spacing-m;

  i {
    border-radius: 0;
    height: 16px;
    width: 16px;
    color: tokens.$fi-color-highlight-base;
  }

  a {
    @include tokens.fi-text-body-text-small;

    color: tokens.$fi-color-highlight-base;
    font-size: $font-size-smaller-base;
    letter-spacing: 0.4px;
    line-height: $line-height-larger-base;
    text-transform: uppercase;
  }
}

.module-resource {
  border: none;

  // margin-bottom: tokens.$fi-spacing-xxxl;
  // padding-bottom: tokens.$fi-spacing-xxxl;

  // Additional padding for desktop only
  @media (min-width: $screen-sm-min) {
    padding-left: tokens.$fi-spacing-m;
    padding-right: tokens.$fi-spacing-m;
  }

  padding-left: tokens.$fi-spacing-m;
  padding-right: tokens.$fi-spacing-m;

  .actions {
    top: 0;
    right: 0;

    ul {
      float: right;
    }
  }

  .module-small-title {
    @include tokens.fi-text-body-text-small;

    color: tokens.$fi-color-depth-dark1;
    padding-top: tokens.$fi-spacing-xs;
  }

  .resource-module-table {
    width: 100%;
  }

  .resource-module-table th {
    text-align: left;
    padding: $padding__resource_table;
    font-size: $font-size-slightly-smaller-base;
    font-weight: $font-weight-light;
  }

  .resource-module-table td,
  .resource-module-table tr {
    border: 1px solid tokens.$fi-color-depth-light1;
    padding: $padding__resource_table;
    border-collapse: collapse;
  }

  .resource-module-table tr:nth-child(odd) {
    background-color: tokens.$fi-color-depth-light3;
  }

  .resource-module-table th:nth-child(odd) {
    font-weight: $font-weight-heavier;
  }
}

.resource-container {
  background-color: $background-color__content;
  border: 1px solid $border-color__content;
  padding: tokens.$fi-spacing-m;

  > .row {
    margin-left: -(tokens.$fi-spacing-m);
    margin-right: -(tokens.$fi-spacing-m);
  }

  .resource-primary-content,
  .resource-sidebar {
    padding: 0 tokens.$fi-spacing-m;

    .embedded-content {
      font-size: $font-size-base;
    }

    .embedded-content,
    .resources,
    .additional-info {
      margin-bottom: tokens.$fi-spacing-xxxxl;

      h3 {
        margin-bottom: tokens.$fi-spacing-m;
      }
    }
  }
}

.container-module-resource {
  border: 1px solid tokens.$fi-color-depth-light1;

  .resource-block {
    padding-bottom: tokens.$fi-spacing-m;
  }

  .module {
    h1 {
      @include tokens.fi-text-heading1;

      margin-bottom: tokens.$fi-spacing-m !important;
      color: $navbarInverseBackgroundHighlight !important;
    }
  }
}

.apiset-title {
  color: tokens.$fi-color-black-base;
  font-size: $font-size__module-large-h1;
  font-weight: $font-weight-light;
  height: 48px;
  margin: 0 0 3px;
}

.nav--resource-list {
  .nav-item a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.resource-list .resource-item {
  padding: 0;

  .format-label {
    margin-top: 0;
    margin-left: 0;
  }
}

.dataset-resource-form {
  .page-container {
    flex-grow: 1;
  }
}

.content-actions--resource {
  // As bootstrap doesn't use our custom variable for grid-gutter-width, just hard code value here
  // To match right border with form
  padding-right: 15px;
}

// fix sidebar resource list dropdown button placement
.module.resources {
  .nav-item {
    align-items: center;
  }

  .dropdown {
    .btn-sm {
      padding: 5px 10px;
    }
  }
}

// Decrease font-size for resource form in sidebar, Also affects other components that use the same template,
// not needed when using new midnight blue ckan templates
.context-info {
  .nums {
    dl {
      dd {
        font-size: 20px;
      }
    }
  }
}
