@use "../variables/suomifidesign" as tokens;

.producer-type {
  border: 1px solid tokens.$fi-color-depth-light1;
  border-radius: $border-radius__button;
  padding: $padding__tag;
  background-color: transparent;
  color: tokens.$fi-color-depth-dark1;
  text-transform: uppercase;
  font: $font-family-sans-serif-semibold;
  font-weight: $font-weight-heavier;
  line-height: $line-height-larger-base;
  text-align: center;
}