{% resource 'advancedsearch/javascript/ytp-multiselect.js' %}

<div
    class="ytp-multiselect ytp-multiselect-{{label}} mb-3"
    data-module="ytp-multiselect"
    data-module-label="{{label}}"
    data-module-allow-all="{{allow_select_all}}"
>
    <label for="advanced-search-dropdown-toggle-{{label}}" class="ytp-input-label">{{label}}</label>
    <!-- TODO: This can sometimes be an input and not a button -->
    <button for="advanced-search-dropdown-toggle-{{label}}" class="ytp-multiselect-toggle ytp-input-element" type="button" aria-expanded="false">
        <span class="multiselect-status">{{_('All')}}</span>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </button>
    <fieldset id="advanced-search-dropdown-{{label}}">
        <div class="choicelist" id="{{label}}-choicelist">
            {% if allow_select_all %}
                {% snippet 'advanced_search/snippets/multiselect-choice.html', name=label, option={"value": "all", "label": _('All')}, isChecked=true %}
            {% endif %}
            {% if options %}
                {% for option in options %}
                    {% snippet 'advanced_search/snippets/multiselect-choice.html', name=label, option=option, isChecked=true %}
                {% endfor %}
            {% endif %}
        </div>
    </fieldset>
</div>
