# Avoindata.fi DCAT-AP extension

## Validation

Documents can be validated against this specification with a [SHACL](https://www.w3.org/TR/shacl/) processor using these schema files:

- [avoindata_dcat-ap_shacl.ttl](avoindata_dcat-ap_shacl.ttl)
- [FOAF.ttl](FOAF.ttl)

For example, using [pyshacl](https://pypi.org/project/pyshacl):

    pyshacl -s avoindata_dcat-ap_shacl.ttl -e FOAF.ttl --imports -i rdfs catalog.xml

## Vocabularies

Prefix | URI
-------|----
{% for vocabulary in vocabularies -%}
{{ vocabulary.prefix }} | {{ vocabulary.uri }}
{% endfor %}

## Classes

{% for class in classes %}
### {{ class.term }}

#### {{ class.title }}

{{ class.description }}

{% if class.subclass %}
  ### Sub-class of
  {{ class.subclass }}
{% endif -%}

#### Properties

{% for level in ['mandatory', 'recommended', 'optional'] %}
##### {{ level | title }}
Term | Range | Cardinality | Comment
-----|-------|-------------|--------
{% for property in class.properties[level] -%}
  {% if property.extension %}**{{ property.term }}** {% else %}{{ property.term }} {% endif -%}
  | {{ property.range }} | {{ property.min }}..{{ property.max }} | {{ property.description }}
{% endfor %} {# property #}
{% endfor %} {# level #}
{% endfor %} {# class #}
