<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Suomi.fi Open Data DCAT-AP extension</title>
    <link rel="stylesheet" href="/modules/opendata-assets/resources/vendor/bootstrap.min.css">
  </head>
  <body class="container">
    <h1>Suomi.fi Open Data DCAT-AP extension</h1>

    <h2>Validation</h2>
    <p>Documents can be validated against this specification with a <a href="https://www.w3.org/TR/shacl/">SHACL</a> processor using these schema files:
      <ul>
        <li><a href="avoindata_dcat-ap_shacl.ttl">avoindata_dcat-ap_shacl.ttl</a></li>
        <li><a href="FOAF.ttl">FOAF.ttl</a></li>
      </ul>
    </p>
    <p>For example, using <a href="https://pypi.org/project/pyshacl/">pyshacl</a>:
    <code>pyshacl -s avoindata_dcat-ap_shacl.ttl -e FOAF.ttl --imports -i rdfs catalog.xml</code>
    </p>

    <h2>Vocabularies</h2>

    <table class="table table-striped">
      <thead>
        <tr><th>Prefix</th><th>URI</th></tr>
      </thead>
      <tbody>
      {% for vocabulary in vocabularies -%}
        <tr><td>{{ vocabulary.prefix }}</td><td>{{ vocabulary.uri }}</td></tr>
      {% endfor %}
      </tbody>
    </table>

    <h2>Classes</h2>

    {% for class in classes %}
    <h3 id="{{ class.term }}">{{ class.term }}</h3>
    
    {% if 'subclassOf' in class %}
      <p>Sub-class of {{ class.subclassOf }}</p>
    {% endif -%}

    <h4>{{ class.title }}</h4>

    <p>{{ class.description }}</p>


    <h4>Properties</h4>

    {% for level in ['mandatory', 'recommended', 'optional'] %}
      {% if level in class.properties and class.properties[level] %}

        <table class="table table-striped">
          <caption>{{ level | title }} properties</caption>
          <thead>
            <tr><th>Term</th><th>Range</th><th>Cardinality</th><th>Comment</th></tr>
          </thead>
          <tbody>
          {% for property in class.properties[level] -%}
            <tr>
              <td>{% if 'extension' in property %}<strong>{{ property.term }}</strong>{% else %}{{ property.term }} {% endif -%}</td>
              <td>{{ property.range }}</td>
              <td>{{ property.min }}..{{ property.max }}</td>
              <td>{{ property.description }}</td>
            </tr>
          {% endfor %} {# property #}
          </tbody>
        </table>
      {% endif %}
    {% endfor %} {# level #}
    {% endfor %} {# class #}

</body>
</html>
 
