# Suomi.fi Open Data DCAT-AP extension

## Validation

Documents can be validated against this specification with a [SHACL](https://www.w3.org/TR/shacl/) processor using these schema files:

- [avoindata_dcat-ap_shacl.ttl](avoindata_dcat-ap_shacl.ttl)
- [FOAF.ttl](FOAF.ttl)

For example, using [pyshacl](https://pypi.org/project/pyshacl):

    pyshacl -s avoindata_dcat-ap_shacl.ttl -e FOAF.ttl --imports -i rdfs catalog.xml

## Vocabularies

Prefix | URI
-------|----
{% for vocabulary in vocabularies -%}
{{ vocabulary.prefix }} | {{ vocabulary.uri }}
{% endfor %}

## Classes

{% for class in classes %}
### {{ class.term }}

{% if 'subclassOf' in class %}
  Sub-class of {{ class.subclassOf }}
{% endif -%}

#### {{ class.title }}

{{ class.description }}

#### Properties

{% for level in ['mandatory', 'recommended', 'optional'] %}
{% if level in class.properties and class.properties[level] %}
##### {{ level | title }}
Term | Range | Cardinality | Comment
-----|-------|-------------|--------
{% for property in class.properties[level] -%}
  {% if 'extension' in property %}**{{ property.term }}** {% else %}{{ property.term }} {% endif -%}
  | {{ property.range }} | {{ property.min }}..{{ property.max }} | {{ property.description }}
{% endfor %} {# property #}
{% endif %}
{% endfor %} {# level #}
{% endfor %} {# class #}
