WSGISocketPrefix /var/run/wsgi
<VirtualHost 0.0.0.0:8080>

    ServerName {{ hostname }}
    ServerAlias {{ secondary_hostname }}
    WSGIScriptAlias /data /etc/ckan/default/apache.wsgi

    # pass authorization info on (needed for rest api)
    WSGIPassAuthorization On

    # Deploy as a daemon (avoids conflicts between CKAN instances)
    WSGIDaemonProcess ckan_default display-name=ckan_default processes=2 threads=15

    WSGIProcessGroup ckan_default

    ErrorLog /var/log/apache2/ckan_default.error.log
    CustomLog /var/log/apache2/ckan_default.custom.log combined

    #SSLEngine on
    #SSLCertificateFile      {{ certificates_path }}/{{ssl_crt_primary}}
    #SSLCertificateKeyFile   {{ certificates_path }}/{{ssl_key_primary}}

    # allow CORS
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header always set Access-Control-Allow-Headers "X-CKAN-API-KEY, Content-Type"

    # Respond to all OPTIONS requests with 200 OK
    # This could be done in the webapp
    # This is need for pre-flighted requests (POSTs/PUTs)
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]

    <Directory "/etc/ckan/default">
        Require all granted
    </Directory>
</VirtualHost>

{# Turn Sendfile off so that Vagrant/Virtualbox notices file changes in synced folders #}
{% if vagrant is defined %}
    EnableSendfile Off
{% endif %}
