#!/bin/bash
{% for file in ckan_config_files %}
psql --quiet postgresql://{{ file['db_ckan_username'] }}:{{ file['db_ckan_password'] }}@{{ file['db_server'] }}/{{ file['db_ckan_database'] }} << EOF
DO \$\$
    BEGIN
        IF EXISTS
            (select 1 from pg_tables where tablename = 'beaker_cache')
        THEN
            delete from beaker_cache where accessed < NOW()-'7  day'::interval;
        END IF;
    END
\$\$ ;
EOF
{% endfor %}
