[uwsgi]

http                =  127.0.0.1:{{ item.ckan_port }}
env                 =  CKAN_INI={{ item.ckan_ini }}
uid                 =  www-data
gid                 =  www-data
#processes           =  4
#enable-threads      =  true
wsgi-file           =  {{ ckan_wsgi_script }}
virtualenv          =  /usr/lib/ckan/default
chdir               =  /etc/ckan/default
mount               =  /data=wsgi:application
manage-script-name  =  true
master              =  true
pidfile             =  /tmp/%n.pid
harakiri            =  50
max-requests        =  5000
vacuum              =  true
callable            =  application
buffer-size         =  32768

# Fix SQLAlchemy SSL errors
# <https://stackoverflow.com/questions/22752521/uwsgi-flask-sqlalchemy-and-postgres-ssl-error-decryption-failed-or-bad-reco>
lazy = true
lazy-apps = true

