-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-harvest.git#egg=ckanext-harvest
-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-spatial.git#egg=ckanext-spatial
-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-archiver.git@eecd7348154bd86527c4754276723f6b5d4b35b9#egg=ckanext-archiver
-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-qa.git@7c2f1a009df40df13dd8d15da51edafbc2720787#egg=ckanext-qa
-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-datarequests.git#egg=ckanext-datarequests
redis
pika==0.9.8
requests==2.4.3
rdflib
celery
pyparsing==1.5.6
