-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-harvest.git#egg=ckanext-harvest
-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-spatial.git#egg=ckanext-spatial
-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-report.git#egg=ckanext-report
-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-archiver.git@archiver-uk#egg=ckanext-archiver
-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-qa.git@ckanext-qauk#egg=ckanext-qa
redis
pika==0.9.8
requests==2.4.3
rdflib
celery
