-e git+https://github.com/yhteentoimivuuspalvelut/ckanext-harvest.git#egg=ckanext-harvest
redis
pika==0.9.8
requests
rdflib
celery
{% if google_analytics -%}-e  git+https://github.com/ckan/ckanext-googleanalytics.git#egg=ckanext-googleanalytics{%- endif %}
