[program:ckan_gather_consumer]

command=nice -n 20 {{ ckan_virtual_environment }}/bin/ckan --config {{ ckan_ini }} harvester gather-consumer
user={{ ckan_harvester_user }}
numprocs=1
stdout_logfile={{ ckan_log_path }}/gather_consumer.log
stderr_logfile={{ ckan_log_path }}/gather_consumer.log
autostart=true
autorestart=true
startsecs=10


[program:ckan_fetch_consumer]

command=nice -n 20 {{ ckan_virtual_environment }}/bin/ckan --config {{ ckan_ini }} harvester fetch-consumer
user={{ ckan_harvester_user }}
numprocs=1
stdout_logfile={{ ckan_log_path }}/fetch_consumer.log
stderr_logfile={{ ckan_log_path }}/fetch_consumer.log
autostart=true
autorestart=true
startsecs=10


[program:ckan-worker-bulk]

command={{ ckan_virtual_environment }}/bin/ckan --config {{ ckan_ini }} jobs worker bulk
user={{ ckan_www_user }}
numprocs=1
stdout_logfile=/var/log/ckan/ckan-worker-bulk.log
stderr_logfile=/var/log/ckan/ckan-worker-bulk.log
autostart=true
autorestart=true
startsecs=10
stopwaitsecs = 600

[program:ckan-worker-priority]

command={{ ckan_virtual_environment }}/bin/ckan --config {{ ckan_ini }} jobs worker priority
user={{ ckan_www_user }}
numprocs=1
stdout_logfile=/var/log/ckan/ckan-worker-priority.log
stderr_logfile=/var/log/ckan/ckan-worker-priority.log
autostart=true
autorestart=true
startsecs=10
stopwaitsecs = 600
