{% asset "ytp_resources/categories_js" %} {% set lang = h.get_lang_prefix()
%} {% if categories %}
<section class="categories">
  {% block category_list %}
  <ul class="categories__list">
    {% for category in categories %}
    {% set item_classes = ['categories__list__item'] %}
    {% if loop.index > 3 %}
      {% set item_classes = item_classes + ['categories__list__item--hidden'] %}
    {% endif %}
    <li class="{{ item_classes | join(' ') }}">
      <img
        class="categories__list__item__icon"
        src="{{ category.get('image_display_url') }}"
      />
      {% if category.get('title_translated', {}).get(lang) %}
      <h5 class="categories__list__item__title">
        {{ category.get('title_translated', {}).get(lang) }}
      </h5>
      {% else %}
      <h5 class="categories__list__item__title">
        {{ category.get('display_name') }}
      </h5>
      {% endif %}
    </li>
    {% endfor %}
    {% if categories | length > 3 %}
    <li class="categories__list__show-more">
      <button
        id="show-more-categories"
        aria-label="{{_('Show more categories')}}"
      >
        <i class="fal fa-plus"></i>
        {{_('Show more')}}
      </button>
    </li>
    {% endif %}
  </ul>
  {% endblock %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Edit categories'), named_route='dataset.groups', id=pkg.name %}
  {% endif %}
</section>
{% endif %}
