{% set can_edit = h.check_access('related_update', {'id': related.id }) %}
<li class="resource-item" data-id="{{ related.id }}">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      {% block related_item_title %}
        {% if related.url %}
          <a href="{{ related.url }}" title="{{ related.title }}">
        {% endif %}
        <span class="heading">
          {{ h.extra_translation(related, 'title') }}
        </span>
        {% if related.url %}
          </a>
        {% endif %}

        {%- if related.type == 'application' -%}
            <span class="related-label icon-desktop icon-2x"><span class="label label-primary">{{ _('Application' ) }}</span></span>
            {% elif related.type == 'news_article' %}
            <span class="related-label icon-inbox icon-2x"><span class="label label-primary">{{ _('News Article') }}</span></span>
        {% elif related.type == 'api' %}
            <span class="related-label icon-puzzle-piece icon-2x"><span class="label label-primary">{{ _('API') }}</span></span>
        {% elif related.type == 'idea' %}
            <span class="related-label icon-lightbulb icon-2x"><span class="label label-primary">{{ _('Idea') }}</span></span>
        {% elif related.type == 'paper' %}
            <span class="related-label icon-book icon-2x"><span class="label label-primary">{{ _('Paper') }}</span></span>
        {% elif related.type == 'post' %}
            <span class="related-label icon-envelope icon-2x"><span class="label label-primary">{{ _('Post') }}</span></span>
        {% elif related.type == 'visualization' %}
            <span class="related-label icon-bar-chart icon-2x"><span class="label label-primary">{{ _('Visualization') }}</span></span>

        {% elif related.type == 'relates-to-this' %}
            <span class="related-label icon-bar-chart icon-2x"><span class="label label-primary">{{ _('Relates to this') }}</span></span>
        {% elif related.type == 'based-on-this' %}
            <span class="related-label icon-bar-chart icon-2x"><span class="label label-primary">{{ _('Based on this') }}</span></span>
        {% elif related.type == 'modification-of-this' %}
            <span class="related-label icon-bar-chart icon-2x"><span class="label label-primary">{{ _('Modification of this') }}</span></span>
        {% elif related.type == 'supplements-this' %}
            <span class="related-label icon-bar-chart icon-2x"><span class="label label-primary">{{ _('Supplements this') }}</span></span>
        {% elif related.type == 'included-in' %}
            <span class="related-label icon-bar-chart icon-2x"><span class="label label-primary">{{ _('Included in') }}</span></span>
        {% elif related.type == 'includes-this' %}
            <span class="related-label icon-bar-chart icon-2x"><span class="label label-primary">{{ _('Included this') }}</span></span>

        {%- else -%}
            {{ _(related.type)}}
          {%- endif -%}

      {% endblock %}

      <p class="description">
        {% set description = h.extra_translation(related, 'description', markdown=80) %}
        {% if description %}
          {{ description }}
        {% else %}
          <span class="empty">{{ _('No description for this related component') }}</span>
        {% endif %}
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="btn-group pull-right pull-sm-left">
        {% if can_edit %}
          <a href="{{ h.url_for(controller='related', action='edit', id=pkg_id, related_id=related.id) }}" class="btn btn-default"><i class="icon-wrench"></i> {{ _('Edit') }}</a>
        {% endif %}
        {% if related.url %}
          <a href="{{ related.url }}" target="_blank" class="btn btn-default"><i class="icon-external-link"></i> {{ _('Open') }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</li>
