{#
/**
 * @file
 * Avoindata Articles block
 *
 * @ingroup themeable
 */
#}
<div class="container-fluid">
  <div class="avoindata-articles">
    <div class="row">
      <h1>
        {% trans %}
        News
        {% endtrans %}
      </h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>
          list
        </p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <p>
            {% trans %}
            Categories
            {% endtrans %}
          </p>
        </div>
        <div class="row">
          <p>
            {% trans %}
            Search
            {% endtrans %}
          </p>
        </div>
        <div class="row">
          <p>
            {% trans %}
            Popular
            {% endtrans %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
