<div class="module-content disqus-comments">
    <h3>{{ _('Give feedback') }}</h3>
    <script type="text/javascript">
        {# Check to see if user is logged in.  If so send the info. #}
        var disqus_config = function () {
            this.language = "{{language}}";
            {% if add_notify %}
            this.callbacks.onNewComment = [function (comment) {
                $.ajax({
                        method: "POST",
                        url: "{{ h.url_for('disqus.notify') }}",
                        data: {
                            "comment": comment.text,
                            "comment_id": comment.id,
                            "pkg_id": "{{ pkg_id }}"
                        }
                    })
                    .done(function (msg) {
                        //alert("Data Saved: " + msg);
                    });
            }];
            {% endif %}



            {# Check if a disqus HMAC-SHA1 message has been passed, and if so,
            insert the disqus SSO code #}
            {% if pub_key %}
            this.page.remote_auth_s3 = "{{message}} {{sig}} {{timestamp}}";
            this.page.api_key = "{{pub_key}}";

            // This adds the custom login/logout functionality
            this.sso = {
                  name: "{{site_title}}",
                  button: "{{site_url}}/images/samplenews.gif",
                  icon: "{{site_url}}/favicon.ico",
                  url: "{{site_url}}/user/login",
                  logout: "{{site_url}}/user/_logout",
                  width: "950",
                  height: "550"
            };
            {% endif %}
        }
    </script>

  <div id="disqus_thread"></div>

  <script type="text/javascript">
    var disqus_shortname =  '{{ disqus_shortname }}';
    var disqus_identifier = '{{ identifier }}';
    {%- set disqus_url = h.current_disqus_url() %}
    {%- if disqus_url %}
    var disqus_url = '{{ disqus_url }}';
    {% endif %}
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
