{% extends "ckan_page.html" %}

{# Note: ckanext-ytp_drupal overrides header block #}

{% block secondary %}
        {% set inner = self.secondary_inner() %}
        {% if inner | trim %}
        <aside class="secondary col-xs-6 col-sm-3 sidebar-offcanvas">
        {% block secondary_inner %}
            {%- include('ytp/menu.html') -%}
            {% block secondary_content -%}{%- endblock %}
        {% endblock %}
        </aside>
        {% endif %}
    {% endblock %}
    
    {% block primary %}
        <div class="primary col-xs-12 {% if self.secondary()|trim == '' %}col-sm-12{% else %}col-sm-9{% endif %}">
            {% block primary_content %}
                {{ super() }}
            {% endblock %}
        </div>
    {% endblock %}

{%- block footer %}
    {{ h.drupal_footer()|safe }}
    {% if g.debug %}
        {% include 'snippets/debug.html' %}
    {% endif %}
{% endblock -%}

{% block header %}
    {% set lang = h.lang() %}
    {{ super() }}
    {#{% if h.service_alerts().rowcount != 0 %}
    <div class="container">
        <div class="alert alert-info">
            <ul class="service_alerts">
                {% for service_alert in h.service_alerts() %}
                <li>
                    <a href="/node/{{ service_alert[0] }}">{{ service_alert[1] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}#}
{% endblock %}
