
# Drupal authentication cookie mapping. Used to prevent caching.
map $http_cookie $no_cache {
    default $cookie_auth_tkt;
    ~SESS 1;
}

server {
    listen {{ nginx_port }};
    server_name {{ item.server_name }}
    include /etc/nginx/snippets/{{ item.snippet }};
}

{% if item.base_hostname %}
server {
    listen {{ nginx_port }};
    server_name {{ item.base_hostname }};
    return 301 $scheme://{{ item.server_name }}$request_uri;
}
{% endif %}
