
# Drupal authentication cookie mapping. Used to prevent caching.
map $http_cookie $no_cache {
    default $cookie_auth_tkt;
    ~SESS 1;
}

map "$http_cloudfront_forwarded_proto:$http_x_forwarded_proto" $real_scheme {
    default "http";
    "~https" "https";
}

server {
    listen {{ item.port }};
    server_name {{ item.server_name }};
    include /etc/nginx/snippets/{{ item.snippet }};
}

{% if item.base_hostname %}
server {
    listen {{ item.port }};
    server_name {{ item.base_hostname }};
    return 301 $real_scheme://{{ item.server_name }}$request_uri;
}
{% endif %}
