{% set label = field.label %}
{% set name = field.field_name %}
{% set options = h.field_options(field) %}
{% set allow_select_all = field.display_options.allow_select_all %}

{% resource 'advancedsearch/javascript/ytp-multiselect.js' %}


<div
    class="ytp-multiselect ytp-multiselect-{{name}} mb-3"
    data-module="ytp-multiselect"
    data-module-name="{{name}}"
    data-module-allow-all="{% if allow_select_all %}true{% else %}false{% endif %}"
>
    <label for="advanced-search-dropdown-toggle-{{name}}" class="ytp-input-label">{{label}}</label>
    <!-- TODO: This can sometimes be an input and not a button -->
    <button
        for="advanced-search-dropdown-toggle-{{name}}"
        class="ytp-multiselect-toggle ytp-input-element"
        type="button"
        aria-expanded="false"
    >
        <span class="multiselect-status">{{_('All')}}</span>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </button>
    <fieldset id="advanced-search-dropdown-{{name}}">
        <div class="choicelist" id="{{name}}-choicelist">
            {% if allow_select_all %}
                {% snippet 'advanced_search/snippets/multiselect-choice.html', name=name, option={"value": "all", "label": _('All')}, isChecked=true %}
            {% endif %}
            {% if options %}
                {% for option in options %}
                    {% snippet 'advanced_search/snippets/multiselect-choice.html', name=name, option=option, isChecked=true %}
                {% endfor %}
            {% endif %}
        </div>
    </fieldset>
</div>
