{% set label = field.label %}
{% set field_name = field.field_name %}
{% set placeholder = field.display_options.placeholder %}

<div>
    <!-- Populate input with prev query value -->
    {% set value_or_blank = h.value_or_blank(prev_query, field_name) %}
    {% if value_or_blank %}
        {% set value_or_blank = value_or_blank[0] %}
    {% endif %}

    {% if label %}
        <label class="ytp-input-label" for="advanced-search-keywords">{{_(label)}}</label>
    {% endif %}
    <div class="ytp-input-with-icon">
        <input
            id="advanced-search-keywords"
            type="text"
            name="{{field_name}}"
            value="{{value_or_blank}}"
            class="ytp-input-element ytp-search-bar"
            placeholder="{{_(placeholder)}}"
        >
        <button type="submit" value="search"><i class="far fa-search"></i></button>
    </div>
</div>
