<div class="control-group">
  <label class="control-label" for="field-parent">{{ h.scheming_language_text(field.label) }}</label>
  <div class="controls">
    <select id="field-parent" name="groups__0__name" data-module="autocomplete">
      {% set selected_parent = (data.get('groups') or [{'name': ''}])[0]['name'] %} {{ selected_parent }}
      <option value="" {% if not selected_parent %} selected="selected" {% endif %}>{{ _('None - top level') }}</option>
      {% set parent_groups = h.get_groups_where_user_is_admin() %}
      {% for group in parent_groups %}
        <option value="{{ group.name }}" {% if group.name == selected_parent %}selected="selected"{% endif %}>{{ h.get_translated(group, 'title') or group.name }}</option>
      {% endfor %}
    </select>
  </div>
</div>
