{%- if c.is_sysadmin -%}
<div class="control-group">
    <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
    <div class="controls">
    <select id="field-private" name="private">
        {% for option in [('True', _('Private')), ('False', _('Public'))] %}
        <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
    </select>
    </div>
</div>
<div class="field-assistive-text">
    {{ _(field.description) }}
</div>
{%- endif -%}