{% import 'scheming/macros/form.html' as form %}

<!-- TODO: customize style to look like YTP checkbox style -->
<style>
fieldset.checkboxes label:after {
    content: none;
}
fieldset.checkboxes label input {
    width: auto;
    top: 0;
}
</style>

{% if tmpl_context.action == 'edit' %}
  {% set category_url = h.url_for('dataset_groups', id=data['name']) %}
  <label class="control-label" for="field-{{ field.field_name }}">{{ h.scheming_language_text(field.label) }}</label>
  {% trans %}
    Categories can be edited from <a href="{{ category_url }}">here</a>
  {% endtrans %}
{% else %}
    {%- call form.input_block(
        label=h.scheming_language_text(field.label),
        classes=['control-medium'],
        error=errors[field.field_name],
        is_required=h.scheming_field_required(field),
        description=field.description) -%}
        {%- set choices = [] -%}
        {%- for c in h.scheming_field_choices(field) -%}
            {%- do choices.append(
            (c.value, h.get_translation(c.label))) -%}
        {%- endfor -%}
        <fieldset class="checkboxes">
            {%- for val, label in choices -%}
            <label class="ytp-checkbox mb-3 mr-4" for="field-{{ field.field_name }}-{{ val }}">
                <input id="field-{{ field.field_name }}-{{ val }}"
                        type="checkbox"
                        name="{{ field.field_name }}"
                        value="{{ val }}"
                        {% if h.check_group_selected(val, data.groups) %}checked{% endif %} />
                        <span class="custom-checkbox"></span>
                    {{ label }}
                </label>
            {%- endfor -%}
        </fieldset>
        {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    {%- endcall -%}
{% endif %}
