{#
/**
 * @file
 * Avoindata Guide block
 *
 * @ingroup themeable
 */
#}
<div class="avoindata-articles-container">
    <div class="row">
        <h2 class="module-heading">
            {{ label }}
        </h2>
        <div class="secondary col-12 col-md-8">
            <div>
                {{ content.field_content }}
            </div>
        </div>

        <div class="secondary col-12 col-md-4">
            {{ drupal_region('guide_menu') }}
        </div>


    </div>
</div>


