<div class="opendata-card">
    <div class="opendata-card-content">
        {{ content }}
    </div>
</div>
<form action="/search" id="guide-search-form">
    <input type="search" id="guide-search-field" 
            maxlength="256" name="query" 
            placeholder="Hae oppaasta.." required="">
    
    <input type="submit" value="Etsi" class="button" id="guide-search-button">
</form>