{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set lang = h.lang() %}

{% set menu = h.get_menu_for_page(current_url, lang) %}
{%- if menu -%}
    <div class="module module-narrow module-shallow">
        <div class="module-content">
            <ul class="nav flex-column">
                {%- for _item, attribs in menu.tree.items() recursive -%}
                    <li class="nav-item">
                        <a href="{{ attribs['link']['href'] }}" {% if attribs['selected'] -%}class="nav-link nav-link-selected"{%- endif -%}>
                            {{ attribs['link']['title'] }}
                        </a>
                        {%- if attribs['children'] -%}
                            <ul class="nav flex-column">{{ loop(attribs['children'].items()) }}</ul>
                        {%- endif -%}
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
{%- endif -%}
