
{% ckan_extends %}

{% block scripts %}
    {{ super() }}
    {% asset "ytp_resources/main_js" %}

{% endblock %}
{% block styles %}
    {{ super() }}
    {% asset "ytp_resources/main_css" %}
    {% include "head-styles-ckan.html" %}

    {# Disable ckanext-geoview resource icons as incompatible with CKAN 2.9 #}
    {% block geo_resource_styles %}{% endblock %}
{% endblock %}

{%- block links -%}
    {{ super() }}
    {% for locale in h.get_available_locales() %}
      <link rel="alternate" hreflang="{{ locale.short_name }}" href="{% url_for h.current_url(), locale=locale.short_name %}" />
    {% endfor %}

    <link rel="icon" href="/themes/avoindata/images/logo/favicon.ico" sizes="32x32">
    <link rel="icon" href="/themes/avoindata/images/logo/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/themes/avoindata/images/logo/apple-touch-icon.png">
    <link rel="manifest" href="/themes/avoindata/images/logo/avoindata.webmanifest">
{%- endblock -%}
