[main]

[custom render order]
vendor/select2-bootstrap-css/select2-bootstrap.css = 10
vendor/@fortawesome/fontawesome/css/all.css = 10
vendor/@fortawesome/fontawesome/css/v4-shims.css = 9
vendor/bootstrap/dist/css/bootstrap.css = 8
vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css = 9
styles/ckan.css = 9
vendor/moment/min/moment-with-locales.js = 5
vendor/bootstrap/dist/js/bootstrap.js = 3
