{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% set user = c.user_dict %}

{% block primary_content_inner %}
  <h1 class="page-heading">
    {% block page_heading %}{{  _('Manage Organizations') }}{% endblock %}
  </h1>
  <ul class="list-group">
    <!-- TODO: probably filter out already approved organizations -->
    <!-- or add an option to show only unapproved organizations -->
    {% if c.organization_data %}
      {% for organization in c.organization_data %}
        {% set status_classes = {'pending': 'info', 'denied': 'warning', 'approved': 'success'} %}
        {% set status_class = status_classes[organization.approval_status] %}
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="flex-1 mr-3">
              <div class="mb-2">
                <h3 class="m-0">
                  <a class="text-{{ status_class }}" href="{{ h.url_for(controller='organization', action='read', id=organization.id) }}">
                    {{ organization.display_name }}
                  </a>
                </h3>
                <p class="m-0">
                  {{ organization.description }}
                </p>
              </div>
              <p class="m-0 mb-1">
                <span class="label label-{{ status_class}}">{{ organization.approval_status }}</span>
              </p>
            </div>
            <form class="dataset-form form-horizontal" method="post">
              <div class="row-fluid">
                {% set locale_delete = h.dump_json({'content': _('Are you sure you want to permanently delete this organization?')}) %}
                <input class="hidden" name="org_id" value="{{ organization.id }}" />
                <div class="btn-group">
                  {% if organization.approval_status != 'approved' %}
                    {% if organization.approval_status != 'approved' %}
                      <button class="btn btn-success" name="approval_status" value="approved">
                        {{ _ ('Approve')}}
                      </button>
                    {% endif %}
                    {% if organization.approval_status != 'denied' %}
                      <!-- TODO: add modal that prompts admin to give reason why the organization was denied -->
                      <button
                        class="btn btn-warning"
                        value="denied"
                        name="approval_status">
                        {{ _ ('Deny')}}
                    </button>
                    {% endif %}
                  {% endif %}
                  
                </div>
                {% if organization.approval_status == 'approved' %}
                  <a class="btn btn-warning" href="{{ h.url_for(controller='organization', action='edit', id=organization.id) }}">
                    {{ _ ('Edit')}}
                  </a>
                {% endif %}
                <a class="btn btn-danger" href="{{ h.url_for(controller='organization', action='delete', id=organization.id) }}" data-module="confirm-action" data-module-i18n="{{ locale_delete }}">
                  {% block delete_button_text %}
                    {{ _('Remove') }}
                  {% endblock %}
                </a>
              </div>
            </form>
          </div>
        </li>
      {% endfor %}
    {% endif %}
  </ul>

  <!-- TODO: replace predefined link values with fetched link values -->
  <!-- This could also be a template function that gets total pages, current page and link -->
  <!-- Just noticed theres a pager function that is used on other pages with pagination -->
  {% if total_pages > 1 %}
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if current_page != 1 %}
          <li>
            <a href="{{ h.make_pager_url(page=current_page - 1) }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        {% set smallest_before = 1 %}
        {% if (current_page - 4) > 1 %}
          {% set smallest_before = current_page - 4 %}
        {% endif %}
        {% set biggest_after = total_pages %}
        {% if (current_page + 4) < total_pages %}
          {% set biggest_after = current_page + 4 %}
        {% endif %}

        {% for i in range(smallest_before, current_page) %}
          <li>
            <a href="{{ h.make_pager_url(page=i) }}">{{ i }}</a>
          </li>
        {% endfor %}

        {% for i in range(current_page, biggest_after + 1) %}
          <li class="{% if i == current_page %}active{% endif %}">
            <a href="{{ h.make_pager_url(page=i) }}">{{ i }}</a>
          </li>
        {% endfor %}

        {% if current_page != total_pages and total_pages > 1 %}
          <li>
            <a href="{{ h.make_pager_url(page=current_page + 1) }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  <div class="module module-narrow module-shallow">
    <div class="module-content">
      <p>
        {% trans %}
          You can approve and delete organizations
        {% endtrans %}
      </p>
    </div>
  </div>
{% endblock %}