
{% import 'macros/form.html' as form %}

{# multilinqual input #}

{% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false, locales=[], data=none, slug=false) %}
  {%- set extra_html = caller() if caller -%}

  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <div class="translation-list">
        <div class="translation-container">
            <div class="input-group">
                <span class="translation-input-language input-group-addon translation-input-original"></span>
                <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" class="translation-input form-control" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} />
            </div>
        </div>

        {% for locale in locales %}
            {% set locale_field_name = name + "_" + locale.language %}
            {% set locale_value = data[locale_field_name] %}
            <div class="translation-container" translation-data-locale="{{ locale.language }}">
                <div class="input-group">
                    <span translation-data-locale="{{ locale.language }}" class="translation-input-language input-group-addon">{{ locale.language }}</span>
                    <input id="{{ locale_field_name }}" type="{{ type }}" translation-data-locale="{{ locale.language }}" name="{{ locale_field_name }}" value="{{ locale_value | empty_and_escape }}" class="translation-input form-control" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} />
                </div>
            </div>
        {% endfor %}
        {% if slug %}
        {# fake input for slug-preview to attach  #}
        <input type="hidden" data-module="slug-preview-target"  />
        {% endif %}
    </div>
  {% endcall %}
{% endmacro %}

{% macro markdown(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={}, is_required=false, locales=[], data=none) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-full') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="translation-list">
        <div class="translation-container">
            <div class="input-group">
                <span class="translation-input-language input-group-addon translation-input-original"></span>
                <textarea id="{{ id or name }}" name="{{ name }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} class="translation-input">{{ value | empty_and_escape }}</textarea>
            </div>
        </div>
        {% for locale in locales %}
            {% set locale_field_name = name + "_" + locale.language %}
            {% set locale_value = data[locale_field_name] %}
        <div class="translation-container" translation-data-locale="{{ locale.language }}">
            <div class="input-group">
                <span translation-data-locale="{{ locale.language }}" class="translation-input-language input-group-addon">{{ locale.language }}</span>
                <textarea id="{{ locale_field_name }}" name="{{ locale_field_name }}" translation-data-locale="{{ locale.language }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} class="translation-input">{{ locale_value | empty_and_escape }}</textarea>
            </div>
        </div>
        {% endfor %}
        <span class="editor-info-block">{% trans %}You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown formatting</a> here{% endtrans %}</span>
    </div>
  {% endcall %}
{% endmacro %}

{% macro input_multiple(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false) %}
  {% resource 'ytp_common_js/ytp_form.js' %}
  {% do classes.append('control-medium') %}
  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="ytp-multiple-values">
        {% if value %}
          {% set values = value if value.append else [value] %}
          {% for value_item in values %}
            {% if value_item %}
            <input id="{{ id or name }}-{{ loop.counter }}" type="{{ type }}" name="{{ name }}" value="{{ value_item | empty_and_escape }}" placeholder="{{ placeholder }}" class="ytp-multiple-value" {{ form.attributes(attrs) }} />
            {% endif %}
          {% endfor %}
        {% endif %}
        <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="" placeholder="{{ placeholder }}" class="ytp-multiple-value" {{ form.attributes(attrs) }} />
    </div>
  {% endcall %}
{% endmacro %}
