
{% import 'macros/form.html' as form %}

{# multilinqual input #}

{% macro _translation_input_div(name, id, value, placeholder, type, attrs, locale, slug_attributes={}) %}
<div class="translation-container"{% if locale %} translation-data-locale="{{ locale.language }}"{% endif %}>
    <div class="input-group">
        {% if not locale %}
        <span class="translation-input-language input-group-addon translation-input-original"></span>
        {% else %}
        <span translation-data-locale="{{ locale.language }}" class="translation-input-language input-group-addon">{{ locale.language }}</span>
        {% endif %}

        <input id="{{ id }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" class="translation-input form-control" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} {{ form.attributes(slug_attributes) }} {% if locale %} translation-data-locale="{{ locale.language }}"{% endif %} />
    </div>
</div>
{% endmacro %}

{% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false, locales=[], data=none, slug=false) %}
  {%- set extra_html = caller() if caller -%}
  {%- set slug_attributes = {} -%}
  {%- if slug -%}
    {%- set slug_attributes = {'data-module': 'slug-preview-target'} -%}
  {%- endif -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <div class="translation-list">
        {{ _translation_input_div(name, id or name, value, placeholder, type, attrs, none, slug_attributes) }}

        {% for locale in locales %}
            {% set locale_field_name = name + "_" + locale.language %}
            {% set locale_value = data[locale_field_name] %}
            {{ _translation_input_div(locale_field_name, locale_field_name, locale_value, placeholder, type, attrs, locale) }}
        {% endfor %}
        {% if slug %}
        <input type="hidden" data-module="slug-preview-target"  /> {# fake input for slug-preview to attach  #}
        {% endif %}
    </div>
  {% endcall %}
{% endmacro %}

{% macro markdown(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={}, is_required=false, locales=[], data=none) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-full') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="translation-list">
        <div class="translation-container">
            <div class="input-group">
                <span class="translation-input-language input-group-addon translation-input-original"></span>
                <textarea id="{{ id or name }}" name="{{ name }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} class="translation-input">{{ value | empty_and_escape }}</textarea>
            </div>
        </div>
        {% for locale in locales %}
            {% set locale_field_name = name + "_" + locale.language %}
            {% set locale_value = data[locale_field_name] %}
            <div class="translation-container" translation-data-locale="{{ locale.language }}">
                <div class="input-group">
                    <span translation-data-locale="{{ locale.language }}" class="translation-input-language input-group-addon">{{ locale.language }}</span>
                    <textarea id="{{ locale_field_name }}" name="{{ locale_field_name }}" translation-data-locale="{{ locale.language }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} class="translation-input">{{ locale_value | empty_and_escape }}</textarea>
                </div>
            </div>
        {% endfor %}
        <span class="editor-info-block">{% trans %}You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown formatting</a> here{% endtrans %}</span>
    </div>
  {% endcall %}
{% endmacro %}

{% macro input_multiple(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false) %}
  {% resource 'ytp_common_js/ytp_form.js' %}
  {% do classes.append('control-medium') %}
  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="ytp-multiple-values">
        {% if value %}
          {% set values = value if value.append else [value] %}
          {% for value_item in values %}
            {% if value_item %}
            <input id="{{ id or name }}-{{ loop.counter }}" type="{{ type }}" name="{{ name }}" value="{{ value_item | empty_and_escape }}" placeholder="{{ placeholder }}" class="ytp-multiple-value" {{ form.attributes(attrs) }} />
            {% endif %}
          {% endfor %}
        {% endif %}
        <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="" placeholder="{{ placeholder }}" class="ytp-multiple-value" {{ form.attributes(attrs) }} />
    </div>
  {% endcall %}
{% endmacro %}

{% macro radio(options, default_selected, name, id='', label='', value='', placeholder='', type='radio', error="", classes=[], attrs={}, is_required=false) %}
    {%- set extra_html = caller() if caller -%}

    {% call form.input_block(id or name, label or name, errors, classes, extra_html=extra_html, is_required=is_required) %}
        {% set selected_option = value or default_selected %}
        {% for item_label, item_value in options %}
            <div class="radio-select-label">
                <label class="radio inline">
                    <input type="{{ type }}" name="{{ name }}" value="{{ item_value }}" {% if item_value == selected_option %}checked="checked" {% endif %}/>
                    {{ item_label }}
                </label>
            </div>

        {% endfor %}
    {% endcall %}
{% endmacro %}

{% macro date(name, id='', label='', value='', placeholder='', type='text', error='', classes=[], attrs={}, is_required=false) %}
  {% resource 'ytp_common_js/ytp_form.js' %}
  <input class="form-control" id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}" data-datepicker data-date-format="YYYY-MM-DD"/>
{% endmacro %}

{% macro modal(name, id='', label='', treedata='') %}
  {% resource 'ytp_common_js/ytp_form.js' %}
  <button class="btn btn-primary" data-toggle="modal" data-target="#{{ id or name }}">{{ label }}</button>
  <div class="modal fade" id="{{ id or name }}" role="dialog" aria-labelledby="{{ label }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
          <h4 class="modal-title" id="{{ label }}">{{ label }}</h4>
        </div>
        <div class="modal-body">
          {{ tree(treedata) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}


{% macro tree(data) %}
  <div data-tree>
    <ul>
    {%- for node in data recursive %}
      {% if node is string %}
        <li>{{ node }}</li>
      {% else %}
        <li>{{ node.text }}
        {% if node.children %}
          <ul>
            {{ loop(node.children) }}
          </ul>
        {% endif %}
        </li>
      {% endif %}
    {%- endfor  %}
    </ul>
  </div>
{% endmacro %}