<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Publishers?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
      A publisher is an organisation that has opened their data for public use.
      {% endtrans %}
      </p><p>
      {% trans %}        
      A publisher can be a public administration organisation or a private sector company, but also an association, an individual or anything in between.
      {% endtrans %}
      </p><p>
      {% trans %}            
      Organisations that have added data to opendata.fi are listed on this page. The number next to the publisher’s name indicates the amount of datasets belonging to that publisher and its suborganisations.
      {% endtrans %}
      </p>
  </div>
</div>
