{% ckan_extends %}

{% import 'macros/ytp_form.html' as ytp_form %}
{# Customizations for organization form #}

{% block basic_fields %}
    {% set translate_data = data %}
    {#
    {% if not data.translations %}
      {% set translate_data = h.get_action('organization_show', {'id': pkg_name}) %}
    {% endif %}
    #}
    {{ h.snippet('package/ytp/language_bar.html', data=translate_data) }}
    <div class="translate-content">

    {{ ytp_form.input('title', label=_('Name'), id='field-name', placeholder=_('My Organization'), value=data.title, error=errors.title, classes=['control-full'], locales=h.get_available_locales(), data=data, slug=true, is_required=true) }}

    {# Perhaps these should be moved into the controller? #}
    {% set prefix = h.url_for(controller='organization', action='read', id='') %}
    {% set domain = h.url_for(controller='organization', action='read', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<organization>'} %}

    {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-organization'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    {{ ytp_form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my organization...'), value=data.description, error=errors.description, locales=h.get_available_locales(), data=data) }}

    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ ytp_form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload) }}

    {% if data.get('state', 'none') == 'deleted' %}
        <div class="control-group">
          <label for="field-state" class="control-label">{{ _('State') }}</label>
          <div class="controls">
            <select id="field-state" name="state">
              <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
              <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
            </select>
          </div>
        </div>
    {% endif %}

    {# YTP fields: #}

    {# Parent organization selector (from ckanext-hierarchy) #}
    {% set selected_parent = (data.get('groups') or [{'name': ''}])[0]['name'] %}
    {% set authorized_parents = h.get_authorized_parents() %}
    <div class="control-group">
        <label class="control-label" for="field-parent">{{ _("Parent") }}</label>
        <div class="controls">

          {% if authorized_parents | count == 0 or (selected_parent and not h.is_organization_in_authorized_parents(selected_parent, authorized_parents))   %}
            <p>{{ _('Only Admin of the parent organization can control the hierarchy.') }}</p>
          {% else %}
          <select id="field-parent" name="groups__0__name" data-module="autocomplete">
                 {{ selected_parent }}
                <option value="" {% if not selected_parent %} selected="selected" {% endif %}>{{ _('None - top level') }}</option>
                {% for group in authorized_parents %}
                    <option value="{{ group.name }}" {% if group.name == selected_parent %}selected="selected"{% endif %}>{{ group.title }}</option>
                {% endfor %}
            </select>
          {% endif %}
        </div>
    </div>

    {% set menu_vocabularies = ['producer_type_private_options_url'] %}  {# Jinja supports only inner scoped _objects_ #}

    {% set has_public_adminstration_rights = h.check_access('organization_public_adminstration_change', {}) %}
    {% call form.input_block("public_adminstration_organization", _('Public administration organization'), errors.public_adminstration_organization, [], extra_html="") %}
    {% if not has_public_adminstration_rights %}
        {% if data.public_adminstration_organization == 'true' %}
          <input type="hidden" name="public_adminstration_organization" value="true" />
        {% endif %}
        <p>
            {% if data.public_adminstration_organization == 'true' %}
                {{ _('Yes') }}
                {% do menu_vocabularies.append('producer_type_options_url') %}
            {% else %}
                {{ _('No') }}
            {% endif %}
        </p>
    {% else %}
        {% do menu_vocabularies.append('producer_type_options_url') %}
        <input type="checkbox" name="public_adminstration_organization" value="true" {% if data.public_adminstration_organization == 'true' %}checked="checked"{% endif %} {% if not has_public_adminstration_rights %}readonly="readonly" onclick="return false;"{% endif %} />
    {% endif %}
    {% endcall %}



    <div class="control-group">
        <label for="field-producer_type" class="control-label">
            {{ _('Producer type') }}
        </label>


        {% set producer_types = [
            {'id': 'civil-service', 'name': _('Civil Service')},
            {'id': 'municipality', 'name': _('Municipality / City')},
            {'id': 'other-public-service', 'name': _('Other Public Service')},
            {'id': 'educational-research-institute', 'name': _('Educational / Research Institute')},
            {'id': 'company', 'name': _('Company')},
            {'id': 'individual', 'name': _('Individual')},
            {'id': 'association', 'name': _('Association')}
        ]%}

        <div class="controls">
            <select id="field-producer_type" name="producer_type" data-module="autocomplete">
                <option value="" {% if not data.producer_type and data.id %} selected="selected" {% endif %} >{{ _('Select a producer type...') }}</option>
                <option value=""></option>
                {% for producer_type in producer_types %}
                    <option value="{{ producer_type.id }}" {% if data.get('producer_type', '') == producer_type.id %} selected="selected" {% endif %}>{{ producer_type.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


{% endblock %}

{# Hide custom fields #}
{% block custom_fields %}

{# {{ ytp_form.input('business_id', label=_('Business ID'), placeholder=_('Business ID'), value=data.business_id, error=errors.business_id, classes=['control-full']) }}  #}
{# {{ ytp_form.input('oid', label=_('OID'), placeholder=_('OID'), value=data.oid, error=errors.oid, classes=['control-full']) }}  #}
{# {{ ytp_form.input('alternative_name', label=_('Alternative name'), placeholder=_('Alternative name'), value=data.alternative_name, error=errors.alternative_name, classes=['control-full'], locales=h.get_available_locales(), data=data) }}  #}

{% call form.input_block("validity", _('Period of validity'), errors.validity, [], extra_html="") %}
  <div class="form-inline date">
    <div class="form-group">
        {{ ytp_form.date('valid_from', value=data.valid_from | empty_and_escape, placeholder=_('YYYY-MM-DD')) }}
    </div>
    <span class="hyphen">-</span>
    <div class="form-group">
      {{ ytp_form.date('valid_till', value=data.valid_till | empty_and_escape, placeholder=_('YYYY-MM-DD')) }}
    </div>
  </div>
{% endcall %}

    {# Address info #}
    <h2 class="organization-subheading">{{_('Contact info')}}</h2>

    {% call ytp_form.input('street_address', label= _('Address'), placeholder=_('Example street 1 apartment 5'), value=data.street_address, error=errors.street_address, classes=['control-full'], locales=h.get_available_locales(), data=data) %}
    <span>{{ _('Street') }}, {{ _('House number') }}, {{ _('Staircase') }}, {{ _('Apartment number') }}</span>
    {% endcall %}

    {# {{ ytp_form.input('street_address_pobox', label=_('P.O. box'), id='street_address_pobox', placeholder=_('P.O. Box 123'), value=data.street_address_pobox, error=errors.street_address_pobox, classes=['control-full'], locales=h.get_available_locales(), data=data) }}  #}
    {{ ytp_form.input('street_address_zip_code', label=_('Zip code'), id='street_address_zip_code', placeholder=_('12345'), value=data.street_address_zip_code, error=errors.street_address_zip_code, classes=['control-full'], locales=h.get_available_locales(), data=data) }}


    {{ ytp_form.input('street_address_place_of_business', label=_('Place of Business'), id='street_address_place_of_business', placeholder=_('Example City'), value=data.street_address_place_of_business, error=errors.street_address_place_of_business, classes=['control-full'], locales=h.get_available_locales(), data=data) }}
    {# {{ ytp_form.input('street_address_country', label=_('Country'), id='street_address_country', placeholder= _('Example country'), value=data.street_address_country, error=errors.street_address_country, classes=['control-full'], locales=h.get_available_locales(), data=data) }}  #}

    {# <h3 class="organization-subheading">{{ _('Address specifier') }}</h3>  #}

    {# {{ ytp_form.input('street_address_unofficial_name', label=_('Unofficial name of the building'), id='street_address_unofficial_name', placeholder=_('Example name'), value=data.street_address_unofficial_name, error=errors.street_address_unofficial_name, classes=['control-full'], locales=h.get_available_locales(), data=data) }}  #}
    {# {{ ytp_form.input('street_address_building_id', label=_('Building ID'), id='street_address_building_id', placeholder=_('Example Id'), value=data.street_address_building_id, error=errors.street_address_building_id, classes=['control-full'], locales=h.get_available_locales(), data=data) }} #}

    {# <h3 class="organization-subheading">{{ _('Arrival instructions') }}</h3> #}

    {# {{ ytp_form.markdown('street_address_getting_there', label=_('Getting there'), id='street_address_getting_there', placeholder=_('Example instructions'), value=data.street_address_getting_there, error=errors.street_address_getting_there, classes=['control-full'], locales=h.get_available_locales(), data=data) }}  #}
    {# {{ ytp_form.markdown('street_address_parking', label=_('Parking'), id='street_address_parking', placeholder=_('Example parking instructions'), value=data.street_address_parking, error=errors.street_address_parking, classes=['control-full'], locales=h.get_available_locales(), data=data) }}  #}

    {# {{ ytp_form.input('street_address_public_transport', label=_('Arrival by public transport'), id='street_address_public_transport', placeholder=_('Example instructions arrival by public transport'), value=data.street_address_public_transport, error=errors.street_address_public_transport, classes=['control-full'], locales=h.get_available_locales(), data=data) }} #}
    {# {{ ytp_form.input('street_address_url_public_transport', label=_('Web address for public transport'), id='street_address_url_public_transport', placeholder=_('http://publictransport.example.com/'), value=data.street_address_url_public_transport, error=errors.street_address_url_public_transport, classes=['control-full'], locales=h.get_available_locales(), data=data) }} #}


    {{ ytp_form.input('homepage', label=_('Homepage'), id='homepage', placeholder=_('http://example.com'), value=data.homepage, error=errors.homepage, classes=['control-full'], locales=h.get_available_locales(), data=data) }}

    {# Homepage functionality #}
    {#
    <script type="text/javascript">

        function CreateButtonString(editButton) {

            if (editButton == true) {
                var buttons = "<a class='homepage button' onclick=\"Edit($(this).parents('.homepage').attr('id'))\" href='javascript:void(0);'>{{_('Edit')}}</a><a class='homepage button' onclick=\"Delete($(this).parents('.homepage').attr('id'))\" href='javascript:void(0);'>{{ _('Delete') }}</a>";
            } else{
                var buttons = "<a class='homepage button btn btn-primary' onclick=\"Save($(this).parents('.homepage').attr('id'))\" href='javascript:void(0);'>{{_('Save')}}</a><a class='homepage button btn btn-danger' onclick=\"Delete($(this).parents('.homepage').attr('id'))\" href='javascript:void(0);'>{{ _('Delete') }}</a>";
            }

            return buttons;
        }

        function AddHomepage() {
            var homepageCount = $(".homepage.single").length;
            var homepage = document.createElement('div');
            homepage.id = "Homepage_" + ++homepageCount;
            var homepageElements = $('#HiddenFormTemplate').clone();
            homepageElements.removeAttr('id');
            homepageElements.children().removeClass('hiddenFormTemplate');
            homepageElements.find('input[type!=hidden], textarea').removeAttr("disabled");
            homepageElements.find('#homepage').attr('id', 'homepage_' + homepageCount)
            var buttons = $('<div class="save-container">' + CreateButtonString(false) + '</div>');

            $(homepage).addClass('homepage single').append(homepageElements).append(buttons);

            var homepages = $("#homepages");
            homepages.append(homepage);
        }

        function Save(formId) {
          var homepage = $("#" + formId);

          var locales = [];
          if ( $('.translation-select:checked').length > 0){

            $('.translation-select:checked').each(function(index, element){
              locales.push($(element).val());
            })
          }

            //Get values from form
            var title = homepage.find("#homepage_titles_element").val();
            var url = homepage.find("#homepage_urls_element").val();
            var description = homepage.find("#homepage_descriptions_element").val();
            var wcag = homepage.find("#homepage_wcags_element").val();
            var accessibility = homepage.find("#homepage_accessibilities_element").val();
            var plainlanguage = homepage.find("#homepage_plain_language_availabilities").val();

            //validate mandatory values
            if (title == '' || url == '' ) {
                if ( title == '' ) {
                    homepage.find("#homepage_titles_element").after('<span class="error-block">{{_("Missing value")}}</span>');
                }
                if ( url == '') {
                    homepage.find("#homepage_urls_element").after('<span class="error-block">{{_("Missing value")}}</span>');
                }
                return;
            }

          if ( locales.length > 0){
            var translations = {};
            for ( var i in locales ){
                translations[locales[i]] = {
                  title: homepage.find("#homepage_titles_element_" + locales[i]).val(),
                  url: homepage.find("#homepage_urls_element_" + locales[i]).val(),
                  description: homepage.find("#homepage_descriptions_element_" + locales[i]).val(),
                  accessibility: homepage.find("#homepage_accessibilities_element_" + locales[i]).val()
                }
            }
          }
          var value = {
            title: title,
            url: url,
            description: description,
            wcag: wcag,
            accessibility: accessibility,
            plainlanguage: plainlanguage,
            translations: translations
          }

            homepage.children().hide();
            homepage.find('#homepage_' + homepage.attr('id').substr(9) ).val(JSON.stringify(value)).removeAttr('disabled');
            homepage.find("#homepage_titles").val(title).removeAttr('disabled');
            homepage.find("#homepage_urls").val(url).removeAttr('disabled');
            homepage.find("#homepage_descriptions").val(description).removeAttr('disabled');
            homepage.find("#homepage_wcags").val(wcag).removeAttr('disabled');
            homepage.find("#homepage_accessibilities").val(accessibility).removeAttr('disabled');
            var plainlanguageAvailable = "{{ _('Plain language translation available') }}";
            var plainlanguageNotAvailable = "{{ _('Plain language translation not available') }}";
            plainlanguage = plainlanguage == "0" ? plainlanguageNotAvailable : plainlanguageAvailable;

            var template = "<h3>" + title + "</h3>";
          for ( var i in locales){
            template += '<h3>' + translations[locales[i]].title + '</h3>';
          }

          template += '<dl>' +
                '<dt>{{ _("URL") }}</dt>' +
                '<dd><a href="' + url + '">' + url + '</a></dd>';

          for ( var i in locales){
            template += '<dd><a href="' + translations[locales[i]].url + '">' + translations[locales[i]].url + '</a></dd>';
          }

          template += '<dt>{{ _("Description") }}</dt>' +
                '<dd>' + description + '</dd>';

          for ( var i in locales){
            template += '<dd>' + translations[locales[i]].description + '</dd>';
          }

          template += '<dt>{{ _("Accessibility") }}</dt>' +
                '<dd>' + accessibility + '</dd>';

          for ( var i in locales){
            template += '<dd>' + translations[locales[i]].accessibility + '</dd>';
          }

          template += '<dt>{{ _("WCAG") }}</dt>' +
                '<dd>' + wcag + '</dd>' + 
                '</dl>' + 
                '<small>' + plainlanguage + '</small>';

            var content = $("<div class='link-container'>" + CreateButtonString(true) + "</div>" + "<div class='homepage static'>" + template + '</div>');
            homepage.append(content);
        }

        function Delete(formId){
            console.log(formId);
            $("#" + formId).remove();
        }

        function Edit(formId){
            var form = $("#" + formId);

            //move values form hidden elements for edits
            form.find("#homepage_titles_element").val(form.find('#homepage_titles').val());
            form.find("#homepage_urls_element").val(form.find('#homepage_urls').val());
            form.find("#homepage_descriptions_element").val(form.find('#homepage_descriptions').val());
            form.find("#homepage_wcags_element").val(form.find('#homepage_wcags').val());
            form.find("#homepage_accessibilities_element").val(form.find('#homepage_accessibilities').val());

            form.find('.homepage.button, .homepage.static').remove();
            form.children().children().removeClass('hiddenFormTemplate');
            form.find('.homepage').show().parent().append($('<div class="save-container">' + CreateButtonString(false) + '</div>'));

        }

        function ToggleCheckbox(formId){
            var hiddenInput = $(formId).parents("div[id^=Homepage]").find('#homepage_plain_language_availabilities:hidden');
            var currentValue = hiddenInput.val();
            var newValue = currentValue == "0" ? "1" : "0";
            hiddenInput.val(newValue);
        }




    </script>
    <h2 class="organization-subheading">{{_('Homepages')}}</h2>
    <div id="homepages">
    <a onclick="AddHomepage()" href="javascript:void(0);">{{_('Add Homepage')}}</a>
    {% set page_list = data.get('homepages') %}
    {% if page_list %}
        {% for page in page_list %}
          <div id="Homepage_{{ loop.index }}" class="homepage single">
            <div class="link-container">
                    <a class='homepage button' onclick="Edit($(this).parents('.homepage').attr('id'))" href="javascript:void(0);">{{ _('Edit') }}</a><a class='homepage button' onclick="Delete($(this).parents('.homepage').attr('id'))" href="javascript:void(0);">{{ _('Delete') }}</a>
                </div>
                <div class="homepage static">
                    <h3>{{ page['title'] }}</h3>
                    {% for locale in page['translations'] %}
                      <h3>{{ page['translations'][locale]['title'] }}</h3>
                      {% do data.update({'homepage_titles_element_' + locale: page['translations'][locale]['title']}) %}
                    {% endfor %}
                    <dl>
                        <dt>{{ _('URL') }}</dt>
                        <dd><a href="{{page['url']}}">{{ page['url'] }}</a></dd>
                        {% for locale in page['translations'] %}
                          <dd>{{ page['translations'][locale]['url'] }}</dd>
                          {% do data.update({'homepage_urls_element_' + locale: page['translations'][locale]['url']}) %}
                        {% endfor %}
                        <dt>{{ _('Description') }}</dt>
                        <dd>{{ page['description'] }}</dd>
                      {% for locale in page['translations'] %}
                        <dd>{{ page['translations'][locale]['description'] }}</dd>
                        {% do data.update({'homepage_descriptions_element_' + locale: page['translations'][locale]['description']}) %}
                      {% endfor %}
                        <dt>{{ _('Accessibility') }}</dt>
                      <dd>{{ page['accessibility'] }}</dd>
                      {% for locale in page['translations'] %}
                        <dd>{{ page['translations'][locale]['accessibility'] }}</dd>
                        {% do data.update({'homepage_accessibilities_element_' + locale: page['translations'][locale]['accessibility']}) %}
                      {% endfor %}
                        <dt>{{ _('WCAG') }}</dt>
                        <dd>{{ page['wcag'] }}</dd>
                    </dl>

                    <small>
                        {% if page['plainlanguage'] == 1 or page['plainlanguage'] == '1'%}
                          {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)", 'checked': 'checked' } %}
                            {{ _('Plain language translation available') }}
                        {% else %}
                          {% set plainlanguageCheckbox  = {"onclick": "ToggleCheckbox(this)"} %}
                            {{ _('Plain language translation not available') }}
                        {% endif %}
                    </small>
                </div>
                <div class="homepage editpage hiddenFormTemplate">
                  <input type="hidden" id="homepage_{{ loop.index }}" name="homepages" value='' class="hiddenFormTemplate" />
                  <script type="text/javascript">

                      var translations = {
                        {% for locale in page['translations'] %}
                          {{ locale }}: {
                            title: '{{ page['translations'][locale]['title'] }}',
                            url: '{{ page['translations'][locale]['url'] }}',
                            description: '{{ page['translations'][locale]['description'] }}',
                            accessibility: '{{ page['translations'][locale]['accessibility'] }}'
                        },
                          {% endfor %}
                      };

                      var Homepage_{{ loop.index }} = {
                        title: '{{ page['title'] }}',
                        url: '{{ page['url'] }}',
                        description: '{{ page['description'] }}',
                        wcag: '{{ page['wcag'] }}',
                        accessibility: '{{ page['accessibility'] }}',
                        plainlanguage: '{{ page['plainlanguage'] }}',
                        translations: translations
                      };

                      var  value = JSON.stringify(Homepage_{{ loop.index }});
                      document.getElementById('homepage_{{ loop.index }}').value = value;
                    </script>

                    <input type="hidden" id="homepage_titles" name="homepage_titles" value="{{page['title']}}" class="hiddenFormTemplate"/>
                    {{ ytp_form.input('homepage_titles_element', label=_('Title'), placeholder=_('Title'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate'], locales=h.get_available_locales(), data=data) }}
                    <input type="hidden" id="homepage_urls" name="homepage_urls" value="{{page['url']}}" class="hiddenFormTemplate"/>
                    {{ ytp_form.input('homepage_urls_element', label=_('URL'), placeholder=_('http://example.com/'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate'],locales=h.get_available_locales(), data=data) }}
                    <input type="hidden" id="homepage_descriptions" name="homepage_descriptions" value="{{page['description']}}" class="hiddenFormTemplate"/>
                    {{ ytp_form.markdown('homepage_descriptions_element', label=_('Description'), placeholder=_('A little information about the item...'), value="", error=errors.description, classes=['hiddenFormTemplate'],locales=h.get_available_locales(), data=data) }}
                    <input type="hidden" id="homepage_accessibilities" name="homepage_accessibilities" value="{{page['accessibility']}}" class="hiddenFormTemplate" />
                    {{ ytp_form.markdown('homepage_accessibilities_element', label=_('Accessibility'), placeholder=_('Accessibility'), value="", error=errors.description, classes=['hiddenFormTemplate'],locales=h.get_available_locales(),data=data) }}
                    <input type="hidden" id="homepage_wcags" name="homepage_wcags" value="{{page['wcag']}}" class="hiddenFormTemplate" />
                    {{ form.input('homepage_wcags_element', label=_('WCAG'), placeholder=_('WCAG'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate']) }}
                    <input type="hidden" id="homepage_plain_language_availabilities" name="homepage_plain_language_availabilities" value="{{page['plainlanguage']}}" class="hiddenFormTemplate"/>
                    {{ form.checkbox('ToggleCheckboxValue', label=_('Plain language translation available'), error=errors.description, classes=['hiddenFormTemplate'], attrs=plainlanguageCheckbox) }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    </div>

    <div id="HiddenFormTemplate" class="homepage">
        <input type="hidden" id="homepage" name="homepages" value="{}" class="hiddenFormTemplate" disabled="disabled"/>
        <input type="hidden" id="homepage_titles" name="homepage_titles" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ ytp_form.input('homepage_titles_element', label=_('Title'), placeholder=_('Title'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate'], attrs={"disabled": "disabled"},locales=h.get_available_locales()) }}
        <input type="hidden" id="homepage_urls" name="homepage_urls" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ ytp_form.input('homepage_urls_element', label=_('URL'), placeholder=_('http://example.com/'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate'], attrs={"disabled": "disabled"},locales=h.get_available_locales()) }}
        <input type="hidden" id="homepage_descriptions" name="homepage_descriptions" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ ytp_form.markdown('homepage_descriptions_element', label=_('Description'), placeholder=_('A little information about the item...'), value="", error=errors.description, classes=['hiddenFormTemplate'], attrs={"disabled": "disabled"},locales=h.get_available_locales()) }}
        <input type="hidden" id="homepage_accessibilities" name="homepage_accessibilities" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ ytp_form.markdown('homepage_accessibilities_element', label=_('Accessibility'), placeholder=_('Accessibility'), value="", error=errors.description, classes=['hiddenFormTemplate'], attrs={"disabled": "disabled"},locales=h.get_available_locales()) }}
        <input type="hidden" id="homepage_wcags" name="homepage_wcags" value="" class="hiddenFormTemplate" disabled="disabled"/>
        {{ form.input('homepage_wcags_element', label=_('WCAG'), placeholder=_('WCAG'), value="", error=errors.url, classes=['control-full', 'hiddenFormTemplate'], attrs={"disabled": "disabled"}) }}
        <input type="hidden" id="homepage_plain_language_availabilities" name="homepage_plain_language_availabilities" value="0" class="hiddenFormTemplate" disabled="disabled"/>
        {{ form.checkbox('ToggleCheckboxValue', label=_('Plain language translation available'), error=errors.description, classes=['hiddenFormTemplate'], attrs={"disabled": "disabled", "onclick": "ToggleCheckbox(this)"}) }}
    </div>

    #}
    </div> <!-- end div class="translate-content" -->


{% endblock %}

{% block delete_button %}
  <div class="pull-left">
    {% if h.check_access('organization_delete', {'id': data.id})  %}
      {% set locale = h.dump_json({'content': _('Are you sure you want to delete this Organization? This will delete all the public and private datasets belonging to this organization.')}) %}
      <a class="btn btn-danger" href="{% url_for controller='organization', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% endif %}
    {% set organization = c.group_dict %}
    {% link_for _('Close without saving'), controller='organization', action='read', id=organization.name, class_='btn', icon='' %}
  </div>
{% endblock %}
