
{#
/**
 * @file
 * Avoindata Search Form
 *
 * @ingroup themeable
 */
#}


<div class="ml-3 search-bar-wrapper">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}

    {% set placeholder %}
        {%- trans -%}
        Search avoindata.fi...
        {%- endtrans -%}
    {% endset %}

    <div class="search-group">
        <input class="search-input" type="search" class="form-control" placeholder="{{ placeholder }}">
        <button class="search-button" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true">
        </button>
        
    </div>


</div>





