
{#
/**
 * @file
 * Avoindata Search Form
 *
 * @ingroup themeable
 */
#}


<div class="ml-3 header-search-bar-wrapper">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}

    {% set placeholder %}
        {%- trans -%}
        Search Suomi.fi Open Data...
        {%- endtrans -%}
    {% endset %}

    <div class="header-search-group">
        <input class="header-search-input" type="search" class="form-control" name="search" placeholder="{{ placeholder }}">
        <button class="header-search-button" type="submit">
            <span class="fa fa-search" aria-hidden="true">
        </button>
        
    </div>


</div>





