{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{# if type is showcase, extend from  sixodp_showcase/read.html #}
{% if dataset_type == 'showcase' %}
  {% extends "sixodp_showcase/read.html" %}
{% elif dataset_type == 'apiset' %}
  {% extends "apiset/read.html" %}
{# otherwise process as usual #}
{% else  %}
  {% extends "package/read.html" %}

  {% block package_notes %}
    {%- if not dataset_type -%}
      <p>
      dataset_type not passed to template. your version of CKAN
      might not be compatible with ckanext-scheming
      </p>
    {%- endif -%}
    {% if (h.scheming_field_by_name(schema.dataset_fields, 'notes') or
      h.scheming_field_by_name(schema.dataset_fields, 'notes_translated')) and
      pkg.notes%}
      {% asset "ytp_resources/show_more_block_js" %}
      <div class="notes embedded-content" data-module="show-more-block" data-module-max-height="465">
        {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
      </div>
    {% endif %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "scheming/package/snippets/additional_info.html",
      pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
  {% endblock %}
{% endif %}
