{% import 'macros/form.html' as form %}
{% import 'scheming/macros/form.html' as scheming_form %}

<script>
  function onSubmit() {
    document.getElementById("submit-showcase-form").submit();
  }
</script>

<form id="submit-showcase-form" enctype="multipart/form-data" class="dataset-form form-horizontal" method="post" action="submit-showcase" data-module="basic-form" novalidate>
  {% block errors %}{% endblock %}
  {% if message %}
  <div class="alert alert-{{message.class}}">
    {{ message.text }}
  </div>
  {% endif %}
  <div class="row row-compensate">
    <div class="col-xs-12">
      {% call form.input(
        'title',
        id='field-title',
        label=h.scheming_language_text('Showcase name'),
        placeholder=h.scheming_language_text('eg. A descriptive title'),
        value=data['title'],
        error=errors['name'],
        classes=['control-full'],
        attrs={'class': 'form-control'},
        is_required=true
        )
        %}
      {% endcall %}
    </div>

    <div class="col-xs-12">
      {% snippet "scheming/form_snippets/fluent_markdown_ex.html", field={
        "field_name": "notes_translated",
        "label": "Description",
        "preset": "fluent_core_markdown_translated",
        "form_placeholder": "eg. A detailed description",
        "form_languages": ["fi", "en", "sv"],
        "description": " ",
        "only_default_lang_required": true
      }, data=data, errors=errors %}
    </div>

    <div class="col-md-8 col-xs-12">
      {% call form.input(
      'author',
      id='field-author',
      label=_('Name or organization of the author'),
      placeholder='',
      value=data['author'],
      error=errors['author'],
      classes=['control-medium'],
      attrs={'class': 'form-control'},
      is_required=true
      )
      %}
      {% endcall %}
      <div class="field-assistive-text">
        {% trans %}
          Can be a person's name or the name of the organization which has developed the showcase.
        {% endtrans %}
      </div>
    </div>

    <div class="col-md-8 col-xs-12">
      {% call form.input(
      'application_website',
      id='field-application_website',
      label=_('Application website'),
      placeholder='',
      value=data['application_website'],
      error=errors['application_website'],
      classes=['control-medium'],
      attrs={'class': 'form-control'},
      is_required=false
      )
      %}
      {% endcall %}
      <div class="field-assistive-text">
        {% trans %}
          The original source url or a website dedicated for the showcase
        {% endtrans %}
      </div>
    </div>

    <div class="col-xs-12">
      {% call form.input(
      'platform',
      id='field-platform',
      label=_('Platform'),
      placeholder=_('e.g. android'),
      value=data['platform'],
      error=errors['platform'],
      classes=['control-medium'],
      attrs={
        "data-module": "autocomplete",
        "data-module-tags": "",
        "data-module-source": "/api/2/util/tag/autocomplete?incomplete=?&vocabulary_id=platform"
      },
      is_required=false
      )
      %}
      {% endcall %}
      <div class="field-assistive-text">
        {% trans %}
          Type in separately every platform that the showcase supports. First type the name of the platform and press
          enter to select it. You can remove platforms by clicking the remove icon before the platform name or remove
          the last one with backspace.
        {% endtrans %}
      </div>
    </div>

    <div class="col-xs-12">
      {{ scheming_form.input_multiple(
        'store_urls',
        id='field-store_urls',
        label=_('Store urls'),
        value=data['store_urls'],
        placeholder='',
        error=errors['store_urls'],
        attrs={'class': 'form-control'},
        is_required=false,
        classes=['control-medium']) }}
      <div class="field-assistive-text">
        {% trans %}
          Enter at least one url to the showcase in platform specific application stores (e.g. Apple App Store,
          Google Play or Windows App Store)
        {% endtrans %}
      </div>
    </div>

    <div class="col-xs-12">
      <h2 class="h3">{{ _('Showcase images') }}</h2>
      <p>
        {% trans %}
          Upload or provide a link for up to three images which will be presented in the showcase info page.
        {% endtrans %}
      </p>
    </div>

    <div class="col-xs-12">
      {%- set is_upload = (data.url_type == 'upload') -%}
      {{ form.image_upload(
        data,
        errors,
        field_url='image_1',
        field_upload='image_1_upload',
        field_clear='clear_image_1_upload',
        is_upload_enabled=true,
        is_url=data['image_1'] and not is_upload,
        is_upload=is_upload,
        upload_label=_('Image 1'),
        url_label=_('Image 1'),
        placeholder=''
        )
      }}
    </div>

    <div class="col-xs-12">
      {%- set is_upload = (data.url_type == 'upload') -%}
      {{ form.image_upload(
        data,
        errors,
        field_url='image_2',
        field_upload='image_2_upload',
        field_clear='clear_image_2_upload',
        is_upload_enabled=true,
        is_url=data['image_2'] and not is_upload,
        is_upload=is_upload,
        upload_label=_('Image 2'),
        url_label=_('Image 2'),
        placeholder=''
        )
      }}
    </div>

    <div class="col-xs-12">
      {%- set is_upload = (data.url_type == 'upload') -%}
      {{ form.image_upload(
        data,
        errors,
        field_url='image_3',
        field_upload='image_3_upload',
        field_clear='clear_image_3_upload',
        is_upload_enabled=true,
        is_url=data['image_3'] and not is_upload,
        is_upload=is_upload,
        upload_label=_('Image 3'),
        url_label=_('Image 3'),
        placeholder=''
        )
      }}
    </div>

    <div class="col-xs-12">
      {%- set is_upload = (data.url_type == 'upload') -%}
      {{ form.image_upload(
        data,
        errors,
        field_url='icon',
        field_upload='icon_upload',
        field_clear='clear_icon_upload',
        is_upload_enabled=true,
        is_url=data['icon'] and not is_upload,
        is_upload=is_upload,
        upload_label=_('Icon'),
        url_label=_('Icon'),
        placeholder=''
        )
      }}
      <div class="field-assistive-text">
        {% trans %}
          Upload or provide a link to an icon image file. This image will be shown as the icon for the showcase.
        {% endtrans %}
      </div>
    </div>

    <div class="col-xs-12">
      {%- set is_upload = (data.url_type == 'upload') -%}
      {{ form.image_upload(
        data,
        errors,
        field_url='featured_image',
        field_upload='featured_image_upload',
        field_clear='clear_featured_image_upload',
        is_upload_enabled=true,
        is_url=data['featured_image'] and not is_upload,
        is_upload=is_upload,
        upload_label=_('Featured image'),
        url_label=_('Featured image'),
        placeholder=''
        )
      }}
      <div class="field-assistive-text">
        {% trans %}
          Upload or provide a link to an image file which will be shown elsewhere in the site as an advert for the showcase.
        {% endtrans %}
      </div>
    </div>

    <div class="col-xs-12">
      <h2 class="h3">{{ _('Related datasets') }}</h2>
      <div class="control-group control-medium">
        <label class="control-label">{{ _('Select one or multiple datasets') }}</label>
        <input id="dataset"
         type="text"
         name="datasets"
         placeholder="{{ _('Search for a dataset') }}"
         value="{{ data['datasets'] if data['datasets'] | length > 0 }}"
         class="control-medium"
         data-module="autocomplete"
         data-module-source="/api/util/dataset/autocomplete?incomplete=?"
         data-module-tags="true"
         data-module-key="name"
         data-module-label="title">
      </div>
    </div>
  </div>

  <h2 class="h3">{{ _('Submitter info') }}</h2>

  <div class="row row-compensate">
    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
      {% call form.input(
        'notifier',
        id='notifier',
        label=_('Name of the submitter'),
        placeholder='',
        value=data['notifier'],
        error=errors['notifier'],
        classes=['control-medium'],
        attrs={'class': 'form-control'},
        is_required=true
        )
      %}
      {% endcall %}
    </div>
  </div>

  <div class="row row-compensate">
    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
      {% call form.input(
        'notifier_email',
        id='notifier_email',
        label=_('Submitter email'),
        placeholder='',
        value=data['notifier_email'],
        error=errors['notifier_email'],
        classes=['control-medium'],
        attrs={'class': 'form-control'},
        is_required=true
        )
      %}
      {% endcall %}
    </div>
  </div>

  <div class="row row-compensate">
    <div class="col-xs-12">
      {% block form_actions %}
        
        <div class="form-actions">
          <button class="btn btn-opendata g-recaptcha"
                  type="submit"
                  name="save"
                  data-sitekey="{{ h.get_showcasesubmit_recaptcha_sitekey() }}"
                  data-callback="onSubmit">
            {% block save_button_text %}{{ _('Submit') }}{% endblock %}
          </button>
        </div>
      {% endblock %}
    </div>
  </div>
</form>
