{% extends "page.html" %}

{%- set schema = h.advancedsearch_schema() -%}

{% block meta %}
    {{ super() }}
    <meta name="robots" content="noindex, follow" />
{% endblock %}

{% block page_primary_action %}
{% endblock %}

{% block subtitle %}{{ _("Advanced search") }}{% endblock %}

{% block breadcrumb_content %}
    <li class="active">
        <a href="{{ h.url_for(controller='ckanext.advancedsearch.controller:YtpAdvancedSearchController', action='search') }}" title="{{ _('Advanced search') }}">
            {{_('Advanced search')}}
        </a>
    </li>
{% endblock %}

{% block primary_content %}
  <h1>{% block page_heading %}{{ _('Advanced search') }}{% endblock %}</h1>
  <div>
    {% block advanced_search_form %}
      {% snippet 'advanced_search/search_form.html', input_fields=schema.input_fields %}
    {% endblock %}
  </div>

  {% block advanced_result_list %}
    <div>
        <h2>{{_('Search results')}} ({{ c.page.item_count }})</h2>
        <div class="mt-4">
            {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
        </div>
        <div>
            {% block page_pagination %}
                {{ c.page.pager(q=c.q) }}
            {% endblock %}
        </div>
    </div>
  {% endblock %}
{% endblock %}
