
{% asset 'advancedsearch/avoindata_utils_js' %}
{%- set prev_query = c.advanced_search.last_query -%}
{%- set field_options = c.advanced_search.field_options -%}

<aside id="advanced-search-options" class="secondary col-sm-4">
  <div id="search-options-header">{{_("Filter search")}}</div>
  <div id="search-options-content">
    <div>
      {% snippet 'advanced_search/display_field.html', field=input_fields.dataset_type, prev_query=prev_query, options=field_options['dataset_type'] %}
    </div>
    <div>
      {% snippet 'advanced_search/display_field.html', field=input_fields.publisher, prev_query=prev_query, options=field_options['publisher'] %}
    </div>
    <div>
      {% snippet 'advanced_search/display_field.html', field=input_fields.category, prev_query=prev_query, options=field_options['category'] %}
    </div>
    <div>
      {% snippet 'advanced_search/display_field.html', field=input_fields.released, prev_query=prev_query, options=field_options['released'] %}
    </div>
    <div>
      {% snippet 'advanced_search/display_field.html', field=input_fields.updated, prev_query=prev_query, options=field_options['updated'] %}
    </div>
    <hr class="avoindata-divider">
    <a class="more-options-link" data-expanded="true" data-target="#search-options-extras" data-module="avoindata-utils"><span id="more-options-link-text">{{_("Show less options")}}</span>
    &nbsp;&nbsp;
    <i class="fas fa-angle-up"></i></a>
    <div id="search-options-extras" class="collapse in">
      <div>
        {% snippet 'advanced_search/display_field.html', field=input_fields.license, prev_query=prev_query, options=field_options['license'] %}
      </div>
      <div>
        {% snippet 'advanced_search/display_field.html', field=input_fields.format, prev_query=prev_query, options=field_options['format'] %}
      </div>
    </div>
  </div>
</aside>
