
{% import 'macros/form.html' as form %}

{# multilinqual input #}

{% macro _translation_input_div(name, id, value, placeholder, type, attrs, locale, slug_attributes={}) %}
<div class="translation-container"{% if locale %} data-translation-locale="{{ locale.language }}"{% endif %} data-translation-hidden>
    <div class="input-group">
        {% if not locale %}
        <span class="translation-input-language input-group-addon translation-input-original"></span>
        {% else %}
        <span data-translation-locale="{{ locale.language }}" data-translation-hidden class="translation-input-language input-group-addon">{{ locale.language }}</span>
        {% endif %}

        <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" class="translation-input form-control" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} {{ form.attributes(slug_attributes) }} {% if locale %} data-translation-locale="{{ locale.language }}"{% endif %} data-translation-hidden/>
    </div>
</div>
{% endmacro %}

{# A normal input field without support for translations #}
{% macro _input_div(name, id, value, placeholder, type, attrs, slug_attributes={}, help_text='') %}
    <input id="{{ id }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" class="form-control" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} {{ form.attributes(slug_attributes) }} />
    {%- if help_text -%}
        {# Add some help text underneath the input #}
        <span class='help-block'>{{ help_text }}</span>
    {%- endif -%}
{% endmacro %}

{% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false, locales=[], data=none, slug=false, help_text='') %}
  {%- set extra_html = caller() if caller -%}
  {%- set slug_attributes = {} -%}
  {%- if slug -%}
    {%- set slug_attributes = {'data-module': 'slug-preview-target'} -%}
  {%- endif -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    {%- if locales -%}
      {# If there are locales, we should use the input field which supports translations #}
      <div class="translation-list form-inline">
        <div class="translation-container">
          <input id="{{ id or name}}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" class="translation-input form-control" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} {{ form.attributes(slug_attributes) }} data-translation-original />
        </div>
        {% for locale in locales %}
          {% set locale_field_name = name + "_" + locale.language %}
          {% set locale_value = data[locale_field_name] %}
          {{ _translation_input_div(locale_field_name, locale_field_name, locale_value, placeholder, type, attrs, locale) }}
        {% endfor %}
        {%- if help_text -%}
            {# Add some help text underneath the input #}
            <span class='help-block'>{{ help_text }}</span>
        {%- endif -%}
        {% if slug %}
            <input type="hidden" data-module="slug-preview-target"  /> {# fake input for slug-preview to attach  #}
          {% endif %}
      </div>
    {%- else -%}
      {# If there are no locales, we should use the normal input field #}
      {{ _input_div(name, id or name, value, placeholder, type, attrs, slug_attributes, help_text) }}
      {% if slug %}
        <input type="hidden" data-module="slug-preview-target"  /> {# fake input for slug-preview to attach  #}
      {% endif %}
    {%- endif -%}
  {% endcall %}
{% endmacro %}

{% macro markdown(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={}, is_required=false, locales=[], data=none) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-full') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}

    <div class="translation-list form-inline">
      <div class="row">
        <div class="translation-container">
                <textarea data-translation-original id="{{ id or name }}" name="{{ name }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} class="translation-input">{{ value | empty_and_escape }}</textarea>
        </div>
        {% for locale in locales %}
            {% set locale_field_name = name + "_" + locale.language %}
            {% set locale_value = data[locale_field_name] %}
            <div class="translation-container" data-translation-locale="{{ locale.language }}" data-translation-hidden>
                <div class="input-group">
                    <span data-translation-locale="{{ locale.language }}" data-translation-hidden class="translation-input-language input-group-addon">{{ locale.language }}</span>
                    <textarea id="{{ locale_field_name }}" name="{{ locale_field_name }}" data-translation-locale="{{ locale.language }}" data-translation-hidden cols="20" rows="5" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} class="translation-input">{{ locale_value | empty_and_escape }}</textarea>
                </div>
            </div>
        {% endfor %}
      </div>
        <span class="editor-info-block">{% trans %}You can use <a href="/en/markdownsyntax" target="_blank">Markdown formatting</a> here{% endtrans %}</span>

    </div>
  {% endcall %}
{% endmacro %}

{% macro input_multiple(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false) %}
  {% resource 'ytp_common_js/ytp_form.js' %}
  {% do classes.append('control-medium') %}
  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="ytp-multiple-values">
        {% if value %}
          {% set values = value if value.append else [value] %}
          {% for value_item in values %}
            {% if value_item %}
            <div>
                <input id="{{ id or name }}-{{ loop.index }}" type="{{ type }}" name="{{ name }}" value="{{ value_item | empty_and_escape }}" placeholder="{{ placeholder }}" class="ytp-multiple-value form-control" {{ form.attributes(attrs) }} />
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        <div>
            <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="" placeholder="{{ placeholder }}" class="ytp-multiple-value form-control" {{ form.attributes(attrs) }} />
        </div>
    </div>
  {% endcall %}
{% endmacro %}

{% macro radio(options, default_selected, name, id='', label='', value='', placeholder='', type='radio', error="", classes=[], attrs={}, is_required=false) %}
    {%- set extra_html = caller() if caller -%}

    {% call form.input_block(id or name, label or name, errors, classes, extra_html=extra_html, is_required=is_required) %}
        {% set selected_option = value or default_selected %}
        {% for item_label, item_value in options %}
            <div class="radio-select-label">
                <label class="radio inline">
                    <input type="{{ type }}" name="{{ name }}" value="{{ item_value }}" {% if item_value == selected_option %}checked="checked" {% endif %}/>
                    {{ item_label }}
                </label>
            </div>

        {% endfor %}
    {% endcall %}
{% endmacro %}

{# A macro for select fields modified from Ckan's form.html #}
{% macro select(name, id='', label='', options='', selected='', error='', classes=[], attrs={}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <select id="{{ id or name }}" name="{{ name }}" class="form-control" {{ form.attributes(attrs) }}>
      {% for option in options %}
        <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %}>{{ option.text or option.value }}</option>
      {% endfor %}
    </select>
  {% endcall %}
{% endmacro %}

{% macro date(name, id='', label='', value='', placeholder='', type='text', error='', classes=[], attrs={}, is_required=false) %}
  {% resource 'ytp_common_js/ytp_form.js' %}
  <input class="form-control date" id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}" data-datepicker data-date-format="YYYY-MM-DD"/>
{% endmacro %}

{% macro modal(name, id='', label='', value='', treedata='', modalAttrs='{}', inputAttrs='{}', treeAttrs='{}', is_required=false) %}
  {% resource 'ytp_common_js/ytp_form.js' %}
  <div class="control-group control-full{{ " error" if error }}">
    <label class="control-label" for="{{ for }}">{% if is_required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}{{ label or _('Custom') }}</label>
    <div class="controls ytp-modal-form">
      <button class="btn btn-primary" data-toggle="modal" data-target="#{{ id or name }}_modal">{{ _('Select') }}</button>
      <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}" {{ form.attributes(inputAttrs) }} />
      {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
    </div>
  </div>
  
  <div class="modal fade" id="{{ id or name }}_modal" role="dialog" aria-labelledby="{{ label }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
          <h4 class="modal-title" id="{{ label }}">{{ label }}</h4>
        </div>
        <div class="modal-body">
          {{ tree(treedata, value=value, attrs=treeAttrs) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel')  }}</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="transferSelectedFromTreeToForm($('#{{ id or name }}_modal [data-tree]').jstree(),'{{ modalAttrs.nodesToSelect }}', '{{ modalAttrs.targetElementId }}')">{{ _('Save and close') }}</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro modal_tooltip(name, id='', label='', btnlabel='', content='') %}

  <div class="modal fade in" role="dialog" aria-labelledby="{{ label }}" id="{{ id or name }}_modal" data-backdrop="true" data-keyboard="true">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript:void(0);">×</a>
      <h4>{{ label }}</h4>
    </div>
    <div class="modal-body">
      <p>
      {% trans %}
      A list of predefined content types can be found below in Finnish.
      You may, however, add your own additional types if your
      content doesn't match any of the given types.
      {% endtrans %}
      </p>
      <br />

      {% if content %}
      <h4>{{ _('Content Types') }}</h4>
      <span style="font-style:italic;">
      {% for contype in content %}
        <span>{{ contype }}</span>{% if not loop.last %}, {% endif %}
      {% endfor %}
      </span>
      {% endif %}
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary pull-right" data-dismiss="modal" href="javascript:void(0);">{{ _('Close') }}</a>
    </div>
  </div>

  <!-- inline info-bubble and link -->
  <span class="info-block info-inline">
    <i class="icon-info-sign"></i>
    <!--<a href="javascript:void(0);" data-toggle="modal" data-backdrop="true" data-target="#{{ id or name }}_modal">{{ btnlabel }}</a >-->
    <!-- Bootstrap is loaded twice. Modal Fix. -->
    <a href="javascript:void(0);" onclick="$('#{{ id or name }}_modal').modal();">{{ btnlabel }}</a>
  </span>

{% endmacro %}


{%- macro tree(data, value='', attrs='{}') -%}
  <div data-tree attrs={{ attrs }} >
    <ul>
    {%- for node in data recursive -%}
      {%- if node is string -%}
        <li>{{ node }}</li>
      {%- else -%}
        {%- set data_js_tree_value = '' -%}
        {%- if node.text in value and 'opened' in node.state and node.state['opened'] -%}
            {%- set data_js_tree_value = '{"selected": true, "opened": true}' -%}
        {%- elif node.text in value -%}
            {%- set data_js_tree_value = '{"selected": true}' -%}
        {%- elif 'opened' in node.state and node.state['opened'] -%}
            {%- set data_js_tree_value = '{"opened": true}' -%}
        {%- endif -%}

        <li {% if data_js_tree_value %} data-jstree='{{ data_js_tree_value }}' {% endif %}>{{ node.text }}
        {%- if node.children -%}
          <ul>
            {{ loop(node.children) }}
          </ul>
        {%- endif -%}
        </li>
      {%- endif -%}
    {%- endfor  -%}
    </ul>
  </div>
{%- endmacro -%}

{% macro image_upload(data, errors, field_url='image_url', field_upload='image_upload', field_clear='clear_upload',
                      is_url=false, is_upload=false, is_upload_enabled=false, placeholder=false,
                      url_label='', upload_label='', is_required=false, size=10)  %}
  {% set placeholder = placeholder if placeholder else _('http://example.com/my-image.jpg') %}
  {% set url_label = url_label or _('Image URL')  %}
  {% set upload_label = upload_label or _('Image')  %}

  {% if is_upload_enabled %}
    <div class="image-upload" data-module="image-upload" data-module-is_url="{{ 'true' if is_url else 'false' }}" data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
         data-module-field_url="{{ field_url }}" data-module-field_upload="{{ field_upload }}" data-module-field_clear="{{ field_clear }}" data-module-upload_label="{{ upload_label }}"
        data-module-is_required={{ is_required }}>
  {% endif %}

{{ input(field_url, label=url_label, id='field-image-url', placeholder=placeholder, value=data.get(field_url), error=errors.get(field_url), classes=['control-full'], is_required=is_required) }}

{% if is_upload_enabled %}
  {{ input(field_upload, label=upload_label, id='field-image-upload', type='file', placeholder='', value='', error='', classes=['control-full'], is_required=is_required) }}
  {% if is_upload %}
    {{ form.checkbox(field_clear, label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
  {% endif %}

   <div class="controls">
    <span class="info-block-small">
      <i class="icon-info-sign" ></i>
      {% trans size=size %}
        Maximum file size is limited to {{ size }} MB.
      {% endtrans %}
    </span>
  </div>
{% endif %}

{% if is_upload_enabled %}</div>{% endif %}

{% endmacro %}