---

# THESE VARS ARE PUBLIC, DO NOT PUT SECRETS HERE

hostname: www.avoindata.fi
hostname_language: fi
secondary_hostname: www.opendata.fi
secondary_hostname_language: en
smtp_server_domain: "email-smtp.eu-west-1.amazonaws.com"
smtp_user: "{{ secret_smtp_user }}"
smtp_password: "{{ secret_smtp_password }}"
email_domain: "avoindata.fi"

deployment_environment_id: prod
disqus_name: "avoindatafi"
ansible_python_interpreter: "{{ ansible_playbook_python }}"
aws_profile: opendata

rds_domain_common_part: cnb7uthj3tqq.eu-west-1.rds.amazonaws.com
postgres_host: avoindata-{{ deployment_environment_id }}.{{ rds_domain_common_part }}

AWS:
  enabled: true
  region: S3_EU_WEST
  use_iam_role: true
  ckan_s3_bucket: avoindata-prod-datasets
  smtp_server_domain: "email-smtp.eu-west-1.amazonaws.com"

matomo_analytics:
  site_id: "23"
  domain: "suomi.matomo.cloud"
  script_domain: "//cdn.matomo.cloud/suomi.matomo.cloud/"
  token_auth: "{{ secret_matomo_analytics.token_auth }}"
