{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
 {% if pkg %}
    <section class="module-narrow">
      <div class="context-info">
        <div class="module-content">
          {% block package_info_inner %}
            {% block heading %}
              <h1 class="heading">{{ h.get_translated(pkg, 'title') or pkg.name }}</h1>
            {% endblock %}
            {% block nums %}
              <div class="nums">
                <dl>
                  <dt>{{ _('Followers') }}</dt>
                  <dd>{{ h.SI_number_span(h.follow_count('dataset', pkg.id)) }}</dd>
                </dl>
              </div>
            {% endblock %}
            {# FIXME: Pending ckanext-reminder CKAN 2.9 migration
            {% block follow_button %}
              {% if not hide_follow_button %}
                <div class="follow_button">
                  {% set follow_button = h.follow_button('dataset', pkg.name) %}
                  {% if follow_button != "" %}
                  {{ follow_button }}
                  {% else %}
                  {% snippet "reminder/snippets/subscription_form.html", package=pkg %}
                  {% endif %}
                </div>
              {% endif %}
            {% endblock %}
            #}
          {% endblock %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
