{% ckan_extends %}

{% import 'macros/ytp_form.html' as ytp_form %}

{# Disable fields from metadata form #}

{% block custom_fields %}
{% endblock %}

{% block package_metadata_fields_url %}
{% endblock %}

{% block package_metadata_fields_version %}
{% endblock %}

{% block package_metadata_author %}
    {% set auto_author = h.auto_author_set() %}
    {% set is_sysadmin = h.is_sysadmin() %}
  {% if not auto_author or is_sysadmin %}
    {{ ytp_form.input('author', label=_('Author'), id='field-author', placeholder=_('Author'), value=data.author, error=errors.author, classes=['control-medium'], attrs={}) }}
    {{ ytp_form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('Author Email'), value=data.author_email, error=errors.author_email, classes=['control-medium'], attrs={}) }}
  {% else %}
    {{ ytp_form.input('author', label=_('Author'), id='field-author', placeholder=_('Filled automatically'), value=data.author, error=errors.author, classes=['control-medium'], attrs={'readonly': 'readonly'}) }}
    {{ ytp_form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('Filled automatically'), value=data.author_email, error=errors.author_email, classes=['control-medium'], attrs={'readonly': 'readonly'}) }}
  {% endif %}
  {{ ytp_form.input('owner', label=_('Owner'), id='field-owner', placeholder=_('Joe Bloggs'), value=data.owner, error=errors.owner, classes=['control-medium']) }}
{% endblock %}

{% block package_metadata_fields_maintainer %}
  {{ ytp_form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

  {{ ytp_form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
{% endblock %}

{% block dataset_fields %}
  {# Disable groups from form #}
{% endblock %}