{% ckan_extends %}

{% import 'macros/ytp_form.html' as ytp_form %}

{% block package_basic_fields_title %}
    {# YTP extensions to dataset #}

    {% if data.collection_type and not h.is_sysadmin() %}
    <div class="control-group control-large">
      <label for="field-organizations" class="control-label">{{ _('Collection Type') }}</label>
      <div class="controls">
          <p>{{ _(data.collection_type) }}</p>
      </div>
    </div>

    {{ form.hidden('collection_type', data.collection_type) }}

    {% else %}
        {% call form.input_block("collection_type", _('Collection Type'), errors.collection_type, [], extra_html="") %}
        <div class="radio-select-label">
            <label class="radio ">
            <input name="collection_type" type="radio" value="Open Data" {% if data.collection_type == 'Open Data' %}checked="checked"{% endif %} />
            {%- trans -%}Open Data{%- endtrans -%}
          </label>
        </div>
        <div class="radio-select-label">
          <label class="radio">
            <input name="collection_type" type="radio" value="Interoperability Tools" {% if data.collection_type == 'Interoperability Tools' %}checked="checked"{% endif %} />
            {%- trans -%}Interoperability Tools{%- endtrans -%}
          </label>
        </div>
        <div class="radio-select-label">
          <label class="radio">
            <input name="collection_type" type="radio" value="Public Services" {% if data.collection_type == 'Public Services' %}checked="checked"{% endif %} />
            {%- trans -%}Public Service{%- endtrans -%}
          </label>
        </div>
        {% endcall %}
    {% endif %}

    {{ ytp_form.input('title', id='field-title', label=_('Title'), placeholder=_('e.g., a descriptive title'), value=data.title, error=errors.title, classes=['control-full'], locales=h.get_available_locales(), data=data, slug=true, is_required=true) }}

{% endblock %}

{% block package_basic_fields_url %}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('e.g., my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
{% endblock %}

{% block package_basic_fields_description %}
  {{ ytp_form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('e.g., some useful notes about the data'), value=data.notes, error=errors.notes, locales=h.get_available_locales(), data=data, is_required=true) }}
{% endblock %}

{% block package_basic_fields_license %}
    <div class="control-group">
      {% set error = errors.license_id %}
      <label class="control-label" for="field-license">
          <span title="{{ _("This field is required") }}" class="control-required">*</span>
          {{ _("License") }}
      </label>
      <div class="controls">
        <select id="field-license" name="license_id" data-module="autocomplete">
          {# Loop through the licenses, add the 'other' option as last in the select list #}
          {% for license_desc, license_id in licenses|sort if license_desc and license_id != 'other' %}
            <option value="{{ license_id }}" {% if data.get('license_id', 'notspecified') == license_id %}selected="selected"{% endif %}>{{ _(license_desc | trim) }}</option>
          {% endfor %}
          {% for license_desc, license_id in licenses if license_desc and license_id == 'other' %}
            <option value="{{ license_id }}" {% if data.get('license_id', 'notspecified') == license_id %}selected="selected"{% endif %}>{{ _(license_desc | trim) }}</option>
          {% endfor %}
        </select>
        {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
        <span class="info-block info-inline">
          <i class="icon-info-sign"></i>
          {% trans %}
            License definitions and additional information can be found
            at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
          {% endtrans %}
        </span>
      </div>
    </div>

    {{ ytp_form.markdown('copyright_notice', id='field-copyright', label=_('Copyright Notice'), placeholder=_('Additional information concerning copyright'), value=data.copyright_notice, error=errors.copyright_notice, locales=h.get_available_locales(), data=data) }}
{% endblock %}

{% block package_basic_fields_tags %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-interval': '50', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {% call form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('e.g., economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs, is_required=true) %}
    {% if errors.tag_string and errors.tag_string is iterable -%}
    <span class="error-block">{{ errors.tag_string|join(', ') }}</span>
    {%- endif %}
  {% endcall %}
{% endblock %}

{% block package_basic_fields_org %}

    {# ### Taken from CKAN. Modified to show organization and visibility selector always. ### #}

    {# if we have a default group then this wants remembering #}
    {% if data.group_id %}
      <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
    {% endif %}

    {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
    {% set dataset_has_organization = data.owner_org or data.group_id %}
    {% set organizations_available = h.organizations_available('create_dataset') %}
    {% set user_is_sysadmin = h.check_access('sysadmin') %}
    {% set show_organizations_selector = organizations_available %}
    {% set show_visibility_selector = dataset_has_organization or organizations_available %}

    {% if show_organizations_selector and show_visibility_selector %}
      <div data-module="dataset-visibility">
    {% endif %}

    {% if dataset_has_organization %}
        {% set selected_org = dataset_has_organization %}
        {% set existing_org = dataset_has_organization %}
    {% endif %}

    {% if show_organizations_selector %}
    <div class="control-group">
      <label for="field-organizations" class="control-label">
          <span title="{{ _("This field is required") }}" class="control-required">*</span>
          {{ _('Organization') }}
      </label>

      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('Select an organization...') }}</option>
          {% for organization in organizations_available %}
            {# get out first org from users list only if there is not an existing org #}
            {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
            <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.name }}</option>
          {% endfor %}
        </select>
        {% if errors.owner_org and errors.owner_org is iterable %}<span class="error-block">{{ errors.owner_org|join(', ') }}</span>{% endif %}
      </div>
    </div>
    {% endif %}

  {# hide visibility selector #}
  {% set show_visibility_selector = False %}
    {% if show_visibility_selector %}
      {% block package_metadata_fields_visibility %}
        <div class="control-group">
          <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
          <div class="controls">
            <select id="field-private" name="private">
              {% for option in [('False', _('Public')), ('True', _('Private'))] %}
                <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endblock %}
    {% endif %}

    {% if show_organizations_selector and show_visibility_selector %}
      </div>
    {% endif %}

    <!-- <div class="control-group">
      <label for="field-state" class="control-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="draft" {% if data.get('state', 'none') == 'draft' %} selected="selected" {% endif %}>{{ _('Draft') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div> -->

    <input type="hidden" id="field-state" name="state" value="{{ data.get('state')}}"></input>
    {# ### YTP extensions to dataset ### #}

    <!-- Content types modal tooltip -->

    {% set content = h.get_tooltip_content_types(lang="fi") %}
    {% set infolabel = _('A list of predefined content types can be found here') %}
    {{ ytp_form.modal_tooltip('content_type_tooltip', label=_('Content Type'), btnlabel=infolabel, content=content) }}

    <!-- End of Content types modal tooltip -->

    {% set content_type_attrs = {'data-module': 'autocomplete', 'data-module-interval': '50', 'data-module-tags': 'content_type', 'data-module-source': '/ytp-api/1/util/tag/autocomplete?vocabulary_id=content_type&incomplete=?'} %}
    {{ form.input('content_type', id='field-content_type', label=_('Content Type'), placeholder=_('e.g., Open Data'), value=data.content_type, error=errors.content_type, classes=['control-full'], attrs=content_type_attrs, is_required=true) }}

    {% call form.input_block("validity", _('Period of validity'), errors.validity, [], extra_html="") %}
      <div class="form-inline date">
        <div class="form-group">
          {{ ytp_form.date('valid_from', value=data.valid_from | empty_and_escape, placeholder=_('YYYY-MM-DD')) }}
        </div>
        <span class="hyphen">-</span>
        <div class="form-group">
          {{ ytp_form.date('valid_till', value=data.valid_till | empty_and_escape, placeholder=_('YYYY-MM-DD')) }}
        </div>
      </div>
    {% endcall %}

    {{ ytp_form.input_multiple('extra_information', id='field-extra_information', label=_('Extra information at website'), value=data.extra_information, placeholder=_("http://www.example.com/"), error=errors.extra_information) }}

  {% block metadata_fields %}
   {% block package_temporal_metadata %}	
    {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors %}
   {% endblock %}
  {% endblock %}

{{ form.hidden("ytp", "true") }}

{% endblock %}
