{% import 'macros/form.html' as form %}
{% import 'macros/ytp_form.html' as ytp_form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set action = form_action or h.url_for(controller='package', action='new_resource', id=pkg_name) %}
{% set package = h.get_package(pkg_name) %}

<form class="dataset-form dataset-resource-form form-horizontal {% if package.collection_type == 'Interoperability Tools' %}interoperability-form{% endif %}" method="post" action="{{ action }}" data-module="basic-form resource-form" enctype="multipart/form-data">
  {% block stages %}
      {% if not hide_stages %}
      <ul class="nav nav-tabs nav-justified" data-service-tabs="services">
          <li data-service-tab="basic_information"><a href="javascript:$('#previous-button').trigger('click')">1. {{ _('Basic Information' ) }}</a></li>
          <li data-service-tab="producer" class="active"><a href="javascript:void(0);">2. {{ _('Resources') }}</a></li>
      </ul>
      {% endif %}
  {% endblock %}

  {% set translate_data = data %}
  {% if not data.translations %}
    {% set translate_data = h.get_package( pkg_name) %}
  {% endif %}

  {{ h.snippet('package/ytp/language_bar.html', data=translate_data) }}
  <div class="translate-content">

  {{ form.errors(error_summary) }}

  <input name="id" value="{{ data.id }}" type="hidden"/>
    {% block basic_fields_url %}
      {% set is_upload = (data.url_type == 'upload') %}
      {{ ytp_form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
         is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
         upload_label=_('URL'), url_label=_('URL'), is_required=true, size=h.get_upload_size()) }}
    {% endblock %}

    {% block basic_fields_name %}
      {{ ytp_form.input('name', id='field-name', label=_('Name'), placeholder=_('e.g., January 2011 Gold Prices'), value=data.name, error=errors.name, classes=['control-full'], locales=h.get_available_locales(), data=data) }}
    {% endblock %}

    {% block basic_fields_description %}
      {{ ytp_form.markdown('description', id='field-description', label=_('Description'), placeholder=_('Some useful notes about the data'), value=data.description, error=errors.description, locales=h.get_available_locales(), data=data) }}
    {% endblock %}

    {% block basic_fields_format %}
      {% set format_attrs = {'data-module': 'autocomplete', 'data-module-interval': '50', 'data-module-source': '/api/2/util/resource/format_autocomplete?incomplete=?'} %}
      {% call form.input('format', id='field-format', label=_('Format'), placeholder=_('e.g., CSV, XML or JSON'), value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs) %}
      <span class="info-block info-block-small">
          <i class="icon-info-sign"></i>
          {{ _('File format will be guessed automatically if left empty.') }}
        </span>
      {% endcall %}
    {% endblock %}


  {% block metadata_fields %}
     {{ ytp_form.input('temporal_granularity', id='temporal_granularity', label=_('Temporal Granularity'), placeholder=_('e.g., a year, 2 months'), value=data.temporal_granularity, error=errors.temporal_granularity, classes=['control-full'], locales=h.get_available_locales(), data=data) }}

    {{ ytp_form.input('update_frequency', id='update_frequency', label=_('Update Frequency'), placeholder=_('e.g., a year, 2 months'), value=data.update_frequency, error=errors.update_frequency, classes=['control-full'], locales=h.get_available_locales(), data=data) }}
    {% call form.input_block("temporal_coverage", _('Temporal Coverage'), errors.validity, [], extra_html="") %}
      <div class="form-inline date">
        <div class="form-group">
          {{ ytp_form.date('temporal_coverage_from', value=data.get('temporal_coverage_from') | empty_and_escape, placeholder=_('YYYY-MM-DD')) }}
        </div>
        <span class="hyphen">-</span>
        <div class="form-group">
          {{ ytp_form.date('temporal_coverage_to', value=data.get('temporal_coverage_to') | empty_and_escape, placeholder=_('YYYY-MM-DD')) }}
        </div>
      </div>
    {% endcall %}


  {% endblock %}
    <div class="form-actions">
      {% block again_button %}
        <button class="btn btn-default" name="save" value="again" type="submit">{{ _('Add another resource') }}</button>
      {% endblock %}
      {% if not stage %}
          <button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit">{{ _('Save') }}</button>
      {% endif %}

  {% if stage %}
    </div>
  </div>

  <div class="form-group outer-form">
    <div class="pull-left outer-form">
  {% endif %}
    {% block delete_button %}
      {% if data.id and package.state != 'draft' %}
        {% if h.check_access('resource_delete', {'id': data.id}) %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this resource?')}) %}
          <a class="btn btn-danger pull-left" href="{% url_for controller='package', action='resource_delete', resource_id=data.id, id=pkg_name %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endif %}
    {% endblock %}

      {% if stage %}
        <div>
      {% endif %}
      {% block previous_button %}
        <button class="btn" name="save" value="go-dataset" type="submit" id="previous-button" style="display: none;"></button>
        {% link_for _('Close without saving'), controller='package', action='read', id=package.name, class_='btn pull-left', icon='' %}
      {% endblock %}
      {% if stage %}
        </div>
      </div>

      <div class="pull-right outer-form">
        <button class="btn btn-success" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Save') }}{% endblock %}</button>
      </div>

    {% endif %}
  </div>
  {% if not stage %}
    </div>
  </div>
  {% endif %}
</form>
