{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'dataset_resource.edit' if (url_is_edit or draft) and can_edit else 'dataset_resource.read' %}
{% set url = h.url_for(url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  <span class="resource-item__icon format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
  <div class="resource-item__info">
  {% block resource_item_title %}
    <a class="resource-item__info__title " href="{{ url }}" title="{{ res.name or res.description }}">
      {{ h.resource_display_name(res) | truncate(50) }}
      {% if res.tracking_summary %}
          {{ h.popular('views', res.tracking_summary.total, min=10) }}
      {% endif %}
    </a>
  {% endblock %}
  {% block resource_item_description %}
    <p class="resource-item__info__description">
      {% set description = h.extra_translation(res, 'description', markdown=80) %}
      {% if description %}
        {{ description }}
      {% endif %}
    </p>
  {% endblock %}
  </div>
    <div class="resource-item__actions">
      {% block resource_item_explore %}
      {% if not url_is_edit %}
      <div class="dropdown btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <i class="icon-share-alt"></i>
          {{ _('Explore') }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% block resource_item_explore_links %}
          <li>
            <a href="{{ url }}">
              {% if res.can_be_previewed %}
                <i class="icon-bar-chart"></i>
                {{ _('Preview') }}
              {% else %}
                <i class="icon-info-sign"></i>
                {{ _('More information') }}
              {% endif %}
            </a>
          </li>
          <li>
            <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
              {% if res.can_be_previewed %}
                <i class="icon-download"></i>
                {{ _('Download') }}
              {% else %}
                <i class="icon-external-link"></i>
                {{ _('Go to resource') }}
              {% endif %}
            </a>
          </li>
          <li>
            <a href="{{ res.url }}">
              {{ _('Download as CSV') }}
            </a>
          </li>
          {% if can_edit %}
          <li>
            <a href="{{ h.url_for('dataset_resource.edit', id=pkg.name, resource_id=res.id) }}">
              <i class="icon-edit"></i>
              {{ _('Edit') }}
            </a>
          </li>
          {% endif %}
          {% endblock %}
        </ul>
      </div>
      {% endif %}
      {% endblock %}
    </div>
</li>
