{#
Inserts a stepped progress indicator for the new package form. Each stage can
have one of three states, "uncomplete", "complete" and "active".

stages - A list of states for each of the three stages. Missing stages default
         to "uncomplete".

Example:

    {% snippet 'package/snippets/stages.html', stages=['active'] %}
    {% snippet 'package/snippets/stages.html', stages=['complete', 'active'] %}
    {% snippet 'package/snippets/stages.html', stages=['active', 'complete'] %}

#}
{% set s1 = stages[0] or 'active' %}
{% set s2 = stages[1] or 'uncomplete' %}
{% if s1 != 'uncomplete' %}{% set class = 'stage-1' %}{% endif %}
{% if s2 != 'uncomplete' %}{% set class = 'stage-2' %}{% endif %}

<ol class="stages {{ class }}">
  <li class="first {{ s1 }}">
    {% if s1 != 'complete' %}
      <span class="highlight">
        {% if dataset_type=='apiset' %}
          {{ _('Create apiset') }}
        {% else %}
          {{ _('Create dataset') }}
        {% endif %}
      </span>
    {% else %}
      {% if dataset_type=='apiset' %}
        {% link_for _('Create apiset'), named_route='apiset.edit', id=pkg_name, class_="highlight" %}
      {% else %}
        {% link_for _('Create dataset'), named_route='dataset.edit', id=pkg_name, class_="highlight" %}
      {% endif %}
    {% endif %}
  </li>
  <li class="last {{ s2 }}">
    {% if s2 != 'complete' %}
      <span class="highlight">
        {% if dataset_type=='apiset' %}
          {{ _('Add api') }}
        {% else %}
          {{ _('Add data') }}
        {% endif %}
      </span>
    {% else %}
      {% if s1 == 'active' %}
        {# stage 1 #}
        {% if dataset_type=='apiset' %}
          {% link_for _('Add api'), named_route='apiset_resource.new', id=pkg_name, class_="highlight" %}
        {% else %}
          {% link_for _('Add data'), named_route='dataset_resource.new', id=pkg_name, class_="highlight" %}
        {% endif %}
      {% else %}
        {% if dataset_type=='apiset' %}
          {% link_for _('Add api'), named_route='apiset_resource.new', id=pkg_name, class_="highlight" %}
        {% else %}
          {% link_for _('Add data'), named_route='dataset_resource.new', id=pkg_name, class_="highlight" %}
        {% endif %}
      {% endif %}
    {% endif %}
  </li>
</ol>
