{% ckan_extends %}

{% block primary_content %}
  {% resource "ytp_common_js/ytp_form.js" %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Users') }}{% endblock %}
      </h1>

      {% snippet 'user/snippets/user_search.html', query=c.q, order_by=c.order_by %}

      <div class="user-search-pagination">
        {{ page.pager(q=c.q, order_by=c.order_by) }}
      </div>
      {% block users_list %}
        <ul class="user-list">
          {% block users_list_inner %}
            {% for user in page.items %}
              <li>
                {{ h.linked_user(user['name'], maxlength=20, avatar=60) }}
                <p>
                {% set main_organization = h.main_organization(user[0]).display_name %}
                {%- if user[0].extras -%}
                  {# Translate the job_title field #}
                  {{ h.extra_translation(user[0].extras, 'job_title') }}
                  {%- if main_organization -%}
                  ,
                  {%- endif %}
                {%- endif %}
                {{ main_organization }}
                </p>
              </li>
            {% endfor %}
          {% endblock %}
        </ul>
      {% endblock %}
    </div>
    <div style="clear: both;"></div>

    <div class="user-search-pagination">
    {% block page_pagination %}
      {{ page.pager(q=c.q, order_by=c.order_by) }}
    {% endblock %}
    </div>  
  </article>
{% endblock %}

{# Removed search from secondary #}
{% block secondary_content %}
{% endblock %}
