tag: i
method: webfonts
use_cdn: true
external_svg_location: '/resources/vendor/font-awesome/css/all.css'
use_shim: true
external_shim_location: '/resources/vendor/font-awesome/css/v4-shims.css'
langcode: fi
allow_pseudo_elements: false
