langcode: en
status: true
dependencies: {  }
id: front
label: Frontpage
tags:
  canonical_url: '[site:url]'
  shortlink: '[site:url]'
  og_title: '[current-page:title]'
  og_url: '[site:url]'
  og_image: /themes/avoindata/logo.png
  og_type: website
  og_site_name: '[site:name]'
