smtp_on: true
smtp_host: {{ smtp_server_domain }}
smtp_username: {{ secret.smtp_user }}
smtp_password: {{ secret.smtp_password }}
smtp_from: {{ email_from }}
smtp_protocol: {{ drupal_smtp_protocol }}
smtp_port: {{ drupal_smtp_port }}
smtp_hostbackup: ''
smtp_fromname: ''
smtp_client_hostname: ''
smtp_client_helo: ''
smtp_allowhtml: '0'
smtp_debugging: false
