smtp_on: true
smtp_host: {{ smtp_server_domain }}
smtp_protocol: tls
smtp_username: {{ secret.smtp_user }}
smtp_password: {{ secret.smtp_password }}
smtp_from: {{ email_from }}
{% if AWS.enabled -%}
smtp_port: 587
{%- else -%}
smtp_port: 25
{%- endif %}

