langcode: en
status: true
dependencies: {  }
id: publisher
label: publisher
weight: 5
is_admin: null
permissions:
  - 'access administration pages'
  - 'access comments'
  - 'access content overview'
  - 'access draggableviews'
  - 'access shortcuts'
  - 'access taxonomy overview'
  - 'access toolbar'
  - 'administer contact forms'
  - 'administer contact_message display'
  - 'administer easy breadcrumb'
  - 'administer menu'
  - 'administer node display'
  - 'administer node form display'
  - 'administer shortcuts'
  - 'administer taxonomy'
  - 'administer taxonomy_term display'
  - 'administer taxonomy_term form display'
  - 'administer url aliases'
  - 'administer user display'
  - 'administer user form display'
  - 'bypass protected submissions validation'
  - 'create avoindata_article content'
  - 'create avoindata_event content'
  - 'create avoindata_guide_page content'
  - 'create avoindata_servicemessage content'
  - 'create content translations'
  - 'create event content'
  - 'create page content'
  - 'create service_alert content'
  - 'create terms in tags'
  - 'create tutorial content'
  - 'create url aliases'
  - 'customize shortcut links'
  - 'delete any article content'
  - 'delete any avoindata_article content'
  - 'delete any avoindata_event content'
  - 'delete any avoindata_guide_page content'
  - 'delete any avoindata_servicemessage content'
  - 'delete any event content'
  - 'delete any page content'
  - 'delete any service_alert content'
  - 'delete any tutorial content'
  - 'delete content translations'
  - 'delete own article content'
  - 'delete own avoindata_article content'
  - 'delete own avoindata_event content'
  - 'delete own avoindata_guide_page content'
  - 'delete own avoindata_servicemessage content'
  - 'delete own event content'
  - 'delete own page content'
  - 'delete own service_alert content'
  - 'delete own tutorial content'
  - 'delete revisions'
  - 'delete terms in tags'
  - 'edit any article content'
  - 'edit any avoindata_article content'
  - 'edit any avoindata_event content'
  - 'edit any avoindata_guide_page content'
  - 'edit any avoindata_servicemessage content'
  - 'edit any event content'
  - 'edit any page content'
  - 'edit any service_alert content'
  - 'edit any tutorial content'
  - 'edit own article content'
  - 'edit own avoindata_article content'
  - 'edit own avoindata_event content'
  - 'edit own avoindata_guide_page content'
  - 'edit own avoindata_servicemessage content'
  - 'edit own comments'
  - 'edit own event content'
  - 'edit own page content'
  - 'edit own service_alert content'
  - 'edit own tutorial content'
  - 'edit terms in tags'
  - 'post comments'
  - 'revert revisions'
  - 'search content'
  - 'translate avoindata_guide_page node'
  - 'translate content'
  - 'translate interface'
  - 'translate page node'
  - 'translate user-defined strings'
  - 'update content translations'
  - 'use text format basic_html'
  - 'use text format filtered_html'
  - 'use text format full_html'
  - 'use text format restricted_html'
  - 'view article revisions'
  - 'view article unpublished content'
  - 'view avoindata_article revisions'
  - 'view avoindata_article unpublished content'
  - 'view avoindata_event revisions'
  - 'view avoindata_event unpublished content'
  - 'view avoindata_guide_page revisions'
  - 'view avoindata_guide_page unpublished content'
  - 'view avoindata_servicemessage revisions'
  - 'view avoindata_servicemessage unpublished content'
  - 'view disqus comments'
  - 'view own unpublished content'
  - 'view page revisions'
  - 'view page unpublished content'
  - 'view revisions'
  - 'view the administration theme'
