langcode: en
status: true
dependencies: {  }
id: editor
label: editor
weight: 3
is_admin: null
permissions:
  - 'access comments'
  - 'access content overview'
  - 'access draggableviews'
  - 'access toolbar'
  - 'administer comments'
  - 'administer menu'
  - 'administer nodes'
  - 'administer url aliases'
  - 'bypass protected submissions validation'
  - 'create article content'
  - 'create event content'
  - 'create page content'
  - 'create service_alert content'
  - 'create tutorial content'
  - 'create url aliases'
  - 'customize shortcut links'
  - 'delete any article content'
  - 'delete any event content'
  - 'delete any page content'
  - 'delete any service_alert content'
  - 'delete any tutorial content'
  - 'delete own article content'
  - 'delete own event content'
  - 'delete own page content'
  - 'delete own service_alert content'
  - 'delete own tutorial content'
  - 'delete revisions'
  - 'edit any article content'
  - 'edit any event content'
  - 'edit any page content'
  - 'edit any service_alert content'
  - 'edit any tutorial content'
  - 'edit own article content'
  - 'edit own comments'
  - 'edit own event content'
  - 'edit own page content'
  - 'edit own service_alert content'
  - 'edit own tutorial content'
  - 'post comments'
  - 'revert revisions'
  - 'search content'
  - 'translate content'
  - 'translate interface'
  - 'translate user-defined strings'
  - 'use text format filtered_html'
  - 'use text format full_html'
  - 'view own unpublished content'
  - 'view revisions'
