@import "variables";

.topbar {
  display: none;
}

@mixin opblock-colors($background, $foreground, $shadow: undefined){
  border-color: $foreground;
  background: $background;

  .opblock-summary {
    border-color: $foreground;
  }

  .opblock-summary-method {
    background: $foreground;
  }

  .opblock-summary-method {
    @if $shadow {
      text-shadow: 0 2px darken($foreground, 5%);
    }
  }
}

.swagger-container .swagger-ui {
  .btn.authorize {
    color: $suomi-successBase;
    border-color: $suomi-successBase;
  }

  .opblock.opblock-get {
    @include opblock-colors(rgba($suomi-highlightBase, 10%/100.0%), $suomi-highlightBase);
  }

  .opblock.opblock-post {
    @include opblock-colors(rgba($suomi-successBase, 10%/100.0%), $suomi-successBase, true);
  }

  .opblock.opblock-put {
    @include opblock-colors(rgba($suomi-warningBase, 10%/100.0%), $suomi-warningBase, true);
  }

  .opblock.opblock-delete {
    @include opblock-colors(rgba($suomi-alertBase, 10%/100.0%), $suomi-alertBase);
  }
}
