/**
 * Font families
 */
$font-family-sans-serif: "Source Sans Pro Regular", "Helvetica Neue", "Arial",
  "sans-serif";
$font-family-sans-serif-light: "Source Sans Pro Light", "Helvetica Neue",
  "Arial", "sans-serif";
$font-family-sans-serif-semibold: "Source Sans Pro SemiBold", "Helvetica Neue",
  "Arial", "sans-serif";
$font-family-icon: "Fontawesome webfont", sans-serif;

/**
* Font weights
*/
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-heavier: 600;
$font-weight-heavy: 700;

/**
* Font sizes
*/
$font-size-base: 18px;
$font-size-slightly-smaller-base: 16px;
$font-size-smaller-base: 14px;
$font-size-small: 10px;
$font-size-h3-alt: 20px;
$font-size__module-title: 16px;
$font-size__tag: 16px;
$font-size__facet-icon: 20px;
$font-size__module-title: 16px;
$font-size__tag: 16px;
$font-size__module-h1: 28px;
$font-size__module-large-h1: 40px;
$font-size__section-title: 22px;
$font-size__high-value-dataset-icon: 22px;

/**
* Line heights
*/
$line-height-base: 1.5;
$line-height-larger-base: 18px;
$line-height-h3-alt: 28px;
$line-height__module-title: 1.25;
$line-height__tag: 1.5;
