@use "./suomifidesign" as tokens;

/**
 * Bootstrap
 */
$grid-gutter-width: tokens.$fi-spacing-xxl;
$grid-gutter-width--bootstrap: tokens.$fi-spacing-xl;

/**
  * Pills
  */
$padding__pill: 2px 16px;

/**
  * Navigation
  */
$border-width__navigation: 5px;

/**
  * Custom drupal elements
  */
$border-width__section: 4px;
$border-radius__section: 4px 4px 0 0;
$box-shadow__section: 0 2px 4px 1px rgb(41 41 41 / 20%);
$margin-y__section: 45px;

/**
 * Buttons
 */
$padding-y__button: 6px;
$padding-x__button: 12px;

/**
* Resource
*/
$padding__resource_table: 8px;

/**
 * Contact form
 */
$max-width__contact-form: 624px;

/**
 * Newsfeed module
 */
$border-radius__newsfeed_tag: 14px;
