/**
 * Bootstrap
 */
$grid-gutter-width: 40px;
$grid-gutter-width--bootstrap: 30px;

/**
  * Common spacings
  */
$padding-y--common: calc($grid-gutter-width / 2);
$padding-x--common: calc($grid-gutter-width / 2);
$padding-y--small: calc($grid-gutter-width / 4);
$padding-x--small: calc($grid-gutter-width / 4);
$padding-y__text: 16px;
$padding-y__input: 8px;
$padding-x__input: 10px;
$padding-y__pagination__item: 6px;
$padding-x__pagination__item: 12px;
$margin-bottom-h3: 8px;

/**
  * Modules
  */
$margin__module: 60px;
$margin__module--large: 80px;
$padding__module: 30px;
$padding__content: $padding-y--common $padding-x--common;
$padding__breadcrumb-item: $padding-y__text 0;
$padding-left__module--resource: 20px;
$padding-right__module--resource: 20px;
$padding-bottom__module--resource: 20px;
$padding-top__module--resource: 20px;

/**
  * Pills
  */
$padding__pill: 2px 16px;
$padding-x--common: 20px;
$padding-y--common: 20px;
$padding-x--small: 10px;
$padding-y--small: 10px;
$padding-y__text: 16px;

/**
  * Tags
  */
$margin__tag: 10px;
$padding__tag: 5px 10px;

/**
  * Resource list
  */
$padding__resource-list-item: 16px 20px;
$margin__action-buttons: 0 5px;

/**
  * Navigation
  */
$border-width__navigation: 5px;
$padding-x__navigation: $padding-x--common;
$padding-y__navigation: 10px;

/**
  * Custom drupal elements
  */
$border-width__section: 4px;
$border-radius__section: 4px 4px 0 0;
$box-shadow__section: 0 2px 4px 1px rgb(41 41 41 / 20%);
$margin-y__section: 45px;
$padding-y__section: 30px;
$padding-x__section: 30px;
$margin-bottom__section__title: 20px;

/**
 * Buttons
 */
$padding-y__button: 6px;
$padding-x__button: 12px;

/**
 * Tables
 */
$padding-y__table-caption: 20px;
$padding-x__table-caption: 0;
$padding-y__table-cell: 10px;
$padding-x__table-cell: 20px;

/**
 * Showcase
 */
$padding-y__showcase-info-box: 18px;
$padding-x__showcase-info-box: 20px;

/**
* Resource
*/
$padding-y__resource_toolbar: 10px;
$padding__resource_table: 8px;

/**
 * Contact form
 */
$max-width__contact-form: 624px;

/**
 * Footer
 */
$padding-y__footer-nav-link: 10px;
$padding-x__footer-nav-link: 15px;

/**
 * Newsfeed module
 */
$border-radius__newsfeed_tag: 14px;
