@import "upstream_ckan/ytp_ckan_bootstrap";
@import "../variables.less";

@import "../navbars";
@import "../responsive";
@import "../common";
@import "../forms";
@import "../offcanvas";

[role="main"] {
  background: transparent;
}

.dataset-content { 
  margin-top: 11px;
  margin-bottom: 9px;
  color: #6e6e6e;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;

  .dataset-heading {
    color: #000;
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: bold;
  }
}

.dataset-item-meta {
  margin-bottom: 4px;
}

.file-tag {
  background-color: #219ad3;
  margin-left: 4px;
}

.label-default {
  background-color: #219ad3;

  a {
    color: #fff;
  }
}
#content > .wrapper {
  background: transparent;
  border: none;
  box-shadow: none;
}
.secondary {
  padding-left: 0;

  .module {
    padding: 4px 22px 6px 0px;
    border-top: 6px solid #182b75;
    border-radius: 2px;
    background-color: #eee;
    color: #000;

    .module-heading {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      margin-left: 18px;
      padding-right: 0px;
      padding-bottom: 8px;
      padding-left: 0px;
      padding-top: 0px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      border-top: none;
      background-color: transparent;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
    }

    .module-footer {
      border: none;
    }
  }
}

.nav-aside > li, .nav-simple > li {
  a {
    color: #020202;
    text-decoration: none;
    margin: 0;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    border-left: 8px solid #182b75;
  }

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 0px;
  border-style: none none none solid;
  border-left-width: 8px;
  border-left-color: transparent;
  font-size: 13px;

  &.active {
    a {
      background-color: transparent;
      color: inherit;
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
    color: #219ad3;
    background-color: transparent;
  }
}

.module-narrow .nav-aside li a, .module-narrow .nav-item > a {
    padding: 0px;
}

.search-form {
  margin-top: 12px;
  padding-right: 0px;
  padding-left: 0px;

  border-bottom: none;
  .search-input {
    margin-bottom: 0px;

    input {
      display: block;
      width: 100%;
      height: 38px;
      padding: 8px 12px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333333;
      vertical-align: middle;
      background-color: #ffffff;
      border: 1px solid #cccccc;

      &:focus {
        border-color: #3898EC;
        outline: 0;
      }
    }
  }
}

/* ckanext-sixodp_showcase temporary styles */
.image-slider {
  padding: 10px;
  background-color: #f2f2f2;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: 2em 0;
  list-style: none;

  li {
    flex: auto;
    text-align: center;

    img {
      max-width: 256px;
      max-height: 256px;
      vertical-align: middle;
    }
  }
}

.appstore-links {
  margin: 2em 0;
}

.horizontal-list {
  padding: 0;
  li {
    display: inline;
    margin-right: 2%;
  }
  img {
    height: 3em;
  }
}


.page-subheading {
  font-size: 1em;
  font-family: roboto;
  color: #333;
}

.avoid-page-break {
  page-break-inside: avoid;
}
.report-chart-row {
  display: flex;
  align-items: center;

  .report-pie-chart {
    flex: 1 1 0;
    .title {
      font-size: 18pt;
    }
  }
  .report-pie-legend {
    flex: 1 1 0;
    max-width: 250px;
  }
}

.report-total-row {
  font-weight: bold;
}
.report-sub-row {
  font-size: normal;
}
@media print {
  .report-controls, .report-options, .report-options-title,
  .report-download-controls, .report-results-title {
    display: none;
  }

  .print-hidden {
    display: none;
  }
  .report-total-row {
    font-weight: normal;
  }
  .report-sub-row {
    font-size: smaller;
  }
}

.page-heading-container {
  margin-top: 10px;
  display: flex;

  .heading-icon {
    flex: initial;
    margin-right: 1em;
    img {
      max-width: 10em;
      max-height: 10em;
    }
  }

  .headings-wrapper {
    flex: auto;
  }
}

.dataset-list {
  padding: 0;
}
