@import "upstream_ckan/ytp_ckan_bootstrap";

@common-path: "../..";
@common-less: "@{common-path}/less";

// Open Sans
@import "@{common-less}/fonts.less";

@import "@{common-less}/variables.less";
@import "@{common-less}/mixins/mixins.less";

@import "@{common-less}/navbars";
@import "@{common-less}/responsive";
@import "@{common-less}/common";
@import "@{common-less}/forms";
@import "@{common-less}/offcanvas";
@import "drupal.less";
@import "ckan_forms.less";

// FontAwesome
@import "@{common-path}/vendor/@fortawesome/fontawesome/less/fontawesome";
@import "@{common-path}/vendor/@fortawesome/fontawesome/less/solid.less";
@import "@{common-path}/vendor/@fortawesome/fontawesome/less/regular.less";
@import "@{common-path}/vendor/@fortawesome/fontawesome/less/brands.less";
@fa-font-path: "/themes/avoindata/fonts";

body {
  .flex-display(flex);
  .flex-direction(column);
  min-height: 100vh;
  height: 100vh;
}

[role="main"] {
  background: transparent;
  padding-top: 0px;
}

#page_wrapper {
  max-width: none;
}

#content {
  width: inherit;
  padding: 0;
}

#content > .wrapper {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  max-width: 1140px;
}

.wrapper {
  @media (min-width: @screen-sm-min) {
    &:before {
      border-right: transparent;
    }
  }
}

// Components
//

// Blue bar that divides elements
.spacer {
  width: 7%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 6px solid @sidebar-block-color-header;
}

// Tags used in tables
.tag, a.tag {
  border: 2px solid @tag-color;
  &:hover {
    border: 2px solid @tag-color;
    background-color: @tag-color;
  }
}

.file-tag {
  margin-left: 4px;
  color: @opendata-ckan-unhighlight;
  padding: 2px 4px;
  background-color: @opendata-ckan-unhighlight-background;
}

.label-default {
  a {
    color: #fff;
  }
}

.opendata-card {
  padding: 4px 22px 15px 0px;
  border-top: 6px solid @sidebar-block-color-header;
  border-radius: 2px;
  background-color: @resource-list-background;
  margin-bottom: 10px;
  padding: 15px;
}

.opendata-select {
  border: transparent;
}

.pagination > li {
  a, span {
    border: 0px;
  }
}

// Buttons
//
.btn-primary, .btn-info {
  background-color: @btn-dark-bg;
  border-color: @btn-dark-bg;
  &:hover {
    background-color: darken(@btn-dark-bg, 10%);
    border-color: darken(@btn-dark-bg, 10%);
  }
}

// Disable box shadow when the button is activated
.btn-avoindata-header, .btn-avoindata-header:active, .btn-avoindata-header:hover, .btn-avoindata-header:focus {
  color: @opendata-ckan-list-item-header;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-success {
  background-color: @btn-dark-bg;
  border-color: @btn-dark-bg;
  &.disabled, &.disabled:focus, &.disabled:hover{
    background-color: tint(@btn-dark-bg, 50%);
    border-color: tint(@btn-dark-bg, 50%);
  }
  &:hover, &:focus, &:active {
    background-color: @btn-dark-bg;
    border-color: @btn-dark-bg;
  }
  &:focus:hover, &:active:hover, &:active:focus {
    background-color: darken(@btn-dark-bg, 10%);
    border-color: darken(@btn-dark-bg, 10%);
  }
}

.btn-opendata {
  height: 40px;
  padding-right: 19px;
  padding-left: 19px;
  border-radius: 3px;
  background-color: @btn-dark-bg;
  color: @btn-dark-text-color;
}

// Sidebar, navs and toolbar

.toolbar {
  background-color: @breadcrumb-color-background;

  .breadcrumb {
    max-width: 1140px;
    margin: 0 auto;
    float: none;
    padding: 0px 15px;

    li {
      font-size: 14px;
      line-height: 20px;
      padding: 10px 0px;
    }
    li:after {
      content: "";
    }
  }
}

.secondary {
  padding-left: 0;

  .module {
    padding: 4px 22px 15px 0px;
    border-top: 6px solid @sidebar-block-color-header;
    border-radius: 2px;
    background-color: @sidebar-block-color-background;
    color: @sidebar-block-color-text;
    margin-bottom: 15px;
    overflow: hidden;

    .module-content {
      padding-left: 15px;

      .nav > li > a {
        margin-left: -15px;
        padding: 10px 15px;
        color: @sidebar-block-color-text;
        border-left: 8px solid @sidebar-block-color-background;
        &:hover {
          border-left: 8px solid @sidebar-block-color-header;
        }
      }
    }

    .module-heading {
      .flex-display(flex);
      margin-top: 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      margin-left: 18px;
      padding-right: 0px;
      padding-bottom: 8px;
      padding-left: 0px;
      padding-top: 0px;
      .align-items(center);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-top: none;
      background-color: transparent;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
    }

    .module-footer {
      border: none;
    }

    nav > ul > li.nav-item.active {
      font-weight: 700;
    }
  }
}

// Header
//

.page-header {
  .clearfix;
  border: 0 0 0 0;
  background-color: transparent;
  .nav-tabs {
    border: 0px;
    font-size: 16px;
    li {
      a {
        color: #000;
        font-weight: 400;
        border: 0 0 0 0;
      }
      border-bottom: 4px solid @inactive-tab-color;
      &:hover {
        border-bottom: 4px solid darken(@inactive-tab-color, 20%);
      }
    }

    li.active {
      a {
        color: #000;
        font-weight: 600;
        border: 0px;
      }
      border-bottom: 5px solid @active-tab-color;
    }

    &:hover {
      border: 0 0 0 0;
    }
  }
}

// Override "sidebar" arrow
@media (min-width: @screen-sm-min) {
  .nav-item.active>a:before,
  .nav-aside li.active a:before {
      content: none;
  }
}

.nav-aside > li,
.nav-simple > li {
  a {
    color: @facet-link-text-color;
    text-decoration: none;
    margin: 0;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    border-left: 8px solid @sidebar-block-color-header;
  }

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 0px;
  border-style: none none none solid;
  border-left-width: 8px;
  border-left-color: transparent;
  font-size: 13px;

  &.active {
    a {
      background-color: transparent;
      color: @facet-link-text-color;
      &:hover {
        background-color: transparent;
        color: @facet-link-text-color;
      }
    }
    color: #219ad3;
    background-color: transparent;
  }
}

//In the resources view, the current resource is active and
//it shouldn't be blue
.resources .nav-simple > li.active {
  color: @facet-link-text-color;
}

.module-narrow .nav-aside li a,
.module-narrow .nav-item > a {
  padding: 0px;
}

.module-narrow > .btn,
.module-narrow > a {
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}

.module-narrow {
  .list-unstyled {
    padding-left: 0px;
  }
}

.dataset-content {
  margin-top: 11px;
  margin-bottom: 9px;
  color: #6e6e6e;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  .dataset-heading {
    color: #000;
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: bold;
  }
}

.dataset-item-meta {
  margin-bottom: 4px;
}

/* ckanext-sixodp_showcase temporary styles */
.image-slider {
  padding: 10px;
  background-color: #f2f2f2;
  overflow-x: auto;
  white-space: nowrap;
  .flex-display(flex);
  .align-items(center);
  margin: 2em 0;
  list-style: none;

  li {
    .flex(auto);
    text-align: center;

    img {
      max-width: 256px;
      max-height: 256px;
      vertical-align: middle;
    }
  }
}

.showcase-content {
  margin-top: 35px;
  margin-left: 10px;
}

.showcase-heading-icon {
  max-width: 160px;
  max-height: 160px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.appstore-links {
  margin: 2em 0;
}

.horizontal-list {
  padding: 0;
  li {
    display: inline;
    margin-right: 2%;
  }
  img {
    height: 3em;
  }
}

.page-subheading {
  font-size: 1em;
  font-family: Open Sans;
  color: #333;
}

.avoid-page-break {
  page-break-inside: avoid;
}

@media (min-width: 768px) {
  .dataset > .row.equal {
    .flex-display(flex);
    .flex-wrap(wrap);
  }
}

// Report

.report-column {
  margin-bottom: 20px;

  .report-summary {
    padding: 10px 15px 10px 15px;
    border-color: @content-border;
    border-radius: 2px;
    border-top: 6px solid @sidebar-block-color-header;
    background-color: @sidebar-block-color-background;
    height: 100%;
    width: 100%;
  
    .report-header {
      color: @sidebar-block-color-text;
      font-weight: 600;
    }
    
    .report-body {
      margin-top: 15px;
  
      .report-description {
        margin-bottom: 10px;
      }

      .view-report-link {
        position: absolute;
        bottom: 10px;
        margin-top: 10px;
      }
    }
  }
}

.report-controls {
  border-color: @content-border;
  border-top: 6px solid @sidebar-block-color-header;
  background-color: @sidebar-block-color-background;
  
  .panel-heading {
    background-color: transparent;
    border-bottom: transparent;
    color: @sidebar-block-color-text;
  }
}

.report-chart-row {
  .flex-display(flex);
  .align-items(center);

  .report-pie-chart {
    .flex(1 1 0);
    .title {
      font-size: 18pt;
    }
  }
  .report-pie-legend {
    .flex(1 1 0);
    max-width: 250px;
  }
}

.report-total-row {
  font-weight: bold;
}

.report-sub-row {
  font-size: normal;
}

@media print {
  .report-controls,
  .report-options,
  .report-options-title,
  .report-download-controls,
  .report-results-title {
    display: none;
  }
  .print-hidden {
    display: none;
  }
  .report-total-row {
    font-weight: normal;
  }
  .report-sub-row {
    font-size: smaller;
  }
}

.page-heading-container {
  margin-top: 10px;
}

.application-website-link, .application-website-link:hover, .application-website-link:active {
  color: @link-color;
  font-size: 14px;
}

.no-right-padding {
  padding-right: 0px;
}

.dataset-list {
  padding: 0;
  .dataset-item {
    .dataset-content {
      .dataset-heading {
        padding-bottom: 10px;
        a {
          color: @opendata-ckan-list-item-header;
          font-weight: 400;
          font-size: 18px;
          &:hover, &:active {
            color: @opendata-ckan-list-item-header;
          }
        }
      }
      .dataset-item-notes {
        padding-bottom: 10px;
        color: @opendata-ckan-unhighlight;
      }
      .organization-line {
        color: @opendata-ckan-unhighlight;
        a, a:hover, a:active {
          color: @opendata-ckan-unhighlight;
        }
      }
    }
  }
}


.media-grid {
  background: transparent;
  margin-top: 20px;
  padding: 0px;
  padding-bottom: 10px;
  border-top: 0px;
  border-bottom: 0px;
  .media-item {
    width: 250px;
    height: 332px;
    border-right: 2px solid rgba(0, 0, 0, 0.17);
    border-bottom: 2px solid rgba(0, 0, 0, 0.17);
    border-left: 1px solid rgba(0, 0, 0, 0.16);
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    padding: 0px;
    margin: 0px 25px 25px 0px;
    .media-image {
      padding: 0px;
      border-radius: 0px;
      width: 247px;
      height: 165px;
      overflow: hidden;
      object-fit: cover;
      border-top-left-radius: 2px;
      border-top-right-radius: 1px;
    }
    .item-content {
      margin-right: 16px;
      margin-left: 16px;
      margin-top: 12px;
      margin-bottom: 12px;
      .media-heading {
        a {
          color: @mediagrid-header-text-color;
        }
      }
    }
    .item-description {
      display: block;
      display: -webkit-box;
      height: 80px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .opendata-category-icon {
    color: @mediagrid-category-icon-color;
  }
}


.opendata-additionalinfo-table {
  border: solid @resource-list-background 20px;
  background-color: @resource-list-background;
} 

// Additional info resource list
.resource-list {
  padding: 10px;
  .resource-item {
    margin-top: 10px;
    background-color: @resource-list-background;
    border-radius: 0px;
    border: 1px solid darken(@resource-list-background, 15%);
    .resource-item-actions {
      text-transform: uppercase;
      line-height: 35px;
      font-weight: 600;
      .resource-action {
        margin-left: 10px;
      }
    }
    .format-label {
      top: 2px;
      left: -20px;
    }
  }
}

.dataset-header-row {
  border-bottom: 1px solid darken(@resource-list-background, 15%);
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 15px;
  .dataset-title-column {
    padding-left: 0px;
  }
  .content_action {
    font-weight: 600;
    font-size: 16px;
    margin-top: 35px;
    .opendata-content-action {
      margin-left: 15px;
      color: @active-tab-color;
      a {
        color: @active-tab-color;
      }
    }
  }
}

.module-narrow .license-title-text {
  padding-left: 28px;
}

.technical-extra-information-collapsible-heading {
  cursor: pointer;
  display: inline;
}

.page_primary_action .btn-primary {
  background-color: white;
  color: @btn-dark-bg;
  border-color: transparent;
  font-size: 17px;
  &:hover {
    background-color: white;
    color: @btn-dark-bg;
    border-color: transparent;
    font-size: 17px;
  }
}

li.organization {
  list-style: none;
}

.sidebar-offcanvas {
  margin-top: 35px;
}

// Organization
//
.organization-tree .btn, .organization-row {
  display: inline-block;
}

.organization-row {
  font-size: 15px;
}

.organization-tree {
  .js-collapsed, .js-collapse {
    display: none;
   }
}

.organization-hierarchy-empty-space {
  display: inline-block;
  min-width: 24px;
}

.organization-subtree {
  padding-inline-start: 27px;
}

.organization-tree .hierarchy-btn {
  padding: 0px 0px 0px 7px;
  background-color: @background-body-color;
  border: none;
  &:active {
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
  &:active:focus {
    background-color: @background-body-color;
  }
  .fa-plus-circle, .fa-minus-circle {
    color: @btn-dark-bg;
    font-size: 17px;
  }
  .fa-minus {
    color: @btn-dark-bg;
  }
  .fa-circle {
    color: @btn-dark-bg;
  }
}

.organization-dataset-count {
  color: @dataset-count-text-color;
  font-weight: @font-weight-heavy;
  padding: 10px;
}

.organization-count-header {
  border-bottom: 1px solid @organization-count-header-color;
}

.organization-tree-short-description {
  padding-bottom: 15px;
}

.form-actions .btn-danger {
  margin-right: 5px;
}
.navbar-header .navbar-toggle {
  margin-right: 25px;
}

.footer .opendata-footer {
  padding-right: 25px;
  padding-left: 25px;
}

.icon-private {
  color: @opendata-brand-danger;
  vertical-align: middle;
  height: 1.3em;
}

.context-info .module-content {
  padding: 0;
}

#content > .wrapper > .primary:first-child > .module > .module-content {
  padding-left: 0;
}

//Plus icon (fa-plus-circle)
.nav-facet .nav-item>a:hover:after {
  background-image: none;
  content: "\f055";
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  color: @btn-dark-bg;
  font-weight: @font-weight-heavier;
}

//Cross icon (fa-times-circle)
.nav-facet .nav-item.active>a:after {
  background-image: none;
  content: "\f057";
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  color: @black;
}

.highlight {
  color: darken(@opendata-brand-primary, 10%);
  font-weight: @font-weight-heavy;
}