@import "upstream_ckan/ytp_ckan_bootstrap";
@import "upstream-overrides.less";

@common-path: "../..";
@common-less: "@{common-path}/less";

// Open Sans
@import "@{common-less}/fonts.less";
@import "@{common-less}/variables.less";
@import "@{common-less}/mixins/mixins.less";
@import "@{common-less}/navbars";
@import "@{common-less}/responsive";
@import "@{common-less}/common";
@import "@{common-less}/offcanvas";
@import "@{common-less}/utility";
@import "drupal.less";

// Components
@import "@{common-less}/components/all";

// FontAwesome
@import "@{common-path}/vendor/@fortawesome/fontawesome/less/fontawesome";
@import "@{common-path}/vendor/@fortawesome/fontawesome/less/solid.less";
@import "@{common-path}/vendor/@fortawesome/fontawesome/less/regular.less";
@import "@{common-path}/vendor/@fortawesome/fontawesome/less/brands.less";
@fa-font-path: "/themes/avoindata/fonts";

body {
  .flex-display(flex);
  .flex-direction(column);

  min-height: 100vh;
}

[role="main"] {
  background: transparent;
  padding-top: 0;
}

.page_wrapper {
  max-width: none;
}

#content {
  width: inherit;
  padding: 0;
}

#content > .wrapper {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 25px;
}

.container-fluid .wrapper {
  @media (max-width: @screen-sm-min) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.wrapper {
  @media (min-width: @screen-sm-min) {
    &::before {
      border-right: transparent;
    }
  }
}

// Report grid
@media (min-width: 768px) {
  .dataset > .row.equal {
    .flex-display(flex);
    .flex-wrap(wrap);
  }
}

.context-info .module-content {
  padding: 0;
}

#content > .wrapper > .primary {
  &:first-child > .module > .module-content {
    padding-left: 0;
  }

  &:last-child > .module > .module-content {
    padding-right: 0;
  }
}
