@import "../../less/variables.less";

// Used for overriding default upstream ckan styles

body {
  font-family: @font-family-sans-serif;
}

.label-default {
  a {
    color: #fff;
  }
}

.additional-info {
  table.table {
    table-layout: fixed;

    .dataset-label {
      width: 30%;
    }

    .dataset-details {
      word-break: break-all;
    }
  }
}

.license-smallprint {
  color: @suomi-depthDark27;
  margin-bottom: @padding-y--small;
}
