{#
/**
 * @file
 * Print collapsible search
 * 
 * @ingroup themeable
 */
#}
{{ attach_library('avoindata_header/avoindata_header') }}
<div id="header-search-container" hidden>
  <div class="search-collapsible">
    <div class="collapse width" id="search-collapse">
      <input 
        class="form-control" 
        id="avoindata-nav-search-input" 
        placeholder="{% trans %}Etsi tietoaineistosta...{% endtrans %}" 
        value=""
        data-langauge="{{ language }}"
      >
    </div>
    <div class="search-collapsible-control">
      <a href="#search-collapse" data-toggle="collapse">
      <span class="fas fa-search header-icon" aria-hidden="true"></a>
    </div>
  </div>
</div>
  