{#
/**
 * @file
 * Print collapsible search
 * 
 * @ingroup themeable
 */
#}
<div class="search-collapsible">
    <div class="collapse" id="search-collapse">
      <!-- TODO this input should be part of a form that fires a GET request to CKAN -->
      <input type="text" value="Etsi tietoaineistosta..">
    </div>
    <div class="search-collapsible-control">
      <a href="#search-collapse" data-toggle="collapse">
        <span class="fas fa-search header-icon" aria-hidden="true">
      </a>
    </div>
</div>
