{#
/**
 * @file
 * Print collapsible search
 * 
 * @ingroup themeable
 */
#}
<div class="search-collapsible">
    <div class="collapse width" id="search-collapse">
      <input id="avoindata-nav-search-input" class="form-control" placeholder="Etsi tietoaineistosta..." value="">
    </div>
    <div class="search-collapsible-control">
      <a href="#search-collapse" data-toggle="collapse">
        <span class="fas fa-search header-icon" aria-hidden="true">
      </a>
    </div>
</div>
