/* stylelint-disable rule-empty-line-before */

/* This selector targets the editable element (excluding comments). */
.ck.ck-editor__main {
  height: 100%;

  .ck-editor__editable_inline {
    height: 500px;
    overflow-y: auto;
    resize: vertical;
  }
}

.ck.ck-editor__main .ck-source-editing-area {
  height: 500px;
  resize: vertical;

  textarea {
    position: unset;
    overflow-y: auto;
  }
}

.ck-content {
  .avoindata-example,
  .avoindata-expander,
  .avoindata-hint,
  .avoindata-note,
  .avoindata-section {

    &.ck-widget {
      padding: 20px;

      > [class*="-title"] {
        padding: 3px;

        > * {
          margin: 0;
        }

        &:not([class*="section"]) {
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
        }

        &[class*="section"] {
          font-size: 22px;
          line-height: 34px;
          font-weight: 600;
        }

        > p {
          padding: 0;
        }
      }

      > [class*="-content"] {
        padding: 3px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;

        > p {
          padding: 0;
        }
      }

      > [class*="-title"] + [class*="-content"] {
        margin-top: 20px;
      }
    }
  }

  p {
    margin: 0;

    + p {
      margin-top: 27px;
    }
  }

  ol,
  ul {
    padding-left: unset;
  }

  .external-link {
    display: inline-flex;
    flex-direction: row;
    align-content: center;

    &::after {
      content: "";
      width: 24px;
      height: 24px;
      transform: scale(0.6);
      margin-left: 2px;
      background-image: url("../icons/icon-external-link.svg");
    }
  }

  .avoindata-section {
    background-color: #fff;
    box-shadow: 0 2px 4px 1px rgb(41 41 41 / 20%);
    border-top: 4px solid #2a6ebb;
    border-radius: 4px 4px 0 0;
    margin: 45px 0;
    padding: 30px;
    display: block;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .avoindata-expander {
    background: #f6f9fc;
    border-radius: 2px;
    box-shadow: 0 2px 4px 1px rgb(41 41 41 / 10%);
    border: 1px solid #ecedee;
    margin: 0;


    .avoindata-expander-title {
      color: #2a6ebb;
    }

    .avoindata-expander-content {
      display: block;
    }

    + .avoindata-expander {
      margin-top: -1px;
    }
  }

  .avoindata-note {
    background: rgb(247 247 248);
    border-radius: 0;
    align-items: center;
  }

  .avoindata-note,
  .avoindata-hint {
    display: flex;
    flex-flow: row wrap;
    gap: 0 10px;
  }

  .avoindata-note-icon,
  .avoindata-hint-icon {
    height: 24px;
    width: 24px;
    flex: 0 auto;
  }

  .avoindata-note-title {
    flex: 1 0px;
  }

  .avoindata-note-content {
    flex: 1 100%;
  }

  .avoindata-hint-icon {
    margin-top: 5px;
  }

  .avoindata-example {
    background: white;
    border-radius: 2px;
    border: 1.5px solid #2a6ebb;
    border-left: 4.5px solid #2a6ebb;
    display: block;
  }
}

.avoindata-section-id-form {
  padding: 8px;

  .title {
    padding: 6px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
  }

  .ck-labeled-field-view {
    padding: 6px;
  }

  .ck.ck-button.btn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    line-height: 1;
    height: 40px;
    width: fit-content;
    font-weight: bold;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    margin: 12px 6px;

    &.btn-primary {
      background: linear-gradient(0deg, #225a99 0, #2a6dbb 100%);
      color: white;
      border-color: #206b82;
      box-shadow:
        inset 0 1px 0 rgb(255 255 255 / 15%),
        0 1px 1px rgb(0 0 0 / 7.5%);

      &:hover {
        background: linear-gradient(0deg, #2a6dbb 0, #2e77cb 100%);
      }
    }

    &.btn-secondary {
      color: #2a6dbb;
      border: 1px solid #2a6dbb;
      background: 0 0;
      box-shadow: none;
      letter-spacing: 0.4px;

      &:hover {
        background: linear-gradient(to top, white 0, gray 300%);
      }
    }
  }
}
