{
    "locale-url": {
        "callbacks": {
            "language": "locale_language_from_url",
            "switcher": "locale_language_switcher_url",
            "url_rewrite": "locale_language_url_rewrite_url"
        },
        "file": "includes\/locale.inc"
    },
    "language-default": {
        "callbacks": {
            "language": "language_from_default"
        }
    }
}