{% extends "request/page.html" %}

{% block subtitle %}{{ _('Organization membership request') }}{% endblock %}

{% block secondary_content %}
{% resource  "request_js/request.js" %}

  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-large icon-info-sign"></i> {{ _('Organization membership request') }}</h2>
    <div class="module-content">
      <p>
        {% trans %}This shows a given membership request. Only admins can approve, modify or reject requests.{% endtrans %}
      </p>
    </div>
  </section>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1>{% trans %}Organization membership request{% endtrans %}</h1>
      <table class="table table-striped table-bordered table-condensed">
          <tbody>
              <tr>
                  <th>{% trans %}Organization{% endtrans %}</th>
                  <td><a href="{{ h.url('organization_read', id=membership.organization_name) }}">({{ membership.organization_name }})</a></td>
              </tr>
              <tr>
                  <th>{% trans %}User{% endtrans %}</th>
                  <td>
                      <a href="{{ h.url_for('user_datasets', controller='user', id=member_user.name) }}">
                        {% if member_user.fullname %}
                        {{ member_user.fullname }} ({{ member_user.name }})
                        {% else %}
                        {{ member_user.name }}
                        {% endif %}
                      </a>
                  </td>
              </tr>
              <tr>
                <th>{% trans %}Request date{% endtrans %}</th>
                <td>{{ membership.request_date }}</td>
              <tr>
                  <th>{% trans %}State{% endtrans %}</th>
                  <td>{{ membership.state }}</td>
              </tr>
              <tr>
                  <th>{% trans %}Role{% endtrans %}</th>
                  <td>
 
                      <select id="field-validroles" name="role">
                      {% for option in roles %}
                          <option  value="{{ option.value }}"{% if option.value == membership.role %} selected="selected"{% endif %}>{{ option.text or option.value }}</option>
                      {% endfor %}
                      </select>

                  </td>
              </tr>
          </tbody>
      </table>
      <div class="form-actions">
      {% set locale = h.dump_json({'content': _('Are you sure you want approve this request?')}) %}
     <a id="request_approve_url" href="{{ h.url_for('member_request_approve', mrequest_id=membership.id) }}" class="btn btn-primary  pull-left" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Approve') }}</a>
      
      {% set locale = h.dump_json({'content': _('Are you sure you want reject this request?')}) %}
          <a id="request_reject_url" href="{{ h.url_for('member_request_reject', mrequest_id=membership.id) }}" class="btn btn-danger" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Reject') }}</a>

     </div>

    </div>
  </section>
{% endblock %}