smtp_on: true
smtp_host: {{ environ('SMTP_HOST') }}
smtp_username: {{ environ('SMTP_USERNAME') }}
smtp_password: {{ environ('SMTP_PASS') }}
smtp_from: {{ environ('SMTP_FROM') }}
smtp_protocol: {{ environ('SMTP_PROTOCOL') }}
smtp_port: {{ environ('SMTP_PORT') }}
smtp_hostbackup: ''
smtp_fromname: ''
smtp_client_hostname: ''
smtp_client_helo: ''
smtp_allowhtml: '0'
smtp_debugging: false
