{{ ansible_managed | comment }}
# PostgreSQL Client Authentication Configuration File
# ===================================================

{% for client in postgres_hba_entries %}
{{ client.type }} {{ client.database }} {{ client.user }} {{ client.address|default('') }} {{ client.ip_address|default('') }} {{ client.ip_mask|default('') }} {{ client.auth_method }} {{ client.auth_options|default("") }}
{% endfor %}
