{% import 'macros/form.html' as form %}
{% resource 'theme_javascript/jspdf.js' %}
<div class="module">
  <div class="module-content">
    <form id="postForm" action="https://viestilomake.suomi.fi/form" method="post" role="form" class="form-horizontal">
      <div class="form-group">
        <label for="serviceLocation" class="col-sm-2 control-label">Asiakaspalvelupiste</label>
        <div class="col-sm-9">
          <select class="form-control" id="serviceLocation">
            <option value="" disabled selected>Valitse asiakaspalvelupiste</option>
            <option value="Mikkeli" >Mikkeli</option>
            <option value="Parainen">Parainen</option>
            <option value="Pelkosenniemi">Pelkosenniemi</option>
            <option value="Saarijärvi">Saarijärvi</option>
            <option value="Oulu">Oulu</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Päivämäärä ja kellonaika</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="date">
        </div>
        <div class="col-sm-4">
          <select class="form-control" id="time">
            <option value="" disabled selected>Kellonaika</option>
            <option value="8:00">8:00</option>
            <option value="9:00">9:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
            <option value="15:00">15:00</option>
            <option value="16:00">16:00</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <h2 class="form-subheading">Täytä omat tietosi</h2>
        <label class="col-sm-2 control-label">Nimi</label>
        <div class="col-sm-9">
          <input type="text" id="name" placeholder="Nimi.." class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Sähköpostiosoite</label>
        <div class="col-sm-9">
          <input type="text" id="email" placeholder="Sähköpostiosoite.." class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Puhelinnumero</label>
        <div class="col-sm-9">
          <input type="text" id="phonenumber" placeholder="Puhelinnumero.." class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Asiankuvaus</label>
        <div class="col-sm-9">
          <textarea id="Description" placeholder="Asiankuvaus.." class="form-control"></textarea>
        </div>
      </div>
      <input type="hidden" name="ViranomaisTunnus" id="ViranomaisTunnus" value="email_vrk.fi" />
      <input type="hidden" name="PalveluTunnus" id="PalveluTunnus" value="email_vrk.fi" />
      <input type="hidden" name="Nimeke" id="Nimeke" value="Etäpalveluajan varaaminen asiakaspalvelupisteestä" />
      <input type="hidden" name="Kuvausteksti" id="Kuvausteksti" value="Varattu palveluaika asiakaspalvelupisteessä." />
      <input type="hidden" name="Paluuosoite" id="Paluuosoite" value="{{ h.full_current_url()[:-4] }}/return" />
      <input type="hidden" name="PalaaAutomaattisesti" id="PalaaAutomaattisesti" value="1" />
      <input type="hidden" name="ViranomaisenEmail" id="ViranomaisenEmail" value="lasse.pynnonen@vrk.fi" />
      <input type="hidden" name="TiedostoNimi_1" id="TiedostoNimi_1" value="varaus.pdf" />
      <input type="hidden" name="TiedostoSisalto_1" id="TiedostoSisalto_1" value="" />
      <input type="hidden" name="TiedostoMuoto_1" id="TiedostoMuoto_1" value="application/pdf" />
      <input type="hidden" name="TiedostoPiilotettu_1" id="TiedostoPiilotettu_1" value="0" />
      <div class="form-actions">
      <script type="text/javascript">
        function Convert(){
          var pdf = new jsPDF();
          pdf.setFontSize(22);
          pdf.text(20,20, 'Etäpalveluajan varaus');
          pdf.setFontSize(16);
          pdf.text(20,30, 'Asiakaspalvelupiste: ' + $('#serviceLocation').val());
          pdf.text(20,40, 'Päivämäärä ja kellonaika: ' + $('#date').val() + ' ' + $('#time').val());

          pdf.setFontSize(22);
          pdf.text(20,50, 'Omat tiedot');

          pdf.setFontSize(16);
          pdf.text(20,60, 'Nimi: ' + $('#name').val());
          pdf.text(20,70, 'Sähköposti: ' + $('#email').val());
          pdf.text(20,80, 'Puhelinnumero: ' + $('#phonenumber').val());

          pdf.setFontSize(22);
          pdf.text(20,90, 'Asiankuvaus:');
          pdf.setFontSize(16);
          pdf.text(20,100, $('#Description').val());

          var output = btoa(pdf.output());
          $('#TiedostoSisalto_1').val(output);
          //do not submit
          //return false;

          return true;
        }
      </script>
      <button type="submit" class="btn btn-primary" onclick="return Convert()">Lähetä</button>
      <button type="reset" class="btn btn-default">Tyhjennä</button>
      </div>
    </form>
  </div>
</div>